
body{font-family: "Verdana"!important;}

.no-padding{padding: 0;}
.download-ic{font-size:25px!important;padding: 5px!important;}
.download-ic:hover{color:#fff;}
.download-ic{color: #f9c751;}
/*Observation*/


/*Single-child*/
.observation_info {
    max-width: 520px;
    margin: 0 auto;
}
.observation_info .observation_lst {
    background: #305c86 none repeat scroll 0 0;
    border: 1px solid #7d9bb5;
    float: left;
    padding: 30px 0;
    text-align: left;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}
.observation_lst h2 {
    float: left;
    margin: 0 0 22px;
    text-align: center;
    width: 100%;
    color: #f9c751;
    font-family: 'verdana';
    font-weight: bold;
    font-size: 25px;
}
.observation_lst h2 img {
    display: inline-block;
    float: none;
    margin-right: 10px;
}
.observation_info form div {
    /* margin-bottom: 15px; */
    font-size: 14px;
}
.observation_info form .form-control {
    background: #2b4c73;
    color: #ffffff;
    border: 1px solid #2b4c73;
    border-radius: 8px!important;
    height: 40px;
}
.observation_info form select {
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
}
.observation-inner-label{margin-top: 9px;position: relative;}
.observation-inner-label label,.observation-inner-label span{color: #ffffff;font-weight: normal!important;font-size: 16px;}
.obser-form-div{margin-bottom: 15px;}
.observation-title-client {
    background: #f9c751;
    border-radius: 5px;
    margin-top:20px;
}
.observation-title-client h1 {
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    padding: 20px 10px;
    text-align: center;
    display: block;
    font-weight: bold;
    margin: 0;
}
.observation-attach-btn {
  text-align: left;
  position: relative;
}
.observation-attach-btn a {
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    background: #f9c751;
    color: #212121;
    margin: 0;
    border-radius: 4px;
    padding: 2px 5px;
    margin: auto;
    font-weight: bold;
}
.observation-btn {
  text-align: center;
  position: relative;
  margin-top: 30px;
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
.observation-btn a {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    /* display: inline-block; */
    background: #f2b54b;
    color: #212121;
    margin: 0;
    border-radius: 4px;
    padding: 10px 35px;
    margin: auto;
    font-weight: bold;
}
.observation-attach-btn span img{max-width: 25%;}
.text-field-style{position: absolute;right: 14px;top: 18px;}
span.remove_icon img {
    position: absolute;
    right: 8px;
    top: 7px;
}
.checkbox.forget_answer {
    float: left;
    /* margin: 0 0 20px; */
}
.checkbox input[type="checkbox"], .checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
}
.checkbox label {
    color: #fff;
    /* padding: 0 39px; */
}
.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
    font-weight: bold;
    padding-left: 25px;
    font-weight: normal;
    font-size: 15px;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0px;
    margin-left: 0px;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: transparent;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox input[type="checkbox"]:checked + label {
    color: #f2b54b;
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: 0px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #f2b54b;
}
.checkbox input[type="checkbox"]:checked + label::after, .checkbox input[type="radio"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}
.checkbox input[type="checkbox"]:checked + label::before {
    color: #f2b54b;
    border: 1px solid #f2b54b;
}
/*Single-child*/



/*Domain Section Style*/

.domain-top-header-title-client {
    background: #9b59b6;
    border-radius: 5px;
}

.domain-top-header-title-client h1 {
    color: #fff;
    font-size: 20px;
    /* text-transform: capitalize; */
    padding: 15px 10px;
    text-align: center;
    display: block;
    margin: 0;
    font-weight: bold;
}

.domain-education-content-desc2 p {
    background: #1abc9c;
    border: 1px solid #ffffff;
    padding: 15px 15px;
    color: #ffffff;
    text-align: left;
    font-size: 18px;
    margin: 0;
    /* font-weight: bold; */
    /* margin-bottom: 10px; */
}


.dor_col{width: 9.090909090909091%;float: left;}
.domain-education-content-desc p{background: #c6eae6;border: 1px solid #ffffff;padding: 15px 15px;color: #163b69;text-align: center;font-size: 18px;margin: 0;/* font-weight: bold; *//* margin-bottom: 10px; */}
.dor_1, .dor_2, .dor_3, .dor_4, .dor_5, .dor_6, .dor_7, .dor_8, .dor_9, .dor_10, .dor_11, .dor_12{padding: 0px}
.domain-pad-change{padding:0px;}
.pad-change{padding:5px;}

/*Domain Section Style End*/


/*Count Section Style*/

.count-top-header-title-client {
    background: #9b59b6;
    border-radius: 5px;
}

.count-top-header-title-client h1 {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    padding: 15px 10px;
    text-align: center;
    display: block;
    margin: 0;
    font-weight: bold;
}

.count-education-content-desc2 p {
    background: #e67e22;
    border: 1px solid #ffffff;
    padding: 15px 15px;
    color: #ffffff;
    text-align: left;
    font-size: 18px;
    margin: 0;
    /* font-weight: bold; */
    /* margin-bottom: 10px; */
}

.count-education-content-desc p{background: #efddcd;border: 1px solid #ffffff;padding: 15px 15px;color: #163b69;text-align: center;font-size: 18px;margin: 0;/* font-weight: bold; *//* margin-bottom: 10px; */}
.dor_1, .dor_2, .dor_3, .dor_4, .dor_5, .dor_6, .dor_7, .dor_8, .dor_9, .dor_10, .dor_11, .dor_12{padding: 0px}
.count-pad-change{padding:0px;}

/*Count Section Style End*/

.Sequence-content-desc2 p {
    background: #fff;
    border: 1px solid #e7e7e7;
    padding: 10px 15px;
    color: #163b69;
    text-align: center;
    font-size: 15px;
    margin: 0;
    /* font-weight: bold; */
    /* margin-bottom: 10px; */
}










/*Observation*/

.serch-client-block{margin-top: 30px;margin-bottom: 30px;}


.obn_observation-btn {
  text-align: left;
  position: relative;
  margin-top: 15px;
}
.obn_observation-btn a {
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    background: #f2b54b;
    color: #212121;
    margin: 0;
    border-radius: 4px;
    padding: 20px 35px;
    margin: auto;
    font-weight: bold;
}








@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    #no-more-tables table, 
    #no-more-tables thead, 
    #no-more-tables tbody, 
    #no-more-tables th, 
    #no-more-tables td, 
    #no-more-tables tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr {/* border: 1px solid #ccc; */}

    #no-more-tables td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 25%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }
}


@media (min-width: 1600px) and (max-width: 1920px)
{

}
@media (min-width: 1200px) and (max-width: 1280px)
{

}
@media (min-width: 992px) and (max-width: 1199px)
{    
    

}
@media (min-width: 768px) and (max-width: 991px)
{     
    
}
@media (max-width: 767px) 
{
    
    
    /*observation*/
    .observation_lst h2{font-size:17px;}
    .observation-inner-label span{display: none;}
    .observation_info{max-width: 100%;}
    /*observation*/
    
    
    
    
}
.pad-change .Sequence-content-desc2 h1 {
    background: #295b8f  !important;
    width: 100%;
    float: left;
    padding: 13px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color:#fff;
}

.pad-change .Sequence-content-desc2 p {
    font-size: 15px !important;
    height: 35px !important;
    line-height: 35px;
}

.pad-change .Sequence-content-desc2 p {
    text-align: center !important;
}

p.det_btn {
    padding: 0px;
    background: #295b8f;
}
.det_btn a.show-attachments {
    background: #295b8f;
    width: 100%;
    color: #fff;
    float: left;
    line-height: 35px;
    text-decoration: none;
}
table#tblAttchments td {
    color: #295b8f;
    text-align: center;
    font-size: 15px;
}
table#tblAttchments {
    border: 1px solid #e5e5e5;
    margin: 10px 2%;
    width: 96%;
}
#tblAttchments tbody td a {
    background: #295b8f;
    color: #fff;
    padding: 5px 15px;
    border-radius: 2px;
    text-decoration: none;
}