@{
    ViewBag.Title = "CenterAnalysis";
    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
}

@section MainContentHolder{
    <link href="~/Content/ERSEA/erseamain.css" rel="stylesheet" />
    <script src="~/Scripts/ClientFileReview/jquery.mCustomScrollbar.min.js"></script>



    <style>
        .matrix_foster {
            margin-top: -46px;
        }
        /*.matrix_foster .scroll-tbody
        {
            min-height:336px;
        }*/
        #page-wrapper {
            padding-left: 0;
            padding-right: 0;
        }

        .searchTextAll
        {
            height:38px;
        }

        .search-group{
          
            cursor:pointer;
            
        }
        .search-group .searchName{
          color:#fff;
          margin-left:5px
        }
        select option {
            background: #164273;
        }

        .scroll-thead th {
            border: 1px solid #f1f5f8;
        }

        .scroll-thead {
            display: table;
            /*width: 100%;*/
            table-layout: fixed;
            width: calc( 100% - 17px );
        }

        .scroll-tbody tr td, .scroll-tbody1 tr td {
            word-break: break-word;
        }

        .scroll-tbody {
            display: block;
            height: 250px;
            overflow: auto;
            overflow-x: hidden;
        }

            .scroll-tbody tr {
                display: table;
                width: 100%;
                table-layout: fixed;
            }

        .scroll-tbody1 {
            display: block;
        }

            .scroll-tbody1 tr {
                display: table;
                /*width: 98.5%;*/
                width: 100%;
                table-layout: fixed;
            }

        /*on-hover Assessment Group Text*/

        .childName .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            left: 128px;
            line-height: 25px;
        }


            .childName .tooltiptext::after {
                content: " ";
                position: absolute;
                top: 50%;
                right: 100%; /* To the left of the tooltip */
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent black transparent transparent;
            }

        .childName:hover .tooltiptext {
            visibility: visible;
        }

        .ersea-table thead tr th {
            font-size: 15px;
        }
    </style>

    <div class="container-fluid">
        <div class="row">
            <div class="right-side-container-ch">
                <div class="col-xs-12 no-padding">
                    <div class="col-xs-12 no-padding">
                        <div class="col-xs-12 ersea-detl-title">
                            <h2>Center Analysis</h2>
                            <div class="ersea_ovr"><img src="~/images/text-bdr.png" class="img-responsive"></div>
                        </div>
                        <div class="col-xs-12 text-center serch-billing-block">
                            <label style="display:inline-block;color:#fff;font-size:18px;width:auto;">Program Type</label>
                            <select name="" class="ersa-select select_programType"></select>
                            <div class="ersa-search-btn">
                                <a href="javascript:void(0);" id="searchByprogramId">Search</a>
                            </div>
                        </div>
                        <div id="no-more-tables8" class="col-xs-12 no-padding" style="margin-bottom: 0;">
                            <div class="col-xs-12" style="border-radius: 10px;background: #f1f5f8;padding: 10px;width: 98%;margin:20px 1%;">
                                <table class="col-md-12 table-striped table-condensed cf table-change ersea-table" id="centerTable">
                                    <thead class="table-hd scroll-thead">
                                        <tr>
                                            <th>Center</th>
                                            <th>Seats</th>
                                            <th>Enrolled</th>
                                            <th>Withdrawn</th>
                                            <th>Dropped</th>
                                            <th>Waiting</th>
                                            <th>Return</th>
                                            <th>Grad</th>
                                            <th>O/I</th>
                                            <th>Foster</th>
                                            <th>Homeless</th>
                                            <th>Leads</th>
                                        </tr>
                                    </thead>
                                    <tbody class="ersea-table-head bind_body scroll-tbody"></tbody>



                                </table>
                                <table class="col-md-12 table-striped table-condensed cf table-change ersea-table">

                                    <tbody class="ersea-table-head tbody_total scroll-tbody1" style="padding:0;"></tbody>



                                </table>

                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-----Div Cal Table-->

    <table class="bindTable hidden">
        <tr>
            <td data-title="Center Name">
                <p class="center-name" style="text-decoration:underline;cursor:pointer;"></p>
            </td>
            <td data-title="Seats">
                <p class="seats-count"></p>
            </td>
            <td data-title="Enrolled">
                <p class="enroll-count"></p>
            </td>
            <td data-title="Withdrawn">
                <p class="withdrawn-count"></p>
            </td>
            <td data-title="Dropped">
                <p class="dropped-count"></p>
            </td>
            <td data-title="Waiting">
                <p class="waiting-count" style="text-align:right;padding-bottom:20px;"></p>
            </td>

            <td data-title="Return">
                <p class="return-count"></p>
            </td>
            <td data-title="Grad">
                <p class="grad-count"></p>
            </td>
            <td data-title="O/I">
                <p class="oi-count"></p>
            </td>
            <td data-title="Foster">
                <p class="foster-count"></p>
            </td>
            <td data-title="Homeless">
                <p class="homeless-count"></p>
            </td>
            <td data-title="Leads">
                <p class="leads-count"></p>
            </td>
        </tr>
    </table>

    <!----Foster Child Modal-->
    <!-- Modal -->
    <div id="FosterChildModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="font-size: 20px;font-weight: bold;color: #337ab7;">Foster Children</h4>
                </div>
                <div class="modal-body">
                    <table class="col-md-12 table-striped table-condensed cf table-change ersea-table" style="margin-bottom:24px;">
                        <thead class="table-hd scroll-thead">
                            <tr>
                                <th>Children Name</th>
                                <th>Attachment</th>
                            </tr>
                        </thead>
                        <tbody class="ersea-table-head bind_modal_body scroll-tbody"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!---dynamic modal-->
    @*/////////////////////*@


    <!--Modal to display all the children based on Center-->
    <div class="modal fade matrix_foster in" id="FosterDisplaymodal" role="dialog">
        <div class="modal-dialog modal-dialog-foster">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><img src="/images/close.png"></button>
                    <h2 id="centerName"></h2>
                    <div class="foster_items_main">
                        <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;">

                            <div style="float:left;padding-top:10px;" class="col-lg-3">
                                <label style="display:initial;color:#333">Total Count:</label>&nbsp;<span class="totalCountSpan" style="color:#333;">00</span>
                            </div>

                            <div style="float:left;padding-top:0px;" class="col-lg-4 input-group date">
                                <input type="text" class="form-control searchTextAll" placeholder="Search by Name..."/>
                                <span class="input-group-addon searchByClientName search-group"  onclick="searchByClientName('#FosterDisplaymodal',this);" style="background-color: #295b8f;height:38px;">
                                    
                                    <i class="glyphicon glyphicon-search" style="color: #fff;"></i><span class="searchName">Search</span>
                                </span>
                            </div>

                            <div style="display:inline-block;width:auto;">
                                <button  class="download-excel btn btn-primary"  style="margin-left:20px;line-height:23px!important;border-radius:4px;background-color:#295b8f;border-color:#295b8f;" onclick="downloadReportExcel('#FosterDisplaymodal',this);">Export to Excel</button>
                            </div>
                         
                                <div style="display:inline-block;width:auto;float:right;">
                                    <button id="btnsearch1" class="my-btn" onclick="btnSearch(this);" style="margin-right:1px;border-top-right-radius:4px;border-bottom-right-radius:4px;">Search</button>
                                </div>
                                <div style="display:inline-block;width:170px;float:right;">

                                    <select id="Centers1" style="height:38px !important;border-top-left-radius:4px!important;border-bottom-left-radius:4px!important;line-height: 32px;" class="form-control"></select>
                                </div>
                            
                        </div>
                        <div id="no-more-tables8" class="col-xs-12 no-padding" style="margin-bottom: 0;">
                            <div class="col-xs-12 no-padding">
                                <table class="col-md-12 table-striped table-condensed cf table-change ersea-table ersea-table-sz" style="margin-bottom:24px;padding:16px;width:100%;">
                                    <thead class="table-hd scroll-thead">
                                        <tr>
                                            <th>Name</th>
                                            <th>Gender</th>
                                            <th>Date of Birth</th>
                                            <th>Start Date</th>
                                            <th>Attendance</th>
                                            <th>Over Income</th>
                                            <th>Foster</th>
                                            <th>Present/Absent</th>
                                        </tr>

                                    </thead>
                                    <tbody class="ersea-table-head bind_modal_body1 totalChildBody scroll-tbody"></tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Pagination -->
                        <div class="col-xs-12 poppage-slot" style="padding:0px;">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pagination-file">
                                <div class="pages_display">
                                    <ul>
                                        <li>Display</li>
                                        <li>
                                            <select id="ddlpagetodisplay" onchange="drawgrid('#FosterDisplaymodal',this);">
                                                <option value="10" selected="selected">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </li>
                                        <li>Records Per Page</li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div id="divPaging" class="pagination_wrp">
                                    <ul id="ulPaging" class="pagination">
                                        <li><input id="First" type="image" src="/Images/previousarrow.png" style="cursor:pointer;" onclick="fnChangePage('#FosterDisplaymodal', 'First'); return false;" disabled="disabled"></li>
                                        <li title="Back"><input id="Back" type="image" src="/Images/prevarrow.png" style="cursor:pointer;" onclick="fnChangePage('#FosterDisplaymodal', 'Back'); return false;" disabled="disabled"></li>
                                        <li title="Select">
                                            <select class="select_cl" id="ddlpaging" onchange="getListafterupdation('#FosterDisplaymodal', this)"><option value="1">1</option></select>
                                        </li>
                                        <li title="Next"><input id="Next" type="image" src="/Images/nextarrow1.png" style="cursor:pointer;" onclick="fnChangePage('#FosterDisplaymodal', 'Next'); return false;" disabled="disabled"></li>
                                        <li title="Last"><input id="Last" type="image" src="/Images/nextarrow.png" style="cursor:pointer;" onclick="fnChangePage('#FosterDisplaymodal', 'Last'); return false;" disabled="disabled"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12" style="padding:0;text-align:right;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!--Modal for Enrolled Children-->
    <div class="modal fade matrix_foster in" id="EnrolledModal" role="dialog">
        <div class="modal-dialog modal-dialog-foster">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><img src="/images/close.png"></button>
                    <h2><span id="centerName"></span> - Enrolled</h2>
                    <div class="foster_items_main">

                        <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;">
                            <div style="float:left;margin-top:10px;" class="col-lg-3 col-xs-12">
                                <label style="display:initial;color:#333;">Total Count:</label>&nbsp;<span class="totalCountSpan" style="color:#333;">00</span>
                            </div>

                            <div style="float:left;padding-top:0px;" class="col-lg-4 input-group date">
                                <input type="text" class="form-control searchTextAll" placeholder="Search by Name..." />
                                <span class="input-group-addon searchByClientName search-group" onclick="searchByClientName('#EnrolledModal', this);" style="background-color: #295b8f;">

                                    <i class="glyphicon glyphicon-search" style="color: #fff;"></i><span class="searchName">Search</span>
                                </span>
                            </div>

                            <div style="display:inline-block;width:auto;" class="col-lg-4 text-right">
                                <button class="download-excel btn btn-primary" style="margin-left:20px;line-height:23px!important;border-radius:4px;background-color:#295b8f;border-color:#295b8f;" onclick="downloadReportExcel('#EnrolledModal', this);">Export to Excel</button>
                            </div>

                        </div>

                        
                        <div id="no-more-tables8" class="col-xs-12 no-padding" style="margin-bottom: 0;">
                            <div class="col-xs-12 no-padding">
                                <table class="col-md-12 table-striped table-condensed cf table-change ersea-table ersea-table-sz" style="margin-bottom:24px;padding:16px;width:100%;">
                                    <thead class="table-hd scroll-thead">
                                        <tr>
                                            <th>Name</th>
                                            @*<th>Image</th>*@
                                            <th>Gender</th>
                                            <th>Date of Birth</th>
                                            <th class="center_name_head" style="display:none;">Center Name</th>
                                            <th>Start Date</th>
                                            <th>Attendance</th>
                                            <th>Over Income</th>
                                            <th>Foster</th>
                                            <th>Present/Absent</th>
                                        </tr>

                                    </thead>
                                    <tbody class="ersea-table-head enrolledModalBody scroll-tbody"></tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Pagination -->
                        <div class="col-xs-12 poppage-slot" style="padding:0px">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pagination-file">
                                <div class="pages_display">
                                    <ul>
                                        <li>Display</li>
                                        <li>
                                            <select id="ddlpagetodisplay" onchange="drawgrid('#EnrolledModal', this);">
                                                <option value="10" selected="selected">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </li>
                                        <li>Records Per Page</li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div id="divPaging" class="pagination_wrp">
                                    <ul id="ulPaging" class="pagination">
                                        <li><input id="First" type="image" src="/Images/previousarrow.png" style="cursor:pointer;" onclick="fnChangePage('#EnrolledModal', 'First'); return false;" disabled="disabled"></li>
                                        <li title="Back"><input id="Back" type="image" src="/Images/prevarrow.png" style="cursor:pointer;" onclick="fnChangePage('#EnrolledModal','Back'); return false;" disabled="disabled"></li>
                                        <li title="Select">
                                            <select class="select_cl" id="ddlpaging" onchange="getListafterupdation('#EnrolledModal', this);"><option value="1">1</option></select>
                                        </li>
                                        <li title="Next"><input id="Next" type="image" src="/Images/nextarrow1.png" style="cursor:pointer;" onclick="fnChangePage('#EnrolledModal','Next'); return false;" disabled="disabled"></li>
                                        <li title="Last"><input id="Last" type="image" src="/Images/nextarrow.png" style="cursor:pointer;" onclick="fnChangePage('#EnrolledModal','Last'); return false;" disabled="disabled"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12" style="padding:0;text-align:right;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!--Modal for Waiting Children-->
    <div class="modal fade matrix_foster in" id="WaitingModal" role="dialog">
        <div class="modal-dialog modal-dialog-foster">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><img src="/images/close.png"></button>
                    <h2><span id="centerName"></span> - Waiting</h2>
                    <div class="foster_items_main">

                        <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;">
                            <div style="float:left;" class="col-lg-3 col-xs-12">
                                <label style="display:initial;color:#333">Total Count:</label>&nbsp;<span class="totalCountSpan" style="color:#333;">00</span>
                            </div>

                            <div style="float:left;padding-top:0px;" class="col-lg-4 input-group date">
                                <input type="text" class="form-control searchTextAll" placeholder="Search by Name..." />
                                <span class="input-group-addon searchByClientName search-group" onclick="searchByClientName('#WaitingModal', this);" style="background-color: #295b8f;">

                                    <i class="glyphicon glyphicon-search" style="color: #fff;"></i><span class="searchName">Search</span>
                                </span>
                            </div>

                            <div style="display:inline-block;width:auto;" class="col-lg-4 text-right">
                                <button class="download-excel btn btn-primary" style="margin-left:20px;line-height:23px!important;border-radius:4px;background-color:#295b8f;border-color:#295b8f;" onclick="downloadReportExcel('#WaitingModal', this);">Export to Excel</button>
                            </div>
                        </div>

                        


                        <div id="no-more-tables8" class="col-xs-12 no-padding" style="margin-bottom: 0;">
                            <div class="col-xs-12 no-padding">
                                <table class="col-md-12 table-striped table-condensed cf table-change ersea-table ersea-table ersea-table-sz" style="margin-bottom:24px;padding:16px;width:100%;">
                                    <thead class="table-hd scroll-thead">
                                        <tr>
                                            <th>Name</th>
                                            @*<th>Profile Image</th>*@
                                            <th>Gender</th>
                                            <th>Date of Birth</th>
                                            <th>Date on List</th>
                                            <th>Center Choice</th>
                                            <th>Program Type</th>
                                            <th>Selection Points</th>
                                        </tr>

                                    </thead>
                                    <tbody class="ersea-table-head enrolledModalBody waitingChildren scroll-tbody"></tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Pagination -->
                        <div class="col-xs-12 poppage-slot" style="padding:0px;">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pagination-file">
                                <div class="pages_display">
                                    <ul>
                                        <li>Display</li>
                                        <li>
                                            <select id="ddlpagetodisplay" onchange="drawgrid('#WaitingModal',this);">
                                                <option value="10" selected="selected">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </li>
                                        <li>Records Per Page</li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div id="divPaging" class="pagination_wrp">
                                    <ul id="ulPaging" class="pagination">
                                        <li><input id="First" type="image" src="/Images/previousarrow.png" style="cursor:pointer;" onclick="fnChangePage('#WaitingModal','First'); return false;" disabled="disabled"></li>
                                        <li title="Back"><input id="Back" type="image" src="/Images/prevarrow.png" style="cursor:pointer;" onclick="fnChangePage('#WaitingModal','Back'); return false;" disabled="disabled"></li>
                                        <li title="Select">
                                            <select class="select_cl" id="ddlpaging" onchange="getListafterupdation('#WaitingModal', this);"><option value="1">1</option></select>
                                        </li>
                                        <li title="Next"><input id="Next" type="image" src="/Images/nextarrow1.png" style="cursor:pointer;" onclick="fnChangePage('#WaitingModal','Next'); return false;" disabled="disabled"></li>
                                        <li title="Last"><input id="Last" type="image" src="/Images/nextarrow.png" style="cursor:pointer;" onclick="fnChangePage('#WaitingModal','Last'); return false;" disabled="disabled"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12" style="padding:0;text-align:right;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!--Modal for Withdrawn Children-->
    <div class="modal fade matrix_foster in" id="WithdrawnModal" role="dialog">
        <div class="modal-dialog modal-dialog-foster">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><img src="/images/close.png"></button>
                    <h2><span id="centerName"></span> - Withdrawn</h2>
                    <div class="foster_items_main">

                        <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;">
                            <div style="float:left;" class="col-lg-3 col-xs-12">
                                <label style="display:initial;color:#333">Total Count:</label>&nbsp;<span class="totalCountSpan" style="color:#333;">00</span>
                            </div>


                            <div style="float:left;padding-top:0px;" class="col-lg-4 input-group date">
                                <input type="text" class="form-control searchTextAll" placeholder="Search by Name..." />
                                <span class="input-group-addon searchByClientName search-group" onclick="searchByClientName('#WithdrawnModal', this);" style="background-color: #295b8f;">

                                    <i class="glyphicon glyphicon-search" style="color: #fff;"></i><span class="searchName">Search</span>
                                </span>
                            </div>

                            <div style="display:inline-block;width:auto;" class="col-lg-4 text-right">
                                <button class="download-excel btn btn-primary" style="margin-left:20px;line-height:23px!important;border-radius:4px;background-color:#295b8f;border-color:#295b8f;" onclick="downloadReportExcel('#WithdrawnModal', this);">Export to Excel</button>
                            </div>

                        </div>

                       

                        <div id="no-more-tables8" class="col-xs-12 no-padding" style="margin-bottom: 0;">
                            <div class="col-xs-12 no-padding">
                                <table class="col-md-12 table-striped table-condensed cf table-change ersea-table ersea-table ersea-table-sz" style="margin-bottom:24px;padding:16px;width:100%;">
                                    <thead class="table-hd scroll-thead">
                                        <tr>
                                            <th>Name</th>
                                            @*<th>Profile Image</th>*@
                                            <th>Gender</th>
                                            <th>Date of Birth</th>
                                            <th class="center_name_head" style="display:none;">Center Name</th>
                                            <th>Date on List</th>
                                            <th>Program Type</th>
                                            <th>Selection Points</th>
                                        </tr>

                                    </thead>
                                    <tbody class="ersea-table-head enrolledModalBody withdrwnChildren scroll-tbody"></tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Pagination -->
                        <div class="col-xs-12 poppage-slot" style="padding:0px;">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pagination-file">
                                <div class="pages_display">
                                    <ul>
                                        <li>Display</li>
                                        <li>
                                            <select id="ddlpagetodisplay" onchange="drawgrid('#WithdrawnModal',this);">
                                                <option value="10" selected="selected">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </li>
                                        <li>Records Per Page</li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div id="divPaging" class="pagination_wrp">
                                    <ul id="ulPaging" class="pagination">
                                        <li><input id="First" type="image" src="/Images/previousarrow.png" style="cursor:pointer;" onclick="fnChangePage('#WithdrawnModal','First'); return false;" disabled="disabled"></li>
                                        <li title="Back"><input id="Back" type="image" src="/Images/prevarrow.png" style="cursor:pointer;" onclick="fnChangePage('#WithdrawnModal','Back'); return false;" disabled="disabled"></li>
                                        <li title="Select">
                                            <select class="select_cl" id="ddlpaging" onchange="getListafterupdation('#WithdrawnModal', this);"><option value="1">1</option></select>
                                        </li>
                                        <li title="Next"><input id="Next" type="image" src="/Images/nextarrow1.png" style="cursor:pointer;" onclick="fnChangePage('#WithdrawnModal','Next'); return false;" disabled="disabled"></li>
                                        <li title="Last"><input id="Last" type="image" src="/Images/nextarrow.png" style="cursor:pointer;" onclick="fnChangePage('#WithdrawnModal','Last'); return false;" disabled="disabled"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12" style="padding:0;text-align:right;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!--Modal for Dropped Children-->
    <div class="modal fade matrix_foster in" id="DroppedModal" role="dialog">
        <div class="modal-dialog modal-dialog-foster">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><img src="/images/close.png"></button>
                    <h2><span id="centerName"></span> - Dropped</h2>
                    <div class="foster_items_main">

                        <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;">
                            <div style="float:left;" class="col-lg-3 col-xs-12">
                                <label style="display:initial;color:#333">Total Count:</label>&nbsp;<span class="totalCountSpan" style="color:#333;">00</span>
                            </div>

                            <div style="float:left;padding-top:0px;" class="col-lg-4 input-group date">
                                <input type="text" class="form-control searchTextAll" placeholder="Search by Name..." />
                                <span class="input-group-addon searchByClientName search-group" onclick="searchByClientName('#DroppedModal', this);" style="background-color: #295b8f;">

                                    <i class="glyphicon glyphicon-search" style="color: #fff;"></i><span class="searchName">Search</span>
                                </span>
                            </div>

                            <div style="display:inline-block;width:auto;" class="col-lg-4 text-right">
                                <button class="download-excel btn btn-primary" style="margin-left:20px;line-height:23px!important;border-radius:4px;background-color:#295b8f;border-color:#295b8f;" onclick="downloadReportExcel('#DroppedModal', this);">Export to Excel</button>
                            </div>
                        </div>

                        


                        <div id="no-more-tables8" class="col-xs-12 no-padding" style="margin-bottom: 0;">
                            <div class="col-xs-12 no-padding">
                                <table class="col-md-12 table-striped table-condensed cf table-change ersea-table ersea-table ersea-table-sz" style="margin-bottom:24px;padding:16px;width:100%;">
                                    <thead class="table-hd scroll-thead">
                                        <tr>
                                            <th>Name</th>
                                            @*<th>Profile Image</th>*@
                                            <th>Gender</th>
                                            <th>Date of Birth</th>
                                            <th class="center_name_head" style="display:none;">Center Name</th>
                                            <th>Date on List</th>
                                            <th>Program Type</th>
                                            <th>Selection Points</th>
                                        </tr>

                                    </thead>
                                    <tbody class="ersea-table-head enrolledModalBody droppedChildren scroll-tbody"></tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Pagination -->
                        <div class="col-xs-12 poppage-slot" style="padding:0px;">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pagination-file">
                                <div class="pages_display">
                                    <ul>
                                        <li>Display</li>
                                        <li>
                                            <select id="ddlpagetodisplay" onchange="drawgrid('#DroppedModal',this);">
                                                <option value="10" selected="selected">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </li>
                                        <li>Records Per Page</li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div id="divPaging" class="pagination_wrp">
                                    <ul id="ulPaging" class="pagination">
                                        <li><input id="First" type="image" src="/Images/previousarrow.png" style="cursor:pointer;" onclick="fnChangePage('#DroppedModal','First'); return false;" disabled="disabled"></li>
                                        <li title="Back"><input id="Back" type="image" src="/Images/prevarrow.png" style="cursor:pointer;" onclick="fnChangePage('#DroppedModal', 'Back'); return false;" disabled="disabled"></li>
                                        <li title="Select">
                                            <select class="select_cl" id="ddlpaging" onchange="getListafterupdation('#DroppedModal', this);"><option value="1">1</option></select>
                                        </li>
                                        <li title="Next"><input id="Next" type="image" src="/Images/nextarrow1.png" style="cursor:pointer;" onclick="fnChangePage('#DroppedModal', 'Next'); return false;" disabled="disabled"></li>
                                        <li title="Last"><input id="Last" type="image" src="/Images/nextarrow.png" style="cursor:pointer;" onclick="fnChangePage('#DroppedModal', 'Last'); return false;" disabled="disabled"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12" style="padding:0;text-align:right;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!--Modal for Returning Children-->
    <div class="modal fade matrix_foster in" id="ReturningModal" role="dialog">
        <div class="modal-dialog modal-dialog-foster">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><img src="/images/close.png"></button>
                    <h2><span id="centerName"></span> - Returning</h2>
                    <div class="foster_items_main">

                        <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;">
                            <div style="float:left;" class="col-lg-3 col-xs-12">
                                <label style="display:initial;color:#333">Total Count:</label>&nbsp;<span class="totalCountSpan" style="color:#333;">00</span>
                            </div>

                            <div style="float:left;padding-top:0px;" class="col-lg-4 input-group date">
                                <input type="text" class="form-control searchTextAll" placeholder="Search by Name..." />
                                <span class="input-group-addon searchByClientName search-group" onclick="searchByClientName('#ReturningModal', this);" style="background-color: #295b8f;">

                                    <i class="glyphicon glyphicon-search" style="color: #fff;"></i><span class="searchName">Search</span>
                                </span>
                            </div>

                            <div style="display:inline-block;width:auto;" class="col-lg-4 text-right">
                                <button class="download-excel btn btn-primary" style="margin-left:20px;line-height:23px!important;border-radius:4px;background-color:#295b8f;border-color:#295b8f;" onclick="downloadReportExcel('#ReturningModal', this);">Export to Excel</button>
                            </div>
                        </div>


                        <div id="no-more-tables8" class="col-xs-12 no-padding" style="margin-bottom: 0;">
                            <div class="col-xs-12 no-padding">
                                <table class="col-md-12 table-striped table-condensed cf table-change ersea-table ersea-table ersea-table-sz" style="margin-bottom:24px;padding:16px;width:100%;">
                                    <thead class="table-hd scroll-thead">
                                        <tr>
                                            <th>Name</th>
                                            @*<th>Image</th>*@
                                            <th>Gender</th>
                                            <th>Date of Birth</th>
                                            <th class="center_name_head" style="display:none;">Center Name</th>
                                            <th>Start Date</th>
                                            <th>Program Type</th>
                                        </tr>

                                    </thead>
                                    <tbody class="ersea-table-head enrolledModalBody returningChildren scroll-tbody"></tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Pagination -->
                        <div class="col-xs-12 poppage-slot" style="padding:0px;">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pagination-file">
                                <div class="pages_display">
                                    <ul>
                                        <li>Display</li>
                                        <li>
                                            <select id="ddlpagetodisplay" onchange="drawgrid('#ReturningModal',this);">
                                                <option value="10" selected="selected">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </li>
                                        <li>Records Per Page</li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div id="divPaging" class="pagination_wrp">
                                    <ul id="ulPaging" class="pagination">
                                        <li><input id="First" type="image" src="/Images/previousarrow.png" style="cursor:pointer;" onclick="fnChangePage('#ReturningModal','First'); return false;" disabled="disabled"></li>
                                        <li title="Back"><input id="Back" type="image" src="/Images/prevarrow.png" style="cursor:pointer;" onclick="fnChangePage('#ReturningModal','Back'); return false;" disabled="disabled"></li>
                                        <li title="Select">
                                            <select class="select_cl" id="ddlpaging" onchange="getListafterupdation('#ReturningModal', this);"><option value="1">1</option></select>
                                        </li>
                                        <li title="Next"><input id="Next" type="image" src="/Images/nextarrow1.png" style="cursor:pointer;" onclick="fnChangePage('#ReturningModal','Next'); return false;" disabled="disabled"></li>
                                        <li title="Last"><input id="Last" type="image" src="/Images/nextarrow.png" style="cursor:pointer;" onclick="fnChangePage('#ReturningModal','Last'); return false;" disabled="disabled"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12" style="padding:0;text-align:right;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!--Modal for Graduating Children-->
    <div class="modal fade matrix_foster in" id="GraduatingModal" role="dialog">
        <div class="modal-dialog modal-dialog-foster">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><img src="/images/close.png"></button>
                    <h2><span id="centerName"></span> - Graduating</h2>
                    <div class="foster_items_main">

                        <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;">
                            <div style="float:left;" class="col-lg-3 col-xs-12">
                                <label style="display:initial;color:#333">Total Count:</label>&nbsp;<span class="totalCountSpan" style="color:#333;">00</span>
                            </div>

                            <div style="float:left;padding-top:0px;" class="col-lg-4 input-group date">
                                <input type="text" class="form-control searchTextAll" placeholder="Search by Name..." />
                                <span class="input-group-addon searchByClientName search-group" onclick="searchByClientName('#GraduatingModal', this);" style="background-color: #295b8f;">

                                    <i class="glyphicon glyphicon-search" style="color: #fff;"></i><span class="searchName">Search</span>
                                </span>
                            </div>

                            <div style="display:inline-block;width:auto;" class="col-lg-4 text-right">
                                <button class="download-excel btn btn-primary" style="margin-left:20px;line-height:23px!important;border-radius:4px;background-color:#295b8f;border-color:#295b8f;" onclick="downloadReportExcel('#GraduatingModal', this);">Export to Excel</button>
                            </div>
                        </div>


                        <div id="no-more-tables8" class="col-xs-12 no-padding" style="margin-bottom: 0;">
                            <div class="col-xs-12 no-padding">
                                <table class="col-md-12 table-striped table-condensed cf table-change ersea-table ersea-table ersea-table-sz" style="margin-bottom:24px;padding:16px;width:100%;">
                                    <thead class="table-hd scroll-thead">
                                        <tr>
                                            <th>Name</th>
                                            @*<th>Image</th>*@
                                            <th>Gender</th>
                                            <th>Date of Birth</th>
                                            <th class="center_name_head" style="display:none;">Center Name</th>
                                            <th>Start Date</th>
                                            <th>Program Type</th>
                                        </tr>

                                    </thead>
                                    <tbody class="ersea-table-head enrolledModalBody gradChildren scroll-tbody"></tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Pagination -->
                        <div class="col-xs-12 poppage-slot" style="padding:0px;">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pagination-file">
                                <div class="pages_display">
                                    <ul>
                                        <li>Display</li>
                                        <li>
                                            <select id="ddlpagetodisplay" onchange="drawgrid('#GraduatingModal',this);">
                                                <option value="10" selected="selected">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </li>
                                        <li>Records Per Page</li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div id="divPaging" class="pagination_wrp">
                                    <ul id="ulPaging" class="pagination">
                                        <li><input id="First" type="image" src="/Images/previousarrow.png" style="cursor:pointer;" onclick="fnChangePage('#GraduatingModal','First'); return false;" disabled="disabled"></li>
                                        <li title="Back"><input id="Back" type="image" src="/Images/prevarrow.png" style="cursor:pointer;" onclick="fnChangePage('#GraduatingModal','Back'); return false;" disabled="disabled"></li>
                                        <li title="Select">
                                            <select class="select_cl" id="ddlpaging" onchange="getListafterupdation('#ReturningModal', this);"><option value="1">1</option></select>
                                        </li>
                                        <li title="Next"><input id="Next" type="image" src="/Images/nextarrow1.png" style="cursor:pointer;" onclick="fnChangePage('#GraduatingModal','Next'); return false;" disabled="disabled"></li>
                                        <li title="Last"><input id="Last" type="image" src="/Images/nextarrow.png" style="cursor:pointer;" onclick="fnChangePage('#GraduatingModal','Last'); return false;" disabled="disabled"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12" style="padding:0;text-align:right;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!--Modal for Foster Children-->
    <div class="modal fade matrix_foster in" id="FosterModal" role="dialog">
        <div class="modal-dialog modal-dialog-foster">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><img src="/images/close.png"></button>
                    <h2><span id="centerName"></span> - Foster Children</h2>
                    <div class="foster_items_main">

                        <div class="col-lg-12 col-xs-12" style="padding:0;margin-bottom:10px;">
                            <div style="float:left;" class="col-lg-3 col-xs-12">
                                <label style="display:initial;color:#333">Total Count:</label>&nbsp;<span class="totalCountSpan" style="color:#333;">00</span>
                            </div>


                            <div style="float:left;padding-top:0px;" class="col-lg-4 input-group date">
                                <input type="text" class="form-control searchTextAll" placeholder="Search by Name..." />
                                <span class="input-group-addon searchByClientName search-group" onclick="searchByClientName('#FosterModal', this);" style="background-color: #295b8f;">

                                    <i class="glyphicon glyphicon-search" style="color: #fff;"></i><span class="searchName">Search</span>
                                </span>
                            </div>

                            <div style="display:inline-block;width:auto;" class="col-lg-4 text-right">
                                <button class="download-excel btn btn-primary" style="margin-left:20px;line-height:23px!important;border-radius:4px;background-color:#295b8f;border-color:#295b8f;" onclick="downloadReportExcel('#FosterModal', this);">Export to Excel</button>
                            </div>
                        </div>


                        <div id="no-more-tables8" class="col-xs-12 no-padding" style="margin-bottom: 0;">
                            <div class="col-xs-12 no-padding">
                                <table class="col-md-12 table-striped table-condensed cf table-change ersea-table ersea-table ersea-table-sz" style="margin-bottom:24px;padding:16px;width:100%;">
                                    <thead class="table-hd scroll-thead">
                                        <tr>
                                            <th>Name</th>
                                            @*<th>Image</th>*@
                                            <th>Gender</th>
                                            <th>Date of Birth</th>
                                            <th class="center_name_head" style="display:none;">Center Name</th>
                                            <th>Attachment</th>
                                        </tr>

                                    </thead>
                                    <tbody class="ersea-table-head enrolledModalBody fosterChildren scroll-tbody"></tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Pagination -->
                        <div class="col-xs-12 poppage-slot" style="padding:0px;">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pagination-file">
                                <div class="pages_display">
                                    <ul>
                                        <li>Display</li>
                                        <li>
                                            <select id="ddlpagetodisplay" onchange="drawgrid('#FosterModal',this);">
                                                <option value="10" selected="selected">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </li>
                                        <li>Records Per Page</li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div id="divPaging" class="pagination_wrp">
                                    <ul id="ulPaging" class="pagination">
                                        <li><input id="First" type="image" src="/Images/previousarrow.png" style="cursor:pointer;" onclick="fnChangePage('3FosterModal','First'); return false;" disabled="disabled"></li>
                                        <li title="Back"><input id="Back" type="image" src="/Images/prevarrow.png" style="cursor:pointer;" onclick="fnChangePage('#FosterModal','Back'); return false;" disabled="disabled"></li>
                                        <li title="Select">
                                            <select class="select_cl" id="ddlpaging" onchange="getListafterupdation('#FosterModal',this);"><option value="1">1</option></select>
                                        </li>
                                        <li title="Next"><input id="Next" type="image" src="/Images/nextarrow1.png" style="cursor:pointer;" onclick="fnChangePage('#FosterModal','Next'); return false;" disabled="disabled"></li>
                                        <li title="Last"><input id="Last" type="image" src="/Images/nextarrow.png" style="cursor:pointer;" onclick="fnChangePage('#FosterModal','Last'); return false;" disabled="disabled"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12" style="padding:0;text-align:right;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!--Modal for HomeLess Children-->
    <div class="modal fade matrix_foster in" id="HomeLessModal" role="dialog">
        <div class="modal-dialog modal-dialog-foster">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><img src="/images/close.png"></button>
                    <h2><span id="centerName"></span> - Homeless Children</h2>
                    <div class="foster_items_main">

                        <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;">
                            <div style="float:left;" class="col-lg-3 col-xs-12">
                                <label style="display:initial;color:#333">Total Count:</label>&nbsp;<span class="totalCountSpan" style="color:#333;">00</span>
                            </div>

                            <div style="float:left;padding-top:0px;" class="col-lg-4 input-group date">
                                <input type="text" class="form-control searchTextAll" placeholder="Search by Name..." />
                                <span class="input-group-addon searchByClientName search-group" onclick="searchByClientName('#HomeLessModal', this);" style="background-color: #295b8f;">

                                    <i class="glyphicon glyphicon-search" style="color: #fff;"></i><span class="searchName">Search</span>
                                </span>
                            </div>

                            <div style="display:inline-block;width:auto;" class="col-lg-4 text-right">
                                <button class="download-excel btn btn-primary" style="margin-left:20px;line-height:23px!important;border-radius:4px;background-color:#295b8f;border-color:#295b8f;" onclick="downloadReportExcel('#HomeLessModal', this);">Export to Excel</button>
                            </div>
                        </div>


                        <div id="no-more-tables8" class="col-xs-12 no-padding" style="margin-bottom: 0;">
                            <div class="col-xs-12 no-padding">
                                <table class="col-md-12 table-striped table-condensed cf table-change ersea-table ersea-table ersea-table-sz" style="margin-bottom:24px;padding:16px;width:100%;">
                                    <thead class="table-hd scroll-thead">
                                        <tr>
                                            <th>Name</th>
                                            @*<th>Image</th>*@
                                            <th>Gender</th>
                                            <th>Date of Birth</th>
                                            <th class="center_name_head" style="display:none;">Center Name</th>
                                            <th>Class Start Date</th>
                                        </tr>

                                    </thead>
                                    <tbody class="ersea-table-head enrolledModalBody homeLessChildren scroll-tbody"></tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Pagination -->
                        <div class="col-xs-12 poppage-slot" style="padding:0px;">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pagination-file">
                                <div class="pages_display">
                                    <ul>
                                        <li>Display</li>
                                        <li>
                                            <select id="ddlpagetodisplay" onchange="drawgrid('#HomeLessModal',this);">
                                                <option value="10" selected="selected">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </li>
                                        <li>Records Per Page</li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div id="divPaging" class="pagination_wrp">
                                    <ul id="ulPaging" class="pagination">
                                        <li><input id="First" type="image" src="/Images/previousarrow.png" style="cursor:pointer;" onclick="fnChangePage('#HomeLessModal','First'); return false;" disabled="disabled"></li>
                                        <li title="Back"><input id="Back" type="image" src="/Images/prevarrow.png" style="cursor:pointer;" onclick="fnChangePage('#HomeLessModal','Back'); return false;" disabled="disabled"></li>
                                        <li title="Select">
                                            <select class="select_cl" id="ddlpaging"><option value="1">1</option></select>
                                        </li>
                                        <li title="Next"><input id="Next" type="image" src="/Images/nextarrow1.png" style="cursor:pointer;" onclick="fnChangePage('#HomeLessModal','Next'); return false;" disabled="disabled"></li>
                                        <li title="Last"><input id="Last" type="image" src="/Images/nextarrow.png" style="cursor:pointer;" onclick="fnChangePage('#HomeLessModal','Last'); return false;" disabled="disabled"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12" style="padding:0;text-align:right;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!--Modal for Over Income Children-->
    <div class="modal fade matrix_foster in" id="OverIncomeModal" role="dialog">
        <div class="modal-dialog modal-dialog-foster">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><img src="/images/close.png"></button>
                    <h2><span id="centerName"></span> - Over Income</h2>
                    <div class="foster_items_main">


                        <div class="col-lg-12 col-xs-12" style="padding:0;margin-bottom:10px;">
                            <div style="float:left;" class="col-lg-3 col-xs-12">
                                <label style="display:initial;color:#333">Total Count:</label>&nbsp;<span class="totalCountSpan" style="color:#333;">00</span>
                            </div>


                            <div style="float:left;padding-top:0px;" class="col-lg-4 input-group date">
                                <input type="text" class="form-control searchTextAll" placeholder="Search by Name..." />
                                <span class="input-group-addon searchByClientName search-group" onclick="searchByClientName('#OverIncomeModal', this);" style="background-color: #295b8f;">

                                    <i class="glyphicon glyphicon-search" style="color: #fff;"></i><span class="searchName">Search</span>
                                </span>
                            </div>
                            <div style="display:inline-block;width:auto;" class="col-lg-4 text-right">
                                <button class="download-excel btn btn-primary" style="margin-left:20px;line-height:23px!important;border-radius:4px;background-color:#295b8f;border-color:#295b8f;" onclick="downloadReportExcel('#OverIncomeModal', this);">Export to Excel</button>
                            </div>

                        </div>

                        <div id="no-more-tables8" class="col-xs-12 no-padding" style="margin-bottom:0;">
                            <div class="col-xs-12 no-padding">
                                <table class="col-md-12 table-striped table-condensed cf table-change ersea-table ersea-table ersea-table-sz" style="margin-bottom:24px;padding:16px;width:100%;">
                                    <thead class="table-hd scroll-thead">
                                        <tr>
                                            <th>Name</th>
                                            @*<th>Image</th>*@
                                            <th>Gender</th>
                                            <th>Date of Birth</th>
                                            <th class="center_name_head" style="display:none;">Center Name</th>
                                            <th>Class Start Date</th>
                                            <th>Parent/Guardian</th>
                                            <th>Income Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody class="ersea-table-head enrolledModalBody overIncomeChildren scroll-tbody"></tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Pagination -->
                        <div class="col-xs-12 poppage-slot" style="padding:0px;">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pagination-file">
                                <div class="pages_display">
                                    <ul>
                                        <li>Display</li>
                                        <li>
                                            <select id="ddlpagetodisplay" onchange="drawgrid('#OverIncomeModal',this);">
                                                <option value="10" selected="selected">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </li>
                                        <li>Records Per Page</li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div id="divPaging" class="pagination_wrp">
                                    <ul id="ulPaging" class="pagination">
                                        <li><input id="First" type="image" src="/Images/previousarrow.png" style="cursor:pointer;" onclick="fnChangePage('#OverIncomeModal','First'); return false;" disabled="disabled"></li>
                                        <li title="Back"><input id="Back" type="image" src="/Images/prevarrow.png" style="cursor:pointer;" onclick="fnChangePage('#OverIncomeModal','Back'); return false;" disabled="disabled"></li>
                                        <li title="Select">
                                            <select class="select_cl" id="ddlpaging" onchange="getListafterupdation('#OverIncomeModal', this);"><option value="1">1</option></select>
                                        </li>
                                        <li title="Next"><input id="Next" type="image" src="/Images/nextarrow1.png" style="cursor:pointer;" onclick="fnChangePage('#OverIncomeModal','Next'); return false;" disabled="disabled"></li>
                                        <li title="Last"><input id="Last" type="image" src="/Images/nextarrow.png" style="cursor:pointer;" onclick="fnChangePage('#OverIncomeModal','Last'); return false;" disabled="disabled"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12" style="padding:0;text-align:right;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!--Modal for External Leads-->
    <div class="modal fade matrix_foster in" id="ExternalLeadsModal" role="dialog">
        <div class="modal-dialog modal-dialog-foster">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><img src="/images/close.png"></button>
                    <h2><span id="centerName"></span> - External Leads</h2>
                    <div class="foster_items_main">

                        <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;">
                            <div style="float:left;" class="col-lg-3 col-xs-12">
                                <label style="display:initial;color:#333">Total Count:</label>&nbsp;<span class="totalCountSpan" style="color:#333;">00</span>
                            </div>

                            <div style="float:left;padding-top:0px;" class="col-lg-4 input-group date">
                                <input type="text" class="form-control searchTextAll" placeholder="Search by Name..." />
                                <span class="input-group-addon searchByClientName search-group" onclick="searchByClientName('#ExternalLeadsModal', this);" style="background-color: #295b8f;">

                                    <i class="glyphicon glyphicon-search" style="color: #fff;"></i><span class="searchName">Search</span>
                                </span>
                            </div>

                            <div style="display:inline-block;width:auto;" class="col-lg-4 text-right">
                                <button class="download-excel btn btn-primary" style="margin-left:20px;line-height:23px!important;border-radius:4px;background-color:#295b8f;border-color:#295b8f;" onclick="downloadReportExcel('#ExternalLeadsModal', this);">Export to Excel</button>
                            </div>
                        </div>



                        <div id="no-more-tables8" class="col-xs-12 no-padding" style="margin-bottom:0;">
                            <div class="col-xs-12 no-padding">
                                <table class="col-md-12 table-striped table-condensed cf table-change ersea-table ersea-table ersea-table-sz" style="margin-bottom:24px;padding:16px;width:100%;">
                                    <thead class="table-hd scroll-thead">
                                        <tr>
                                            <th>Name</th>
                                            <th>Gender</th>
                                            <th>Date of Birth</th>
                                            <th>Parent/Guardian</th>
                                            <th class="center_name_head" style="display:none;">Center Name</th>
                                            <th style="text-transform:unset">Contacted by FSW</th>
                                            <th>Disability</th>
                                        </tr>

                                    </thead>
                                    <tbody class="ersea-table-head enrolledModalBody LeadsModalBody scroll-tbody"></tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Pagination -->
                        <div class="col-xs-12 poppage-slot" style="padding:0px;">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pagination-file">
                                <div class="pages_display">
                                    <ul>
                                        <li>Display</li>
                                        <li>
                                            <select id="ddlpagetodisplay" onchange="drawgrid('#ExternalLeadsModal',this);">
                                                <option value="10" selected="selected">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </li>
                                        <li>Records Per Page</li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div id="divPaging" class="pagination_wrp">
                                    <ul id="ulPaging" class="pagination">
                                        <li><input id="First" type="image" src="/Images/previousarrow.png" style="cursor:pointer;" onclick="fnChangePage('#ExternalLeadsModal','First'); return false;" disabled="disabled"></li>
                                        <li title="Back"><input id="Back" type="image" src="/Images/prevarrow.png" style="cursor:pointer;" onclick="fnChangePage('#ExternalLeadsModal','Back'); return false;" disabled="disabled"></li>
                                        <li title="Select">
                                            <select class="select_cl" id="ddlpaging" onchange="getListafterupdation('#ExternalLeadsModal',this);"><option value="1">1</option></select>
                                        </li>
                                        <li title="Next"><input id="Next" type="image" src="/Images/nextarrow1.png" style="cursor:pointer;" onclick="fnChangePage('#ExternalLeadsModal','Next'); return false;" disabled="disabled"></li>
                                        <li title="Last"><input id="Last" type="image" src="/Images/nextarrow.png" style="cursor:pointer;" onclick="fnChangePage('#ExternalLeadsModal','Last'); return false;" disabled="disabled"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-12" style="padding:0;text-align:right;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!--Error Modal Content-->
    <div id="errModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p class="no-data"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!--Action Links for foster image or document download-->
    <a id='dwnldLnkimage_Center' download='fosterAttachment.png' class="hidden"></a>
    <a id='dwnldLnk_Center' download='fosterAttachment.pdf' class="hidden"></a>

    <!---FosterChild Modal-->

    <script src="~/Scripts/centeranalysis.js"></script>

    
}
