@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisableJavascript</title>
</head>
<body>
    <div>
        <h2>
            JavaScript is disabled! Why you want to do so?
            Please enable JavaScript in your web browser!
        </h2>
    </div>
</body>
</html>
