@model FingerprintsModel.AgencyAdditionalSlots
@{
    ViewBag.Title = "ParentMatrixAnalysis";
    Layout = "~/Views/Shared/AgencyAdminLayout.cshtml";
}
@section Script{
    <script type="text/javascript">
        var centercount = 0;
        function ValidateInputs()
        {
            debugger;
            var count = 0;
            $('.programtypevalidate').each(function () {
                if ($(this).val() != "" && $(this).val() != null)
                {
                    count = count + parseInt($(this).val());
                }              
            });
           
            var availableslots = parseInt(@Model.SlotsCount);
           
            if(count<availableslots)
            {
                customAlert("Seats counts less than available slots.");
                return false;
            }
           else if (count > availableslots) {
                customAlert("Seats counts greater than available slots.");
                return false;
           }
            var listSeats = [];
            $('.programtypevalidate').each(function () {
                var seat = {};
                if ($(this).val() != "" && $(this).val() != null) {
                    seat.CenterId = $(this).attr('data-centerid');
                    seat.ClassroomId = $(this).attr('data-classid');
                    seat.Seats = $(this).val();
                    if ($(this).hasClass('EHS'))
                        seat.ProgramType = 'EHS';
                    else if ($(this).hasClass('HS'))
                        seat.ProgramType = 'HS';
                    else if ($(this).hasClass('CCP'))
                        seat.ProgramType = 'CCP';
                    else if ($(this).hasClass('PM')) 
                    seat.ProgramType = 'PM';
                    else if ($(this).hasClass('PPKE'))
                        seat.ProgramType = 'PP/KE';
                    listSeats.push(seat);
                }
            });
            $.ajax({
                url: HostedDir + "/Agency/SaveAdditionalSeats",
                type: "POST",
                dateType: 'json',
                secureuri: false,
                async: false,
                data: '{Seats: ' + JSON.stringify(listSeats) + '}',
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if(response==true)
                    {
                        location.href = "/Yakkr/YakkrDetails";
                    }
                }
            });
           
        }

        $(document).ready(function () {
            getList();   
           $('.CenterChange').change(function () {
               var centerid = $(this).val();
                if ($(this).is(':checked') == true)
                {

                    var centername = $(this).attr('data-center');
                    var divhtmlcontent = $('.divgrid').html(); 
                    divhtmlcontent = divhtmlcontent.replace('DivCenterReplaced', 'DivCenterReplaced' + centerid);
                    divhtmlcontent = divhtmlcontent.replace('divcenterbased', 'divcenterbased' + centerid);
                    divhtmlcontent = divhtmlcontent.replace('divClassrooms', 'divClassrooms' + centerid);
                    divhtmlcontent = divhtmlcontent.replace('DivAppendClassrooms', 'DivAppendClassrooms' + centerid);
                    $('#DivAppendCenters').prepend(divhtmlcontent);
                    $('.divcenterbased' + centerid).find('h2').text(centername);
                    $('.divcenterbased' + centerid).show();                   
                    $.ajax({
                        url: HostedDir + "/Roster/Getclassrooms",
                        type: "POST",
                        data: {
                            Centerid: centerid
                        },
                        dataType: "json",
                        secureuri: false,
                        async: false,
                        success: function (response) {
                            var centerdiv = "";
                            for (var i = 0; i < response.length; i++) {
                                centercount++;
                                centerdiv += ' <div class="fa-checkbox fa-checkbox1 col-xs-12" style="width:auto;display:inline-block;float:left;margin-right:10px;">';
                                centerdiv += '       <input type="checkbox" id="cls' + centercount + '" name="checkbox-type" data-center="' + centerid + '" data-classname="' + response[i].ClassName + '"  value="' + response[i].ClassroomID + '" style="display:none;" onchange="ClassroomChange(this)" class="abtCheckbox ClassChange">';
                                centerdiv += '      <label for="cls' + centercount + '" style="color:#333;font-size:16px;text-align:left;margin-bottom:0px;">' + response[i].ClassName + '</label>';
                                centerdiv += '  </div>';
                            }
                          
                            $('.divClassrooms' + centerid).empty();
                            $('.divClassrooms' + centerid).append(centerdiv);
                        }
                         , error: function (response) {
                             customAlert("Session Ended Log Onto The System Again."); setTimeout(function () { window.location.href = HostedDir + '/login/Loginagency'; }, 2000);
                         }
                    });
                }
                else
                {           
                    $('.DivCenterReplaced' + centerid).html('');
                }
           
            });       
        });

        function ClassroomChange(arg) {
            debugger;
            var classname = $(arg).attr('data-classname');
            var centerid = $(arg).attr('data-center');
            var classid = $(arg).val();
            if ($(arg).is(':checked') == true) {

                var divhtmlcontent = $('.DivForProgramTypeContent').html(); 
                divhtmlcontent = divhtmlcontent.replace('divProgramType', 'divProgramType' + classid);
                divhtmlcontent = divhtmlcontent.replace('divForClassGroup', 'divForClassGroup' + classid);
                divhtmlcontent = divhtmlcontent.replace(/abc/g, centerid);
                divhtmlcontent = divhtmlcontent.replace(/xyz/g, classid);
                $('.DivAppendClassrooms' + centerid).prepend(divhtmlcontent);
                $('.divProgramType' + classid).find('legend').text(classname);
                $('.divProgramType' + classid).show();
            }
            else {
                $('.divForClassGroup' + classid).html('');
            }
        }
        function getList() {

            $.ajax({
                url: "/Roster/GetCenterByAgency",
                type: "POST",
                data: {
                },
                dataType: "json",
                secureuri: false,
                async: false,
                success: function (data) {
                    var centerdiv = "";

                    console.log(data);
                    if (data.list.Centers != null && data.list.Centers.length > 0) {
                        for (var i = 0; i < data.list.Centers.length; i++) {
                            centercount++;
                            centerdiv += '<div class="fa-checkbox col-xs-12" style="width:auto;display:inline-block;float:left;margin-right:10px;">';
                            centerdiv += '    <input type="checkbox" id="center' + centercount + '" name="checkbox-type" data-center="' + data.list.Centers[i].Name + '"  value="' + data.list.Centers[i].CenterId + '" style="display:none;" class="abtCheckbox CenterChange">';
                            centerdiv += '        <label for="center' + centercount + '" style="color:#fff;font-size:16px;text-align:left;margin-bottom:0px;">' + data.list.Centers[i].Name + '</label></div>';
                           
                        }
                       
                    }
                    $('.divCenter').empty();
                    $('.divCenter').append(centerdiv);
                }
                , error: function (response) {
                    customAlert("Session Ended Log Onto The System Again."); setTimeout(function () { window.location.href = HostedDir + '/login/Loginagency'; }, 2000);
                }
            });
        }  
  </script>
<script src="~/Scripts/jquery.nanoscroller.js"></script>
<script src="~/Scripts/Samplescript/jquery-ui.min.js"></script>
    }
@section MainContentHolder{
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/nanoscroller.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="/Content/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/matrixrecommendation.css" rel="stylesheet" />
    <style>
        

        .weekly-div-radio-btn .radio.radio-info {
            margin-top: 0;
            width: auto;
            display: inline-block;
            float: none;
            margin-right: 30px !important;
        }

        .weekly-div-radio-btn .radio input[type="radio"] {
            opacity: 0;
            z-index: 1;
        }

        .weekly-div-radio-btn .radio label {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            padding-left: 5px;
            color: #fff;
            font-size: 18px;
        }

            .weekly-div-radio-btn .radio label:before {
                content: "";
                display: inline-block;
                position: absolute;
                width: 16px;
                height: 16px;
                left: 0;
                margin-left: -20px;
                border: 1px solid #cccccc;
                border-radius: 50%;
                background-color: transparent;
                -webkit-transition: border 0.15s ease-in-out;
                -o-transition: border 0.15s ease-in-out;
                transition: border 0.15s ease-in-out;
                top: 4px;
            }

            .weekly-div-radio-btn .radio label::after {
                display: inline-block;
                position: absolute;
                content: "";
                width: 8px;
                height: 8px;
                left: 4px;
                top: 8px;
                margin-left: -20px;
                border-radius: 50%;
                background-color: transparent;
                -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
                -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
                -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
                transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
                
            }

        .weekly-div-radio-btn .radio-info input[type="radio"]:checked + label::after {
            background-color: #f9c751;
            color: #f9c751;
        }

        .weekly-div-radio-btn .radio-info input[type="radio"]:checked + label::before {
            border-color: #f9c751;
            color: #f9c751;
        }

        .weekly-div-radio-btn {
            margin-top:0px;
            margin-bottom:0px;
            text-align: left;
        }

            .weekly-div-radio-btn .radio-info input[type="radio"]:checked + label {
                color: #f9c751;
            }


        .fa-radio input[type=radio], .chk-box-ch .fa-checkbox input[type='checkbox'] {
            display: none !important;
        }

        .fa-checkbox input[type="checkbox"] + label:before {
            content: "\f096";
            position: relative;
            top: 0px;
            color: #fff;
            margin-right: 10px;
        }
        .fa-checkbox1 input[type="checkbox"] + label:before{color:#333;}
        .fa-checkbox input[type='checkbox'] + label:before, .chk-box-ch .fa-radio input[type='radio'] + label:before {
            display: inline-block;
            font-family: FontAwesome;
            font-size: 21px;
            font-style: normal;
            font-weight: normal;
            line-height: 32px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            padding-right: 8px;
            width: 20px;
        }

        .fa-checkbox input[type="checkbox"]:checked + label:before {
            color: #3FC593;
            content: "\f14a";
            position: relative;
            top: 0px;
        }

        .slot-heading h2 {
            color: #f9c751;
            font-size: 20px;
            padding: 10px 0px;
            text-align: left;
            font-weight: bold;
            margin: 0;
            margin-top: 30px;
            margin-bottom: 12px;
        }
        .slot-heading h2 span{color:#fff;}
        .slot-content{margin-top:10px;}
        .centerlabel{position:relative;width:150px;display:inline-block;float:left;}
        .centerlabel h3{color: #f9c751;font-size:16px;text-align: left;font-weight: bold;margin:0;padding:0;padding-top: 3px;}
        .centerlabel-content{position:relative;display:inline-block;float:left;width:80%;}
        .textbox-center{width:auto;display:inline-block;float:left;margin-right:10px;}
.info-heading h2 {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    padding: 20px 10px!important;
    text-align: center;
    display: block;
    font-weight: bold;
    margin: 0;
}
    .transition-section {
    border-radius: 10px;
    background: #f1f5f8;
    padding: 20px 20px!important;
    width: 90%;
    margin: 20px 1%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 0!important;
    display:none;
}
    .form-control {
    border-radius: 0 !important;
}
            .text-label{color: #333;font-size:14px;text-align: left;font-weight: bold;margin:0;padding:0;padding-bottom: 3px;}
            fieldset {
    padding: .35em .625em .75em!important;
    margin: 0 2px!important;
    border: 1px solid #c0c0c0!important;
}
            legend {
    padding: 0!important;
    border: 0!important;
    text-align: left!important;
    margin-bottom: 18px!important;
    font-size: 16px!important;
    padding-left:5px!important;
    font-weight: bold;    
    display: inline-block;
    width: auto;color: #295b8f;
}
            .transition-analysis-btn {
    margin-bottom: 30px;
    margin-top: 10px;
}
            .transition-analysis-btn a {
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    background: #27ae60;
    color: #fff;
    margin: 0;
    border-radius: 4px;
    padding: 10px 15px;
    margin: auto;
    font-weight: bold;
    line-height: 20px;
    margin-right: 10px;
}
.slot-scroll {
    max-height: 100px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    overflow-y: scroll;
    padding: 10px;
}
    .slot-scroll label {
    font-size: 15px !important;
}
    </style>
 



    <div class="container-fluid">     
        <div class="row">
            <div class="col-xs-12 no-padding" style="margin-bottom: 30px;">
                <div class="col-xs-12 no-padding">
                    <div class="top-header-title" style="margin-top: 30px;">
                        <h1>ADDITIONAL SLOTS</h1>
                    </div>
                </div>
                <div class="col-xs-12 slot-heading">
                    <h2 style="margin:5px 0;">Available Slots: <span id="AvailableSlots">@Model.SlotsCount</span></h2>
                </div>
                <div class="col-xs-12 col-md-11 col-lg-11 slot-content">
                    <div class="centerlabel"><h3>Select Center</h3></div>
                    <div class="centerlabel-content divCenter slot-scroll">
                 
                    </div>
                </div>

                <div id="DivAppendCenters">


                </div>           
                <div class="divgrid">
                    <div class="DivCenterReplaced">
                        <div class="col-xs-12 transition-section divcenterbased " style="display:none;">
                            <div class="col-xs-12 info-heading">
                                <h2>Center 1</h2>
                            </div>
                            <div class="col-xs-12" style="text-align:center;margin-bottom:10px;">
                                <div class="centerlabel"><h3 style="color:#333;">Classrooms</h3></div>
                                <div class="centerlabel-content divClassrooms">
                                </div>
                                    <div class="DivAppendClassrooms">
                               
                                </div>                            
                            </div>                      
                        </div>
                    </div>
                </div>
                <div class="DivForProgramTypeContent">
                    <div class="divForClassGroup">
                        <div class="col-xs-12 divProgramType no-padding" style="text-align:center;margin-top:20px;display:none;">
                            <fieldset>
                                <legend>Room 1</legend>
                                <div class="col-xs-10 no-padding">
                                    <div class="col-sm-2">
                                        <label class="text-label">EHS</label>
                                        <input type="text" style="margin-bottom: 5px;" data-centerid="abc" data-classid="xyz" class="form-control EHS programtypevalidate">
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="text-label">HS</label>
                                        <input type="text" style="margin-bottom: 5px;"  data-centerid="abc" data-classid="xyz"  class="form-control HS programtypevalidate">
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="text-label">CCP</label>
                                        <input type="text" style="margin-bottom: 5px;"  data-centerid="abc" data-classid="xyz"  class="form-control CCP programtypevalidate">
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="text-label">PM</label>
                                        <input type="text" style="margin-bottom: 5px;"  data-centerid="abc" data-classid="xyz"  class="form-control PM programtypevalidate">
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="text-label">PP/KE</label>
                                        <input type="text" style="margin-bottom: 5px;" data-centerid="abc" data-classid="xyz"  class="form-control PPKE programtypevalidate">
                                    </div>
                                </div>
                                
                                @*<div class="col-xs-2">
                                    <label class="text-label">50</label>
                                </div>*@
                            </fieldset>
                         
                    </div>
                    </div>
            </div>
                <div class="col-xs-12">
                    <div class="transition-analysis-btn">
                        <a  style="cursor:pointer;" onclick="return ValidateInputs()">Submit</a>
                        <a  style="background:#e74c3c;cursor:pointer;">Back</a>
                    </div>
                </div>
        </div>

       
        </div>
    </div>
  
  

   
    <!--Draw Signature Modal-->
  



}
