
body {
    font-family: "Verdana" !important;
}

.no-padding {
    padding: 0;
}

dt{
    color:#295b8f;
}
/*dl dd{
    display:inline-block;
}*/

.right-side-container-ch {
    width: 100%;
    float: left;
    background: url('../../Images/body-bg.jpg') center no-repeat;
    background-size: cover;
    min-height: 600px;
}

.table-hd {
    line-height: 1.428571;
    font-size: 14px;
}

thead.table-hd tr th {
    border: solid 1px #e7e7e7;
}
/*Center-Transportation-Analysis*/
.top-header-title-transportation {
    background: #f9c751;
    border-radius: 5px;
    margin-top: 20px;
}

    .top-header-title-transportation h1 {
        color: #000;
        font-size: 24px;
        text-transform: uppercase;
        padding: 20px 10px;
        text-align: center;
        display: block;
        font-weight: bold;
        margin: 0;
    }

.transportation-table thead tr {
    background: #9B58B4 !important;
    color: #fff;
    text-align: left;
}

    .transportation-table thead tr th {
        border-bottom: 0 !important;
        text-align: center;
        text-transform: capitalize;
        font-size: 18px;
        font-weight: normal;
    }

.transportation-table-head p a {
    color: #163b69;
    text-align: center;
    font-size: 16px;
    margin: 0;
    display: block;
}

.center-arw {
    position: absolute;
    vertical-align: top;
    top: 1px;
    right: 7px;
}

.transportation-table-head p {
    background: #fff;
    padding: 2px 3px;
    color: #163b69;
    text-align: center;
    font-size: 16px;
    margin: 0;
    border-right: 0;
    position: relative;
}

tbody.transportation-table-head tr td {
    background: #fff !important;
    border: solid 1px #e7e7e7;
}

.analysis-wt {
    width: 660px;
}

.analysis-wt1 {
    width: 128px;
}

.analysis-detl-title {
    margin-top: 15px;
}

    .analysis-detl-title h2 {
        text-align: center;
        font-weight: bold;
        color: #fff;
    }

.analysis_ovr {
    text-align: center;
    width: 275px;
    margin: auto;
}

.transportation-table thead tr {
    background: #9B58B4 !important;
    color: #fff;
    text-align: left;
}

.transportation-table1 thead tr th {
    border-bottom: 0 !important;
    text-align: left;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: normal;
}

.transportation-table-head1 p {
    background: #fff;
    padding: 2px 3px;
    color: #163b69;
    text-align: left;
    font-size: 16px;
    margin: 0;
    border-right: 0;
    position: relative;
}

.transportation-table1 thead tr {
    background: #9B58B4 !important;
    color: #fff;
    text-align: left;
}

tbody.transportation-table-head1 tr td {
    background: #fff !important;
    border: solid 1px #e7e7e7;
}

.analysis-btn a {
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    background: #9b58b4;
    color: #ffffff;
    margin: 0;
    border-radius: 4px;
    width: 100px;
    padding: 8px 9px;
    margin: auto;
    font-weight: bold;
    line-height: 20px;
}

.analysis-bt-al {
    position: absolute;
    right: 20px;
    top: 30px;
}

.route-content-desc p {
    background: #fff;
    border: 1px solid #e7e7e7;
    padding: 10px 10px;
    color: #163b69;
    text-align: left;
    font-size: 15px;
    margin: 0;
    text-transform: none;
    width: 100%;
    float: left;
}

.route-field-style {
    position: absolute;
    right: 14px;
    top: 12px;
}

.route-inner .form-control {
    background: #fff;
    border: 1px solid #e7e7e7;
    padding: 10px 10px;
    color: #163b69;
    text-align: left;
    font-size: 15px;
    margin: 0;
    text-transform: none;
    width: 100%;
    float: left;
    height: 43px;
    box-shadow: none;
    border-radius: 0;
}

.route-inner select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #163b69;
    color: #fff;
}

    .route-inner select option {
        background: #163b69;
        color: #fff;
    }

.radio.radio-info {
    float: left;
    margin-top: 10px;
    width: auto;
    margin-right: 30px;
    display: inline-block;
    margin-bottom: 10px;
}

.radio {
    padding-left: 20px;
}

.radio-info input[type="radio"]:checked + label {
    color: #163b69;
}

.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
    color: #163b69;
    font-size: 15px;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #163b69;
    color: #163b69;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #163b69;
    border-radius: 50%;
    background-color: transparent;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
    top: 2px;
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #163b69;
    color: #163b69;
}

.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio-info input[type="radio"] + label::after {
    background-color: #163b69;
    color: #163b69;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 8px;
    height: 8px;
    left: 4px;
    top: 6px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: transparent;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.route-analysis-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

    .route-analysis-btn a {
        font-size: 16px;
        text-transform: capitalize;
        text-align: center;
        display: inline-block;
        background: #f9c751;
        color: #212121;
        margin: 0;
        border-radius: 4px;
        padding: 10px 15px;
        margin: auto;
        font-weight: bold;
        line-height: 20px;
    }

.serch-assign-block {
    margin-top: 30px;
    /* margin-bottom: 30px; */
    float: left;
    text-align: center;
}

.assign-select {
    width: 220px;
    font-size: 19px;
    color: #fff;
    padding: 5px;
    resize: none;
    background: transparent;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #fff !important;
    border-radius: 4px;
    position: relative;
    line-height: 40px;
    /* float: left; */
    display: inline-block;
}

.assign-search-btn {
    display: inline-block;
    width: auto;
    /* float: left; */
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

    .assign-search-btn a {
        font-size: 18px;
        text-transform: capitalize;
        text-align: center;
        display: inline-block;
        background: #f9c751;
        color: #212121;
        margin: 0;
        border-radius: 4px;
        width: 120px;
        padding: 8px 9px;
        margin: auto;
        font-weight: bold;
    }

.map_image {
    margin-top: 20px;
    margin-bottom: 20px;
}

.route-analysis-map {
    position: relative;
    /*height: 560px;*/
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom:15px;
}

    /*.route-analysis-map img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        max-height: 100%;
        max-width: 100%;
        margin: auto;
        border-radius: 5px;
    }*/

.map-notify {
    position: absolute;
    background: #fff;
    border-radius: 5px; /* overflow: hidden; */
    top: 90px;
    left: 164px;
    right: 0;
    width: 330px;
    padding-bottom: 10px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.map-notify-title {
    /* background: #e74c3c; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

    .map-notify-title h2 {
        margin: 0;
        font-size: 18px;
        text-align: center;
        padding: 10px;
        color: #295b8f;
    }

.map-notify-cont p, .map-notify-cont1 p {
    font-size: 14px;
    color: #16406f;
    text-align: left;
    padding: 0;
    line-height: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.map-notify-cont {
    width: 40%;
    float: left;
    display: inline-block;
}

.map-notify-cont1 {
    width: 60%;
    float: left;
    display: inline-block;
}

.map-arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
    position: absolute;
    left: -10px;
    top: 82px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.2); */
}

/*Center-Transportation-Analysis*/











@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        #no-more-tables thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    #no-more-tables tr { /* border: 1px solid #ccc; */
    }

    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 25%;
        white-space: normal;
        text-align: left;
    }

        #no-more-tables td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
        }

        /*
    Label the data
    */
        #no-more-tables td:before {
            content: attr(data-title);
        }
}


@media (min-width: 1600px) and (max-width: 1920px) {
}

@media (min-width: 1200px) and (max-width: 1280px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
    .list-im {
        width: 100%;
    }

    .dash-bdr-tp {
        margin-top: 15px;
    }

    .dash-count {
        padding: 15px 0 0 30px;
    }

    .dashboard-content-pad-scroll {
        height: auto;
    }

    .edit-profile {
        height: 600px;
        overflow: auto;
    }

    .left-side-container {
        width: 26%;
    }

    .right-side-container {
        width: 74%;
        background-size: cover;
    }








    /*Center-transportation*/

    /* Force table to not be like tables anymore */
    #no-more-tables-transporation1 table,
    #no-more-tables-transporation1 thead,
    #no-more-tables-transporation1 tbody,
    #no-more-tables-transporation1 th,
    #no-more-tables-transporation1 td,
    #no-more-tables-transporation1 tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        #no-more-tables-transporation1 thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    #no-more-tables-transporation1 tr { /* border: 1px solid #ccc; */
    }

    #no-more-tables-transporation1 td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 45%;
        white-space: normal;
        text-align: left;
    }

        #no-more-tables-transporation1 td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
        }

        /*
    Label the data
    */
        #no-more-tables-transporation1 td:before {
            content: attr(data-title);
        }
    /*Center-transportation*/

}

@media (min-width: 768px) and (max-width: 991px) {
    .list-im {
        width: 100%;
    }

    .dash-bdr-tp {
        margin-top: 15px;
    }

    .dash-count {
        padding: 15px 15px 0 15px;
    }

    .content-all {
        padding: 0;
    }

    .list-title {
        margin-top: 0;
    }

    .left-side-container {
        width: 28%;
    }

    .right-side-container {
        width: 72%;
    }


    .login-button1 {
        margin: 20px 12px;
    }

    .input-block {
        margin-top: 12px;
    }

    .edit-profile {
        width: 100%;
        margin-top: 10px;
    }

    .edit-profile1 {
        width: 100% !important;
    }

    .add-ht {
        height: 85px !important;
    }

    .profile-picture {
        width: 100px;
        height: 100px;
    }

    .dashboard-content-pad-scroll {
        height: auto;
    }

    .edit-profile {
        height: 450px;
        overflow: auto;
    }

    .dashboard-menu ul li a {
        font-size: 14px;
        padding: 17px 15px;
    }

    .dwn-arrow {
        right: 10px;
    }

    .table-block-res {
        margin-bottom: 290px;
    }

    .tab-pad {
        padding: 10px 30px !important;
    }

    .top-header-title p {
        font-size: 18px;
        padding: 15px 5px;
    }

    .right-side-container {
        background-size: cover;
    }

    .right-top-info {
        float: right;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .education-content-block {
        margin-bottom: 100px;
    }







    /*Center-transportation*/

    /* Force table to not be like tables anymore */
    #no-more-tables-transporation1 table,
    #no-more-tables-transporation1 thead,
    #no-more-tables-transporation1 tbody,
    #no-more-tables-transporation1 th,
    #no-more-tables-transporation1 td,
    #no-more-tables-transporation1 tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        #no-more-tables-transporation1 thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    #no-more-tables-transporation1 tr { /* border: 1px solid #ccc; */
    }

    #no-more-tables-transporation1 td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 45%;
        white-space: normal;
        text-align: left;
    }

        #no-more-tables-transporation1 td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
        }

        /*
    Label the data
    */
        #no-more-tables-transporation1 td:before {
            content: attr(data-title);
        }

    .analysis-wt1 {
        width: 160px;
    }
    /*Center-transportation*/
    .right-side-container {
        width: 100%;
        float: left;
        background: url('../../Images/body-bg.jpg') center no-repeat;
        background-size: cover;
        min-height: 600px;
    }
}

@media (max-width: 767px) {
    .dashboard {
        overflow: auto;
    }

    .login-logo {
        height: 60px;
    }

    .login-form1 {
        width: 100%;
    }

    .text2 {
        width: 100%;
        margin: auto;
    }

    .form-label h2 {
        text-align: left;
    }

    .forgot-password {
        text-align: center;
    }

    .login-button {
        margin: 26px 0;
    }

        .login-button a {
            font-size: 20px;
        }

    .form-margin {
        margin-top: 20px;
    }

    .login-form-section {
        margin: 30px 0;
    }

    .form-label h2 {
        padding: 10px 20px;
    }

    .nav-icon {
        display: none;
    }

    .nav-icon1 {
        display: block;
        z-index: 999999;
        transition: all linear 0.3s;
        -webkit-transition: all linear 0.3s;
        -moz-transition: all linear 0.3s;
        -ms-transition: all linear 0.3s;
        -o-transition: all linear 0.3s;
    }

    .left-side-container {
        position: fixed;
        left: -282px;
        z-index: 9999;
        width: 282px !important;
        transition: all linear 0.3s;
        -webkit-transition: all linear 0.3s;
        -moz-transition: all linear 0.3s;
        -ms-transition: all linear 0.3s;
        -o-transition: all linear 0.3s;
    }

    .right-side-container {
        width: 100% !important;
    }

    .dash-count {
        padding: 15px 15px 0 15px;
    }

    .dash-bdr-tp, .text3, .nav-icon1 {
        margin-top: 15px;
    }

    .text3 {
        width: 100%;
    }

    .top-header {
        height: 60px;
    }


    .content-all {
        padding: 5px;
    }

    .content-list:before {
        left: 0;
    }


    .edit-profile {
        width: 100%;
        margin-top: 10px;
    }

    .edit-profile1 {
        width: 100% !important;
    }

    .login-button1 a {
        padding: 8px 12px;
    }

    .dashboard-content-pad-scroll {
        height: auto;
    }

    .searchTerm {
        margin-bottom: 10px;
    }

    .copyrights p {
        text-align: center;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .txt-ft-rght {
        text-align: center !important;
    }

    .form-label1 h2 {
        text-align: left;
    }

    .delete-button a {
        padding: 10px 20px;
    }

    .delete-popup {
        width: 100%;
    }

    .logo-section {
        height: 59px;
    }

    .copyrights {
        z-index: 99999;
    }

    .right-top-info {
        float: left;
    }



    .table-block-res {
        margin-bottom: 120px;
    }

    .tb-lt li {
        padding-right: 0px !important;
        width: 100% !important;
    }

    .tb-lt {
        padding-left: 0px !important;
        width: 100% !important;
    }

    .footer-bg-img {
        margin-top: 0;
        height: 160px;
    }

    .footer-bg-img-al {
        height: 160px;
    }

    .footer p {
        font-size: 12px;
    }

    .dashboard-logo {
        height: 35px;
        margin: 15px 0;
    }

    .edu-tbl-title h2 {
        font-size: 20px;
    }

    .edu-table-block tr td {
        font-size: 17px;
    }

    .tab-desc h3 {
        font-size: 16px;
    }

    .tab-desc p {
        font-size: 22px;
    }

    .tb-lt li a {
        font-size: 14px;
    }

    .tab-pad {
        padding: 10px 15px !important;
    }

    .dashboard-heading h2 {
        padding: 10px 0;
        font-size: 14px;
    }

    .dashboard-title h1 {
        padding: 10px 0;
        font-size: 18px;
        line-height: 30px;
        padding: 0;
    }

    .dashboard-img {
        position: relative;
        height: 135px;
        margin: 17px 0;
    }

    .dashboard-heading-al {
        margin: 15px 0;
    }

    .tablist-hole {
        padding: 20px 0;
    }

    .graph-img {
        height: 500px;
    }

    .edu-tbl-all {
        margin-top: 35px;
    }

    .tab-img-al {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .top-header-title h1 {
        font-size: 17px;
        text-transform: capitalize;
        padding: 10px 40px;
        padding-left: 15px;
        line-height: 25px;
        text-align: left;
    }

    .right-top-info {
        float: right;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .education-heading h2 {
        font-size: 20px;
        margin-bottom: 12px;
        padding-bottom: 30px;
        margin-top: 10px;
    }

    .education-heading-content p {
        font-size: 14px;
        line-height: 28px;
    }

    .education-profile-content h3 {
        font-size: 17px;
        padding: 10px 7px;
    }

    .education-profile-content p {
        font-size: 14px;
        padding: 0px 3px;
    }

        .education-profile-content p span {
            padding-right: 1px;
        }

    .education-content-desc p, .education-content-desc1 p {
        font-size: 14px;
    }

    .education-content-block {
        margin-top: 20px;
    }

    .education-heading-content {
        margin-bottom: 20px;
    }

    .top-header-title {
        border-radius: 0px;
    }

    .nav-icon1 {
        margin-top: 24px;
        right: 15px;
    }





    /*Center-Transportation-Analysis*/
    /* Force table to not be like tables anymore */
    #no-more-tables-transporation table,
    #no-more-tables-transporation thead,
    #no-more-tables-transporation tbody,
    #no-more-tables-transporation th,
    #no-more-tables-transporation td,
    #no-more-tables-transporation tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        #no-more-tables-transporation thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    #no-more-tables-transporation tr { /* border: 1px solid #ccc; */
    }

    #no-more-tables-transporation td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 45%;
        white-space: normal;
        text-align: left;
    }

        #no-more-tables-transporation td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
        }

        /*
    Label the data
    */
        #no-more-tables-transporation td:before {
            content: attr(data-title);
        }

    /* Force table to not be like tables anymore */
    #no-more-tables-transporation1 table,
    #no-more-tables-transporation1 thead,
    #no-more-tables-transporation1 tbody,
    #no-more-tables-transporation1 th,
    #no-more-tables-transporation1 td,
    #no-more-tables-transporation1 tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        #no-more-tables-transporation1 thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    #no-more-tables-transporation1 tr { /* border: 1px solid #ccc; */
    }

    #no-more-tables-transporation1 td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 45%;
        white-space: normal;
        text-align: left;
    }

        #no-more-tables-transporation1 td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
        }

        /*
    Label the data
    */
        #no-more-tables-transporation1 td:before {
            content: attr(data-title);
        }

    .transportation-table-head p a, .transportation-table-head p {
        text-align: left;
    }
    /*Center-Transportation-Analysis*/
}
