@{
    ViewBag.Title = "QualityOfReferral";
    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
}

@*<h2>QualityOfReferral</h2>*@
@section MainContentHolder{


    <style>
        .form_myfunction {
            margin-top: 25px;
        }

        .refer_entry h2 {
            color: #295b8f;
            font-size: 20px;
            font-weight: bold;
        }

        .refer_entry ul {
         
            float: left;
            width: 100%;
            padding: 10px;
            margin:0;
        }

            .refer_entry ul li {
                float: left;
                width: 100%;
                list-style-type: none;
                font-size: 15px;
                color: black;
                padding-bottom: 7px;
            }

                .refer_entry ul li label {
                    float: left;
                    width: 100%;
                    text-align: right;
                    padding-right: 6%;
                    max-width: 364px;
                }

                .refer_entry ul li span label {
                    width: 100%;
                    float: left;
                    text-align: left;
                    margin: 0!important;
                }

                .refer_entry ul li span textarea {
                    width: 100%;
                    height: 90px;
                    max-width: 400px;
                }
                .referal-block{padding:0;margin-bottom:30px;margin-top:10px;border: 1px solid #ccc;}
                .check_btn input[type="button"] {    background: #295b8f;
    padding: 6px;
    margin: 5px 5px 20px 0px;
    color: #fff;
        border-radius: 0;
    padding: 17px 13px;
    /* width: 120px; */
    float: inherit;
    /* height: 35px; */
    text-align: center;
    /* line-height: 23px; */
    cursor: pointer;
    border: 0px;
}
    </style>

    <div class="form_myfunction">
        <div class="form-group refer_entry">
            <h2>Quality of Referral</h2>
            <ul style="border: 1px solid #ccc;">
                <li><label>Date of Referral mm/dd/yyyy</label><span>12/01/2014</span></li>
                <li><label>Name</label><span>Laurie Banbury</span></li>
                <li><label>Service</label><span>Laurie Banbury</span></li>
                <li><label>Service Provider</label><span>Laurie Banbury</span></li>
            </ul>

        </div>
        <div class="form-group refer_entry">
            <h2>Questions</h2>
            <div class="col-xs-12 referal-block" style="padding:0;">
                <div class="col-xs-12" style="padding:0;">
                    <ul>
                        <li>
                            <label>Did you contact the agency?</label><span>
                                <label class="radio-inline"><input type="radio" value="1" name="optradio1">yes</label>
                                <label class="radio-inline"><input type="radio" value="2" name="optradio1">NO</label>
                            </span>
                        </li>
                        <li><label>If no explain</label><span><textarea></textarea></span></li>
                    </ul>
                </div>
                <div class="col-xs-12" style="padding:0;">
                    <ul>
                        <li>
                            <label>Did you contact the agency?</label><span>
                                <label class="radio-inline"><input type="radio" value="1" name="optradio2">yes</label>
                                <label class="radio-inline"><input type="radio" value="2" name="optradio2">NO</label>
                            </span>
                        </li>
                        <li><label>If no explain</label><span><textarea></textarea></span></li>
                    </ul>
                </div>
                <div class="col-xs-12" style="padding:0;">
                    <ul>
                        <li>
                            <label>Did you contact the agency?</label><span>
                                <label class="radio-inline"><input type="radio" value="1" name="optradio3">yes</label>
                                <label class="radio-inline"><input type="radio"  value="2" name="optradio3">NO</label>
                            </span>
                        </li>
                        <li><label>If no explain</label><span><textarea></textarea></span></li>
                    </ul>
                </div>
                <div class="check_btn col-xs-12 no-padding text-center">

                    <input type="button" id="Save" value="Save" style="float:none;">
                    <input type="button" id="Cancel" value="Cancel" style="float:none;" onclick="location.href='/Roster/Roster'">
                    <input type="button" id="Matchprovider" value="Print" style="float:none;">
                </div>
            </div>

        </div>
    </div>

    <!--Modal Start-->
<div class="modal fade" id="qualityReferralModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border-bottom:none;margin-bottom:0;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalTitle"></h4>
            </div>
            @*<div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>*@
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@*<script>
    $('#Save').click(function () {
        //debugger
        var selValue = $('input[name=optradio1]:checked').val();
        var ischecked = $('input[name=optradio1]').is(':checked');

        if (!ischecked)
        {
            $('#modalTitle').html("Please Select the Radio Button");
            $('#qualityReferralModal').show();
        }
    })
</script>*@

}
