
body text
{
    line-height:normal!important;
}

/*text {
    font-size:10px;
}*/

        #chartdivYearly, #chartdivWeekly, #chartdivDaily, #chartdivMonthly, #chartdivYearly .amcharts-chart-div, #chartdivWeekly .amcharts-chart-div, #chartdivDaily .amcharts-chart-div, #chartdivMonthly .amcharts-chart-div, #chartdivYearly svg, #chartdivWeekly svg, #chartdivDaily svg, #chartdivMonthly svg {
            width: 480px !important;
            height: 480px !important;
        }

        .SpnSelectedClient {
            border: 1px solid #fff;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            display: block;
            float: left;
            padding: 10px;
            text-decoration: none;
            background: #295b8f;
            color: #fff;
            margin-right: 5px;
            margin-bottom: 5px;
            font-family: helvetica;
            font-size: 13px;
        }

        .amcharts-chart-div a {
            display: none !important;
        }

        .dailySummarydetails {
            position: absolute;
            top: 325px;
            width: 65%;
            margin: auto 19.5%;
            left: -2%;
        }

        .dailySummary-data {
            position: relative;
            /* width: 103%; */
            display: block;
            height: auto;
            background: #295b8f;
            height: 103px;
            padding: 18px 0;
        }

        .amcharts-chart-div-label {
            padding-top: 0px;
        }

            .amcharts-chart-div-label p {
                color: #fff;
                font-size: 14px;
                margin-bottom: 5px;
            }

            .amcharts-chart-div-label h2 {
                color: #fff;
                font-size: 16px;
                margin-bottom: 5px;
                margin-top: 0;
                text-align: center;
            }

        .amcharts-chart-div {
            left: -4.3%;
        }
.import-const #chartdivDaily, .import-const #chartdivWeekly, .import-const #chartdivMonthly, .import-const #chartdivYearly {
margin: auto;
}
        .import-const {
    width: 48%;
    float: left;
    margin: 1%;
}
        @media only screen and (max-width: 767px) and (min-width: 320px){
        .import-const {width: 100%;margin: 1% 0;}
        }
        @media only screen and (max-width: 1200px) and (min-width: 768px){
        .import-const {width: 100%;margin: 1% 0;}
        }


