.bill-table thead tr {
    background: #9B58B4!important;
    color: #fff;
}
.bill-table thead tr th {
    border-bottom: 0!important;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
tbody.bill-table-head tr td {
    background: #fff !important;
    border: solid 1px #e7e7e7;
}
.bill-table-head p {
    background: #fff;
    padding: 10px 10px;
    color: #163b69;
    font-size: 18px;
    margin: 0;
    border-right: 0;
}
.sub_table {
    background: #f5f5f5;
    padding: 15px 10px;
}
.bill-table-ch{width:100%;display:block;float:left;padding:10px;}
 .month-ul ul li{    width: 16.5%;list-style:none;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px!important;
    color: #34495e!important;
    margin: 0;
    padding: 5px;
    float: left;
    border: solid 1px #e7e7e7;}
.month-ul1 ul li{        background: #fff !important;list-style:none;
    width: 16.5%;
    display: inline-block;
    border: solid 1px #e7e7e7;
    float: left;}
.month-ul1 li p{
    background: #fff;
    padding: 10px 10px;
    color: #163b69;
    text-align:right;
    font-size: 18px;
    margin: 0;
    border-right: 0;
}
    .billing_title1 h4 {
    color: #163b69;
    font-size: 18px;
    text-transform: capitalize;
    padding: 10px 0px;
    text-align: left;
    display: block;
    font-weight: bold;
    margin: 0;
}
        .billing_title1 h4 span{font-weight:normal!important;padding-left:10px;}
.billing_title h4{color:#34495e!important;font-weight:bold;font-size:20px;text-transform:uppercase;text-align:center!important;margin-top:20px;margin-bottom:20px;}
.month-name-head {
    color: #34495e !important;
}
.month-ul-total ul li {
            background: #fff !important;
            width: 16.5%;
            display: inline-block;
            border: solid 1px #e7e7e7;
            float: left;
        }

        .month-ul-total li p {
            background: #fff;
            padding: 10px 10px;
            color: #163b69;
            text-align:right;
            font-size: 18px;
            margin: 0;
            border-right: 0;
        }
  .month-ul-total-ch
        {
           
    text-align: center!important;
    font-weight: bold!important;
        }