/*CRF-Analysis*/
.no-padding{padding:0;}
.top-header-title-crf {
    background: #f9c751;
    border-radius: 5px;
}
.top-header-title-crf h1 {
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    padding: 20px 10px;
    text-align: center;
    display: block;
    font-weight: bold;
    margin: 0;
}

.crf-dt {
    border-radius: 10px;
    background: #f1f5f8;
    padding: 15px;
    margin-bottom: 30px;
    height: 365px;
    overflow: auto;
}
.crf-table thead tr {
    background: #9B58B4!important;
    color: #fff;
}
.crf-table thead tr th {
    border-bottom: 0!important;
    text-align: left!important;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: normal;
    border: solid 1px #e7e7e7;
    line-height: 30px;
}
.crf-table-head p {
    background: #fff;
    padding: 8px 10px;
    color: #163b69;
    font-size: 15px;
    margin: 0;
    border-right: 0;
    line-height: 26px;
}
tbody.crf-table-head tr td {
    background: #fff!important;
    border: solid 1px #e7e7e7;
    padding: 0;
    line-height: 43px;
}
.crf-table-head tr td {
    color: #575757!important;
    text-align: left;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: normal;
    /* border-top: 1px solid #d2d2d2; */
}
.crf-label {
    font-size: 20px;
    color: #fff;
    font-weight: normal;
    display: inline-block;
    width: auto;
}
.crf-select {
    width: 180px;
    font-size: 19px;
    color: #fff;
    padding: 5px;
    resize: none;
    background: transparent;
    height: 40px;
    /* margin-right: 10px; */
    border: 1px solid #fff!important;
    border-radius: 4px;
    position: relative;
    line-height: 40px;
    display: inline-block;
}
.serch-crf-block {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: right;
}
.empty-table td{border: none!important;}
/*CRF-Analysis*/



@media (min-width: 1600px) and (max-width: 1920px)
{

}
@media (min-width: 1200px) and (max-width: 1280px)
{

}
@media (min-width: 992px) and (max-width: 1199px)
{    
    
/*CRF*/

.billing-select{width: 35%;margin-bottom: 10px;}
    /* Force table to not be like tables anymore */
    #no-more-tables1 table, 
    #no-more-tables1 thead, 
    #no-more-tables1 tbody, 
    #no-more-tables1 th, 
    #no-more-tables1 td, 
    #no-more-tables1 tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables1 thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables1 tr {/* border: 1px solid #ccc; */}

    #no-more-tables1 td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables1 td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables1 td:before { content: attr(data-title); }

/*CRF*/

}
@media (min-width: 768px) and (max-width: 991px)
{     
  
/*CRF*/
.billing-select{width: 35%;margin-bottom: 10px;}
    /* Force table to not be like tables anymore */
    #no-more-tables1 table, 
    #no-more-tables1 thead, 
    #no-more-tables1 tbody, 
    #no-more-tables1 th, 
    #no-more-tables1 td, 
    #no-more-tables1 tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables1 thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables1 tr {/* border: 1px solid #ccc; */}

    #no-more-tables1 td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables1 td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables1 td:before { content: attr(data-title); }

    /*CRF*/
}
@media (max-width: 767px) 
{

/*CRF*/
.billing-select{margin-bottom: 10px;}
.billing-edit-lable,.bd-inpt,.billing-edit-selection{width: 100%;margin-bottom: 10px;}
    /* Force table to not be like tables anymore */
    #no-more-tables1 table, 
    #no-more-tables1 thead, 
    #no-more-tables1 tbody, 
    #no-more-tables1 th, 
    #no-more-tables1 td, 
    #no-more-tables1 tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables1 thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables1 tr {/* border: 1px solid #ccc; */}

    #no-more-tables1 td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 54%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables1 td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables1 td:before { content: attr(data-title); }

/*CRF*/


}