

body{font-family: "Verdana"!important;}

.no-padding{padding: 0;}
.right-side-container-ch {
    width: 100%;
    float: left;
    background: url('../../Images/body-bg.jpg') center no-repeat;
    background-size: cover;
    min-height:600px;margin-left: 0px !important;
}


/*ERSEA*/

.top-header-title-ersea {
    background: #f9c751;
    border-radius: 5px;
    margin-top: 20px;
}
.top-header-title-ersea h1 {
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    padding: 20px 10px;
    text-align: center;
    display: block;
    font-weight: bold;
    margin: 0;
}
.ersea-detl-title h2 {
    text-align: center;
    font-weight: bold;
    color: #fff;
}
.ersea_ovr {
    text-align: center;
    width: 275px;
    margin: auto;
}
.ersea-detl-title {
    margin-top: 15px;
    margin-bottom: 25px;
}
.ersea-table thead tr th {
    border-bottom: 0!important;
    text-align: left;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
}
.ersea-table thead tr {
    background: #9B58B4!important;
    color: #fff;
    text-align: left;
}
.ersea-table-head p {
    background: #fff;
    padding: 5px 5px;
    color: #337ab7;
    text-align: left;
    font-size: 15px;
    margin: 0;
    border-right: 0;
}
tbody.ersea-table-head tr td {
    background: #fff !important;
    border: solid 1px #e7e7e7;
}
.ersa-select {
    width: 220px;
    font-size: 19px;
    color: #fff;
    display:inline-block;
    padding: 5px;
    resize: none;
    background: transparent;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #fff!important;
    border-radius: 4px;
    position: relative;
    line-height: 40px;
}
.ersa-select::-webkit-input-placeholder { 
    color: #fff !important;
}

.ersa-select::-moz-placeholder { 
    color: #fff !important;
}

.ersa-select:-ms-input-placeholder {
    color: #fff !important;
}

.ersa-select:-moz-placeholder { 
    color: #fff !important;
}
.ersa-search-btn {
        display: inline-block;
    width: auto;
    vertical-align: bottom;
    top: 0;
    position: relative;
    z-index:99;

}
.ersa-search-btn a {
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    background: #f9c751;
    color: #212121;
    margin: 0;
    border-radius: 4px;
    width: 100px;
    padding: 7px 9px;
    margin: auto;
    font-weight: bold;
    line-height: 20px;
}
.ersa-content-desc p {
    background: #fff;
    border: 1px solid #e7e7e7;
    padding: 10px 10px;
    color: #163b69;
    text-align: left;
    font-size: 15px;
    margin: 0;
    text-transform: none;
    display: inline-block;
    width: 86%;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ersa-content-desc span{
    display: inline-block;
    background: #fff;
    border: 1px solid #e7e7e7;
    padding: 10px 3px;
    color: #163b69;
    text-align: center;
    font-size: 15px;
    margin: 0;
    text-transform: none;
    border-left: 0;
    width: 12%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 19px;
}
.ersa_title {
    background: #1abc9c;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 20px;
}
.ersa_title h4 {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    padding: 12px 10px;
    text-align: left;
    display: block;
    /* font-weight: bold; */
    margin: 0;
}
.ersa-content-desc{margin-bottom:10px;}
.map_image{margin-top:20px;margin-bottom:20px;}
.twitter-typeahead-append-input-group{display:inline-block;width:392px;text-align:center;vertical-align:top;}
/*ERSEA*/

/*center analysis*/

.enrolledModalBody p {
    background: #fff;
    padding: 5px 5px;
    color: #337ab7;
    text-align: left;
    font-size: 16px;
    margin: 0;
    border-right: 0;
}
tbody.enrolledModalBody tr td {
    background: #fff !important;
    border: solid 1px #e7e7e7;
    color:black;
    line-height:30px;
}

.totalChildBody p {
    background: #fff;
    padding: 5px 5px;
    color: #337ab7;
    text-align: left;
    font-size: 16px;
    margin: 0;
    border-right: 0;
}
tbody.totalChildBody tr td {
    background: #fff !important;
    border: solid 1px #e7e7e7;
    color:black;
    line-height: 30px;
}


/*********************************22-08-2017*******************************/

.add_input {color: #ffffff;width:450px;max-width:100%;}
.map_image iframe {float: left;width: 100%;}
.zip_title .ersa_title h4 {background: #1abc9c none repeat scroll 0 0;float: left;text-align: center;width: 100%;
border-radius:5px 5px 0 0;}
.information_sec p {margin-bottom: 10px;margin-left: 2%;padding: 5px;width: 49%;font-size:14px;white-space:normal !important;}
.icon_sec {background: #e67e22 none repeat scroll 0 0;float: left; margin-bottom: 10px;margin-right: 10px;padding: 6px 7px;width: 124px;}
.icon_sec > img {float: left;padding-top: 5px;}
.icon_sec a {color: #ffffff;float: left;font-size: 14px;padding-left: 5px;}
.green_clr{background: #2ecc71 none repeat scroll 0 0;}
.pin_clr{background: #9b59b6 none repeat scroll 0 0;}
.blue_clr{background: #3498db none repeat scroll 0 0;}
.information_sec p:nth-child(1) {margin-left: 0;}


.sub_lock_can_btn {
  float: left;
  margin-top: 17px;
  text-align: center;
  width: 100%;
}
.sub_lock_can_btn a {
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  float: none;
  padding: 7px 10px;
  font-weight:700;
}

.sub_lock_can_btn a.sun_btn {background:#1eca6b;}
.sub_lock_can_btn a.lock_btn {background:#e67e22;}
.sub_lock_can_btn a.cancel_btn {background:#f84339;}

.select_criteria_frm label {
  color: #153b69;
  font-size: 14px;
}
.select_criteria_frm input {
  border: 1px solid #a3a3a3;
  border-radius: 0;
  height:30px;
}
.yes_no_option label {
  padding-right: 5px;
}
.yes_no_option input {
  border: 1px solid #a3a3a3;
  height: 30px;
  margin-right: 5px;
  text-align: center;
  width: 30px;
  margin-bottom:2px;
  line-height:30px;
}
.yes_no_option{width:100%; float:left;}

.select_criteria_frm > div {
  margin:17px 0px;
}

.select_criteria_frm label sup{color:#e74c3c;}
.ersa_title.family_title {
  background: #9b59b6 none repeat scroll 0 0;
}
.ersa_title.child_title {
  background: #3498db none repeat scroll 0 0;
}
.add_queus {
    background: #f9c751 none repeat scroll 0 0;
    border-radius: 4px;
    color: #000000;
    float: right;
    font-weight: 700;
    height: auto;
    padding: 10px;
    line-height: 20px;
    margin-top: 20px;

}
.guard_child .child {
  position: relative;
  top: -14px;
}
.select_criet_table table {
  background: #f1f5f8 none repeat scroll 0 0;
}

/*Material-library*/
.library-table thead tr {
    background: #9B58B4!important;
    color: #fff;
}
.library-table thead tr th {
    border-bottom: 0!important;
    text-align: left;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: normal;
}
.library-table-head tr td {
    color: #575757!important;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: normal;
    /* border-top: 1px solid #d2d2d2; */
    background: none!important;
}
.library-content-desc p {
background: #fff;
    border: 1px solid #e7e7e7;
    padding: 10px 8px;
    color: #163b69;
    text-align: left;
    font-size: 15px;
    margin: 0;
    text-transform: none;
}
.library-title-item p {
    font-size: 14px;
    text-transform: uppercase;
    padding: 6px 18px;
    text-align: center;
    display: block;
    margin: 0;
    margin-top: 2px;
    border-radius: 4px;
}
.top-header-title-library {
    background: #f9c751;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.top-header-title-library h1 {
    color: #000;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 10px;
    text-align: left;
    display: block;
    margin: 0;
    font-weight: bold;
}
.serch-library-block {
    margin-top: 30px;
    margin-bottom: 0;
}
.library-search-btn a {
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    background: #f9c751;
    color: #212121;
    margin: 0;
    border-radius: 4px;
    width: 120px;
    padding: 8px 9px;
    margin: auto;
    font-weight: bold;
}
.library-search-btn {
    display: inline-block;
    width: auto;
}
.library-label {
    font-size: 20px;
    color: #fff;
    font-weight: normal;
}
.library-select {
    width: 220px;
    font-size: 19px;
    color: #fff;
    padding: 5px;
    resize: none;
    background: transparent;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #fff!important;
    border-radius: 4px;
    position: relative;
    line-height: 40px;
}
.library-select1 {
    width: 300px;
    font-size: 19px;
    color: #fff;
    padding: 5px;
    resize: none;
    background: transparent;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #fff!important;
    border-radius: 4px;
    position: relative;
    line-height: 40px;
}
.library-select1::-webkit-input-placeholder { 
    color: #fff !important;
}

.library-select1::-moz-placeholder { 
    color: #fff !important;
}

.library-select1:-ms-input-placeholder {
    color: #fff !important;
}

.library-select:-moz-placeholder { 
    color: #fff !important;
}
.library-select::-webkit-input-placeholder { 
    color: #fff !important;
}

.library-select::-moz-placeholder { 
    color: #fff !important;
}

.library-select:-ms-input-placeholder {
    color: #fff !important;
}

.library-select:-moz-placeholder { 
    color: #fff !important;
}
.Status-title-library p {
    font-size: 14px;
    text-transform: capitalize;
    padding: 6px 28px;
    text-align: left;
    display: block;
    margin: 0;
    margin-top: 2px;
    background: #2ecc71;
    color: #fff;
}
.librart-txt-width{width: 400px;}
/*Material-library*/

.Status-title-library p.delete i {float: left;margin-right: 6px; line-height:22px;}
.Status-title-library p.delete span{float:left;}
.Status-title-library p.delete { background: #f84339 none repeat scroll 0 0 !important;float: left; padding: 10px 10px !important;
width: 90px;text-align: center !important;}
.library-content-desc input {
  border: 0 none;
  width: 100%;
}


.ersea-table-sz tr th{font-size:14px!important;}






@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    #no-more-tables table, 
    #no-more-tables thead, 
    #no-more-tables tbody, 
    #no-more-tables th, 
    #no-more-tables td, 
    #no-more-tables tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr {/* border: 1px solid #ccc; */}

    #no-more-tables td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 25%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }
}


@media (min-width: 1600px) and (max-width: 1920px)
{

}
@media (min-width: 1200px) and (max-width: 1280px)
{

}
@media (min-width: 992px) and (max-width: 1199px)
{    
    .list-im{width: 100%;}
    .dash-bdr-tp{margin-top: 15px;}
    .dash-count {padding: 15px 0 0 30px;}
    .dashboard-content-pad-scroll{height: auto;}
    .edit-profile{height: 600px;overflow: auto;}
    .left-side-container{width: 26%;}
    .right-side-container{width: 74%;background-size: cover;}

    /*Matrix*/
    .survey-text h2{left: -95px;}
    .left-arw,.left-arw1{display: none;}

    /*Client*/
    .client-select{width: 165px;}
    .open-btn p,.close-btn p{width: auto;}
    .pad-info{padding: 0;}


/*billing*/

.billing-select{width: 35%;margin-bottom: 10px;}
    /* Force table to not be like tables anymore */
    #no-more-tables1 table, 
    #no-more-tables1 thead, 
    #no-more-tables1 tbody, 
    #no-more-tables1 th, 
    #no-more-tables1 td, 
    #no-more-tables1 tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables1 thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables1 tr {/* border: 1px solid #ccc; */}

    #no-more-tables1 td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables1 td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables1 td:before { content: attr(data-title); }

/*billing*/




/*ERSEA*/

 /* Force table to not be like tables anymore */
    #no-more-tables8 table, 
    #no-more-tables8 thead, 
    #no-more-tables8 tbody, 
    #no-more-tables8 th, 
    #no-more-tables8 td, 
    #no-more-tables8 tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables8 thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables8 tr {/* border: 1px solid #ccc; */}

    #no-more-tables8 td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 45%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables8 td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables8 td:before { content: attr(data-title); }

/*ERSEA*/



}
@media (min-width: 768px) and (max-width: 991px)
{     
    .list-im{width: 100%;}
    .dash-bdr-tp{margin-top: 15px;}
    .dash-count {padding: 15px 15px 0 15px;}
    .content-all{padding: 0;}
    .list-title{margin-top: 0;}
    .left-side-container{width: 28%;}
    .right-side-container{width: 72%;}


    .login-button1{margin: 20px 12px;}
    .input-block {margin-top: 12px;}
    .edit-profile{width: 100%;margin-top: 10px;}
    .edit-profile1{width: 100%!important;}
    .add-ht {height: 85px !important;}
    .profile-picture{width: 100px;height: 100px;}
    .dashboard-content-pad-scroll{height: auto;}
    .edit-profile{height: 450px;overflow: auto;}
    .dashboard-menu ul li a{font-size: 14px;padding: 17px 15px;}
    .dwn-arrow{right: 10px;}

    .table-block-res{margin-bottom: 290px;}
    .tab-pad {padding: 10px 30px!important;}

    .top-header-title p{font-size: 18px;padding: 15px 5px;}
    .right-side-container{background-size: cover;}
    .right-top-info {float: right;position: relative;margin-top: 10px;margin-bottom: 10px;}
    .education-content-block{margin-bottom: 100px;}

    /*Matrix*/
    .margin-footer{margin-bottom: 150px!important;}
    .survey-text h2{left: -112px;}
    .left-arw,.left-arw1{display: none;}


    /*Client*/
    .client-select{width: 165px;margin-bottom: 10px;}
    .open-btn p,.close-btn p{width: auto;}
    .pad-info{padding: 0;}
    .Status-title-item p{width: 100px;}


/*billing*/
.billing-select{width: 35%;margin-bottom: 10px;}
    /* Force table to not be like tables anymore */
    #no-more-tables1 table, 
    #no-more-tables1 thead, 
    #no-more-tables1 tbody, 
    #no-more-tables1 th, 
    #no-more-tables1 td, 
    #no-more-tables1 tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables1 thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables1 tr {/* border: 1px solid #ccc; */}

    #no-more-tables1 td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables1 td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables1 td:before { content: attr(data-title); }

    /*billing*/
    
    
    
    
/*ERSEA*/

 /* Force table to not be like tables anymore */
    #no-more-tables8 table, 
    #no-more-tables8 thead, 
    #no-more-tables8 tbody, 
    #no-more-tables8 th, 
    #no-more-tables8 td, 
    #no-more-tables8 tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables8 thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables8 tr {/* border: 1px solid #ccc; */}

    #no-more-tables8 td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 45%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables8 td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables8 td:before { content: attr(data-title); }

/*ERSEA*/
    
    
    
    
}
@media (max-width: 767px) 
{
    .dashboard{overflow: auto;}

    .login-logo{height: 60px;}
    .login-form1{width: 100%;}
    .text2{width:100%;margin: auto;}
    .form-label h2{text-align: left;}
    .forgot-password{text-align: center;}
    .login-button{margin: 26px 0;}
    .login-button a{font-size: 20px;}
    .form-margin{margin-top: 20px;}
    .login-form-section{margin: 30px 0;}
    .form-label h2{padding: 10px 20px;}

    .nav-icon{display: none;}
    .nav-icon1{display: block;z-index: 999999;transition: all linear 0.3s;
               -webkit-transition: all linear 0.3s;
               -moz-transition: all linear 0.3s;
               -ms-transition: all linear 0.3s;
               -o-transition: all linear 0.3s;}
    .left-side-container{position: fixed;left: -282px;z-index: 9999;width: 282px!important;transition: all linear 0.3s;-webkit-transition: all linear 0.3s;-moz-transition: all linear 0.3s;-ms-transition: all linear 0.3s;-o-transition: all linear 0.3s;}
    .right-side-container{width: 100%!important;}
    .dash-count {padding: 15px 15px 0 15px;}
    .dash-bdr-tp,.text3,.nav-icon1{margin-top: 15px;}
    .text3{width: 100%;}
    .top-header{height: 60px;}


    .content-all{padding: 5px;}
    .content-list:before{left: 0;}


    .edit-profile{width: 100%;margin-top: 10px;}
    .edit-profile1{width: 100%!important;}
    .login-button1 a{padding: 8px 12px;}
    .dashboard-content-pad-scroll{height: auto;}

    .searchTerm{margin-bottom: 10px;}
    .copyrights p{text-align: center;font-size: 14px;margin-bottom: 5px;}
    .txt-ft-rght{text-align: center!important;}
    .form-label1 h2{text-align: left;}
    .delete-button a{padding: 10px 20px;}
    .delete-popup{width: 100%;}
    .logo-section{height: 59px;}
    .copyrights{z-index: 99999;}
    .right-top-info{float: left;}



    .table-block-res{margin-bottom:120px;}
    .tb-lt li { padding-right: 0px!important;width: 100%!important;}
    .tb-lt { padding-left: 0px!important;width: 100%!important;}
    .footer-bg-img{margin-top: 0;height: 160px;}
    .footer-bg-img-al{height: 160px;}
    .footer p{font-size: 12px;}
    .dashboard-logo {height: 35px;margin: 15px 0;}
    .edu-tbl-title h2{font-size: 20px;}
    .edu-table-block tr td{font-size: 17px;}
    .tab-desc h3{font-size: 16px;}
    .tab-desc p{font-size: 22px;}
    .tb-lt li a{font-size: 14px;}
    .tab-pad{padding: 10px 15px!important;}
    .dashboard-heading h2{padding: 10px 0;font-size: 14px;}
    .dashboard-title h1{padding: 10px 0;font-size: 18px;line-height: 30px;padding: 0;}
    .dashboard-img {position: relative;height: 135px;margin: 17px 0;}
    .dashboard-heading-al{margin: 15px 0;}
    .tablist-hole{padding: 20px 0;}
    .graph-img{height: 500px;}
    .edu-tbl-all{margin-top: 35px;}
    .tab-img-al {margin-top:15px;margin-bottom:15px;}
    .top-header-title h1{font-size: 17px;text-transform: capitalize;padding: 10px 40px;padding-left: 15px;line-height: 25px;text-align: left;}
    .right-top-info {float: right;position: relative;margin-top: 10px;margin-bottom: 10px;}
    .education-heading h2{font-size: 20px;margin-bottom: 12px;padding-bottom: 30px;margin-top: 10px;}
    .education-heading-content p{font-size: 14px;line-height: 28px;}
    .education-profile-content h3{font-size: 17px;padding: 10px 7px;}
    .education-profile-content p{font-size: 14px;padding: 0px 3px;}
    .education-profile-content p span {padding-right: 1px;}
    .education-content-desc p,.education-content-desc1 p{font-size: 14px;}
    .education-content-block{margin-top: 20px;}
    .education-heading-content{margin-bottom: 20px;}
    .top-header-title{border-radius: 0px;}
    .nav-icon1{margin-top: 24px;right: 15px;}

    /*Matrix*/
    .block-div{display: block;width: 100%;float: left;}
    .survey-text h2{left: -130px;}
    .matrix-profile-img{margin-top: 10px;}
    .matrix-select{margin-bottom: 10px;}
    .left-arw,.left-arw1{display: none;}
    
    /*Client*/
    .client-select{width: 165px;margin-bottom: 10px;}
    .open-btn p,.close-btn p{width: auto;}
    .pad-info{padding: 0;}
    .Status-title-item p{width: 100px;}


/*billing*/
.billing-select{margin-bottom: 10px;}
.billing-edit-lable,.bd-inpt,.billing-edit-selection{width: 100%;margin-bottom: 10px;}
    /* Force table to not be like tables anymore */
    #no-more-tables1 table, 
    #no-more-tables1 thead, 
    #no-more-tables1 tbody, 
    #no-more-tables1 th, 
    #no-more-tables1 td, 
    #no-more-tables1 tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables1 thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables1 tr {/* border: 1px solid #ccc; */}

    #no-more-tables1 td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 54%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables1 td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables1 td:before { content: attr(data-title); }

/*billing*/


/*ERSEA*/

 /* Force table to not be like tables anymore */
    #no-more-tables8 table, 
    #no-more-tables8 thead, 
    #no-more-tables8 tbody, 
    #no-more-tables8 th, 
    #no-more-tables8 td, 
    #no-more-tables8 tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables8 thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables8 tr {/* border: 1px solid #ccc; */}

    #no-more-tables8 td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 45%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables8 td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables8 td:before { content: attr(data-title); }

/*ERSEA*/




}

/*********************************22-08-2017*******************************/

.add_input {color: #ffffff;width:450px;max-width:100%;}
.map_image iframe {float: left;width: 100%;}
.zip_title .ersa_title h4 {background: #1abc9c none repeat scroll 0 0;float: left;text-align: center;width: 100%;
border-radius:5px 5px 0 0;}
.information_sec p {margin-bottom: 10px;margin-left: 2%;padding: 5px;width: 49%;font-size:14px;white-space:normal !important;}
.icon_sec {background: #e67e22 none repeat scroll 0 0;float: left;margin-bottom: 10px;margin-right: 10px;padding: 6px 7px;width: auto;display: inline-block;text-align: left;}
.icon_sec > img {float: left;padding-top: 5px;}
.icon_sec a {color: #ffffff;float: left;font-size: 14px;padding-left: 5px;display: inline-block;/* width: 100%; */line-height: 21px;}
.green_clr{background: #2ecc71 none repeat scroll 0 0;}
.pin_clr{background: #9b59b6 none repeat scroll 0 0;}
.blue_clr{background: #3498db none repeat scroll 0 0;}
.information_sec p:nth-child(1) {margin-left: 0;}


.sub_lock_can_btn {
  float: left;
  margin-top: 17px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.sub_lock_can_btn a {
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  float: none;
  padding: 7px 10px;
  font-weight:700;
  line-height: 21px;
}

.sub_lock_can_btn a.sun_btn {background:#1eca6b;}
.sub_lock_can_btn a.lock_btn {background:#e67e22;}
.sub_lock_can_btn a.cancel_btn {background:#f84339;}

.select_criteria_frm label {
  color: #153b69;
  font-size: 14px;
  display: inline;
}
.select_criteria_frm input {
  border: 1px solid #a3a3a3;
  border-radius: 0;
  height:30px;
}
.yes_no_option label {
  padding-right: 3px;
}
.yes_no_option input {
  border: 1px solid #a3a3a3;
  height: 30px;
  margin-right: 3px;
  text-align: left;
  width: 30px;
  margin-bottom:2px;
  padding: 0 10px;
}
.yes_no_option{width:100%;float:left;margin-top: 10px;}

.select_criteria_frm > div {
  margin:17px 0px;
  text-align:left;
}

.select_criteria_frm label sup{color:#e74c3c;}
.ersa_title.family_title {
  background: #9b59b6 none repeat scroll 0 0;
}
.ersa_title.child_title {
  background: #3498db none repeat scroll 0 0;
}
.add_queus {
  background: #f9c751 none repeat scroll 0 0;
  border-radius: 4px;
  color: #000000;
  float: right;
  font-weight: 700;
  height: 30px;
  padding: 10px;
  line-height:10px;

}
.guard_child .child {
  position: relative;
  top: -14px;
}
.select_criet_table table {
  background: #f1f5f8 none repeat scroll 0 0;
}

/*Material-library*/
.library-table thead tr {
    background: #9B58B4!important;
    color: #fff;
}
.library-table thead tr th {
    border-bottom: 0!important;
    text-align: left;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
}
.library-table-head tr td {
    color: #575757!important;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: normal;
    /* border-top: 1px solid #d2d2d2; */
    background: none!important;
}
.library-content-desc p {
background: #fff;
    border: 1px solid #e7e7e7;
    padding: 10px 8px;
    color: #163b69;
    text-align: left;
    font-size: 15px;
    margin: 0;
    text-transform: none;
}
.library-title-item p {
    font-size: 14px;
    text-transform: uppercase;
    padding: 6px 18px;
    text-align: center;
    display: block;
    margin: 0;
    margin-top: 2px;
    border-radius: 4px;
}
.top-header-title-library {
    background: #f9c751;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.top-header-title-library h1 {
    color: #000;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 10px;
    text-align: left;
    display: block;
    margin: 0;
    font-weight: bold;
}
.serch-library-block {
    margin-top: 30px;
    margin-bottom: 0;
}
.library-search-btn a {
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    background: #f9c751;
    color: #212121;
    margin: 0;
    border-radius: 4px;
    width: 120px;
    padding: 8px 9px;
    margin: auto;
    font-weight: bold;
}
.library-search-btn {
    display: inline-block;
    width: auto;
}
.library-label {
    font-size: 20px;
    color: #fff;
    font-weight: normal;
}
.library-select {
    width: 220px;
    font-size: 19px;
    color: #fff;
    padding: 5px;
    resize: none;
    background: transparent;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #fff!important;
    border-radius: 4px;
    position: relative;
    line-height: 40px;
}
.library-select1 {
    width: 300px;
    font-size: 19px;
    color: #fff;
    padding: 5px;
    resize: none;
    background: transparent;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #fff!important;
    border-radius: 4px;
    position: relative;
    line-height: 40px;
}
.library-select1::-webkit-input-placeholder { 
    color: #fff !important;
}

.library-select1::-moz-placeholder { 
    color: #fff !important;
}

.library-select1:-ms-input-placeholder {
    color: #fff !important;
}

.library-select:-moz-placeholder { 
    color: #fff !important;
}
.library-select::-webkit-input-placeholder { 
    color: #fff !important;
}

.library-select::-moz-placeholder { 
    color: #fff !important;
}

.library-select:-ms-input-placeholder {
    color: #fff !important;
}

.library-select:-moz-placeholder { 
    color: #fff !important;
}
.Status-title-library p {
    font-size: 14px;
    text-transform: capitalize;
    padding: 6px 28px;
    text-align: left;
    display: block;
    margin: 0;
    margin-top: 2px;
    background: #2ecc71;
    color: #fff;
}
.librart-txt-width{width: 400px;}
/*Material-library*/

.Status-title-library p.delete i {float: left;margin-right: 6px; line-height:22px;}
.Status-title-library p.delete span{float:left;}
.Status-title-library p.delete { background: #f84339 none repeat scroll 0 0 !important;float: left; padding: 10px 10px !important;
width: 90px;text-align: center !important;}
.library-content-desc input {
  border: 0 none;
  width: 100%;
}

.serch-client-block{margin-top:15px;}

.new-lbl-wth{display:inline-block;width:50%;float:left;}
.yes_no_option-chs{display:inline-block;width:74%!important;float:left;text-align:left;margin-top:0!important;}
.yes_no_option-ch{display:inline-block;width:50%!important;float:left;text-align:left;margin-top:0!important;}
.yes_no_option-ch2{display:inline-block;width:74%!important;float:left;text-align:left;margin-top:0!important;}
.new-input-ch
{
    width: 50%;
    display: inline-block;
    float: left;
}
.new-lbl-wth1{width:24%;display:inline-block;float:left;}
.option-ht-ch{line-height:45px;position:relative;top:-10px;}
.display-sec1{display:inline-block;width: 14%;float: left;margin-right: 18px;}
.display-secch1{display:inline-block;width: 25%;float: left;margin-right: 18px;}
.display-secch1 label,.display-secch1 input{width:100%!important;display:block;}
.display-sec{display:inline-block;width: 25%;float: left;margin-right: 18px;}
.display-sec1 label,.display-sec1 input{width:100%!important;display:block;}
.display-sec label,.display-sec input{width:100%!important;display:block;}
.display-sec-ch{width:21%!important;}

.matrix_foster .modal-body {
    background: #34495e none repeat scroll 0 0;
    border: 6px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    float: left;
    padding: 15px 3%;
    position: relative;
    width: 100%;
}
.modal-dialog-foster {
    width: 90%;
    margin: 5% auto;
    margin-top: 5%;
}
.foster_items_main {
    background: #f1f5f8 none repeat scroll 0 0;
    border: 3px solid #ffffff;
    float: left;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}
.matrix_foster .modal-body > h2 {
    margin-top: 10px;
    float: left;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
.matrix_foster .close {
    opacity: 1;
    position: absolute;
    right: -14px;
    top: -15px;
}
@media (max-width: 767px) 
{
  
    
     /*Material-library*/
    
    /* Force table to not be like tables anymore */
    #no-more-tables6 table, 
    #no-more-tables6 thead, 
    #no-more-tables6 tbody, 
    #no-more-tables6 th, 
    #no-more-tables6 td, 
    #no-more-tables6 tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables6 thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables6 tr {/* border: 1px solid #ccc; */}

    #no-more-tables6 td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 46%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables6 td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables6 td:before { content: attr(data-title); }
    
    .librart-txt-width{width: 100%;}
    .library-content-desc p{word-break: break-all;}
    .library-search-btn{margin-top: 10px;}
    /*Material-library*/
    
    
    
}

@media (min-width: 992px) and (max-width: 1199px){
     .modal-dialog-foster {
    width: 98%;
    margin:1% 0;
    
}
 .new-lbl-wth1,.yes_no_option-ch2{width:50%!important;}
    .display-sec1{width:30%!important;}
}
@media (min-width: 768px) and (max-width: 991px)
{     
   
    .modal-dialog-foster {
    width: 98%;
    margin:1% 0;
}
.new-lbl-wth1,.yes_no_option-ch2,.new-lbl-wth,.yes_no_option-ch{width:100%!important;}
    .display-sec1{width:38%!important;margin-top:10px;}
    
     /*Material-library*/
    
    /* Force table to not be like tables anymore */
    #no-more-tables6 table, 
    #no-more-tables6 thead, 
    #no-more-tables6 tbody, 
    #no-more-tables6 th, 
    #no-more-tables6 td, 
    #no-more-tables6 tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables6 thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables6 tr {/* border: 1px solid #ccc; */}

    #no-more-tables6 td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 25%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables6 td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables6 td:before { content: attr(data-title); }
    .librart-txt-width{width: 100%;}
    /*Material-library*/
    
    
}

@media only screen and (min-width:320px) and (max-width:1199px)
{
.mob_remove { padding: 0 3px !important;}
.zip_title{width:100%; margin-top:20px; float:left;}
.list_info{width:100%;}
.map_image{width:100%;}

}

@media (max-width: 402px) 
{
.list_info .information_sec p {
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 0px !important;
  padding: 5px;
  white-space: normal;
  width: 100%;
}
.list_info .icon_sec{width:100%;}
}

@media (max-width: 640px) 
{
.zip_app_table .ersea-table-head p{ text-align:right;}
}


.app_ada_main .nav-tabs li a, .app_ada_main .nav-tabs li a:hover ,.app_ada_main .nav-tabs li a:focus {
  border-image: none;
  border: 3px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  background:transparent;
}
.app_ada_main .nav-tabs li.app_drag a , .app_ada_main .nav-tabs li.app_drag:hover a , .app_ada_main .nav-tabs li.app_drag:focus a{background: #2ecc71 none repeat scroll 0 0 !important; color:#fff  !important;}
.app_ada_main .nav-tabs li.ada a , .app_ada_main .nav-tabs li.ada:hover a , .app_ada_main .nav-tabs li.ada:focus a{background:#e74c3c !important; color:#fff !important;}
.app_ada_main .nav-tabs li{width:49%; float:left; margin-right:1%; color:#fff;}
.app_ada_main .nav-tabs{border-bottom:0px !important;}
.app_ada_main {
  margin-top: 30px;
}


.tab_tlt {
  background: #34495e none repeat scroll 0 0;
  color: #ffffff;
  float: left;
  font-size: 16px;
  margin-bottom: 8px;
  padding: 10px 0;
  text-align: center;
  line-height: 25px;
  width: 100%;
}
.tab_tlt span {
  font-weight: 700;
  padding-left: 12px;
}

.app_ada_main .nav-tabs.ride_deta .active {
    border-bottom: 1px solid #f9c751;
    padding-bottom: 10px;
}
.app_ada_main .nav-tabs.ride_deta > li.active > a::after {
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid rgba(0, 0, 0, 0);
    border-top: 8px solid #f9c751;
    bottom: -23px;
    content: "";
    height: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 0;
}
.app_ada_main .nav-tabs.ride_deta li {
    position: relative;
}


/*********************************22-08-2017*******************************/

/*********************************Zipcode*******************************/

.city-zip h2
{
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px!important;
        color:#fff;
        font-size: 25px;
        text-align:left;
        padding-top:10px;
        margin-bottom: 10px;
}
.chart-section .too-wide {
    overflow-x: auto;
}
.chart-section h3
{
        color:#333;
        font-size: 25px;
        text-align:left;
        padding-top:10px;
        margin-top:0;
        margin-bottom: 10px;
}
.legend-color {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    border: 1px solid #ddd;
}
.city-zip p
{
    color:#fff;
    line-height: 23px!important;
    font-size:14px;
    text-align:justify;
}
.dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}
.dl-horizontal{float:left;}
.dl-horizontal dd {
    margin-left: 10px;
    display:inline-block;
    width:auto;
    float:left;
    color: #fff;
}
/*#PieChart2{padding-bottom:50px;}*/
.pie-chart-section .pie-chart {
    height: 200px;
    width: 200px;
    margin: auto;
}
.D3ChartOuterContainer {
    max-width: 1200px;
}

element.style {
    padding-bottom: 100%;
}

.D3ChartContainer {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 70%;
    height: 0;
}
.D3SizingContainer {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
.D3ChartContainer SVG {
    width: 100%;
    height: 100%;
}
.nvtooltip table td
{
       line-height: 18px!important;
}

table.slightly_padded td {
    padding: 2px 5px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.nvtooltip{line-height:12px!important;}

.chart-legend caption {
    display: none;
}

     #page-wrapper {
            padding-left: 0;
            padding-right: 0;
        }

        select option {
            background: #164273;
        }

        /*.scroll-thead th {
            border: 1px solid #f1f5f8;
        }*/

        .scroll-thead {
            display: table;
            /*width: 100%;*/
            table-layout: fixed;
            width: calc( 100% - 17px );
        }

        .scroll-tbody tr td, .scroll-tbody1 tr td {
            word-break: break-word;
        }

        .scroll-tbody {
            display: block;
            height: 250px;
            overflow: auto;
            overflow-x: hidden;
        }

            .scroll-tbody tr {
                display: table;
                width: 100%;
                table-layout: fixed;
            }

        .scroll-tbody1 {
            display: block;
        }

            .scroll-tbody1 tr {
                display: table;
                width: 100%;
                table-layout: fixed;
            }

        /*on-hover Assessment Group Text*/

        .childName .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            /*top: 28px;*/
            left: 128px;
            line-height: 25px;
        }

          
            .childName .tooltiptext::after {
                content: " ";
                position: absolute;
                top: 50%;
                right: 100%; /* To the left of the tooltip */
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent black transparent transparent;
            }

        .childName:hover .tooltiptext {
            visibility: visible;
        }

        .ersea-table thead tr th {
            font-size: 15px;
        }

        .ersa-select {
            
            width: 238px;
        }

        .btn-sm, .btn-group-sm > .btn {
            padding: 5px 7px;
        }

        .lbl-required:after {
            margin-left: 2px;
            content: "*";
            color: #a94442;
        }

@media (min-width: 768px)
 {
.D3ChartContainer {
    padding-bottom: 40%;
}
}
/*********************************Zipcode*******************************/
.icr-day-label{display:inline-block;color:#f9c751;font-size:16px;width:15%;margin-right:5px;}
.icr-day-label.ire{width:31%;}
.icr-header-top{margin-top: 20px;width: 50%;display: inline-block;}
.icr-header-top.rk-box {margin-left:-133px;}
.rk-auto{width:auto;}
.rk-textarea {color:#fff;font-size:14px;background:transparent;height:70px;width:238px;}

.icr-abs-label {display:inline-block;color:#f9c751;font-size:16px;width:15%;margin-right:5px;vertical-align:top;margin-left: 6px;}
.icr-inkind-label {display:inline-block;color:#f9c751;font-size:16px;margin-right:5px;vertical-align:top;margin-left: 6px;}


.icr-abs-input {color:#fff;font-size:14px;background:transparent;width:54%;}
.icr-btn-abs {text-align: center !important;}
@media only screen and (max-width: 991px){
    .icr-abs-label, .icr-abs-input,.icr-inkind-label {width: auto;}
     .icr-inkind-label, .icr-abs-input {width: auto;}
    .icr-day-label.ire{width:100%;}
    .icr-day-label{width:100%;}
    .icr-header-top.rk-box {margin-left: 0px;}
    .icr-header-top {width: 100%;}
    .rk-auto{width: 100%;}
.rk-textarea {color:#fff;font-size:14px;background:transparent;height:70px;width: 240px;}
 .icr-abs-label {   font-size: 12px;}

 .icr-inkind-label {   font-size: 12px;}
}
@media only screen and (min-width: 992px) and (max-width: 1335px) {
     .icr-header-top.rk-box {margin-left: 0px;}
    .icr-day-label{width: 17%;}
.icr-label-media label {
    width: 34% !important;margin-right: 7px;
}
.icr-label-media input {
    width: 202px;
}
    .edu-prnt label {
    font-size:12px;}

}

.icr-table-fit {
    width: 100%;
    float: left;
    padding: 10px;
    background-color: #fff;border-radius: 10px;
}
.icr-table-fit .scroll-thead {
    width: 100% !important;
}