 .error-message {
        display: none;
        font-size: 12px;
        color: red;
    }

    .err-container {
        height: 10px;
    }
        #thermometer {
            position: absolute;
            border: solid 0px black !important;
        }

        #thermometer-hours {
            position: absolute;
            top: 520px;
            left: 50px;
            border: solid 0px black !important;
        }

        .Hours {
            background: #184d7d;
        }

        #thermometer .barDollarThermo, #thermometer-hours .barDollarThermo {
            bottom: 221px !important;
            width: 30px !important;
        }

        #thermometer .barHoursThermo, #thermometer-hours .barHoursThermo {
        }

        

        #thermometer #background, #thermometer-hours #background {
            margin: 0;
        }

        #thermometer #label {
            top: 16px !important;
        }

        #thermometer-hours #label {
            top: 16px !important;
        }

            #thermometer #label div, #thermometer-hours #label div {
                color: #fff;
            }

            #thermometer-hours #label div {
                color: #fff;
            }

        #thermometer .Title, #thermometer-hours .Title {
            margin-left: 0px;
            color: #fff;
            width: auto !important;
        }

        #thermometer-hours .Title {
            margin-left: 0px;
            color: #fff;
            width: auto !important;
        }

        input:focus {
            outline: 0 !important;
        }

        .btn-active-color {
            background: #184d7d !important;
            color: #fff !important;
        }

        #thermometer .CurrentValue, #thermometer-hours .CurrentValue {
            left: 0px !important;
            top: auto !important;
            bottom: 178px !important;
            right: 0;
            height: auto !important;
            color: #fff !important;
            font-size: 25px !important;
        }

        #chartdiv {
            /*width: 336px !important;*/
            margin-left: 0 !important;
            margin: auto !important;
            position: relative;
            left: 10px;
            top: -30px;
        }

        #thermometer .MajorTick, #thermometer-hours .MajorTick {
            border-top: 4px solid #808285 !important;
        }