@charset "utf-8";
/* CSS Document */

body{ margin:0px; padding:0px;  font-family: arial,sans-serif; font-size:14px !important;line-height:0 !important}
*{margin:0px; padding:0px;}
/*-----header css start------*/
.logo-ge{background-color: #fff;
    *border-radius: 5px 5px 0 0;
    *margin-left: 15px;
    *margin-top: 5px;
    min-height:150px;
    width:250px;
}
.navbar-inverse .navbar-toggle{/*border-color: #285b8f !important;*/}
.navbar-inverse .navbar-toggle .icon-bar{ background-color: #285b8f !important;}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #ddddef !important;
	color:#fff !important;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus :hover.navbar-inverse .navbar-toggle .icon-bar{ color:#fff !important;}
.header_ge{}
.header_ge{color:#fff;}
.clear{clear:both;}
/*.sidebar{margin-top: 60px !important;}*/
.log_outwrp{}
 .log_outwrp .navbar-top-links li a {
    height: 55px !important;}
	
	.log_outwrp  > li > a{ padding: 17px 15px !important; color:#fff !important;}
	.page-header {
    border-bottom: 2px solid #285b8f !important; color: #285b8f;}
	
	.page-header1 {
    border-bottom: 2px solid #285b8f !important;}
    
	.searchform {
    *float: left;
    margin: 0 20px;
    *padding-top: 14px;
    position: relative;
    width: 220px;
}
.searchbox {
    background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0;
    border: medium none;
    border-radius: 999px;
    color: #37363e;
    height: 32px;
    padding-left: 20px;
    padding-right: 36px;
    width: 220px;
}
.searchbutton {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    position: absolute;
    right: 15px;
    top: 7px;
}
.searchform i{color:#285b8f !important;}
.agency-frm{padding-top:10px !important;}
/*-----header css End------*/

.my-tbl{}
.my-tbl tr td{}
/*--------boxes css start--------*/
.agencybox1{
     border:1px solid #cbcbcb;
     border-top:none;  
     margin-bottom: 20px;
     min-height: 199px;
}
.heading_box1{ background-color:#285b8f; color:#fff;}
.heading_box1 h3{ margin-top: 0; padding: 10px;}
.agencybox1 .inner-con{padding: 10px;}

.navbar-brand > img{position: relative !important;
    top: -13px !important;
	width:100%;}

.btn_logcl button{width:48% !important;}
.inpfrm-poabsolute{position:absolute;}
/*--------boxes css end--------*/
#wrapper {
	
    width: 100%;
	z-index:-1;
}
/*.footer{ background-color:#285b8f; color:#fff; /*padding:5px 0 5px 0px;} */
.footer-one {    
    background-color: #285b8f;
    /*bottom: 0;*/
    color: #fff;
    *position:absolute;
    width: 100%;
    padding: 5px 0 1px;
    
}
.footer-one a {
   
    /*bottom: 0;*/
    color: #fff;
    text-decoration:none;
    }
footer p { margin:0px !important; padding:0px 0px 4px 0px !important;
}
.modal-footer button{width:15% !important;}

#myModal1 button{width:20% !important;}
.footer-one p a{color:#fff;}
.footer-one p a:hover{color:#fff;}
.footer-one p a:active{color:#fff;}
.footer-one a:hover {
   
    /*bottom: 0;*/
    color: #fff;
    text-decoration:none;
    }
*{margin:0px; padding:0px;}
.navbar-inverse{ background-color:#295b8f !important;}
.navbar-top-links li {
    display: inline-block !important;
}

.navbar-top-links li:last-child {
    margin-right: 6px;
}
.navbar-top-links li a {
    min-height: 33px;
    padding: 15px;
}
.navbar-top-links > li > a {
    color: #999;
}
.navbar-top-links > li > a:hover, .navbar-top-links > li > a:focus, .navbar-top-links > .open > a, .navbar-top-links > .open > a:hover, .navbar-top-links > .open > a:focus {
    background-color:none !important;
    color: #fff;
}

.nav > li > a:hover, .nav > li > a:focus{ background-color: transparent !important;}




.sidebar .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
    border:none;
}
.sidebar .sidebar-search {
    padding: 15px;
}
.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(180deg);

}
.sidebar .fa.arrow::before {
    content: "";
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -webkit-transform: translate(180%, 180%);
}
.sidebar .active > a > .fa.arrow::before {
    content: "";
}
.sidebar .nav-second-level li, .sidebar .nav-third-level li {
    border-bottom: 0 none !important;
}
.sidebar .nav-second-level li a {
    padding-left: 37px;
    line-height:1.4 !important;
}
.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media (min-width: 768px) {
.sidebar {
    margin-top: 125px;
    position: absolute;
    width: 250px;
    z-index: 1;
}

.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {  margin-left: auto;}}

@media (min-width: 240px) and (max-width:480px) {

.login-form{ width:100% !important; margin:0 auto; padding-top: 20px !important;}
/*.logo-ge{ width: 300px;}*/
.navbar-brand > img {
    position: relative !important;
    top: 0px !important;
    width: 100%;
}
    .login-form .top img {max-width:170px !important}
    .login-form form {padding-top:10px !important}

    .login-form form .top {padding:0px !important;    }
    .login-form form .form-area {padding:20px !important;  
    }

.inp-forpass{float:none !important;}

.searchform{*display:none;}
.btn_logcl{/*width:75% !important; -webkit-width:75% !important;*/}
}

@media (min-width: 240px) and (max-width:784px) {
.log_outwrp{ /*border-top:1px solid #000;*/  background: rgb(40, 91, 144) none repeat scroll 0 0;}
.logo-ge{ *width:50% !important;}

#page-wrapper{margin-top:65px;}
}



#page-wrapper {
    background-color: #fff;
    min-height: 568px;
    padding: 30px 15px 0;
}
@media (min-width: 768px) {
#page-wrapper {
    border-left: 1px solid #e7e7e7;
    margin-left: 250px;
    padding: 30px 30px 0;
    position: inherit;
}
}
/*-------------------- Pop-up Css --------------------------*/
.main-pop{width:100%;height:100%;background-color:rgba(19, 19, 19, 0.5);position:absolute;z-index:999;display:none}
.pop_up{width:350px;min-height:230px;display:inline-block;z-index:999;top:50%;left:50%;position:absolute;margin-top:-115px;margin-left:-175px;background-color:white;}
.pop_up h2{margin-top: 0;width: 100%;background-color: #285B90;color: white;padding: 10px 15px;font-size: 16px;}
.pop_up table{padding:10px 5px;display:inline-block;}
.pop_up table tr td{font-size:14px;padding:0  10px 15px 10px}
.chng-btn button{float:right;background-color:#285B90;color:white;border:1px solid #285B90;padding:3px 20px;border-radius:3px}
.exit-btn button {background-color:#285B90;color:white;border:1px solid #285B90;padding:3px 20px;border-radius:3px}
.close-btn{position: absolute;float: right;right: 0;margin-top: -12px;margin-right: -10px;cursor:pointer}
.pop_up table tr td input[type="text"]{border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px 5px;
	line-height: 24px;
	}
	.pop_up table tr td label.lbl-cl{ line-height:24px; }
    #myModal .modal-dialog {margin: 10% auto 0; padding:10px !important;}
/* -------------------------------  Table Page ---------------------------------- */
#page-wrapper {/*min-height:658px !important*/}
#page-wrapper h2{padding-bottom:3px;display:inline-block;width:100%}
.view-btn {margin-top:-2px}
.add-new button{background-color:#285B90;color:white;font-size:14px;padding:5px 20px ;border:1px solid #285B90;margin-top:20px}
.search-box ul {display:inline-block;width:100%;}
.search-box ul li{padding:5px 0px ; list-style:none;display:inline-block}
.search-box ul li:first-child{width:40%}
.search-box ul li input[type="text"]{width:100%;padding:5px 20px;border:1px solid #D4D2D2}
.search-box ul li button{color:white;background-color:#285B90;padding:6px 30px;border:1px solid #285B90;}
.table-main{margin-top:20px}
.table_size{border:1px solid gray}
.table-responsive .table_size thead{background-color:#285B90}
.table-responsive .table_size thead tr th{color:white}
.table-responsive .table_size tr td{border:1px solid #cfcfcf;}
.table_size tr th {word-wrap:break-word;
}
.table_size tr td {word-wrap:break-word;
}
table#gridViewAgency tr td select{border: 1px solid #d4d2d2;}

.active-action p{background-color:#FFB91A;text-align:center;border-radius:5px;padding:2px;color:black}
.unactive p{background-color:Black;text-align:center;border-radius:5px;padding:2px;color:white}
/*--------------login pages css----*/
.pdf-icon{margin-bottom:20px;}
.pdf-icon button{background:none; border:none;}
.login-form{ width:440px; margin:0 auto; padding-top: 88px; -webkit-padding-top: 80px; margin-bottom:40px;}

.login-form form {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 3px;
	padding-top: 20px;
}
.login-form form .top {
    /*border-bottom: 1px solid #ddd;*/
    *padding: 40px;
    text-align: center;
}
.top img{ width:100% !important;}
  .add-useragform input[type="file"] {
        width: 50%;
    }

    .add-useragform input[type="checkbox"] {
        width: 21%;
    }

.img-iconavt {
    float: left;
    margin-left: 10px;
    padding: 7px 0;
    width: 10%;
}

    .img-iconavt img {
        max-width: 28px;
        max-height: 28px;
    }

.login-form form .form-area {
    padding: 40px;
}
.login-form form .form-area .group {
    margin-bottom: 20px;
    position: relative;
}
.login-form form .form-area .form-control {
    height: 40px;
    padding-left: 38px;
}
.form-control {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #bdc4c9;
    border-radius: 3px;
    box-shadow: 0 1px 0 #f1f0f1 inset;
    display: block;
    font-size: 14px;
    height: 34px;
    padding-left: 10px;
}
.login-form form .form-area .fa {
    color: #c3c3c3;
    font-size: 16px;
    left: 13px;
    position: absolute;
    top: 11px;
}
.login-form form .form-area .checkbox {
    margin-bottom: 20px;
}
.checkbox {
    padding-left: 20px;
}


.btn-default {
    background-color: #337AB7 !important;
    color: #fff !important;
	border: medium none !important;
}
.btn-default:hover {
    background-color: #18467b !important;
    color: #fff !important;
}
.login-form form .form-area .btn {
    font-weight: 600;
    height: 42px;
}
.rem_chekbox input[type="checkbox"]{ border: 1px solid #285b90;
    position: relative !important;
    z-index: 2147483647;}
.rem_chekboxinput[type=checkbox]:after{width: 32px;
    height: 32px;
    z-index: 3333333333333333333;}
/*----ddfdf-*/	
	.rem_chekbox label{ padding-left: 5px !important;
    width: 40%;}
	
	
	@media screen and (-webkit-min-device-pixel-ratio:0) { 
	 .login-form{padding-top: 70px;}
	
	}
	
	.subbtn{ background-color:#295b8f; color:#fff; border:none !important;}
	.button_wrp{ padding:10px 0px 10px 0px;}
	.pagination_wrp{ float:right;}
	.pagination_wrp .pagination{ margin:0px !important; padding-bottom: 10px;}
	.pages_display ul li{ list-style:none; float:left; margin-right: 15px;}
	.pages_display ul li select{    border: 1px solid #ccc;
    /* border-radius: 4px; */
    line-height: 24px;
    padding: 0px 5px;
    height: 33px;
    position: relative;
    top: -7px;}
	/*.select_cl{     border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    position: relative;
    top: -15px;
    line-height: 43px;
    height: 38px;
	}*/

    /*.select_cl {
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    height: 38px;
    line-height: 43px;
    padding: 4px;
    position: relative;
    top: -19px;
}*/

    .select_cl {
    border: 1px solid #CCCCCC;
    height: 33px;
    line-height: 25px;
    padding: 8px;
    position: relative;
    top: -10px;
}
	.arrow_dropdown{ background-image:url(../img/select-darrow.png); background-repeat:no-repeat; width:20px; height:20px;}
	.pagination_wrp .pagination > li > a, .pagination > li > span{line-height: 28px !important;}
	.top_arrow{left: -23px; margin: 0px; position: relative; top: -5px;}
	.btn_arrow{margin: 0px; position: relative; left: -36px; top: 6px;}
	.pages_display{margin-bottom:10px;}
	
	
	.add-useragform{}
	.lbl_inputwrp{}
	.add-useragform label{color: #595959;
    float: left;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    width: 35%; }
	.add-useragform input{width:65%; float:left; margin-bottom:10px; }


	.add-useragform select{width:65%; float:left; margin-bottom:10px; }
	.form-control{border-radius:0 !important;}
	.add-useragform sup{ color:red;}
	.btnwrp_subcal{ margin: 10px 0 0 0px;
    padding: 20px 0;text-align:center}
	.my-btn{
	background-color: #295b8f;
    border: medium none;
    color: #fff;
    margin-right: 5px;
    padding: 10px;
    width: 100px !important;
	}
    .my-btn1{
	background-color: #295b8f;
    border: medium none;
    color: #fff;
    margin-right: 5px;
    padding: 10px;
    width: 100px !important;
	}


	.my-btn:hover{
	background-color: #295b8f;
    border: medium none;
    color: #fff;
    margin-right: 5px;
    padding: 10px;
    width: 100px !important;
	}
	@media screen and (min-device-width: 700px) and (max-device-width: 1200px) { 	
 .add-useragform label{ width:40% !important;}
 .add-useragform input{ width:60% !important;}
 .add-useragform select{ width:60% !important;}
}	
	
	
.confirmBox {
    background: #fff;
    margin-left: 0 !important;
    padding: 25px 22px;
    border: 2px solid #29313C;
    width: 285px;
    position: relative;
    display: none;
    z-index: 2147483000 !important;
    top: 34% !important;
    left: 40% !important;
    margin-top: 0 !important;
    height: 97px;
}

.CustPopup {
    background: #ffffff;
    padding: 0px 0px;
    border: 2px solid #29313C;
    width: 30.22%;
    position: relative;
    display: none;
    z-index: 2147483000 !important;
}

    .CustPopup h3 {
        color: #000;
        padding-left: 9px;
        font-size: 14px;
        font-weight: bold;
        border-bottom: 2px solid #394655;
        font-family: Gautami;
        padding-bottom: 5px;
        line-height: 18px;
        margin-bottom: 20px;
    }

.btnPassword {
    padding: 4px 12px;
    line-height: 26px;
    vertical-align: middle;
    cursor: pointer;
    padding: 4px 12px;
    cursor: pointer;
    background: #295b8f;
    *width: 13%;
    border: 0;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.Password {
    border: 1px solid #cccccc;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    display: inline-block;
    height: 34px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
    width: 42%;
}

    .Password:focus {
        border-color: rgba(82, 168, 236, 0.8);
        outline: 0;
        outline: thin dotted \9;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
        display: inline-block;
        height: 34px;
        padding: 4px 6px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 20px;
        color: #555555;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        vertical-align: middle;
        width: 42%;
    }

 .btn-inpupwrp{margin-bottom: 15px; }
 .btn-inpupwrp button { float:left !important; margin-left:0 !important; margin-right: 10px;padding: 7px 10px; margin-right: 5px;}
 .btn-inpupwrp button:hover{padding: 7px 10px !important;}
 .btn-inpupwrp input {border: none; font: bold; color: black; font-size:24px; float:left !important;}
 .enroll-lbl-in label{ width:14% !important;}

.control-label {
    float: left;
    width: 160px;
    margin-left: 91px;
    text-align: left;
    font-size: 14px;
}
.footer-two {
    background-color: #285b8f;
    bottom: 0;
    color: #fff;
    position:absolute;
    width: 100%;
}
.footer-two a {
    color: #fff;
    text-decoration:none;
   
}
.pagination li input[type="image"] {padding: 0px 3px;
    height: 33px;
    }
.btn_logcl {
   /* margin: 0 auto;
    width:39%;*/
}

.modal-header {     margin-bottom: 13px;
}

.txtupuper {
    text-transform: uppercase;
}

.chk-lblallagency {
    float: left;
    margin-left: 5px;
    position: relative;
    top: 6px;
}

.backto_list {
    padding: 5px 20px; background-color: #295b8f; color: #fff; font-size: 14px; border-style: none;
}


.select-agency {
}
.select-agency ul li {
    display: block;
    float: left;
    list-style: outside none none;
}
.select-agency ul li:first-child {width:61%;margin-right:5px;
}

    .select-agency ul li input[type="checkbox"] {margin-right:5px;
    }

.select-agency select{width:100%;}
.table-responsive{margin-bottom:20px;}
/*----------------chrome media query 320 X480---------*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @media (min-width: 320px) and (max-width:480px) {

        .pages_display ul li {
            margin-right: 2px !important;
        }

        .pagination_wrp {float:left !important; }
    }
}


@media (max-width: 360px) {.agency-frm{padding-bottom: 44px !important;}
}

@media (min-width: 320px) and (max-width:480px) {
    .add-useragform .enroll ul li {
    width: 115px !important;
}
    /*.add-useragform label {width: 50% !important; }

    .add-useragform select {width: 50% !important; }

    .add-useragform input {width: 50% !important; }
    .add-useragform input[checkbox]{width:4% !important;}*/
    .add-useragform .enroll ul li input[type="radio"] { width: 20px !important; float: left !important;}
    .add-useragform input[type="checkbox"]{width:20px !important;}
    .file_typimg {}
    .file_typimg label { width:50% !important;}
    .file_typimg Select {        }
    .file_typimg input[type="file"] { width:35% !important; margin-left:8px;}
    .browse-grp {display:inline-block;}
    .browse-grp .file_typimg input[type="file"] {width:45% !important}
    
}
/*----------------chrome media query End---------*/



@media (min-width: 320px) and (max-width:480px) { 
    .pagination_wrp {float:left !important; }
    .rem_chekbox label { width:100% !important;  }
     .rem_chekbox label+label{text-align: left !important; margin-left: 0 !important; padding-left: 3px !important;}
    .modal-footer button {
    width: 30% !important;
}
}
/*-------------------11-feb- ------------------*/
.bootstrap-dialog-footer-buttons .btn-default {padding:7px 12px !important}
.navbar-toggle{background-color: rgb(221, 221, 239) !important;
color: rgb(255, 255, 255) !important;}
.dropdown-user li {width:100%;}
.dropdown-user li a {margin-top:5px}
.dropdown-user li:hover{background-color:#f5f5f5 !important;}
.backto_list:hover {color:white !important;text-decoration:none}
#side-menu {background-color:#F8F8F8}
.navbar-right {margin-right:0px !important}
.header-top {display:inline-block;width:100%;}
.menu-head {display:inline-block;float:right;}
.menu-head .log_outwrp{display:inline-block !important;}
.search-box {display:inline-block;width:100%}
.sidebar ul li.active > a > .arrow {transform:rotate(360deg); -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(-180deg); -o-transform:rotate(360deg);}

@media (min-width:0px) and (max-width:380px){
    .navbar-fixed-top{position:relative !important}
    .modal-content .control-group .control-label {margin-left:5px;max-width:140px}
    .modal-content .control-group .controls input {width: 145px;}
    .modal-content .control-group .controls p {margin-left:0px !important;padding:5px 10px;text-align:justify}
    #page-wrapper {margin-top:-40px}
    #wrapper .navbar-toggle {*margin-top:55px !important}
    .searchbutton {
        top: 11px;
    }
    .view-btn {*float:left !important}
    .menu-place {padding-left:0 !important;padding-right:0 !important}
    .navbar-default {border:1px solid red}
    .logo-place a img {margin-left:63px !important}
    .logo-ge {width:auto;}
    .logo-place {padding-right:0px !important}
    .searchform {padding-top:7px}
    .xdsoft_ {
        left: 63px !important;
    }
    #page-wrapper h2 {
    font-size:24px !important}
    .navbar-default {margin-top:242px !important}
}
@media (min-width:381px) and (max-width:635px) {
    .logo-place{width:150px !important;float:left}
    .logo-ge {float:left;width:150px !important;min-height:100px !important}
    .logo-place a img {margin-left:0 !important}
    .menu-place {width: 418px !important;right:0;float:right;padding-left:0px !important;padding-right:0px !important;background-color:rgb(40, 91, 144)}
    .menu-head ul {padding-top:15px !important}
    .modal-content .control-group .control-label {margin-left: 50px; }
    .modal-content .control-group .controls p {margin-left:0px !important;padding:5px 20px;text-align:justify}
    .footer-one {position: absolute !important;}
    #noty_topRight_layout_container{float:right !important;width:260px !important}
    .menu-head, .menu-head ul {width:100%}
    .sidebar .sidebar-nav.navbar-collapse {margin-top: 99px;position: absolute;width: 250px;float: right;right: 0;padding-bottom:100px}
    .navbar-fixed-top{position:relative !important }
    #page-wrapper{margin-top:-50px !important}
}
@media (min-width:636px) and (max-width:640px) {
    .navbar-fixed-top{position:relative !important }
    #page-wrapper{margin-top:-50px !important}
.logo-place{width:150px !important;float:left}
    .logo-ge {float:left;width:150px !important;min-height:100px !important}
    .logo-place a img {margin-left:0 !important}
    .menu-place {width: 490px !important;float:right;padding-left:0px !important;padding-right:0px !important;background-color:rgb(40, 91, 144)}
    .menu-head ul {padding-top:10px !important}
    .modal-content .control-group .control-label {margin-left: 50px; }
    .modal-content .control-group .controls p {margin-left:0px !important;padding:5px 20px;text-align:justify}
    .footer-one {position: absolute !important;}
    #noty_topRight_layout_container{float:right !important;width:260px !important}
    .menu-head, .menu-head ul {width:100%}
    .sidebar .sidebar-nav.navbar-collapse {margin-top: 109px;position: absolute;width: 250px;float: right;right: 0;padding-bottom:100px}
}

@media(min-width:0px) and (max-width:479px) {
    #wrapper .navbar-toggle {*margin-top:55px;
    }
    .search-box ul li:first-child {
    width:70%}
    .select-agency ul li:first-child {width:50% !important}
    .add-useragform .enroll ul li{display:inline-block;list-style:none;min-width:160px !important}
    .btn-inpupwrp{margin-bottom:0}
}
@media (min-width:480px) and (max-width:639px) {
.footer-one {position:relative !important;margin-top:20px;}
.navbar-fixed-top{position:relative !important}
    .footer-two {position:relative !important;padding:10px 0 1px}
    .search-box ul li:first-child {
    width:70%}
    .footer-one p{margin-bottom:0px !important;padding:10px 0 1px}
}
@media(min-width:660px) and (max-width:768px) {
    #wrapper .navbar-right {*margin-left: 250px;
width: 100%;
padding: left:;
*padding-left: 250px;
    }
    .logo-place {width:220px !important;}
    .menu-place {margin-top:-150px !important;width:100% !important}
    
    .pagination-file{padding-left:0px !important;padding-right:0px !important}
    .pagination li input{width:30px !important}
    .pagination li select{height:30px !important}
    
    #page-wrapper {/*min-height:810px !important */min-height:947px !important}
    .footer-one{position:relative !important;bottom:0;margin-top:20px !important;padding:10px 0 1px}
    .login-form{min-height:790px !important}
}
@media(min-width:660px) and (max-width:1025px){
    #page-wrapper {margin-top:-145px !important}

}
/*---------------Login-logo --------------------*/
.login-form .top img {max-width:220px}
.logo-place {padding-left:0 !important;min-height:150px}
    .logo-place a img {max-width:160px !important;margin-left:35px}
.view-btn button{    background-color: #285B90;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border: #285B90;}
.page-header {margin:34px 0px 20px !important;}
.view-btn {float:right;}
.i-am-new {top: 8.5%; right:0; position: fixed; width: 270px; height: auto; margin: 0px; padding: 0px;float:right; list-style-type: none; z-index: 10000000;}
@media (min-width:1025px) and (max-width:2400px){
.navbar-fixed-top{position:fixed !important;top:0px !important; }
    
}
@media (min-width:0px) and (max-width:1024px) {
   
.table-responsive{border-right:1px solid rgb(207, 207, 207) !important;}
input.email-change {width: 49% !important;}
}
@media screen and (max-width: 768px) {.agency-frm{max-height:913px !important;}
}
@media screen and (max-width:1024px) and (orientation:landscape){
  input.email-change {width: 45% !important;} 
  .add-useragform .enroll ul li{min-width: 146px !important;}

.add-useragform .enroll ul li input[type="radio"] {
    float: left;
    width: 20px;
}
.add-useragform .enroll ul li input[type="radio"]{width:20px !important;}

.agency-frm{min-height:683px;}
}

@media (min-width:480px) and (max-width:540px)
{
    .logo-place {width:30% !important;background-color:white;}
    .menu-place {width:70% !important}
    .logo-place a img{left:0%}

}
@media (min-width:541px) and (max-width:660px)
{
    .logo-place {width:30% !important;background-color:white;}
    .menu-place {width:70% !important}
    .logo-place a img{left:20%}

}
@media (min-width:650px) and (max-width:750px){
    .logo-place{width:30% !important;float:left;background-color:white}
    .menu-head {width:70% !important;float:right}
    .footer-one {position:relative !important;padding:10px 0px 1px !important;margin-top:20px}
    
}
@media (min-width:1100px) and (max-width:1280px) {

    
}
/* footer */
@media (min-width:1025px) and (max-width:1920px){
    .login-form{min-height:571px}
    .my-foot{position:absolute !important;bottom:0}

}
@media (min-width:1350px) and (max-width:1450px) {
    

}
/* 16-feb */



.form-group{display:inline-block;width:100%;margin-bottom:0px !important;min-height:45px}
/*-------input inputchange btn css----*/
.email-change { width: 54% !important;
}
.change_embtn {     margin-left: 5px;
      line-height:0 !important;
    display:inline-block;
    font-size: 12px;
    padding-top: 10px;
    display: inline-block;
}
label {width:100%;display:inline-block}
ul li, button, p, label {line-height:1.3 !important}
#side-menu li a {line-height:1.4 !important}

/*-------input inputchange btn css----*/


 .add-useragform input[type="radio"] {
        width: 21%;
    }
 /*------------Enrollment Request ---------------*/
 /*padding:5px 20px !important;*/
 .generate-code{width:auto !important;margin-left:2% !important;}
 .generate-code:hover {width: auto !important;}


 .add-useragform .enroll label {width:100% !important}
 .add-useragform .enroll ul li{display:inline-block;list-style:none;min-width:125px}
 .add-useragform .enroll ul li input[type="radio"] {width:20px;float:left}
 .table-responsive .table_sizereport tr td{ border:1px solid #000; text-align:center;}
 tr.border_none td{border-left:0;}
.table-responsive .table_sizereport span {color: #595959;
    float: left;
    font-style: normal;
    font-weight: normal;}

/*---iphone 6 media 375--*/
@media only screen and (max-device-width : 375px) 
{
    .rem_chekbox label { width: 50% !important; }
    .rem_chekbox label + label {float: right !important; text-align: right !important; }
    .change_embtn {
    position: relative;
    right: 0;
    float: right;
    top: -10px;
}
   
}


/*---iphone 5 media 320--*/
@media only screen and (max-device-width : 320px) 
{
    .rem_chekbox label { width: 100% !important; }
    .rem_chekbox label + label {float: right !important; text-align: left!important; }
    .change_embtn {position: relative;
    right: 0;
    float: right;
    top: -10px;    }

    .backto_listspan{float:left !important; margin-bottom: 2px;}
    
}

@media screen and (max-width:768px){.agency-frm { padding-top: 60px !important; min-height:792px !important;}
.add-useragform .enroll ul li{width:146px;}
.add-useragform .enroll ul li input[type="radio"] { float: left; width: 20px !important;}

}

@media screen and (max-width:667px) and (orientation:landscape) { 
    .menu-head ul { padding-top: 15px !important;}
    
.sidebar .sidebar-nav.navbar-collapse { margin-top: 99px; position: absolute; width: 250px;float: right; right: 0; padding-bottom: 100px;}

.navbar-inverse{ min-height: 99px;}
.menu-head{width:71% !important;}
.logo-ge{width:202px !important; background:none !important; min-height: 150px;}
.navbar-brand > img{width: 75%;}
/*.page-header {padding: 80px 0px 0 !important;  
}*/

#page-wrapper {margin-top: -68px !important;}

}

@media screen and (max-width:640px) and (orientation:landscape) {.menu-head { width: 100% !important;} .pagination_wrp { float: left;}}
@media screen and (max-width:568px) and (orientation:landscape) {.dropdown-menu > li > a{padding: 3px 10px !important;}.menu-head {
    width: 100% !important;
}

}


@media screen and (max-width:480px) and (orientation:landscape){
   .rem_chekbox label { width: 50% !important; } 
   .rem_chekbox label + label {float: right !important; text-align: right!important; } 
   input.email-change { width: 50% !important;}
   .agency-frm{min-height:400px !important;}
                                                                                                                                                                                 .change_embtn {position: relative; right: 0; float: right; top: -10px; }

}
.new-send {margin-top:-10px;text-align:left}


@media (min-width: 320px) and (max-width:767px) {
    .agency-frm{min-height:0 !important;}
    
}

@media screen and (max-width:768px) {.agenfrm-minhe{min-height:913px !important;}
}
 @media screen and (min-width:480px) and (max-width:1024px) and (orientation:landscape) {
         /*.footer-one { position:absolute !important;}*/
        }


 @media screen and (max-width:360px){.add-useragform .enroll ul li{min-width: 107px !important;}}

/*@media screen and (min-width:320px) and (max-width:1024px) {
    .footer-one { bottom:0 !important; }
}*/








/* =============== Style Shabaz ======================= *
.footer-one {position:relative !important; bottom:0;}
.public-page {position:relative !important;}
.navbar-brand {width:100%;}
/*.fa {width:20px !important;}*




 @media screen and (min-width:359px) and (max-width:361px){
    .footer-one {position:absolute !important; bottom:0;}
    .public-page {position:relative !important;}
}

 @media screen and (min-width:768px) and (max-width:769px){
    .footer-one {position:absolute !important; bottom:0;}
    .public-page {position:relative !important;}
}

*/

 @media screen and (max-width:479px){
    .code-exp {display: block !important; margin-bottom:8px;}
}


 html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }
    body:after {
        content: '';
        display: block;
        height: 45px;
    }

.footer-one{ 
  position:absolute !important; 
  bottom:0; 
  width:100%; 
 }


.ml-5 {margin-left:5px;}


@media screen and (max-width:1024px) {
    body:after {height: 50px;}
    .browse-grp {padding-left:0 !important;}
}


@media screen and (max-width:767px) {
    #myModal1 button {
        width: 48% !important;
       
    }
     .ml-5 {margin-left:1px;}
}

@media screen and (max-width:360px) {
    #myModal1 button {
        width: 100% !important;
        margin:5px 0;
    }
    input.email-change {
        width:40% !important;
    }
}

#Email1_tagsinput{

    width:42% !important;
    margin-bottom:3% !important;
    border-radius: 3%;
}
.sepratetaff
{


    color:#285b8f;
}






  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .footer-one {position:absolute !important;}
    }
  

/*.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}

.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #3071a9;
	border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: #428bca;
	background-color: #fff;
	border-color: #428bca;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}*/
.clickable{
    cursor: pointer;   
}
.clickable1{
    cursor: pointer;   
}
.clickable3{
    cursor: pointer;   
}
.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}
.nav-tabs > li.active > a
{
     border-bottom-color:#fff !important;
     background-color:#fff !important;
     color:#295b8f !important;
}
.nav-tabs > li > a
{
    color:#fff !important;
}

.nav-tabs > li.active > a :hover
{
     border-bottom-color:#fff !important;
     background-color:#fff !important;
      color:#295b8f !important;
}

.panelul
{
      padding: 8px 0px 0px 9px !important;
}
.navtabs1{

    border-bottom:none !important;
}
.add-useragform1 label {
    color: #595959;
    float: left;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
}
 .add-useragform2 input[type="radio"] {
        width: 50% !important;
    } 
 .add-useragform3 input[type="checkbox"]  {
        width: 50% !important;
    }
 /*------Abhishek  2-may--- */
 .custom-radio{width:25px !important}
@media(min-width:1200px) and (max-width:1920px) {
    .med-service {
        width: 160px !important;
    }
   .add-useragform .med-service-cont{width:100%;padding-left:0}
   .add-useragform .med-service-cont span{margin-left: 20px;display: inline-block;min-width: 116px;}
}
.adddivspace{
    margin-top:1%;

}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color:#295b8f !important;

}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color:#295b8f !important;
}




/*.add-useragform2_sz input[type="radio"] {
    width:auto !important;
    margin-left:0px;
}

.add-useragform2_sz .med-service-cont .span-sz {
    margin-left:5px;
}*/


.cont-sz {
    width:65%;
    float:left;
    line-height: normal;
}
.cont-sz .space-bt {margin-bottom:5px;}
.cont-sz input, .cont-sz input[type="checkbox"], .cont-sz input[type="radio"] {
    width:auto !important;
    margin-right:5px;
}
.roundimage{
    border-radius:50%;
}

.dnl-home {
    float:right !important;
}
.mrBt15 {
    margin-bottom:15px !important;
}
.bold_none label {font-weight:normal;}





 @media screen and (max-width:991px){
   .dnl-home {
    float:none !important;
    }
}
.attachmentmargintop{
    margin-top:2%;
}
.legend1{
    width:auto !important ; 
    font-style:normal !important;
    font-size:12px !important;  
    border-bottom:none !important;
    font-weight:normal !important;
    color: #595959;
}




.scroll-modal .control-group {
    max-height: 413px;
    overflow-y: auto;
    overflow-x: hidden;
}
.income-box {
    border:1px solid #ccc; 
    margin-bottom:20px; 
    padding: 25px 15px 15px;
    background: #F3F3F3;
    border-radius: 5px;
}

/* #DivFirst {
    padding: 20px;
} */





.income-box .form-control {margin-bottom:10px;}
.income-heading {
    position: absolute;
    background: #FFF;
    top: -40px;
    padding: 3px 5px;
    border: 1px solid #ccc;
    z-index: 999;
    min-width: auto;
    max-width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: normal;
}
.income-heading {
    position: absolute;
    background: #FFF;
    top: -30px;
    padding: 3px 5px;
    border: 1px solid #ccc;
    z-index: 999;
    min-width: auto;
    max-width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: normal;
}
.program_type label {
    width: auto;
    margin-right: 15px;
}
.program_type {
    overflow-x: auto;
    overflow-y: hidden;
}

.income-popup {
    width:781px !important;
    }

.income-close {position:absolute; width:17px; height:17px; top: 2px;right: 2px; font-size: 22px;color: #9C9C9C !important;}
.width-auto {
    width:80% !important;
}

 @media screen and (max-width:991px){
   .income-popup {
    width:90% !important;
    }
}
 .incomespan{
     font-size:17px;
 }
  .qualifierdiv{
   width: 99% !important;
    margin-left: 0.4% !important;
    margin-top: 1% !important;
}

  .panelscreen{
    margin-left: 1%;
    margin-right: 1%;

  }

  .deleteparent{
      display: none; 
      color: #fff !important;
       float:right;
       cursor:pointer;
       margin-right:4%;
       margin-top:-1%;
  }
   .deletechild{
      
      color: #fff !important;
       float:right;
       cursor:pointer;
       margin-right:4%;
       margin-top:-1%;
  }


  .form-slection {
line-height:normal;
}
.form-slection sup {
color: #f00;
}

.mb20 {
margin-bottom:20px;
line-height:normal;
}
.mb10 {
margin-bottom:10px;
}


.agr_link {
    line-height:normal; font-size:14px;    
}

    .agr_link a {
    text-decoration:underline;
         }

.scroll-modal .scroll_none {overflow:initial; }

.table-scroll {
    margin-top: 10px;
    max-height: 262px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 20px;
}

.allImmunization{
border: 1px solid #295b8f;
padding: 15px;
margin-bottom: 15px;
border-radius: 5px;
position:relative;
}

.immunization_bg {
border: 1px solid #ccc !important;
margin-bottom: 20px;
padding:15px;
background: #F3F3F3;
border-radius: 5px;
margin-bottom:15px;
clear:both;
position:relative;
}

.close_Immunization {
position:absolute;
top:-9px;
right:-8px;
font-size:18px;
cursor: pointer;
}
.add-useragform .program_type input[type="checkbox"] { width:auto; margin-right:5px;}

.input-width {width:80px !important;}

.input_wd1 {
height:124px;
overflow-y:auto;
overflow-x:hidden;
margin-bottom:2%;
}
.input_wd1 input[type="checkbox"] {
width:auto;
margin-right:5px;
}
.input_wd1 label {
float:none;
}



.input_wd2 input[type="checkbox"] {
width:auto;
margin-right:5px;
}
.input_wd2 label {
float:none;
}



.input_wd {
height:95px;
overflow-y:auto;
overflow-x:hidden;
}

.input_wd input[type="checkbox"] {
width:auto;
margin-right:5px;
}
.input_wd label {
float:none;

}

.centerinhorizontal {
    float: left;
    width: 50%;
}
.centerinhorizontal1 {
    float: left;
   
}
.centerinhorizontal2 {
    float: left;
     width: 20%;
}


.chk_1{
    width:auto !important;

}

.scroll-none {
    height:auto;
    overflow:initial;
}
div#spinner
{
    display: none;
    width:150px;
    height: 100px;
    position: fixed;
    top: 40%;
    left: 50%;
    background:transparent;
    text-align:center;
    padding:10px;
    font:normal 16px Tahoma, Geneva, sans-serif;    
    z-index:2147483647;
    overflow: auto;
    background-color:rgba(208, 212, 216, 0.8)
}
#side-menu {
    max-height:485px;
    overflow-y:auto;
    overflow-x:hidden;
}
.Healthhover 
{
    text-decoration:none !important;
}
.rolemodal{
    margin-left: 2%;
    margin-bottom: 3%;
}
.add-screening input{width:59%;}
 .add-screeningcheckbox input[type="checkbox"] {
        float:right;
        width:6%;
        margin-top:10px;
    }
 .add-screening select{width:59%;  }
.title-fixed
{
    position: fixed;
    z-index: 9;
    width: 100%;
    background: #fff;
    top: 31px;
    left: 0;
    padding-left: 280px;
}



#ref_btn a {
    width: 200px;
}

#chartdiv svg{line-height:normal !important;}