.forget-paas-link {float:right; margin:0px;}
input[type="radio"], input[type="checkbox"] { margin-top:3px; }
.fundclass {clear:both;}
.immu_option {line-height:13px;}
.check-sz label {float:none;}

/*Information*/
body {
    font-family: "Verdana"!important;
}
.top-header-title-transportation {
    background: #f9c751;
    border-radius: 5px;
    margin-top: 20px;
}
.top-header-title-transportation h1 {
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    padding: 20px 10px;
    text-align: center;
    display: block;
    font-weight: bold;
    margin: 0;
}
     .right-side-container-ch {
    width:100%;
    float: left;
    background: url(/images/body-bg.jpg) center no-repeat;
    background-size: cover;
    min-height:  700px;
}
.no-padding{padding:0;}
.information-content-desc p {
    background: #fff;
    border: 1px solid #e7e7e7;
    padding: 10px 10px;
    color: #163b69;
    text-align: left;
    font-size: 15px;
    margin: 0;
    text-transform: none;
    width: 100%;
    float: left;
    line-height: 22px!important;
}
.information-analysis-btn a:hover{text-decoration: none;}
.information-analysis-btn a {
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    background: #2ecc71;
    color: #fff;
    margin: 0;
    border-radius: 4px;
    padding: 8px 20px;
    margin: auto;
    /* font-weight: bold; */
    line-height: 20px;
    border-radius: 4px;
}
.information-analysis-btn {
    margin-top: 30px;
    margin-bottom: 0px;
    width: auto;display: inline-block;
    margin-left: 10px;
}
.information_title {
    background: #9b59b6;
    border-radius: 0px;
    margin-top: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.information_title h4 {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    padding: 12px 10px;
    text-align: center;
    display: block;
    font-weight: bold;
    margin: 0;
}
/*Information*/

@media (max-width: 1024px) {
    .label_full, .add-useragform .label_full { width: 45% !important; }
    .cont-sz {width:100%;}
    .browse-grp .file_typimg input[type="file"] { margin:0;}
    .pd-15 {padding:0 0 0 15px;}
    .pd-r0 {padding-right:0px;}
    .add-useragform input[type="checkbox"] {width:auto !important;}
}

@media (max-width: 768px) {
    .label_full, .add-useragform .label_full { width: 100% !important; }
    .browse-grp {width:100%; padding:0;}
    .browse-grp .file_typimg input[type="file"] {width:60% !important; margin:0;}
    .pd-15 {padding:0;}
    
}


@media (max-width: 767px) {
    .file_typimg label { width: 35% !important; }
    .browse-grp .file_typimg input[type="file"] {width:65% !important;}
}




@media (max-width: 360px) {
    .logo-ge {text-align:center;}
    .navbar-brand { display:inline-block; float:none;}
    .logo-place a img {margin-left:0px !important;}
    .search-box ul li:first-child {width:100%;}
    .add-useragform label, .add-useragform select, .add-useragform input, .add-useragform input[checkbox] {width: 100% !important; }
    .browse-grp .file_typimg input[type="file"] {width:100% !important; margin:0;} 
    
}




@media (max-width: 320px) {
    .forget-paas-link {float:right; margin:10px 0 !important;}
    .view-btn {float:right !important;}
}



.family-box {border:1px solid #e7e7e7; line-height:normal; border-radius:0px; height:112px; /*box-shadow: 0px 0px 9px 0px #ccc; background:#f8f8f8; */ margin:15px 0px; }
    .family-box .img-avatar {
        border-right: 1px solid #e7e7e7;
        float: left;
        width: 30%;
        text-align: center;
        height:112px;
    }
.family-box .img-avatar img {width:80px;}
.fm-cont {float:left; width: 70%; padding: 0 5%;}
.gender-sz {color:#295b8f; font-size:17px; font-weight:bold; float:left;}
.status-sz {float:left; color:#ff0000; font-weight:bold;}
.status-sz, .fml-link {margin-top:20px;}
.fml-link {float:right;}
.fml-link a {margin:0 5px;}
.house-add {font-weight:bold; margin-top:10px; color:#295b8f;}

.fml-date {float:right;}
.status-sz1 {float:left; color:#ff0000; font-weight:bold;}
.status-sz1, .fml-link1 {margin-top:3%;}
.fml-link1 {float:right;}
.fml-link1 a {margin:0 5px;}
.addapplicant a {
    text-decoration:underline; 
    font-size:17px;
}


.addapplicant {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 5px;
    margin-top: 20px;
}

.case-note {
    max-height:82px; 
    overflow-x:hidden; 
    overflow-y:auto;
    min-height: 27px;
}
.coreteam {
    max-height: 435px;
    overflow-x: hidden;
    overflow-y: auto;
}
.Roles {
  float:left;
  margin-right:2%;
}
.Rolesradio{
    position:relative; top:2px;

}
.FundMargin {
    margin-top:2%;
}
.lablewidth{
    width:auto !important;
}


.li-relative {position:relative;}

.roles-sub-menu { 
    display:none;
    position: absolute;
    top: 0px;
    left: -240px;
    width: 240px;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.roles-sub-menu li a {    
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.roles-sub-menu li a:hover {text-decoration:none;}

.li-relative:hover .roles-sub-menu  {display:block;}
.fund-label {padding-left:20px;}
.fund-label1 {padding-left:40px;}


#ScreeninguploadDocument {
            margin: 0px auto 20px;
            width: 350px;
            height: 250px;
            border: 1px solid #295b8f;
}
.iframestyle {
    width:100%;
    height:300px;
}
.screeninginput {margin-left:-2px; width:63% !important; }

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-left:22px;
    width: 50%!important;
}
/** Family **/
.inforeader-inner {background: #f1f5f8 none repeat scroll 0 0;border-radius: 0 0 10px 10px;margin-bottom: 20px;margin-top: 0;padding: 10px;float: left;width: 100%;}
.home-in-img {padding: 10px;background-color: #ffffff;border: 1px solid #ccc;width: 100%; float: left;margin-bottom: 5px;}
.home-in-img > img {float: left;width: 135px;margin-right: 10px;}
.home-in-img > p {width: 85%;}
.home-fft {float: left;margin: 18px 0 0px;width: 100%;}
.home-fft button {float: right;outline: none !important;}
.home-fft > a {color: #e74c3c;float: left;font-family: Verdana;font-size: 20px;font-weight: 600;padding-top: 21px;width: auto;}
.home-in-img > p {color: #164b7b;font-family: verdana;line-height: 20px !important;padding-top: 10px !important;width: 85%;}
#blue-down {-moz-appearance: none;background: #fff url("../images/blue-drop.png") no-repeat scroll right 2% center;color: #164b7b;margin-top:5px;    -webkit-appearance: none;}
.famil-table tr th {background-color: #2476ad;color: #fff;font-weight: 300;text-align: left !important;}
.famil-table tbody tr td a {color: #e74c3c;}
.famil-table tbody tr td img {margin-right: 5px;}
.famil-table tr td {background-color: #ffffff;color: #164b7b;font-weight: 300;text-align: left !important;}
.house-hold {background-color: #fff;float: left;padding: 10px;border: 1px solid #ccc;  font-family: verdana;width: 100%;  margin: 10px 0;}
.hld-img {float: left;margin-right: 2%;width: 38%;}
.det-cont a {color: #164b7b;}
.det-cont {float: left;width: 60%;color: #164b7b;}
.det-cont p {float: left;margin: 0;}
.det-cont li {list-style: outside none none;margin-bottom: 5px;width: 100%;float: left;}
.det-cont span {float: right;}
.info-none {background-color: #fff;border: 1px solid #ccc;float: left;min-height: 180px;text-align: center;width: 100%;}
.info-none > p {color: #164b7b;font-family: verdana;font-size: 20px;padding: 70px 0;}
.information_titles {border-radius: 5px 5px 0 0;width:100%;float: left;margin-top: 15px;}
.information_titles h4 {color: #fff;display: block;font-size: 20px;font-weight: bold;margin: 0;padding: 12px 10px;text-align: left;text-transform: capitalize;float: left;}
.btn-add {background-color: #f9c751;color: #212121;float:right;outline:none !important;   padding: 4px 15px; margin: 8px 12px;}
.icr-title > span{ color: #fff;display: block;font-size: 20px;font-weight: bold;margin: 12px 10px;padding: 12px 10px;text-align: left;text-transform: capitalize;float: left;}
.information_titles.icr-title h4 {width: 42%;}

@media only screen and (max-width: 410px) {
.home-in-img > p{width: 100%;float:left;}
.det-cont {color: #164b7b;float: left;width: 100%;}
.information_titles.icr-title h4::after {content: "/";}
.hld-img {float: left;margin-bottom: 2%;width: 100%;}
}
@media only screen and (min-width: 1200px) and (max-width: 1340px){
.hld-img {float: left;margin-bottom: 2%;width: 100%;}
.det-cont {color: #164b7b;float: left;width: 100%;}
}