@media screen and (max-width: 992px) and (min-width: 768px) {
label.meeting-print {width: 20%;}
.table-main table.table_size thead th {word-break: break-word;white-space: nowrap;}
.search-box ul li:first-child {width: 51%;}
.search-box ul li:first-child input {width: 53% !important;}
}

.otc-pull label {width: 45%;float: left;}
.otc-pull select {width: 55%;float: left;}