form {
    margin-bottom: 24px;
}

.cent-section {
    width: 60%;
    margin-top: 7px;
}

.impo-censect {
    text-align: center;
    width: 67%;
    margin-top: 7px;
    float: right;
}

.final-btn {
    width: 100%;
    text-align: center;
    margin: 5px 0;
    float: left;
}

.form-search label {
    float: left;
    width: 24%;
    padding: 8px 5px;
    background-color: #cfcfcf;
    color: #333 !important;
    border-radius: 4px 0 0px 4px !important;
    border-style: solid;
    border-width: 0 0 0 0;
}

.form-search div {
    width: 600px;
    margin: auto;
}

button.ad-btn {
    background-color: #5cb85c;
    color: #fff;
    border-color: #5cb85c;
    padding: 8px 26px;
    border-width: 0 0 0 0;
    border-radius: 0 4px 4px 0;
}

.form-search input {
    width: 50% !important;
    float: left;
}

.lbl-required:after {
    margin-left: 2px;
    content: "*";
    color: #a94442;
}

.page-wrapper-change {
    background: url(../../Images/body-bg.png) center no-repeat #1f4873 !important;
    background-size: cover !important;
    background-position: 100% 100% !important;
}

.page-header-change {
    color: #fff !important;
    border-color: #fff !important;
}

.page-header {
    margin: 34px 0px 20px !important;
}

.page-header {
    border-bottom: 2px solid #285b8f !important;
    color: #285b8f;
}



.image-div img {
    height: 500px;
    width: 100%;
    margin-bottom: 20px;
}

fieldset {
    border: 1px solid #ddd !important;
    margin: 0;
    min-width: 0;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    background-color: #f5f5f5;
    padding-left: 10px !important;
}

legend {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    width: 35%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    background-color: #cfcfcf;
    line-height: 30px;
}

.kbw-signature {
    width: 318px;
    height: 200px;
    background: #fff;
}

.form-search label {
    color: #fff;
}

.form-search {
    margin: 5px 0 15px !important;
    border-radius: 4px;
    width: 100%;
    float: left;
    padding: 6px;
    background-color: transparent;
}

.input-text {
    border-radius: 8px !important;
}


.contact-info-div {
    display: none;
}

.inkind-entry-div {
    display: none;
}
.inkind-hours-div{
    display:none;
}
.not-exists-div{
   display:none;
   margin-bottom:20px;
   margin-top:20px;
}
.inset-width{
    width: 15%;
}
.pad-left-signature{padding-right: 178px;}
@media only screen and (max-width: 767px) {
    legend {
        width: 60% !important;
    }

    .form-group {
        margin-bottom: 15px !important;
    }

    .cent-section {
        width: 100%;
        margin: 14px 0;
    }

    .impo-censect {
        text-align: center;
        width: 100%;
        margin-top: 7px;
        float: right;
    }

    .text-right label {
        text-align: left;
    }

    .form-search div {
        width: 100%;
        margin: auto;
    }
.impart-rght {text-align: left;}
.impart-inpart {margin-bottom: 10px;}
button#addContactBtn {
    float: right;
    margin-right: 15px;
}
.inset-width{width: auto;}
.pad-left-signature{padding-right: 0;}
}

@media only screen and (max-width: 991px) {
    .pad-left-signature{padding-right: 0;}
    legend {
        width: 50% !important;
    }

    .form-group {
        margin-bottom: 15px !important;
    }

    .text-left, .text-right {
        text-align: center;
    }

    .cent-section {
        width: 100%;
        margin: 14px 0;
    }

    .impo-censect {
        text-align: center;
        width: 100%;
        margin: 14px 0;
    }

    .mt-5 {
        margin-top: 5px;
    }

    .form-search div {
        width: 486px;
        margin: auto;
    }
    .impart-rght {text-align: left;}
.impart-inpart {margin-bottom: 10px;}
button#addContactBtn {
    float: right;
    margin-right: 15px;
}
.inset-width{width: auto;}
}
.sec-radios span {
    margin-right: 10px;
    float: left;
    color: #fff;
}
span.sec-radios label {margin-top: 0;float: right;}
    .sec-radios span input {margin-right: 5px;}
   .check-space{ margin-top: 0px;float: left;margin-right: 4px;}


   /*fade in image*/
   HTML  CSS   Result
Edit on 
/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
    display:block;
}

/*.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
 display:block;
}*/

.fade-in.one {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}


.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}

.fade-in.three {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}

/*---make a basic box ---*/
.box{
/*width: 100px;
height: 100px;*/
position: relative;
margin: 10px;
color: white;
padding: 40px;  
float: left;
border: 1px solid #fff;
background: #27a5d2;
border-radius: 10px;
}



   /*fade in image*/