
body {
    font-family: "Verdana" !important;
    background:  #fff;
    background-size: cover;
    background-position: 100% 100%;
}
.page-wrapper-change
{
      background:  url('../../Images/body-bg.png') center no-repeat #1f4873!important;
    background-size: cover!important;
    background-position: 100% 100%!important;
    
}
.no-padding{padding: 0!important;}
.dashboard-logo-al{border-bottom: 1px solid #698caa;}
.dashboard-logo{position: relative;height: 47px;margin: 50px 0;}
.dashboard-logo img{position: absolute;left: 0;top: 0;bottom: 0;right: 0;max-height: 100%;max-width: 100%;margin: auto;}
.dashboard-img{position: relative;height: 253px;margin: 35px 0;}
.dashboard-img img{position: absolute;left: 0;top: 0;bottom: 0;right: 0;max-height: 100%;max-width: 100%;margin: auto;}
.dashboard-title h1{margin: 0;padding: 30px 0;color: #f9c751;font-size: 36px;text-align: center;font-weight: bold;}
.dashboard-heading h2{margin: 0;padding: 30px 0;color: #fff;font-size: 28px;text-align: center;font-weight: 400;position: relative;z-index: 99;line-height: 30px;}
.dashboard-heading-al{position: relative;border-top: 1px solid #80a0b9;border-bottom: 1px solid #80a0b9;margin-top: 35px;margin-bottom: 20px;}
.heading-overlay{position: absolute;left: 0;right: 0;top: 0;bottom: 0;width: 100%;height: 100%;background:rgba(0,0,0,0.3);z-index: 9;}
.tb-lt li a:hover {border-color: #f9c751!important;outline: none!important;}
.tb-lt li a:hover, .tb-lt li a:focus {text-decoration: none;background-color: #f9c751!important;color: #333!important;outline: none!important;transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.tb-lt li a {margin-right: 2px;text-align: center;line-height: 1.42857143;border: 1px solid #fff!important;border-radius: 4px 4px 0 0;font-size: 20px;font-weight: bold;background: rgba(0,0,0,0.3)!important;
    color: #fff!important;transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.tab-pad{padding: 10px 50px!important;}
.tb-lt li.active>a, .tb-lt li.active a:hover, .tb-lt li.active a:focus {color: #333333!important;cursor: pointer!important;background-color: #f9c751!important;border: 1px solid #f9c751!important;border-bottom-color: transparent;outline: none!important;}
.tab-content{border: 1px solid #fff!important;border-radius: 5px!important;}
.tb-lt li{padding-right: 10px!important;}
.tb-lt {border-bottom: 0px solid #ddd!important;padding-left: 25px!important;}
.tab-img-al{margin-top: 30px;margin-bottom: 30px;}
.tab-img{position: relative;height: 222px;}
.tab-img img{position: absolute;left: 0;top: 0;bottom: 0;right: 0;max-height: 100%;max-width: 100%;margin: auto;}
.tab-desc{position: absolute;left: 0;right: 0;top: 45px;;width: 100%;}
.tab-desc h3{margin: 0;padding: 10px 0;color: #fff;font-size: 20px;text-align: center;font-weight: bold;}
.tab-desc p{margin: 0;padding: 0;color: #2ecc71;font-size: 30px;text-align: center;font-weight: bold;}
.blue-colour{color: #3498db!important;}
.orange-colour{color:#e67e22!important;}
.yellow-colour{color:#f1c40f!important;}
.red-colour{color: #e74c3c!important;}
.tablist-hole{padding: 40px 0;}
.edu-tbl-title {position: relative;}
.pin{position: absolute;top: -25px;width: 50px;margin: auto;left: 0;right: 0;}
.edu-tbl-title h2{margin: 0;padding: 25px 10px;color: #fff;font-size: 24px;text-align: center;font-weight: bold;background: #27ae60;padding-top: 35px;}
.edu-tbl-all{background: #2ecc71;border: 5px solid #fff;border-radius: 5px;/* padding-bottom: 20px!important; *//* background-color: white; */margin-top: 60px;}
.edu-table-enroll tr td:nth-child(3){color:red;}
.edu-table-class tr  td:nth-child(3){color:blue;}
.edu-table-enroll tr th{color:#2ecc71!important;background:#fff;}
.edu-table-missing tr th{color:#3498db!important;background:#fff;}
.edu-table-birthday tr th{color:#e67e22!important;background:#fff;}
.edu-table-class tr th{color:#e74c3c!important;background:#fff;}

.edu-table-block{width: 100%;margin-top: 15px;margin-bottom: 15px;}

.edu-table-class{}
.edu-table-block tr td{margin: 0;padding: 20px 10px;color: #fff;font-size: 16px;text-align: left;font-weight: normal;}
.edu-table-block tr th{margin: 0;padding: 20px 0;color: #fff;font-size: 19px;text-align: left!important;font-weight: bold;padding-left: 5px;}
.edu-title-orange h2{background: #d35400!important;}
.edu-tbl-all-orange{background: #e67e22!important;}
.edu-title-blue h2{background: #2980b9!important;}
.edu-tbl-all-blue{background: #3498db!important;}
.edu-title-red h2{background: #c0392b!important;}
.edu-tbl-all-red{background: #e74c3c!important;}
.edu-title-black h2{background: #161f2d!important;padding-bottom:20px!important;padding-top:20px!important;border-top-left-radius:5px;border-top-right-radius:5px;}
.edu-tbl-all-black{background: #212a38!important; min-height:310px;border:none!important;}
.edu-tbl-graph{background: none!important;border: none!important;}
.content-block{margin-bottom:165px;}
.number-center{text-align:center!important}
.graph-img{position: relative;height:370px;}
.graph-img img{position: absolute;left: 0;top: 0;bottom: 0;right: 0;max-height: 100%;max-width: 100%;margin: auto;}
.graph-img1{position: relative;height: 300px;/* padding: 15px; */}
.graph-img1 img{position: absolute;left: 0;top: 0;bottom: 0;right: 0;max-height: 100%;max-width: 100%;margin: auto;padding: 15px;}
.footer-bg-img-al{position: absolute;bottom: 0;width: 100%;height: 330px;}
.footer-bg-img{position: relative;height: 311px;margin-top: 20px;}
.footer-bg-img .footer-im1{position: absolute;left: -18px;top: 0;bottom: 0;max-height: 100%;max-width: 100%;margin: auto;}
.footer-bg-img .footer-im2{position: absolute;top: 0;bottom: 0;right: -44px;max-height: 100%;max-width: 100%;margin: auto;}
.edu-block-all{position: relative;padding-bottom: 70px;}
.footer-all{background: #091725;}
.footer p{margin: 0;padding: 30px 10px;color: #fff;font-size: 18px;text-align: center;font-weight: normal;}
.page-header-change{color:#fff!important;border-color:#fff!important;}


   /*Matrix Analysis 3D Bars Start - old */
       /*.assessment-group {
            cursor: pointer;
        }

        .matrix-select option {
            color: #333 !important;
        }

        .bar-margin {
            margin-top: 28px;
            position: relative;
            height: 2px;
        }
        .survey-3d-green-ht{height:260px!important;}

        sub{
            color:#ffbf00;
            font-size:11px;
        }
      

        .bar {
            float: left;
            position: relative;
            bottom: 0;
            z-index: 9;
            height: 100%;
            margin: 0 40px;
            bottom: 0;
            height: 100%;
            width: 37px;
            background-color: #d6d8d9;
            transform: rotateX(17.7deg) rotateY(-19deg);
        }


            .bar:before {
                content: "";
                position: absolute;
                left: -24px;
                bottom: 10px;
                height: 100%;
                width: 25px;
                background-color: #a4a6a6;
                -webkit-transform: skewY(67deg);
                transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);
            }

            .bar:after {
                content: "";
                position: absolute;
                top: -73px;
                left: -11.1px;
                width: 37px;
                height: 128px;
                background-color: #bfc1c3;
                -moz-transform: skewX(45deg);
                -o-transform: skewX(45deg);
                -webkit-transform: skewX(45deg);
                transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);
            }
  


        .bar-in1 {
            float: left;
            position: relative;
            bottom: 0;
            z-index: 9;
            height: 100%;
            width: 37px;
            margin: 0 40px;
            bottom: 0;
            height: 100%;
            background-color: rgb(30, 183, 155);
            transform: rotateX(17.7deg) rotateY(-19deg);
        }

        .bar-green {
            position: absolute;
            width: 100%;
            height: 0%;
            left: 0px;
            bottom: 0px;
        }

        .bar-in1:before {
            content: "";
            position: absolute;
            left: -24px;
            bottom: 10px;
            height: 100%;
            width: 25px;
            background-color: rgb(19, 108, 92);
            -webkit-transform: skewY(67deg);
            transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);
        }

        .bar-in1:after {
            content: "";
            position: absolute;
            top: -73px;
            left: -11.1px;
            width: 37px;
            height: 128px;
            background-color: rgb(28, 152, 128);
            -moz-transform: skewX(45deg);
            -o-transform: skewX(45deg);
            -webkit-transform: skewX(45deg);
            transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);
        }


        .bar-label {
            position: absolute;
            right: -7px;
            width: 50px;
            height: 13%;
            color: #fff;
           
            font-size: 14px;
            bottom: -12px;
            z-index: 99;
            font-weight: bold;
            transform: rotateX(18deg) rotateY(-21deg);
        }

            .bar-label p {
                top: 11px;
                color: #f4fbfa;
                text-align: center;
                z-index: 999;
            }




        .bar1 {
            float: left;
            position: relative;
            bottom: 0;
            z-index: 9;
            height: 100%;
            width: 37px;
            margin: 0 40px;
            bottom: 0;
            height: 100%;
            background-color: #8297aa;
            transform: rotateX(17.7deg) rotateY(-19deg);
        }


            .bar1:before {
                content: "";
                position: absolute;
                left: -24px;
                bottom: 10px;
                height: 100%;
                width: 25px;
                background-color: #516678;
                -webkit-transform: skewY(67deg);
                transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);
            }

            .bar1:after {
                content: "";
                position: absolute;
                top: -73px;
                left: -11.1px;
                width: 37px;
                height: 128px;
                background-color: #6d8295;
                -moz-transform: skewX(45deg);
                -o-transform: skewX(45deg);
                -webkit-transform: skewX(45deg);
                transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);
            }

        .bar-label1 {
            position: absolute;
            width: 100%;
            height: 50%;
            color: #ffbf00;
            right: 2px;
            font-size: 15px;
            z-index: 99;
            bottom: -12px;
            z-index: 99;
            font-weight: bold;
        }

            .bar-label1 p {
                top: 11px;
                color: #ffbf00;
                text-align: left;
                z-index: 999;
                padding-left: 90px;
            }

        .bar-label2 p {
            top: 11px;
            color: #fff;
            text-align: left;
            z-index: 999;
            padding-left: 70px;
        }

        .bar-label2 {
            position: absolute;
            width: 100%;
            height: 100%;
            color: #fff;
            right: -20px;
            font-size: 15px;
            z-index: 99;
            bottom: -30px;
            font-weight: bold;
        }*/


/*Matrix Analysis 3D Bars End -old */

/* 3D BAR NEW*/
   /*Matrix Analysis 3D Bars Start*/
       .assessment-group {
            cursor: pointer;
        }

        .matrix-select option {
            color: #333 !important;
        }

        .bar-margin {
            margin-top: 28px;
            position: relative;
            height: 2px;
        }
        .survey-3d-green-ht{height:260px!important;}

        sub{
            color:#ffbf00;
            font-size:11px;
        }
      

        .bar {
              float: left;
            position: relative;
            bottom: 0;
            z-index: 9;
            /*z-index:0;*/
            /*z-index:0;*/
            display:block;
            height: 100%;
            margin: 0 40px;
            bottom: 0;
            height: 100%;
            width: 37px;
            background-color: #d6d8d9;
            transform: rotateX(17.7deg) rotateY(-19deg);
            -webkit-transform: rotateX(17.7deg) rotateY(-19deg);
            -o-transform: rotateX(17.7deg) rotateY(-19deg);
            -moz-transform: rotateX(17.7deg) rotateY(-19deg);
            -ms-transform: rotateX(17.7deg) rotateY(-19deg);
        }


            .barb {
              z-index: 9;
            display:block;
            float:left;
                position: absolute;
                left: -24px;
                display:block;
                bottom: 10px;
                height: 100%;
                width: 25px;
                background-color: #a4a6a6;
                transform: skewY(67deg);
                -webkit-transform: skewY(67deg);
                -o-transform: skewY(67deg);
                -moz-transform: skewY(67deg);
                -ms-transform: skewY(67deg);
                transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);
                -webkit-transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);
                -o-transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);
                -ms-transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);
                -moz-transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);
            }

            .bara {
                z-index: 9;
            display:block;
            float:left;
                position: absolute;
                top: -73px;
                left: -11.1px;
                display:block;
                width: 37px;
                height: 128px;
                background-color: #bfc1c3;
                -moz-transform: skewX(45deg);
                -o-transform: skewX(45deg);
                -webkit-transform: skewX(45deg);
                -ms-transform: skewX(45deg);
                transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);
                -webkit-transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);
                -moz-transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);
                -ms-transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);
                -o-transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);
            }
  


        .bar-in1 {
             display:block;
            float:left;
            z-index:-90;
            position: relative;
            bottom: 0;
        
            height: 100%;
            width: 37px;
            margin: 0 40px;
            bottom: 0;
            height: 100%;
            background-color: rgb(30, 183, 155);
            transform: rotateX(17.7deg) rotateY(-19deg);
            -webkit-transform: rotateX(17.7deg) rotateY(-19deg);
            -o-transform: rotateX(17.7deg) rotateY(-19deg);
            -moz-transform: rotateX(17.7deg) rotateY(-19deg);
            -ms-transform: rotateX(17.7deg) rotateY(-19deg);
        }

        .bar-green {
            position: absolute;
            width: 1px;
            height: 0%;
            left: 0px;
            bottom: 0px;
            display:block;
            float:left;
            z-index:9999;
        }

        .bar-in1b {
          z-index: 9999;
            display:block;
            float:left;
            position: absolute;
            left: -24px;
            display:block;
            bottom: 10px;
            height: 100%;
            width: 25px;
            background-color: rgb(19, 108, 92);
            -webkit-transform: skewY(67deg);
            -o-transform: skewY(67deg);
            -moz-transform: skewY(67deg);
            -ms-transform: skewY(67deg);
            transform: skewY(67deg);
            transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);
            -webkit-transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);
            -moz-transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);
            -o-transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);
            -ms-transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);
             display:block;
            float:left;
            z-index:9999;
        }

        .bar-in1a {
            z-index: 9999;
            display:block;
            float:left;
            position: absolute;
            top: -73px;
            left: -11.1px;
            display:block;
            width: 37px;
            height: 128px;
            background-color: rgb(28, 152, 128);
            -moz-transform: skewX(45deg);
            -o-transform: skewX(45deg);
            -webkit-transform: skewX(45deg);
            -ms-transform: skewX(45deg);
            transform: skewX(45deg);
            transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);
            -webkit-transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);
            -o-transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);
            -moz-transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);
            -ms-transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);
             display:block;
            float:left;
            z-index:9999;
        }

/*Bar-Label Old*/

        /*.bar-label {
            position: absolute;
            right: -7px;
    width: 50px;
       display:block;
            float:left;
            z-index:99999;
            height: 13%;
            color: #fff;
            font-size: 14px;
            bottom: -12px;
            font-weight: bold;
            transform: rotateX(18deg) rotateY(-21deg);
            -webkit-transform: rotateX(18deg) rotateY(-21deg);
            -o-transform: rotateX(18deg) rotateY(-21deg);
            -ms-transform: rotateX(18deg) rotateY(-21deg);
            -moz-transform: rotateX(18deg) rotateY(-21deg);
        }

            .bar-label p {
                top: 11px;
                color: #f4fbfa;
                text-align: center;
               display:block;
                 width: 50px;
            float:left;
            z-index:99999;
            }*/

/*Bar-Label Old END*/

/*Bar-Label NEW*/
           .bar-label{          
           position: absolute;
left: 40px;
width: 50px;
display: block;
float: left;
z-index:9;
/*z-index: 12;*/
height: 13%;
color: white;
font-size: 14px;
bottom: -12px;
font-weight: bold;

        }
            .bar-label p {
                  top: 11px;
                color: #f4fbfa;
                text-align: center;
               display:block;
                 width: 50px;
            float:left;
            position:relative;
            z-index:99999;
                   transform: rotateX(18deg) rotateY(-21deg);
            -webkit-transform: rotateX(18deg) rotateY(-21deg);
            -o-transform: rotateX(18deg) rotateY(-21deg);
            -ms-transform: rotateX(18deg) rotateY(-21deg);
            -moz-transform: rotateX(18deg) rotateY(-21deg);
            }

/*Bar-Label NEW END*/

        .bar1 {
            /*float: left;
            position: relative;
            bottom: 0;
            z-index: 9;
            height: 100%;
            width: 37px;
            margin: 0 40px;
            bottom: 0;
            height: 100%;
            background-color: #8297aa;
            transform: rotateX(17.7deg) rotateY(-19deg);
            -webkit-transform: rotateX(17.7deg) rotateY(-19deg);
            -o-transform: rotateX(17.7deg) rotateY(-19deg);
            -moz-transform: rotateX(17.7deg) rotateY(-19deg);
            -ms-transform: rotateX(17.7deg) rotateY(-19deg);*/

              float: left;
            position: relative;
            bottom: 0;
            /*z-index: 9;*/
            z-index:0;
            display:block;
            height: 100%;
            margin: 0 40px;
            bottom: 0;
            height: 100%;
            width: 37px;
      background-color: #8297aa;

            transform: rotateX(17.7deg) rotateY(-19deg);
            -webkit-transform: rotateX(17.7deg) rotateY(-19deg);
            -o-transform: rotateX(17.7deg) rotateY(-19deg);
            -moz-transform: rotateX(17.7deg) rotateY(-19deg);
            -ms-transform: rotateX(17.7deg) rotateY(-19deg);
        }


            .bar1b {

                /*content: "";
                position: absolute;
                left: -24px;
                bottom: 10px;
                height: 100%;
                display:block;
                width: 25px;
                background-color: #516678;
                transform: skewY(67deg);
                -webkit-transform: skewY(67deg);
                -o-transform: skewY(67deg);
                -moz-transform: skewY(67deg);
                -ms-transform: skewY(67deg);
                transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);
                -webkit-transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);
                -moz-transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);
                -o-transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);
                -ms-transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);*/


                 z-index: 9;
            display:block;
            float:left;
                position: absolute;
                left: -24px;
                display:block;
                bottom: 10px;
                height: 100%;
                width: 25px;
                background-color: #516678;
                transform: skewY(67deg);
                -webkit-transform: skewY(67deg);
                -o-transform: skewY(67deg);
                -moz-transform: skewY(67deg);
                -ms-transform: skewY(67deg);
                transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);
                -webkit-transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);
                -o-transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);
                -ms-transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);
                -moz-transform: rotateX(175deg) rotateY(-204deg) skewY(39deg);
            }

            .bar1a{
                /*content: "";
                position: absolute;
                display:block;
                top: -73px;
                left: -11.1px;
                width: 37px;
                height: 128px;
                background-color: #6d8295;
                transform: skewX(45deg);
                -moz-transform: skewX(45deg);
                -o-transform: skewX(45deg);
                -webkit-transform: skewX(45deg);
                -ms-transform: skewX(45deg);
                transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);
                -webkit-transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);
                -o-transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);
                -moz-transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);
                -ms-transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);*/


                 z-index: 9;
            display:block;
            float:left;
                position: absolute;
                top: -73px;
                left: -11.1px;
                display:block;
                width: 37px;
                height: 128px;
                background-color: #6d8295;
                -moz-transform: skewX(45deg);
                -o-transform: skewX(45deg);
                -webkit-transform: skewX(45deg);
                -ms-transform: skewX(45deg);
                transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);
                -webkit-transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);
                -moz-transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);
                -ms-transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);
                -o-transform: rotateX(81.5deg) rotateY(1deg) rotateZ(-5deg)skew(5deg);
            }

        .bar-label1 {
            position: absolute;
            width:75px;
            height: 50%;
            color: #ffbf00;
            right: 2px;
            font-size: 15px;
            display:block;
            float:left;
            /*z-index:99999;*/
            bottom: -12px;
            /*z-index: 99;*/
            font-weight: bold;
        }

            .bar-label1 p {
                top: 11px;
                color: #ffbf00;
                text-align: left;
                 display:block;
            float:left;
            /*z-index:99999;*/
                padding-left: 90px;
            }

        .bar-label2 p {
            top: 11px;
            color: #fff;
            text-align: left;
             display:block;
            float:left;
            /*z-index:99999;*/
            padding-left: 70px;
        }

        .bar-label2 {
            position: absolute;
            width: 75px;
            height: 100%;
            color: #fff;
            right: -20px;
            font-size: 15px;
           display:block;
            float:left;
            /*z-index:99999;*/
            bottom: -30px;
            font-weight: bold;
        }


/*Matrix Analysis 3D Bars End*/

/* 3D BAR NEW*/



/*Matrix*/
.education-content-block{position: relative;border-radius: 5px;background: #f1f5f8;border: 2px solid #163b69;padding: 13px;margin-top: 40px;margin-bottom: 60px;}
.education-content-desc p{background: #fff;border: 1px solid #e7e7e7;padding: 10px 15px;color: #163b69;text-align: left;font-size: 18px;margin: 0;z-index:9; font-weight: bold;  margin-bottom: 10px;  text-overflow: ellipsis;  overflow: hidden;  white-space: nowrap; }
.education-content-desc1 p{background: #e74c3c;border: 1px solid #c0392b;padding: 13px 15px;color: #fff;text-align: center;font-size: 18px;margin: 0;/* font-weight: bold; */}
.education-content-desc,.survey-3d{cursor:pointer;}

.pad-change{padding: 5px;}
.top-header-title{background: #f9c751;border-radius: 5px;}
.top-header-title h1{color: #000;font-size: 24px;text-transform: capitalize;padding: 20px 10px;text-align: center;display: block;font-weight: bold;margin: 0;}
.matrix-select{
    width: 100%;
    font-size: 19px;
    color: #fff;
    padding: 5px;
    resize: none;
    background: transparent;
    height: 40px;
    border: 1px solid #fff!important;
    border-radius: 4px;
    position: relative;
    line-height: 40px;
}
select:focus{outline:0;}
.select-block{margin-top: 20px;}

.assment-block h3
{
    color: #f9c751;
    font-size: 20px;
    padding: 10px 0px;
    text-align: left;
    font-weight: bold;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 12px;
}
.assment-text{margin-top: 10px;}
.assment-text p
{
    color: #fff;
    font-size: 16px;
    padding:0px;
    text-align: left;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
}
.assment-img{position: relative;height: 276px;}
.assment-img img{position: absolute;left: 0;/* right: 0; */top: 0;bottom: 0;margin: auto;max-width: 100%;max-height: 100%;}
.matrix-profile-img{position: relative;height: 238px;overflow: hidden;margin-top: 100px;}
.matrix-profile-img img{position: absolute;left: 0;right: 0; top: 0;bottom: 0;margin: auto;max-width: 100%;max-height: 100%;}
.profile-text{position: absolute;bottom:0;width: 100%;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;}
.profile-text p{
    color: #fff;
    font-size: 18px;
    padding:0px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    background: #9b59b6;
    padding: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    }
.elipse-grade{width: 50px;height: 50px;margin: auto;border: 3px solid #fff;border-radius: 100%;background: #e74c3c;margin-top: 10px;}
.elipse-grade p
{
    color: #fff;
    font-size: 15px;
    padding:0px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    line-height: 45px!important;
}
.survey-heading h2
{
       color: #fff;
    font-size: 24px;
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    background: #e74c3c;
    transform: rotate(90deg);
}
.survey-heading
{
        
}
.rt-arw{position: absolute;right: 10px;top: 18px;}
.survey-3d{position: relative;height: 43px; cursor:pointer;}
.survey-3d img,.survey-3d-green img{position: absolute;left: 0;right: 0; top: 0;bottom: 0;margin: auto;max-width: 100%;max-height: 100%;}
.survey-block{padding: 13px 10px;}
.survey-text{position: relative;height: 311px;background: #e74c3c;border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
/*.survey-text h2{
    position: absolute;
    width: 305px!important;
    height: 27px;
    transform: rotate(90deg);
    color:#fff;
    color: #fff;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    left: -113px;
    z-index: 9;
    top: 140px;
    margin: 0;
    }*/
.survey-text h2{
    position: absolute;
    width: 305px!important;
    height: 27px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    color:#fff;
    color: #fff;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    left: -113px;
    z-index: 9;
    top: 140px;
    margin: 0;
    }

.matrix-header-title h1 {
    color: #000;
    font-size: 18px;
    text-transform: capitalize;
    padding: 20px 10px;
    text-align: center;
    display: block;
    font-weight: bold;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 20px;
}
.matrix-header-title {
    background: #f9c751;
    border-radius: 5px;
}
.matrix-header-title2 {
    background: #f9c751;
    border-radius: 5px;
    margin-top: 40px;margin-bottom: 20px;
}
.matrix-header-title1 h1 {
    color: #000;
    font-size: 18px;
    text-transform: capitalize;
    padding: 20px 10px;
    text-align: center;
    display: block;
    font-weight: bold;
    margin: 0;
}
.survey-3d-green{position: relative;height: 260px;margin-top: 0;margin-bottom: 10px;z-index: 2;width:78px;}
.education-content-3d-desc p {
    background: #fff;
    border: 1px solid #e7e7e7;
    padding: 11px 12px;
    color: #163b69;
    text-align: center;
    font-size: 18px;
    margin: 0;
    /* font-weight: bold; */
    margin-bottom: 17px;
}
.margin-change{margin-top: 5px;}
.chg-text p {
    font-size: 18px;
    text-transform: capitalize;
    padding: 11px 12px;
    text-align: center;
    margin: 0;
    height: 46px;
    /* border: 1px solid #e7e7e7; */
    margin-bottom: 17px;
}
/*.chg-text p span{padding-left: 10px;}*/
.chg-text{background: #fff;}
.survey-margin{margin-top: 30px;}
.education-content-desc2 p {
    background: #fff;
    border: 1px solid #e7e7e7;
    padding: 10px 15px;
    color: #163b69;
    text-align: center;
    font-size: 18px;
    margin: 0;
    /* font-weight: bold; */
    /* margin-bottom: 10px; */
}
.left-arw{position: absolute;left: 0;top: 45px;z-index:9;}
.left-arw1{position: absolute;left: 0;top: 56px;}
/*Matrix*/
.margin-btm-al{margin-bottom:20px;}
.popup-display-overlay{  
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 99;}
.popup-div{
    display: block;
    position: absolute;
    left: 400px;
    z-index: 99;
    top: -16px;
    margin-top: 116px;
    }
.popup-div1{
    display: block;
    position: absolute;
    left: 400px;
    z-index: 99;
    top: -16px;
    margin-top: 116px;
    }
.z-index-change{z-index:99;}
.added-width{width: 325px;}
.close-div{position:absolute;right:10px;top:6px;z-index:9;width:30px;height:30px;cursor:pointer;text-align:center;}
.close-div i{    line-height: 30px;font-size: 20px;}

/*Client-review*/
.top-header-title-client {
    background: #f9c751;
    border-radius: 5px;
}
.top-header-title-client h1 {
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    padding: 20px 10px;
    text-align: center;
    display: block;
    font-weight: bold;
    margin: 0;
}
.top-header-title-client1 {
    background: #f9c751;
    border-radius: 5px;
}
.top-header-title-client1 h1 {
    color: #000;
    font-size: 20px;
    text-transform: capitalize;
    padding: 15px 10px;
    text-align: left;
    display: block;
    margin: 0;
    font-weight: bold;
}
.month-title-blue{background:#3498db;}
.month-title-pink{background:#d9325d;}
.month-title-purple{background:#9b59b6;}
.month-title-orange{background:#e67e22;}
.Status-title-open p{background:#2ecc71;color: #fff;}
.Status-title-close p{background:#e74c3c;color:#fff;}
.Status-title-empty p{background:#fff;color:#163d6c;}
.month-title h2
{
    color: #fff;
    font-size:16px;
    text-transform: uppercase;
    padding: 10px 10px;
    text-align: center;
    display: block;
    margin: 0;
}
.Status-title p
{
    font-size: 14px;
    text-transform: capitalize;
    padding: 6px 10px;
    text-align: center;
    display: block;
    margin: 0;
    margin-top: 2px;
}
.month-block-al{padding: 2px;background: #fff;}
.month-odd-pad{padding: 2px 0!important;}
.month-pad-left{padding-left: 0!important;}
.month-active{position: relative;transform: scale(1.2);-webkit-transform: scale(1.2);-moz-transform: scale(1.2);-o-transform: scale(1.2);-ms-transform: scale(1.2);z-index: 99;}
/*.month-active .month-title h2{padding: 13px 10px!important;font-size: 18px!important;}
.month-active .Status-title p{padding: 13px 10px!important;font-size: 15px!important;}*/
.month-blk-al{margin-top: 30px;}
.client-content-desc p {
    background: #fff;
    border: 1px solid #e7e7e7;
    padding: 8px 15px;
    color: #163b69;
    text-align: left;
    font-size: 16px;
    margin: 0;
}
.client-active p{ background: #3598db!important;border: 1px solid #3598db!important;color:#fff!important;}
.client-active .rt-arw-ch{display: none;}
.client-active .rt-arw-ch1{display: block;}
.rt-arw-ch {
    position: absolute;
    right: 10px;
    top: 10px;
}
.rt-arw-ch1 {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}
.client-content-desc2 p {
    padding: 10px 5px;
    color: #163b69;
    text-align: left;
    font-size: 18px;
    margin: 0;
}
.open-btn{
    background: #fff;
    border: 1px solid #e7e7e7;
    padding: 7px 15px;
}
.open-btn p{
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
    display: block;
    background: #2ecc71;
    color:#fff;
    margin: 0;
    border-radius: 4px;
    width: 100px;
    margin: auto;
}
.close-btn{
    background: #fff;
    border: 1px solid #e7e7e7;
    padding: 7px 15px;
}
.close-btn p{
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
    display: block;
    background: #e74c3c;
    color:#fff;
    margin: 0;
    border-radius: 4px;
    width: 100px;
    margin: auto;
}
.client-select {
    width: 220px;
    font-size: 19px;
    color: #fff;
    padding: 5px;
    resize: none;
    background: transparent;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #fff!important;
    border-radius: 4px;
    position: relative;
    line-height: 40px;
}
.client-search-btn{display: inline-block;width:auto;}
.client-search-btn a
{
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    background: #f9c751;
    color: #212121;
    margin: 0;
    border-radius: 4px;
    width: 120px;
    padding: 8px 9px;
    margin: auto;
    font-weight: bold;
}
.client-label{font-size: 20px;color:#fff;font-weight: normal;}
.serch-client-block{margin-top: 30px;margin-bottom: 30px;}
.member-content-desc p {
    background: #fff;
    border: 1px solid #e7e7e7;
    padding: 10px 15px;
    color: #163b69;
    text-align: left;
    font-size: 18px;
    margin: 0;
}
.member-margin{margin-bottom: 10px;}
.member-content-desc1 p {
    background: #fff;
    border: 1px solid #e7e7e7;
    padding: 25px 15px;
    color: #163b69;
    text-align: left;
    font-size: 18px;
    margin: 0;
    border-right: 0;
}
.member-content-desc1 span
{
    padding: 25px 15px;
    color: #163b69;
    text-align: right;
    font-size: 18px;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-left: 0;
}
.member-survey-3d{
    position: relative;
    height: 43px;
}
.member-survey-3d img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.profile-img1 {
    position: relative;
    height: 165px;
    overflow: hidden;
    margin-top: 30px;
}
.profile-img1 img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.profile-text1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.profile-text1 p {
    color: #fff;
    font-size: 13px;
    padding: 0px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    background: #e74c3c;
    padding: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.profile-content-all{background: #fff;border: 1px solid #e7e7e7;padding: 10px!important;}
.profile-content-desc1{margin-bottom: 8px;}
.profile-content-desc1 p {
    background: #fff;
    color: #163b69;
    text-align: left;
    /* padding: 10px; */
    font-size: 18px;
    margin: 0;
}
.profile-content-desc1 span
{
    color: #163b69;
    /* padding: 10px; */
    text-align: left;
    font-size: 18px;
    background: #fff;
    padding-left: 10px;
}
.profile-content-desc-pic p {
    background: #fff;
    border: 1px solid #e7e7e7;
    padding: 10px 8px;
    color: #163b69;
    text-align: center;
    font-size: 14px;
    margin: 0;
    font-weight: bold;
    margin-top: 20px;
}
.client-search-btn1 a {
    font-size: 17px;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    background: #f9c751;
    color: #212121;
    margin: 0;
    border-radius: 4px;
    /* width: 120px; */
    padding: 8px 25px;
    margin: auto;
    font-weight: bold;
}

.item-table thead tr {
    background:#9B58B4!important;
    color:#fff;
}
.item-table thead tr th {
    border-bottom: 0!important;
    text-align: left;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: normal;
}
.item-table-head tr td {
    color: #575757!important;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: normal;
    /* border-top: 1px solid #d2d2d2; */
}
.item-content-desc p {
    background: #fff;
    border: 1px solid #e7e7e7;
    padding: 10px 15px;
    color: #163b69;
    text-align: left;
    font-size: 18px;
    margin: 0;
}
.item-survey-3d {
    position: relative;
    height: 43px;
    width: 41px; 
}
.item-survey-3d img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.Status-title-item p {
    font-size: 14px;
    text-transform: uppercase;
    padding: 6px 18px;
    text-align: center;
    display: block;
    margin: 0;
    margin-top: 2px;
    border-radius: 4px;
}
.Status-title-open-item p {
    background: #2ecc71;
    color: #fff;
}
.Status-title-close-item p {
    background: #e74c3c;
    color: #fff;
}
.top-header-title-item h1 {
    color: #000;
    font-size: 20px;
    text-transform: capitalize;
    padding:10px 10px;
    text-align: left;
    display: block;
    margin: 0;
    font-weight: bold;
}
.top-header-title-item {
    background: #f9c751;
}
.tick-3d
{   
    position: absolute;
    left: 4px;
    top: 3px;
    width: 100%;
    height: 100%;

   
}
.table-item-scroll{position: relative;height: 206px;overflow: auto;}
.table-item-scroll1{position: relative;height: 270px;overflow: auto;}
.table-item-scroll2{position: relative;height: 262px;overflow: auto;}
.name-status p{padding: 9px 10px!important;margin-top: 0!important;}


	.panel-group .panel {
		border-radius: 0;
		box-shadow: none;
		border-color: #EEEEEE;
		float: left;
		width: 100%;
	}

	.panel-default > .panel-heading {
		padding: 0;
		border-radius: 0;
		color: #212121;
		background-color: #FAFAFA;
		border-color: #EEEEEE;
	}

	.panel-title {
		font-size: 14px;
	}

	.panel-title > a {
		display: block;
		padding: 15px;
		text-decoration: none;
		position: relative;
		float: left;
		width: 100%;
		font-size: 20px;
	}

	.more-less {
		float: right;
		color: #212121;
		position: absolute;
		top: 16px;
		right: 5px;
		font-size: 26px;
		font-weight: bold;
		z-index: 9;
	}

	.panel-default > .panel-heading + .panel-collapse > .panel-body {
		border-top-color: #EEEEEE;
	}

.meeting-content-desc p {
    background: #2ecc71;
    border: 1px solid #2ecc71;
    padding: 10px 15px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    margin: 0;
    height: 259px;
    line-height: 245px;
    font-weight: bold;
}


/*Client-review*/

/*Responsive*/


/*22inches*/
@media (min-width: 1930px) and (max-width:2124px) {
      .popup-div,.popup-div1{left:608px;}
    .survey-text h2{    left: -86px;
    font-size: 21px;
    top: 149px;
    width: 328px!important;}
}

/*24inches*/
@media (min-width: 2125px) and (max-width:2305px) {
          .popup-div,.popup-div1{left:667px;}
    .survey-text h2{    left: -76px;
    font-size: 21px;
    top: 149px;
    width: 328px!important;}
}

/*26inches*/
@media (min-width: 2306px) and (max-width: 2500px) {
          .popup-div,.popup-div1{left:732px;}
    .survey-text h2{    left: -66px;
    font-size: 21px;
    top: 149px;
    width: 328px!important;}
}

/*28inches*/
@media (min-width: 2520px) and (max-width:2700px) {
          .popup-div,.popup-div1{left:797px;}
    .survey-text h2{    left: -56px;
    font-size: 21px;
    top: 149px;
    width: 328px!important;}
}

/*30inches*/
@media (min-width: 2720px) and (max-width: 2820px) {
          .popup-div,.popup-div1{left:845px;}
    .survey-text h2{    left: -46px;
    font-size: 21px;
    top: 149px;
    width: 328px!important;}
}

/*32inches
@media (min-width: 2830px) and (max-width: 3100px) {
    
}

34inches
@media (min-width: 3150px) and (max-width:3300px) {
    
}

36inches
@media (min-width: 3320px) and (max-width:3500px) {

}

38inches
@media (min-width: 3520px) and (max-width: 3700px) {

}

40inches
@media (min-width: 3720px) and (max-width:3900px) {

}

42inches
@media (min-width: 3920px) and (max-width: 5000px) {

}*/













@media (min-width: 1650px) and (max-width: 1930px) {
    .popup-div,.popup-div1{left:545px;}
    .survey-text h2{    left: -96px;
    font-size: 21px;
    top: 149px;
    width: 328px!important;}

}

 @media (min-width: 1199px) and (max-width: 1255px) {
     /*.bar-label{right: -8px;
    width: 64%;
    font-size: 14px;}*/
     .survey-text h2{left:-123px;    font-size: 18px;}
     .matrix-header-title1 h1{font-size:15px;}
     .popup-div,.popup-div1{left: 295px;}
}
  @media (min-width: 1260px) and (max-width: 1300px) {
     /*.bar-label{right: -4px;
    width: 64%;
    font-size: 14px;}*/
     .survey-text h2{left: -123px;font-size: 18px;}
     .matrix-header-title1 h1{font-size:15px;}
          .popup-div,.popup-div1{left: 320px;}
}
    @media (min-width: 1320px) and (max-width: 1370px) {
     /*.bar-label{    right: 8px;
    width: 53%;
    font-size: 14px;}*/
     .survey-text h2{left: -115px;    font-size: 18px;}
     .matrix-header-title1 h1{font-size:15px;}
      .popup-div,.popup-div1{left: 352px;}
}
@media (min-width: 992px) and (max-width: 1199px) 
{
    .popup-div{width:400px;}
    /*.bar-label{right: 39px;width: 48%;bottom: -20px;font-size: 14px;}*/
    /*Client*/
    .client-select{width: 165px;}
    .open-btn p,.close-btn p{width: auto;}
    .pad-info{padding: 0;}

     .survey-text{padding: 15px 0!important;}
.survey-text h2 {
    left: 0;
    height: auto;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    top: 0;
    position: relative;
        width: 100%!important;
}
.matrix-profile-img{margin-top:20px;}
.popup-display-overlay{z-index:999;}
.left-arw {
    position: absolute;
    left: 360px;
    top: 17px;
    z-index: 9;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    /* right: 0; */
}
.popup-div,.popup-div1{left:0;width:100%;margin-top: 235px;}
.survey-margin .text-center{line-height:30px;}
.chg-div,.assessments,.matrix-survey{display:block!important;}
.assment-block-1{padding:0 15px!important;}
.height-auto{height:auto!important;}
.left-arw{display:none;}
}
@media (min-width: 768px) and (max-width: 991px) 
{
    .table-block-res{margin-bottom: 0px;}
    .tab-pad {
        padding: 10px 20px !important;
    }
     /*.bar-label{right: -10px;width: 66%;bottom: -20px;font-size: 14px;}*/
   /*Client*/
    .client-select{width: 165px;margin-bottom: 10px;}
    .open-btn p,.close-btn p{width: auto;}
    .pad-info{padding: 0;}
    .Status-title-item p{width: 100px;}

    .survey-text{padding: 15px 0!important;}
.survey-text h2 {
    left: 0;
    height: auto;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);

    top: 0;
    position: relative;
        width: 100%!important;
}
.matrix-profile-img{margin-top:20px;}
.popup-display-overlay{z-index:999;}
.left-arw {
    position: absolute;
    left: 225px;
    top: 17px;
    z-index: 9;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* right: 0; */
}
.popup-div,.popup-div1{left:0;width:100%;margin-top: 238px;}
.survey-margin .text-center{line-height:30px;}
.chg-div,.assessments,.matrix-survey{display:block!important;}
.assment-block-1{padding:0 15px!important;}
.height-auto{height:auto!important;}
.left-arw{display:none;}
}

@media (max-width: 767px) 
{
    .table-block-res{margin-bottom:120px;}
    .tb-lt li { padding-right: 0px!important;width: 100%!important;}
    .tb-lt { padding-left: 0px!important;width: 100%!important;}
    .footer-bg-img{margin-top: 0;height: 160px;}
    .footer-bg-img-al{height: 160px;}
    .footer p{font-size: 12px;}
    .dashboard-logo {height: 35px;margin: 15px 0;}
    .edu-tbl-title h2{font-size: 20px;}
    .edu-table-block tr td{font-size: 17px;}
    .tab-desc h3{font-size: 16px;}
    .tab-desc p{font-size: 22px;}
    .tb-lt li a{font-size: 14px;}
    .tab-pad{padding: 10px 15px!important;}
    .dashboard-heading h2{padding: 10px 0;font-size: 14px;}
    .dashboard-title h1{padding: 10px 0;font-size: 18px;line-height: 30px;padding: 0;}
    .dashboard-img {position: relative;height: 135px;margin: 17px 0;}
    .dashboard-heading-al{margin: 15px 0;}
    .tablist-hole{padding: 20px 0;}
 
    .edu-tbl-all{margin-top: 35px;}
    .tab-img-al {margin-top:15px;margin-bottom:15px;}
    .footer-bg-img .footer-im2{right:-30px;}
    .footer-bg-img .footer-im1{left:0;}
    #chartdiv {
    width: 317px!important;
    left: 0!important;
    top: -30px;
}
    .navbar{background:#fff!important;}

    /*.bar-label{
    left: 42px;
    width: 45%;
    right: auto;
    font-size: 14px;
    bottom: -20px;
    text-align: center;
    }*/

    .survey-text{padding: 15px 0!important;}
.survey-text h2 {
    left: 0;
    height: auto;
     transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    top: 0;
    position: relative;
        width: 100%!important;
}
.matrix-profile-img{margin-top:20px;}
.popup-display-overlay{z-index:999;}
.left-arw {
    position: absolute;
    left: 155px;
    top: 17px;
    z-index: 9;
     transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* right: 0; */
}
.popup-div,.popup-div1{left:0;width:100%;margin-top: 240px;}
.survey-margin .text-center{line-height:30px;}
.chg-div,.assessments,.matrix-survey{display:block!important;}
.assment-block-1{padding:0 15px!important;}
.height-auto{height:auto!important;}
.left-arw{display:none;}
/*.survey-3d-green{height:260px!important;}*/
     /*Client*/
    .client-select{width: 165px;margin-bottom: 10px;}
    .open-btn p,.close-btn p{width: auto;}
    .pad-info{padding: 0;}
    .Status-title-item p{width: 100px;}
    
  
}





