

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    outline: none;
}

    a, a:active, a:focus {
        outline: none;
    }

ul {
    list-style: none;
    margin: 0px;
}

li {
    list-style-type: none;
}

.ui-autocomplete {
    cursor: pointer;
    z-index: 99999 !important;
}

/******************************popup**************************/
#matrix_recommendations {
    font-family: Open Sans;
}

    #matrix_recommendations .modal-body {
        background: #34495e none repeat scroll 0 0;
        border: 6px solid #ffffff;
        border-radius: 3px;
        color: #ffffff;
        float: left;
        padding: 15px 3%;
        position: relative;
        width: 100%;
    }

    #matrix_recommendations .modal-body {
        position: relative;
    }

        #matrix_recommendations .modal-body > h2 {
            margin-top: 10px;
            float: left;
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            width: 100%;
            margin-bottom: 20px;
        }

        #matrix_recommendations .modal-body a {
            color: #164978;
            float: left;
            font-weight: 600;
            text-align: center;
            text-decoration: none;
            width: 100%;
        }

    #matrix_recommendations .close {
        opacity: 1;
        position: absolute;
        right: -14px;
        top: -15px;
    }

.max_cont {
    float: left;
    height: 454px;
    width: 100%;
}



.max_items ul {
    border: 1px solid #cccccc;
    float: right;
    width: 100%;
}

    .max_items ul li div {
        border-bottom: 1px solid #ccc;
        float: left;
        width: 100%;
    }

    .max_items ul li {
        float: left;
        width: 100%;
        font-weight: 600;
        background: #fff;
        font-size: 13px;
    }

        .max_items ul li span.lft {
            background: #ffffff none repeat scroll 0 0;
            color: #164978;
            float: left;
            padding: 10px;
            width: 33%;
        }

        .max_items ul li span.mid {
            background: #ffffff none repeat scroll 0 0;
            color: #164978;
            float: left;
            padding: 10px;
            width: 33%;
        }

        .max_items ul li span.rgt {
            background: #ffffff none repeat scroll 0 0;
            color: #164978;
            float: left;
            padding: 10px;
            width: 33%;
        }

.max_items_main {
    background: #f1f5f8 none repeat scroll 0 0;
    border: 3px solid #ffffff;
    float: left;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.max_items {
    margin-bottom: 15px;
    float: left;
    width: 100%;
    background: #e74c3c none repeat scroll 0 0;
    position: relative;
}

.max-title {
    float: left;
    font-family: open sans;
    min-height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

.booth_tlt {
    color: #ffffff;
    font-family: open sans;
    font-size: 14px;
    font-weight: 900;
    width: 100%;
    letter-spacing: 3px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 15px;
    float: left;
    display: block;
}

.max-title.red {
    background: #e74c3c none repeat scroll 0 0;
}

.max-title.preparing {
    background: #1abc9c none repeat scroll 0 0;
}

.max_items.headings ul {
    border: 0 none;
    width: 99%;
}

.addSignature {
    background: #34495e;
}

.max_items.headings ul li {
    background: #34495e;
}

    .max_items.headings ul li span {
        background: #34495e none repeat scroll 0 0;
        color: #ffffff;
        font-size: 13px;
    }

        .max_items.headings ul li span.lft {
            width: 33%;
        }

        .max_items.headings ul li span.mid {
            width: 33%;
        }

        .max_items.headings ul li span.rgt {
            width: 33%;
        }

        .max_items.headings ul li span.mid a {
            color: #fff !important;
        }

.max_foot_btn {
    float: left;
    margin-top: 23px;
    width: 95%;
}

.lft_btn a {
    border: 1px solid #ffffff;
    color: #ffffff !important;
    float: none !important;
    margin-right: 10px;
    padding: 7px 13px;
    text-transform: uppercase;
    width: auto !important;
    text-decoration: none;
    display: inline-block;
    line-height: 15px;
}

.rgt_btn {
    float: right;
}

    .rgt_btn a {
        border: 1px solid #ffffff;
        color: #ffffff !important;
        float: left;
        margin-right: 10px;
        padding: 7px 13px;
        text-transform: uppercase;
        width: auto !important;
        text-decoration: none;
        background: #9b59b6;
    }

.exit {
    background: #e74c3c;
}

.clear {
    background: #e67e22;
}

.save {
    background: #2ecc71;
}

.max-title .booth_tlt {
    position: relative;
}

.max-title.preparing .booth_tlt {
    top: 39px;
}

.lft_btn {
    float: left;
    width: 100%;
    text-align: center;
}

button.view_recom {
    border: 1px solid #fff !important;
    background: #1bb79a !important;
    font-weight: 700;
    margin-top: 10px;
}

.matrix_fba {
    font-family: Open Sans;
}

    .matrix_fba .modal-body {
        background: #34495e none repeat scroll 0 0;
        border: 6px solid #ffffff;
        border-radius: 3px;
        color: #ffffff;
        float: left;
        padding: 15px 3%;
        position: relative;
        width: 100%;
    }

    .matrix_fba .modal-body {
        position: relative;
    }

        .matrix_fba .modal-body > h2 {
            margin-top: 10px;
            float: left;
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            width: 100%;
            margin-bottom: 20px;
        }

        .matrix_fba .modal-body a {
            color: #164978;
            float: left;
            font-weight: 600;
            text-align: center;
            text-decoration: none;
            width: 100%;
        }

    .matrix_fba .close {
        opacity: 1;
        position: absolute;
        right: -14px;
        top: -15px;
    }


/*New changes*/
.modal-dialog-ch {
    width: 80%;
}

.family-poup-div label {
    color: #163b69;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 3px;
}

    .family-poup-div label span {
        position: relative;
        color: red;
        width: auto;
        display: inline-block;
    }

.family-poup-div input {
    position: relative;
    color: #a3a3a3;
    border: 1px solid #a3a3a3;
    border-radius: 0;
}

.family-poup-div select {
    position: relative;
    color: #a3a3a3;
    border: 1px solid #a3a3a3;
    border-radius: 0;
}

.family-poup-div input::-webkit-input-placeholder {
    color: #a3a3a3 !important;
}

.family-poup-div input::-moz-placeholder {
    color: #a3a3a3 !important;
}

.family-poup-div input:-ms-input-placeholder {
    color: #a3a3a3 !important;
}

.family-poup-div input:-moz-placeholder {
    color: #a3a3a3 !important;
}

.family-poup-div select::-webkit-input-placeholder {
    color: #a3a3a3 !important;
}

.family-poup-div select::-moz-placeholder {
    color: #a3a3a3 !important;
}

.family-poup-div select:-ms-input-placeholder {
    color: #a3a3a3 !important;
}

.family-poup-div select:-moz-placeholder {
    color: #a3a3a3 !important;
}


.dwn {
    position: absolute;
    right: 10px;
    top: 14px;
}

.family-poup-div {
    position: relative;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.pad-right-popup {
    padding-right: 0;
}

.family-popup-btn {
    position: relative;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
    float: right;
}

    .family-popup-btn a span {
        font-size: 20px;
        padding-right: 4px;
    }

    .family-popup-btn a {
        padding: 10px;
        font-size: 16px;
        background: #f9c751 !important;
        border-radius: 4px;
        display: inline-block;
        width: auto !important;
        padding: 17px 12px;
    }

.max_items_main2 {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e7e7e7;
    float: left;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 3px;
}

.close-inside {
    position: relative;
    height: 33px;
}

    .close-inside img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
    }

.popup-family-scroll {
    height: 500px;
    overflow: auto;
}


.bdr-btm {
    padding-bottom: 15px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    background: #fff;
    padding: 15px !important;
}

.text-heading {
    font-size: 20px;
    margin-bottom: 10px;
    color: #295b8f !important;
    font-weight: bold;
    font-family: arial,sans-serif;
}

.name_lst span {
    float: left;
    width: 100%;
    line-height: 26px;
    color: #333;
}

.name_lst input[type="checkbox"] {
    margin: 0 8px;
}

.check_btn {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

    .check_btn a {
        background: #295b8f;
        margin: 5px !important;
        color: #fff !important;
        border-radius: 0 !important;
        width: auto !important;
        display: inline-block !important;
        float: left !important;
        padding: 15px 12px !important;
        text-align: center;
        font-family: arial,sans-serif;
    }

.servies_lst h3 {
    margin: 10px 2px;
    text-align: left;
    font-size: 15px;
    float: left;
    color: #295b8f;
    width: 100%;
    font-weight: bold;
    font-family: arial,sans-serif;
}

.servies_lst ul li input[type="checkbox"] {
    padding: 12px;
    position: relative;
    right: 5px;
    top: 2px;
}

.servies_lst ul li {
    padding-bottom: 10px;
    color: #000;
    padding-left: 20px;
    font-family: arial,sans-serif;
}

.check_btn input[type="button"] {
    background: #295b8f;
    padding: 6px;
    margin: 5px 5px 10px 0px;
    color: #fff;
    border-radius: 0;
    padding: 17px 13px;
    /* width: 120px; */
    float: inherit;
    /* height: 35px; */
    text-align: center;
    /* line-height: 23px; */
    cursor: pointer;
    border: 0px;
}

.fam_mem h3 {
    /* color: #333; */
    color: #295b8f;
    float: left;
    /* font-size: 15px; */
    font-size: 14px;
    font-weight: bold;
    margin: 0 11px 0 0;
    font-family: arial,sans-serif;
}

.txt_labe {
    text-align: left;
    padding-left: 0px;
    color: #333;
}

    .txt_labe label {
        font-weight: normal !important;
    }

.company-name label {
    margin-bottom: 12px;
    font-family: arial,sans-serif;
    font-weight: normal;
    color: #295b8f;
}

.company-name span {
    display: block;
    /* line-height: 14px; */
    line-height: 5px;
    font-family: arial,sans-serif;
    font-weight: normal;
    color: #333;
}


.cent_lst {
    display: inline-block;
    float: left;
    margin-bottom: 10px;
}

.refer_type_main ul li label {
    float: left;
    width: 24%;
    color: #295b8f;
}

.refer_type_main ul li {
    width: 100%;
    float: left;
    padding-left: 0px;
    padding-bottom: 10px;
}

    .refer_type_main ul li span {
        float: left;
        width: 60%;
        color: #555;
        line-height: 22px;
    }

    .refer_type_main ul li select {
        width: 100%;
        float: left;
        border: 1px solid #ccc !important;
        color: #555;
        height: 30px;
        padding: 6px;
    }

/*validation for Referral Category*/
.error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442 !important;
    background-color: #f2dede;
    border-color: transparent;
    width: 219px;
    padding: 0px;
    position: relative;
}

    .error:before {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        top: 50%;
        left: -7px;
        margin-top: -6px;
        content: "";
        border-width: 6px 6px 6px 0;
        border-right-color: #f2dede;
    }

.setcolor {
    border-color: red;
}

.popup-family-scroll1 {
    height: 375px;
    overflow: auto;
}

.refer-modal {
    padding-top: 20px;
}

.modal-dialog-width {
    width: 780px !important;
}

.modal-bdr {
    border: none !important;
    margin: 0 !important;
}

.modal-width-change {
    width: 750px;
}

.modal-height-change {
    height: 500px;
    overflow: auto;
}

.refer_entry h2 {
    color: #295b8f;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
}

.refer_entry ul {
    float: left;
    width: 100%;
    padding: 10px;
    margin: 0;
}

    .refer_entry ul li {
        float: left;
        width: 100%;
        list-style-type: none;
        font-size: 15px;
        color: black;
        padding-bottom: 7px;
    }

        .refer_entry ul li label {
            float: left;
            text-align: left;
            padding-right: 2%;
            width: 46%;
        }

        .refer_entry ul li span label {
            width: auto;
            float: left;
            text-align: left;
            margin: 0 !important;
            padding-right: 10px;
            margin-bottom: 15px;
        }

.refer_entry .radio-inline {
    width: 100% !important;
}

.refer_entry ul li span textarea {
    height: 90px;
    width: 100%;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgb(52, 73, 94) !important;
    opacity: 1;
    border: 1px solid #fff;
}

.family-poup-div select {
    -moz-appearance: window;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}




.kbw-signature {
    width: 400px;
    height: 200px;
}


/*on-hover Assessment Group Text*/

.assessment-group .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    /* padding: 11px; */
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -60px;
    line-height: 25px;
}

    .assessment-group .tooltiptext::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black transparent;
    }

.assessment-group:hover .tooltiptext {
    visibility: visible;
}

/*on-hover Description Text*/
.desc-text .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 33%;
    margin-left: -60px;
    line-height: 25px;
}

    .desc-text .tooltiptext::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black transparent;
    }

.desc-text:hover .tooltiptext {
    visibility: visible;
}

/*on-hover Question Text*/
.desc-qn .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 33%;
    margin-left: -60px;
    line-height: 25px;
}

    .desc-qn .tooltiptext::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black transparent;
    }

.desc-qn:hover .tooltiptext {
    visibility: visible;
}
