
body{font-family: "Verdana"!important;}

.no-padding{padding: 0;}

/*dashboard*/
.dashboard{overflow: hidden;background: #ededed;}
.left-side-container{width: 16%;background: #f9f9f9;/* height: 300px; */float: left;position: relative;}
.logo-section-background{background: #0993d1;}
.logo-section{position: relative;height: 74px;/* margin: 15px 0; */}
.logo-section img{position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;max-width: 100%;max-height: 100%;}

.right-side-container{width: 84%;float: left;}
.top-header-background{background: #fff;}
.top-header{height: 75px;border-bottom: 1px solid #ebf1f9;background: #0993d1;}

.nav-icon{/* width: 20px; *//* height: 20px; */margin-top: 25px;cursor: pointer;padding-left: 20px;}
.nav-icon img{max-width: 100%;}
.nav-icon1{width: 20px;height: 20px;margin-top: 35px;cursor: pointer;position: absolute;right: 10px;display: none;}
.nav-icon1 img{max-width: 100%;}

.dashboard-menu ul{padding: 0;margin: 0;padding-top: 30px;}
.dashboard-menu ul li{
    list-style: none;
    position: relative;
    border-right: 3px solid transparent;
    border-bottom: 1px solid #e9e9e9;
    position: relative;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.dashboard-menu ul li a{color: #908f94;list-style: none;font-size: 15px;text-transform: uppercase;padding: 13px 25px;display: block;/* font-weight: bold; */}
.dashboard-menu ul li a:hover{
    color: #908f94;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.dash-icon{position: relative;top: -1px;padding-right: 15px;}
.dash-icon1{position: relative;top: -1px;padding-right: 15px;display: none;}
/*.dash-icon img,.dash-icon1 img{width: 16.5%;}*/
.dashboard-menu ul li:hover{
    background: #ffffff;
    border-right: 3px solid #0993d1;
    box-shadow: 0px 0px 20px #eae8e8;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.dashboard-menu ul li:hover .dash-icon1{display: inline-block;transition: all linear 0.3s;
                                        -webkit-transition: all linear 0.3s;
                                        -moz-transition: all linear 0.3s;
                                        -ms-transition: all linear 0.3s;
                                        -o-transition: all linear 0.3s;}
.dashboard-menu ul li:hover .dash-icon{display: none;transition: all linear 0.3s;
                                       -webkit-transition: all linear 0.3s;
                                       -moz-transition: all linear 0.3s;
                                       -ms-transition: all linear 0.3s;
                                       -o-transition: all linear 0.3s;}
.sub{padding-top: 0!important;transition: all linear 0.3s;
     -webkit-transition: all linear 0.3s;
     -moz-transition: all linear 0.3s;
     -ms-transition: all linear 0.3s;
     -o-transition: all linear 0.3s;}
.sub li a{color:#fff!important;transition: all linear 0.3s;
          -webkit-transition: all linear 0.3s;
          -moz-transition: all linear 0.3s;
          -ms-transition: all linear 0.3s;
          -o-transition: all linear 0.3s;}
.sub li a:hover{color:#fff!important;}
.sub li{
        color:#fff!important;
        background: #0993d1!important;
        border-right: 0px!important;
        box-shadow: none!important;
        transition: all linear 0.3s;
        -webkit-transition: all linear 0.3s;
        -moz-transition: all linear 0.3s;
        -ms-transition: all linear 0.3s;
        -o-transition: all linear 0.3s;
        }
.sub li:hover{color:#fff!important;background: #0993d1!important;border-right: 0px!important;box-shadow: none!important;}

.link{transition: all linear 0.3s;
      -webkit-transition: all linear 0.3s;
      -moz-transition: all linear 0.3s;
      -ms-transition: all linear 0.3s;
      -o-transition: all linear 0.3s;}





#menu-active .dash-icon1{display: inline-block;}
#menu-active .dash-icon{display: none;}
#menu-active a{color: #908f94;}
#menu-active{background: #fff;/* box-shadow: 0 11px 24px #f2f2f2; */box-shadow: 0px 0px 20px #eae8e8;border-right: 3px solid #0993d1;}
.resize-menu{display: none;}
.resize-menu .dash-icon1{padding-right: 0!important;}
.resize-menu .dash-icon{padding-right: 0!important;}
.resize-logo{display: none;}
.dashboard-menu1{overflow: auto;border-right: 1px solid #e9e9e9;}


.dash-count1{background: #fff;border: 2px solid #e4ebf1;padding: 0;}
.dashboard-content-pad{padding: 0px;}
.dashboard-content{background: url('../images/body-bg.png') center no-repeat #1f4873;background-size:cover;background-position: 100% 100%;}
.dashboard-content-heading{/* background: #f9fafb; *//* padding: 15px 0; *//* border-bottom: 1px solid #eeeeee; */}
.content-icon {
    position: relative;
    padding-right: 10px;
    top: -7px;
}
.dash-bdr-tp{border-top: 1px solid #e4ebf1;}
.dashboard-content-heading h2{font-size: 15px;text-transform: capitalize;margin: 0;padding-bottom: 3px;padding-top: 20px;color: #a9a9a9;text-align: left;}
.dash-content-icon{width: 38px;height: 38px;margin: auto;}
.dash-content-icon img{max-width: 100%;max-height: 100%;}
.dash-content-icon-bg{background: #ececec;padding: 25px 0;}
.dash-content-title{margin-top: 15px;margin-bottom: 40px;}
.dash-content-title h4{font-size: 25px;text-transform: uppercase;margin: 0;padding: 7px 15px;color: #546a79;text-align: left;font-weight: bold;}
.dash-content-title p{font-size: 16px;text-transform: capitalize;margin: 0;padding:0px 15px;color: #b9c3d4;text-align: left;}
.dash-count{padding: 50px 0 50px 30px;}
.dash-count-pad{padding-right: 30px;}

.list-im{width: 74px;height: 74px;position: relative;margin: auto;}
.list-im img{max-height: 100%;max-width: 100%;border-radius: 100%;}
.list-title h3{font-size: 16px;text-transform: capitalize;margin: 0;padding: 5px 10px;color: #546a79;text-align: left;font-weight: bold;margin: 0;}
.list-title p{font-size: 13px;text-transform: uppercase;margin: 0;padding:5px 10px;color: #b9c3d4;text-align: left;font-weight: bold;margin: 0;}
.list-title{margin-top: 12px;}
.content-list{padding-top: 15px;padding-bottom: 15px;position: relative;}
.content-list:before{position: absolute;content: '';border-bottom: 1px dashed #cacaca;width: 94%;bottom: 0;left: 30px;}
.content-all{padding: 30px;height: 340px;overflow: auto;}
.content-list-icon{text-align: right;margin-top: 10px;}
.content-list-icon span{padding: 1px;}

#ascrail2000 div{height: 10px!important;width: 8px!important;right: -5px;}
#ascrail2000{border-right: 1px solid #e4ebf1;margin-left: -12px;}

.copyrights{position: fixed;bottom: 0;padding: 20px 10px;border-top: 1px solid #ddd;right: 0;left: 0;background: #f9f9f9;z-index: 9;}
.copyrights p{font-size: 14px;text-transform: uppercase;margin: 0;color: #a9a9a9;text-align: left;/* font-weight: bold; */margin: 0;}
.txt-ft-rght{text-align: right!important;text-transform: capitalize!important;}
.txt-ft-rght span{height: -2px;/* width: 0px; */border-right: 1px solid #a9a9a9;padding: 1px;margin-right: 5px;}

.content-all1{height: 460px!important;}
.view-all{position: relative;text-align: center;margin-top: 15px;margin-bottom: 45px;}
.view-all a{
    font-size: 20px;
    color: #fff;
    padding: 10px 40px;
    background: #0993d1;
    border-radius: 50px;
    text-transform: capitalize;
}

/*edit-profile*/

.edit-profile{
    position: relative;
    width: 600px;
    margin: auto;
    margin-top: 35px;
}
.edit-profile1{width: 660px!important;}

.form-label1 h2 {
    font-size: 17px;
    text-transform: capitalize;
    margin: 0;
    padding: 13px 0px;
    color: #a9a9a9;
    text-align: right;
    /* font-weight: bold; */
}
.input-block{margin-top: 20px;}
.add-ht{height: 50px!important;}
.text4:focus{outline: 0!important;}
.text4{
    width: 100%;
    font-size: 13px;
    color: #939598;
    padding:10px;
    resize: none;
    background: #f9f9f9;
    /* border-radius:8px; */
    height: 50px;
    font-weight: bold;
    /* width: 270px; */
    border: 1px solid #D7D7D8!important;
    /* box-shadow: inset 0 0px 2px rgba(154,153,153,.39), 0 -1px 1px #acacac, 0 1px 0 #acacac; */
    /* -webkit-box-shadow: inset 0 0px 2px rgba(154,153,153,.39), 0 -1px 1px #acacac, 0 1px 0 #acacac; */
    -moz-box-shadow: inset 0 1px 2px rgba(154,153,153,.39), 0 -1px 1px #9a9999, 0 1px 0 #FFF;
    -o-box-shadow: inset 0 1px 2px rgba(154,153,153,.39), 0 -1px 1px #9a9999, 0 1px 0 #FFF;
    -ms-box-shadow: inset 0 1px 2px rgba(154,153,153,.39), 0 -1px 1px #9a9999, 0 1px 0 #FFF;
}
.text4::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #939598;
}
.text4::-moz-placeholder { /* Firefox 19+ */
    color: #939598;
}
.text4:-ms-input-placeholder { /* IE 10+ */
    color: #939598;
}
.text4:-moz-placeholder { /* Firefox 18- */
    color: #939598;
}
.dashboard-content-pad-scroll{height: 100%;overflow: auto;overflow-y: auto;}


a:hover{text-decoration: none!important;outline: none!important;}
a:focous{text-decoration: none!important;outline: none!important;}
a:active{text-decoration: none!important;outline: none!important;}
a{text-decoration: none!important;outline: none!important;}
.right-top-info{float: right;position: relative;}
.dwn-arrow{position: absolute;right: 25px;top: 20px;cursor:pointer;}
.right-top-info p{
    font-size: 13px;
    color: #fff;
    text-transform: capitalize;
    padding: 21px 10px;
    margin: 0;
    }
.right-top-info span{padding: 5px;}
.im-sep{border-right: 1px solid #fff;padding: 0!important;margin-right: 9px;margin-left: 8px;}
.pro-tpr{margin-right: 0px;}
.dwn-tpr{margin-left: 0px;}


/*table*/
.head-all{    border-bottom: 1px solid #eeeeee;
    /* margin: 20px; */
    width: 98%;
    margin: 1%;
    margin-top: 0;
    margin-bottom: 0;}
.common-table{margin-top: 20px;border: 1px solid #d2d2d2;}
.common-table thead tr{color:#0993d1!important;}
.common-table thead tr th{border-bottom: 0!important;text-align: center;text-transform: capitalize;font-size: 18px;font-weight: normal;}
.common-table-head  tr td{color: #575757!important;text-align: center;text-transform: capitalize;font-size: 16px;font-weight: normal;border-top: 1px solid #d2d2d2;}
.common-table-head tr:nth-child(even){background: #f1f1f1!important}
.table-icon{position: relative;width: 25px;height: 25px;margin: auto;padding-left: 10px;padding-right: 10px;float: left;}
.table-icon img{position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;max-width: 100%;max-height: 100%;}
select{
  line-height: 50px;
}
.search {
  /* width: 32%; */
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 1px solid #c1e1ef;
  padding: 5px 15px;
  height: 30px;
  border-radius: 15px;
  outline: none;
  color: #199ad3;
  position: relative;
  margin-top: 13px;
  background: none;
}

.searchTerm:focus{
  color: #00B4CC;
  text-decoration: none!important;
  
}
.searchTerm:active{text-decoration: none!important;}
.searchButton {
  position: absolute;
  right: 0;
  width: 40px;
  height: 30px;
  border: none;
  background: none;
  box-shadow: none;
  /* background: #00B4CC; */
  text-align: center;
  color: #fff;
  /* border-radius: 5px; */
  cursor: pointer;
  font-size: 20px;
  top: 14px;
}
.searchTerm::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #199ad3!important;
}
.searchTerm::-moz-placeholder { /* Firefox 19+ */
    color: #199ad3!important;
}
.searchTerm:-ms-input-placeholder { /* IE 10+ */
    color: #199ad3!important;
}
.searchTerm:-moz-placeholder { /* Firefox 18- */
    color: #199ad3!important;
}
.ic-rt{text-align:  right;padding-top: 19px;}
.ic-rt span{float: right!important;}


.accordianMenu{
  /* width:200px; */
  /* margin:10px auto; */
  /* padding:10px; */
  /* background-color:#333; */
}
.accordianMenu li a{
  /* height:30px; */
  display:block;
  /* line-height:30px; */
  /* border-bottom:1px solid #222; */
}
.accordianSubMenu{
  display:none;
  background-color:#444;
  overflow:hidden;
  }
.accordianSubMenu li a{
  text-indent:10px;
}
.submenu{
  position:relative;
}
.submenu:after{
  content:"";
  position:absolute;
  top:10px;
  right:10px;
  border-left:5px solid #40DBE5;
  border-top:5px solid transparent;      
  border-bottom:5px solid transparent;
  transition:all ease-in-out 0.3s;
}
.submenu.current:after{
  transform:rotate(45deg);
  transition:all ease-in-out 0.3s;
  border-left:5px solid #fff;
}

.delete-overlay{position: fixed;left: 0;right: 0;top: 0;bottom: 0;z-index: 99;width: 100%;height: 100%;background: rgba(0,0,0,0.5);display: none;}
.delete-popup{position: relative;width: 400px;/* height: 200px; */background: #fff;margin: auto;margin-top: 160px;margin-bottom: 50px;border: 6px solid #ffffff;border-radius: 5px;}
.delete-content p{padding-top: 30px;/* padding-bottom: 20px; */text-align: center;/* font-family: all-font; */font-size: 28px;color: #575757;text-transform: capitalize;margin: 0;font-weight: bold;}
.delete-content h4{padding-top: 20px;text-align: center;font-size: 18px;color: #c1c1c1;text-transform: capitalize;margin: 0;}
.delete-button {
    position: relative;
    margin: 35px 12px;
    text-align: center;
}
.delete-button a {
    font-size: 19px;
    font-family: all-font;
    /* text-transform: capitalize; */
    margin: 0;
    padding: 10px 32px;
    /* font-weight: bold; */
    border-radius: 5px;
    color: #fff;
    background: #3baeda;
    margin-left: 10px;
}
.cancel-btn{background: #c1c1c1!important;}
.popup-img{position: relative;height: 85px;width: 85px;margin: auto;margin-top: 20px;}
.popup-img img{position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;max-width: 100%;max-height: 100%;}


.tb-lt li a:hover {border-color: #f9c751!important;outline: none!important;}
.tb-lt li a:hover, .tb-lt li a:focus {text-decoration: none;background-color: #f9c751!important;color: #333!important;outline: none!important;transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.tb-lt li a {margin-right: 2px;text-align: center;line-height: 1.42857143;border: 1px solid #fff!important;border-radius: 4px 4px 0 0;font-size: 20px;font-weight: bold;background: rgba(0,0,0,0.3)!important;
    color: #fff!important;transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.tab-pad{padding: 10px 50px!important;}
.tb-lt li.active>a, .tb-lt li.active a:hover, .tb-lt li.active a:focus {color: #333333!important;cursor: pointer!important;background-color: #f9c751!important;border: 1px solid #f9c751!important;border-bottom-color: transparent;outline: none!important;}
.tab-content{border: 1px solid #fff!important;border-radius: 5px!important;}
.tb-lt li{padding-right: 10px!important;}
.tb-lt {border-bottom: 0px solid #ddd!important;padding-left: 25px!important;}
.tab-img-al{margin-top: 30px;margin-bottom: 30px;}
.tab-img{position: relative;height: 222px;}
.tab-img img{position: absolute;left: 0;top: 0;bottom: 0;right: 0;max-height: 100%;max-width: 100%;margin: auto;}
.tab-desc{position: absolute;left: 0;right: 0;top: 45px;;width: 100%;}
.tab-desc h3{margin: 0;padding: 10px 0;color: #fff;font-size: 20px;text-align: center;font-weight: bold;}
.tab-desc p{margin: 0;padding: 0;color: #2ecc71;font-size: 30px;text-align: center;font-weight: bold;}
.blue-colour{color: #3498db!important;}
.yellow-colour{color:#f1c40f!important;}
.red-colour{color: #e74c3c!important;}
.tablist-hole{padding: 40px 0;}
.edu-tbl-title {position: relative;}
.pin{position: absolute;top: -25px;width: 50px;margin: auto;left: 0;right: 0;}
.edu-tbl-title h2{margin: 0;padding: 25px 0;color: #fff;font-size: 30px;text-align: center;font-weight: bold;background: #27ae60;padding-top: 35px;}
.edu-tbl-all{background: #2ecc71;border: 5px solid #fff;border-radius: 5px;/* padding-bottom: 20px!important; *//* background-color: white; */margin-top: 60px;}
.edu-table-block{width: 100%;margin-top: 15px;margin-bottom: 15px;}
.edu-table-block tr td{margin: 0;padding: 10px 0;color: #fff;font-size: 22px;text-align: center;font-weight: bold;}
.edu-title-orange h2{background: #d35400!important;}
.edu-tbl-all-orange{background: #e67e22!important;}
.edu-title-blue h2{background: #2980b9!important;}
.edu-tbl-all-blue{background: #3498db!important;}
.edu-title-red h2{background: #c0392b!important;}
.edu-tbl-all-red{background: #e74c3c!important;}
.edu-title-black h2{background: #161f2d!important;}
.edu-tbl-all-black{background: #212a38!important;}
.edu-tbl-graph{background: none!important;border: none!important;}
.graph-img{position: relative;height: 730px;}
.graph-img img{position: absolute;left: 0;top: 0;bottom: 0;right: 0;max-height: 100%;max-width: 100%;margin: auto;}
.graph-img1{position: relative;height: 334px;/* padding: 15px; */}
.graph-img1 img{position: absolute;left: 0;top: 0;bottom: 0;right: 0;max-height: 100%;max-width: 100%;margin: auto;padding: 15px;}
.footer-bg-img-al{position: absolute;bottom: 0;width: 100%;height: 330px;}
.footer-bg-img{position: relative;height: 311px;margin-top: 20px;}
.footer-bg-img .footer-im1{position: absolute;left: 0;top: 0;bottom: 0;max-height: 100%;max-width: 100%;margin: auto;}
.footer-bg-img .footer-im2{position: absolute;top: 0;bottom: 0;right: 0;max-height: 100%;max-width: 100%;margin: auto;}
.edu-block-all{position: relative;padding-bottom: 70px;}
.footer-all{background: #091725;}
.footer p{margin: 0;padding: 30px 10px;color: #fff;font-size: 18px;text-align: center;font-weight: normal;}



@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    #no-more-tables table, 
    #no-more-tables thead, 
    #no-more-tables tbody, 
    #no-more-tables th, 
    #no-more-tables td, 
    #no-more-tables tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr {/* border: 1px solid #ccc; */}

    #no-more-tables td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left:68%; 
        white-space: normal;
        text-align:left;
    }

    #no-more-tables td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }
}


@media (min-width: 1600px) and (max-width: 1920px)
{

}
@media (min-width: 1200px) and (max-width: 1280px)
{

}
@media (min-width: 992px) and (max-width: 1199px)
{    
    .list-im{width: 100%;}
    .dash-bdr-tp{margin-top: 15px;}
    .dash-count {padding: 15px 0 0 30px;}
    .dashboard-content-pad-scroll{height: auto;}
    .edit-profile{height: 600px;overflow: auto;}
      .left-side-container{width: 26%;}
    .right-side-container{width: 74%;}
}
@media (min-width: 768px) and (max-width: 991px)
{     
    .list-im{width: 100%;}
    .dash-bdr-tp{margin-top: 15px;}
    .dash-count {padding: 15px 15px 0 15px;}
    .content-all{padding: 0;}
    .list-title{margin-top: 0;}
    .left-side-container{width: 28%;}
    .right-side-container{width: 72%;}


    .login-button1{margin: 20px 12px;}
    .input-block {margin-top: 12px;}
    .edit-profile{width: 100%;margin-top: 10px;}
    .edit-profile1{width: 100%!important;}
    .add-ht {height: 85px !important;}
    .profile-picture{width: 100px;height: 100px;}
    .dashboard-content-pad-scroll{height: auto;}
    .edit-profile{height: 450px;overflow: auto;}
    .dashboard-menu ul li a{font-size: 14px;padding: 17px 15px;}
    .dwn-arrow{right: 10px;}
    
    .table-block-res{margin-bottom: 290px;}
    .tab-pad {padding: 10px 30px!important;}
}
@media (max-width: 767px) 
{
    .dashboard{overflow: auto;}

    .login-logo{height: 60px;}
    .login-form1{width: 100%;}
    .text2{width:100%;margin: auto;}
    .form-label h2{text-align: left;}
    .forgot-password{text-align: center;}
    .login-button{margin: 26px 0;}
    .login-button a{font-size: 20px;}
    .form-margin{margin-top: 20px;}
    .login-form-section{margin: 30px 0;}
    .form-label h2{padding: 10px 20px;}

    .nav-icon{display: none;}
    .nav-icon1{display: block;z-index: 999999;transition: all linear 0.3s;
               -webkit-transition: all linear 0.3s;
               -moz-transition: all linear 0.3s;
               -ms-transition: all linear 0.3s;
               -o-transition: all linear 0.3s;}
    .left-side-container{position: fixed;left: -282px;z-index: 9999;width: 282px!important;transition: all linear 0.3s;-webkit-transition: all linear 0.3s;-moz-transition: all linear 0.3s;-ms-transition: all linear 0.3s;-o-transition: all linear 0.3s;}
    .right-side-container{width: 100%!important;}
    .dash-count {padding: 15px 15px 0 15px;}
    .dash-bdr-tp,.text3,.nav-icon1{margin-top: 15px;}
    .text3{width: 100%;}
    .top-header{height: 60px;}


    .content-all{padding: 5px;}
    .content-list:before{left: 0;}


    .edit-profile{width: 100%;margin-top: 10px;}
    .edit-profile1{width: 100%!important;}
    .login-button1 a{padding: 8px 12px;}
    .dashboard-content-pad-scroll{height: auto;}
    
    .searchTerm{margin-bottom: 10px;}
    .right-top-info p{padding: 12px 10px;}
    .copyrights p{text-align: center;font-size: 14px;margin-bottom: 5px;}
    .txt-ft-rght{text-align: center!important;}
    .form-label1 h2{text-align: left;}
    .delete-button a{padding: 10px 20px;}
    .delete-popup{width: 100%;}
    .logo-section{height: 59px;}
    .copyrights{z-index: 99999;}
    .right-top-info{float: left;}
    
    
    
    .table-block-res{margin-bottom:120px;}
    .tb-lt li { padding-right: 0px!important;width: 100%!important;}
    .tb-lt { padding-left: 0px!important;width: 100%!important;}
    .footer-bg-img{margin-top: 0;height: 160px;}
    .footer-bg-img-al{height: 160px;}
    .footer p{font-size: 12px;}
    .dashboard-logo {height: 35px;margin: 15px 0;}
    .edu-tbl-title h2{font-size: 20px;}
    .edu-table-block tr td{font-size: 17px;}
    .tab-desc h3{font-size: 16px;}
    .tab-desc p{font-size: 22px;}
    .tb-lt li a{font-size: 14px;}
    .tab-pad{padding: 10px 15px!important;}
    .dashboard-heading h2{padding: 10px 0;font-size: 14px;}
    .dashboard-title h1{padding: 10px 0;font-size: 18px;line-height: 30px;padding: 0;}
    .dashboard-img {position: relative;height: 135px;margin: 17px 0;}
    .dashboard-heading-al{margin: 15px 0;}
    .tablist-hole{padding: 20px 0;}
    .graph-img{height: 500px;}
    .edu-tbl-all{margin-top: 35px;}
    .tab-img-al {margin-top:15px;margin-bottom:15px;}
}