@{
    ViewBag.Title = "CFRReport";
    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
}

@section MainContentHolder{
    <link href="~/Content/css/CFRAnalysis.css" rel="stylesheet" />
    <style>
            #page-wrapper{padding-left:0;padding-right:0;}
            select option{background:#205684;}
    </style>

    <div class="container-fluid" style="margin-top:20px;">
    <div class="row bg-min-height" style="background: url('../../Images/body-bg.jpg') no-repeat;background-size:cover;">
        <div class="col-xs-12 no-padding">
            <div class="top-header-title-crf">
                <h1>CFR ANALYSIS</h1>
            </div>
            <div class="col-xs-12 serch-crf-block">
                <label class="crf-label">Filter By</label>
                <select name="" class="crf-select cfr-center-select">
                    <option value="0">Center</option>
                </select>
            </div>
            <div class="col-xs-12 crf-dt-section">
                <div class="col-xs-12 crf-dt">
                    <div class="col-xs-12 no-padding" id="no-more-tables1">
                        <table class="col-md-12 table-striped table-condensed cf table-change crf-table">
                            <thead class="table-hd">
                                <tr>
                                    <th>Staff</th>
                                    <th>Total Families</th>
                                    <th>Role</th>
                                    <th>Aug</th>
                                    <th>Sep</th>
                                    <th>Oct</th>
                                    <th>Nov</th>
                                    <th>Dec</th>
                                    <th>Jan</th>
                                    <th>Feb</th>
                                    <th>Mar</th>
                                    <th>Apr</th>
                                    <th>May</th>
                                    <th>Jun</th>
                                    <th>Jul</th>
                                </tr>
                            </thead>
                            <tbody class="crf-table-head cfr-table-bind">
                               
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="margin-bottom: 50px;height: 2px;">

                </div>
            </div>
        </div>
    </div>
</div>

    <table class="appendTable hidden">
        <tr class="empty-table" style="height: 10px;">
            <td style="background: none!important;"></td>
            <td style="background: none!important;"></td>
            <td style="background: none!important;"></td>
            <td style="background: none!important;"></td>
            <td style="background: none!important;"></td>
            <td style="background: none!important;"></td>
            <td style="background: none!important;"></td>
            <td style="background: none!important;"></td>
            <td style="background: none!important;"></td>
            <td style="background: none!important;"></td>
            <td style="background: none!important;"></td>
        </tr>
        <tr>
            <td data-title="Staff">
                <div class="">
                    <p class="cfr-staffname">Kim Watkins</p>
                </div>
            </td>
            <td data-title="Total Families">
                <div class="">
                    <p class="cfr-totfamilies"></p>
                </div>
            </td>
            <td data-title="Role">
                <div class="">
                    <p>Present</p>
                </div>
            </td>
            <td data-title="Aug">
                <div class="">
                    <p class="cfr-presenter-aug cfr-presenter">N/A</p>
                </div>
            </td>
            <td data-title="Sep">
                <div class="">
                    <p class="cfr-presenter-sep cfr-presenter">N/A</p>
                </div>
            </td>
            <td data-title="Oct">
                <div class="">
                    <p class="cfr-presenter-oct cfr-presenter">N/A</p>
                </div>
            </td>
            <td data-title="Nov">
                <div class="">
                    <p class="cfr-presenter-nov cfr-presenter">N/A</p>
                </div>
            </td>
            <td data-title="Dec">
                <div class="">
                    <p class="cfr-presenter-dec cfr-presenter">N/A</p>
                </div>
            </td>
            <td data-title="Jan">
                <div class="">
                    <p class="cfr-presenter-jan cfr-presenter">N/A</p>
                </div>
            </td>
            <td data-title="Feb">
                <div class="">
                    <p class="cfr-presenter-feb cfr-presenter">N/A</p>
                </div>
            </td>
            <td data-title="Mar">
                <div class="">
                    <p class="cfr-presenter-mar cfr-presenter">N/A</p>
                </div>
            </td>
            <td data-title="Apr">
                <div class="">
                    <p class="cfr-presenter-apr cfr-presenter">N/A</p>
                </div>
            </td>
            <td data-title="May">
                <div class="">
                    <p class="cfr-presenter-may cfr-presenter">N/A</p>
                </div>
            </td>
            <td data-title="Jun">
                <div class="">
                    <p class="cfr-presenter-jun cfr-presenter">N/A</p>
                </div>
            </td>
            <td data-title="Jul">
                <div class="">
                    <p class="cfr-presenter-jul cfr-presenter">N/A</p>
                </div>
            </td>
        </tr>
        <tr>
            <td data-title="Staff">
                <div class="">
                    <p></p>
                </div>
            </td>
            <td data-title="Total Families">
                <div class="">
                    <p></p>
                </div>
            </td>
            <td data-title="Role">
                <div class="">
                    <p>Contributor</p>
                </div>
            </td>
            <td data-title="Aug">
                <div class="">
                    <p class="cfr-contributor-aug cfr-contributor">N/A</p>
                </div>
            </td>
            <td data-title="Sep">
                <div class="">
                    <p class="cfr-contributor-sep cfr-contributor">N/A</p>
                </div>
            </td>
            <td data-title="Oct">
                <div class="">
                    <p class="cfr-contributor-oct cfr-contributor">N/A</p>
                </div>
            </td>
            <td data-title="Nov">
                <div class="">
                    <p class="cfr-contributor-nov cfr-contributor">N/A</p>
                </div>
            </td>
            <td data-title="Dec">
                <div class="">
                    <p class="cfr-contributor-dec cfr-contributor">N/A</p>
                </div>
            </td>
            <td data-title="Jan">
                <div class="">
                    <p class="cfr-contributor-jan cfr-contributor">N/A</p>
                </div>
            </td>
            <td data-title="Feb">
                <div class="">
                    <p class="cfr-contributor-feb cfr-contributor">N/A</p>
                </div>
            </td>
            <td data-title="Mar">
                <div class="">
                    <p class="cfr-contributor-mar cfr-contributor">N/A</p>
                </div>
            </td>
            <td data-title="Apr">
                <div class="">
                    <p class="cfr-contributor-apr cfr-contributor">N/A</p>
                </div>
            </td>
            <td data-title="May">
                <div class="">
                    <p class="cfr-contributor-may cfr-contributor">N/A</p>
                </div>
            </td>
            <td data-title="Jun">
                <div class="">
                    <p class="cfr-contributor-jun cfr-contributor">N/A</p>
                </div>
            </td>
            <td data-title="Jul">
                <div class="">
                    <p class="cfr-contributor-jul cfr-contributor">N/A</p>
                </div>
            </td>
        </tr>
        <tr>
            <td data-title="Staff">
                <div class="">
                    <p></p>
                </div>
            </td>
            <td data-title="Total Families">
                <div class="">
                    <p></p>
                </div>
            </td>
            <td data-title="Role">
                <div class="">
                    <p>Absent</p>
                </div>
            </td>
            <td data-title="Aug">
                <div class="">
                    <p class="cfr-absent-aug cfr-absent">N/A</p>
                </div>
            </td>
            <td data-title="Sep">
                <div class="">
                    <p class="cfr-absent-sep cfr-absent">N/A</p>
                </div>
            </td>
            <td data-title="Oct">
                <div class="">
                    <p class="cfr-absent-oct cfr-absent">N/A</p>
                </div>
            </td>
            <td data-title="Nov">
                <div class="">
                    <p class="cfr-absent-nov cfr-absent">N/A</p>
                </div>
            </td>
            <td data-title="Dec">
                <div class="">
                    <p class="cfr-absent-dec cfr-absent">N/A</p>
                </div>
            </td>
            <td data-title="Jan">
                <div class="">
                    <p class="cfr-absent-jan cfr-absent">N/A</p>
                </div>
            </td>
            <td data-title="Feb">
                <div class="">
                    <p class="cfr-absent-feb cfr-absent">N/A</p>
                </div>
            </td>
            <td data-title="Mar">
                <div class="">
                    <p class="cfr-absent-mar cfr-absent">N/A</p>
                </div>
            </td>
            <td data-title="Apr">
                <div class="">
                    <p class="cfr-absent-apr cfr-absent">N/A</p>
                </div>
            </td>
            <td data-title="May">
                <div class="">
                    <p class="cfr-absent-may cfr-absent">N/A</p>
                </div>
            </td>
            <td data-title="Jun">
                <div class="">
                    <p class="cfr-absent-jun cfr-absent">N/A</p>
                </div>
            </td>
            <td data-title="Jul">
                <div class="">
                    <p class="cfr-absent-jul cfr-absent">N/A</p>
                </div>
            </td>
        </tr>

    </table>



<script src="~/Scripts/ClientFileReview/CFRReport.js"></script>
}
