@{
    ViewBag.Title = "DemographicPercentage";
    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
}

  

@section Script{

    <script src="~/Scripts/amcharts.js"></script>
    <script src="~/Scripts/gauge.js"></script>
<script src="~/Scripts/serial.js"></script>
<script src="~/Scripts/export.min.js"></script>
<link href="~/Content/css/export.css" rel="stylesheet" />
<script src="~/Scripts/light.js"></script>
<script src="~/Scripts/pie.js"></script>

<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/pie.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<div id="chartdiv"></div>		
    <script type="text/javascript">
        $(document).ready(function () {

            GetChart();
          
         
          
        });


        function GetChart() {

      
            $.ajax({
                url: HostedDir + "/AgencyUser/GetDemographicPercentage",
                type: "POST",
                
                dataType: "json",
                secureuri: false,
                async: false,
                success: function (response) {
                    console.log(response);
                    if (response != null) {

                      //  var as=(parseFloat(response.ClientDoctorPercent).toFixed(2));
                        $('#clientdoctor1').text(response.ClientDoctor);
                        $('#clientdoctor2').text(response.TotalClient);
                        $('#workingparent1').text(response.WorkingParent);
                        $('#workingparent2').text(response.TotalParent);
                        $('#insurance1').text(response.Insurance);
                        $('#insurance2').text(response.TotalClient);
                        $('#dental1').text(response.ClientDental);
                        $('#dental2').text(response.TotalClient);
                        $('#training1').text(response.JobParent);
                        $('#training2').text(response.TotalParent);
                      
                        $('#attendanceIssue1').text(response.AttendanceIssue);
                        $('#attendanceIssue2').text(response.TotalClient);
                        $('#disablility1').text(response.ClientDisability);
                        $('#disablility2').text(response.TotalClient);

                        $('#otherlang1').text(response.OtherLangSpeakers);
                        $('#otherlang2').text(response.TotalClient);
                        var chart = AmCharts.makeChart("OtherLangSpeakers", {
                            "theme": "light",
                            "type": "gauge",
                            "axes": [{
                                "topTextFontSize": 20,
                                "topTextYOffset": 70,
                                "axisColor": "#31d6ea",
                                "axisThickness": 1,
                                "topText": parseFloat(response.OtherLangSpeakersPercent).toFixed(2) + "%",
                                "endValue": 100,
                                "gridInside": true,
                                "inside": true,
                                "radius": "50%",
                                "valueInterval": 10,
                                "tickColor": "#67b7dc",
                                "startAngle": -90,
                                "endAngle": 90,
                                "unit": "%",
                                "bandOutlineAlpha": 0,
                                "bands": [{
                                    "color": "#0080ff",

                                    "endValue": 100,
                                    "innerRadius": "105%",
                                    "radius": "170%",
                                    "gradientRatio": [0.5, 0, -0.5],
                                    "startValue": 0
                                }, {
                                    "color": "#3cd3a3",
                                    "endValue": parseFloat(response.OtherLangSpeakersPercent).toFixed(2),
                                    "innerRadius": "105%",
                                    "radius": "170%",
                                    "gradientRatio": [0.5, 0, -0.5],
                                    "startValue": 0
                                }]
                            }],
                            "arrows": [{
                                "alpha": 1,
                                "innerRadius": "35%",
                                "nailRadius": 0,
                                "radius": "170%",
                                "value": parseFloat(response.OtherLangSpeakersPercent).toFixed(2)
                            }]
                        });
                        var chart = AmCharts.makeChart("ClientDoctor", {
                            "theme": "light",
                            "type": "gauge",
                            "axes": [{
                                "topTextFontSize": 20,
                                "topTextYOffset": 70,
                                "axisColor": "#31d6ea",
                                "axisThickness": 1,
                                "topText": parseFloat(response.ClientDoctorPercent).toFixed(2) + "%",
                                "endValue": 100,
                                "gridInside": true,
                                "inside": true,
                                "radius": "50%",
                                "valueInterval": 10,
                                "tickColor": "#67b7dc",
                                "startAngle": -90,
                                "endAngle": 90,
                                "unit": "%",
                                "bandOutlineAlpha": 0,
                                "bands": [{
                                    "color": "#0080ff",

                                    "endValue": 100,
                                    "innerRadius": "105%",
                                    "radius": "170%",
                                    "gradientRatio": [0.5, 0, -0.5],
                                    "startValue": 0
                                }, {
                                    "color": "#3cd3a3",
                                    "endValue": parseFloat(response.ClientDoctorPercent).toFixed(2),
                                    "innerRadius": "105%",
                                    "radius": "170%",
                                    "gradientRatio": [0.5, 0, -0.5],
                                    "startValue": 0
                                }]
                            }],
                            "arrows": [{
                                "alpha": 1,
                                "innerRadius": "35%",
                                "nailRadius": 0,
                                "radius": "170%",
                                "value": parseFloat(response.ClientDoctorPercent).toFixed(2)
                            }]
                        });
                        var chart = AmCharts.makeChart("ClientAttendanceIssue", {
                            "theme": "light",
                            "type": "gauge",
                            "axes": [{
                                "topTextFontSize": 20,
                                "topTextYOffset": 70,
                                "axisColor": "#31d6ea",
                                "axisThickness": 1,
                                "topText": parseFloat(response.AttendIssuePercent).toFixed(2) + "%",
                                "endValue": 100,
                                "gridInside": true,
                                "inside": true,
                                "radius": "50%",
                                "valueInterval": 10,
                                "tickColor": "#67b7dc",
                                "startAngle": -90,
                                "endAngle": 90,
                                "unit": "%",
                                "bandOutlineAlpha": 0,
                                "bands": [{
                                    "color": "#0080ff",

                                    "endValue": 100,
                                    "innerRadius": "105%",
                                    "radius": "170%",
                                    "gradientRatio": [0.5, 0, -0.5],
                                    "startValue": 0
                                }, {
                                    "color": "#3cd3a3",
                                    "endValue": parseFloat(response.AttendIssuePercent).toFixed(2),
                                    "innerRadius": "105%",
                                    "radius": "170%",
                                    "gradientRatio": [0.5, 0, -0.5],
                                    "startValue": 0
                                }]
                            }],
                            "arrows": [{
                                "alpha": 1,
                                "innerRadius": "35%",
                                "nailRadius": 0,
                                "radius": "170%",
                                "value": parseFloat(response.AttendIssuePercent).toFixed(2)
                            }]
                        });
                        var chart = AmCharts.makeChart("ClientInsurance", {
                            "theme": "light",
                            "type": "gauge",
                            "axes": [{
                                "topTextFontSize": 20,
                                "topTextYOffset": 70,
                                "axisColor": "#31d6ea",
                                "axisThickness": 1,
                                "topText": parseFloat(response.InsurancePercent).toFixed(2) + "%",
                                "endValue": 100,
                                "gridInside": true,
                                "inside": true,
                                "radius": "50%",
                                "valueInterval": 10,
                                "tickColor": "#67b7dc",
                                "startAngle": -90,
                                "endAngle": 90,
                                "unit": "%",
                                "bandOutlineAlpha": 0,
                                "bands": [{
                                    "color": "#0080ff",

                                    "endValue": 100,
                                    "innerRadius": "105%",
                                    "radius": "170%",
                                    "gradientRatio": [0.5, 0, -0.5],
                                    "startValue": 0
                                }, {
                                    "color": "#3cd3a3",
                                    "endValue": parseFloat(response.InsurancePercent).toFixed(2),
                                    "innerRadius": "105%",
                                    "radius": "170%",
                                    "gradientRatio": [0.5, 0, -0.5],
                                    "startValue": 0
                                }]
                            }],
                            "arrows": [{
                                "alpha": 1,
                                "innerRadius": "35%",
                                "nailRadius": 0,
                                "radius": "170%",
                                "value": parseFloat(response.InsurancePercent).toFixed(2)
                            }]
                        });

                        var chart = AmCharts.makeChart("ClientDental", {
                            "theme": "light",
                            "type": "gauge",
                            "axes": [{
                                "topTextFontSize": 20,
                                "topTextYOffset": 70,
                                "axisColor": "#31d6ea",
                                "axisThickness": 1,
                                "topText": parseFloat(response.ClientDentalPercent).toFixed(2) + "%",
                                "endValue": 100,
                                "gridInside": true,
                                "inside": true,
                                "radius": "50%",
                                "valueInterval": 10,
                                "tickColor": "#67b7dc",
                                "startAngle": -90,
                                "endAngle": 90,
                                "unit": "%",
                                "bandOutlineAlpha": 0,
                                "bands": [{
                                    "color": "#0080ff",

                                    "endValue": 100,
                                    "innerRadius": "105%",
                                    "radius": "170%",
                                    "gradientRatio": [0.5, 0, -0.5],
                                    "startValue": 0
                                }, {
                                    "color": "#3cd3a3",
                                    "endValue": parseFloat(response.ClientDentalPercent).toFixed(2),
                                    "innerRadius": "105%",
                                    "radius": "170%",
                                    "gradientRatio": [0.5, 0, -0.5],
                                    "startValue": 0
                                }]
                            }],
                            "arrows": [{
                                "alpha": 1,
                                "innerRadius": "35%",
                                "nailRadius": 0,
                                "radius": "170%",
                                "value": parseFloat(response.ClientDentalPercent).toFixed(2)
                            }]
                        });
                        var chart11 = AmCharts.makeChart("ClientJobTraining", {
                            "theme": "light",
                            "type": "gauge",
                            "axes": [{
                                "topTextFontSize": 20,
                                "topTextYOffset": 70,
                                "axisColor": "#31d6ea",
                                "axisThickness": 1,
                                "topText": parseFloat(response.JobParentPercent).toFixed(2) + "%",
                                "endValue": 100,
                                "gridInside": true,
                                "inside": true,
                                "radius": "50%",
                                "valueInterval": 10,
                                "tickColor": "#67b7dc",
                                "startAngle": -90,
                                "endAngle": 90,
                                "unit": "%",
                                "bandOutlineAlpha": 0,
                                "bands": [{
                                    "color": "#0080ff",

                                    "endValue": 100,
                                    "innerRadius": "105%",
                                    "radius": "170%",
                                    "gradientRatio": [0.5, 0, -0.5],
                                    "startValue": 0
                                }, {
                                    "color": "#3cd3a3",
                                    "endValue": parseFloat(response.JobParentPercent).toFixed(2),
                                    "innerRadius": "105%",
                                    "radius": "170%",
                                    "gradientRatio": [0.5, 0, -0.5],
                                    "startValue": 0
                                }]
                            }],
                            "arrows": [{
                                "alpha": 1,
                                "innerRadius": "35%",
                                "nailRadius": 0,
                                "radius": "170%",
                                "value": parseFloat(response.JobParentPercent).toFixed(2)
                            }]
                        });
                        
                        var chart = AmCharts.makeChart("chartdivDisability", {
                            "theme": "light",
                            "type": "gauge",
                            "axes": [{
                                "topTextFontSize": 20,
                                "topTextYOffset": 70,
                                "axisColor": "#31d6ea",
                                "axisThickness": 1,
                                "topText": parseFloat(response.ClientDisablilyPercent).toFixed(2) + "%",
                                "endValue": 100,
                                "gridInside": true,
                                "inside": true,
                                "radius": "50%",
                                "valueInterval": 10,
                                "tickColor": "#67b7dc",
                                "startAngle": -90,
                                "endAngle": 90,
                                "unit": "%",
                                "bandOutlineAlpha": 0,
                                "bands": [{
                                    "color": "#0080ff",

                                    "endValue": 100,
                                    "innerRadius": "105%",
                                    "radius": "170%",
                                    "gradientRatio": [0.5, 0, -0.5],
                                    "startValue": 0
                                }, {
                                    "color": "#3cd3a3",
                                    "endValue":  parseFloat(response.ClientDisablilyPercent).toFixed(2),
                                    "innerRadius": "105%",
                                    "radius": "170%",
                                    "gradientRatio": [0.5, 0, -0.5],
                                    "startValue": 0
                                }]
                            }],
                            "arrows": [{
                                "alpha": 1,
                                "innerRadius": "35%",
                                "nailRadius": 0,
                                "radius": "170%",
                                "value": parseFloat(response.ClientDisablilyPercent).toFixed(2)
                            }]
                        });
                        var chart = AmCharts.makeChart("chartdivWorkingParent", {
                            "theme": "light",
                            "type": "gauge",
                            "axes": [{
                                "topTextFontSize": 20,
                                "topTextYOffset": 70,
                                "axisColor": "#31d6ea",
                                "axisThickness": 1,
                                "topText": parseFloat(response.WorkingParentPercent).toFixed(2) + "%",
                                "endValue": 100,
                                "gridInside": true,
                                "inside": true,
                                "radius": "50%",
                                "valueInterval": 10,
                                "tickColor": "#67b7dc",
                                "startAngle": -90,
                                "endAngle": 90,
                                "unit": "%",
                                "bandOutlineAlpha": 0,
                                "bands": [{
                                    "color": "#0080ff",

                                    "endValue": 100,
                                    "innerRadius": "105%",
                                    "radius": "170%",
                                    "gradientRatio": [0.5, 0, -0.5],
                                    "startValue": 0
                                }, {
                                    "color": "#3cd3a3",
                                    "endValue": parseFloat(response.WorkingParentPercent).toFixed(2),
                                    "innerRadius": "105%",
                                    "radius": "170%",
                                    "gradientRatio": [0.5, 0, -0.5],
                                    "startValue": 0
                                }]
                            }],
                            "arrows": [{
                                "alpha": 1,
                                "innerRadius": "35%",
                                "nailRadius": 0,
                                "radius": "170%",
                                "value": parseFloat(response.WorkingParentPercent).toFixed(2)
                            }]
                        });

                        var chart = AmCharts.makeChart("chartdivRacePercentage", {
                            "type": "serial",
                            "theme": "none",
                            "categoryField": "Race",
                            "rotate": false,
                            "startDuration": 2,
                            "balloon": {
                                "adjustBorderColor": true,
                                "color": "#000000",
                               // "cornerRadius": 5,
                                "fontSize": 14,
                                "maxWidth": 120,
                                "verticalPadding":20,
                                "fillColor": "#FFFFFF"
                            },
                           
                            "categoryAxis": {

                                "position": "left",
                                "gridPosition": "start",
                                "gridAlpha": 0,
                                "ignoreAxisWidth": false,
                                "autoWrap": true
                            },
                            "trendLines": [],

                            "graphs": [
                                {
                                    "balloonText": "<b>Clients : [[value]]%</b>",
                                    "fillColors": "#CD0D74",
                                    "fillAlphas": 0.9,
                                    "cornerRadius": "5",
                                    "lineAlpha": 0.2,
                                    "id": "AmGraph-1",
                                    "fontSize": 18,
                                    "title": "Clients",
                                    "type": "column",
                                    "valueField": "Clients",
                                    "background": "black",
                                    "textAlign": "right"
                                },
                                {
                                    "balloonText": "<b>Staff : [[value]]% </b>",
                                    "cornerRadius": "5",
                                    "fillColors": "#754DEB",
                                    "fillAlphas": 0.9,
                                    "lineAlpha": 0.2,
                                    "id": "AmGraph-2",
                                    "fontSize": 18,
                                    "title": "Staffs",
                                    "type": "column",
                                    "valueField": "Staffs",
                                    "textAlign": "right"
                                }
                            ],
                            "guides": [],

                            "valueAxes": [
                                {
                                    "id": "ValueAxis-1",
                                    "unit": "%",
                                    "position": "left",
                                    "title": "Race in Percentage",
                                }
                            ],
                            "allLabels": [],
                            //"balloon": {},
                            "titles": [],
                            "dataProvider": [
                                {
                                    "Race": "AmericanIndian/Alaska Native",
                                    "Clients": "<br> 23.5",
                                    "Staffs": 18.1,

                                },
                                {
                                    "Race": "Asian",
                                    "Clients": 26.2,
                                    "Staffs": 22.8
                                },
                                {
                                    "Race": "Biracial/Multi-Racial",
                                    "Clients": 30.1,
                                    "Staffs": 23.9
                                },
                                {
                                    "Race": "Black/African American",
                                    "Clients": 29.5,
                                    "Staffs": 49.6
                                },
                                {
                                    "Race": "Native Hawailian/Other Pacific Islander",
                                    "Clients": 24.6,
                                    "Staffs": 25
                                },
                                 {
                                     "Race": "Other",
                                     "Clients": 24.6,
                                     "Staffs": 39
                                 },
                                  {
                                      "Race": "White",
                                      "Clients": 67.6,
                                      "Staffs": 58
                                  }
                            ],


                        });

                        var EthicityStaff = AmCharts.makeChart("EthicityStaff", {
                            "type": "pie",
                            "theme": "light",
                            "dataProvider": [{
                                "country": "Non-Hispanic",
                                "value": 260
                            },
                            {
                                "country": "Hispanic",
                                "value": 201
                            },
                            ],
                            "valueField": "value",
                            "titleField": "country",
                            "outlineAlpha": 0.4,
                            "depth3D": 15,
                            "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
                            "angle": 40,

                        });

                        var EthicityClient = AmCharts.makeChart("EthicityClient", {
                            "type": "pie",
                            "theme": "light",
                            "balloon": {
                                "adjustBorderColor": true,
                                "color": "#000000",
                                // "cornerRadius": 5,
                                "fontSize": 14,
                                "maxWidth": 220,
                                "verticalPadding": 20,
                                "fillColor": "#FFFFFF"
                            },
                            "dataProvider": [{
                                "country": "Non-Hispanic",
                                "value": 260
                            },
                            {
                                "country": "Hispanic",
                                "value": 201
                            },
                            ],
                            "valueField": "value",
                            "titleField": "country",
                            "outlineAlpha": 0.4,
                            "depth3D": 15,
                            "balloonText": "[[title]]&nbsp<span style='font-size:14px'><b>([[value]])</b> ([[percents]]%)</span>",
                            "angle": 40,

                        });
                        var chart12 = AmCharts.makeChart("AverageAge", {
                            "theme": "light",
                            "type": "serial",
                            "startDuration": 1,
                            "fontSize": 14,
                            "balloon": {
                                "adjustBorderColor": true,
                                "color": "#000000",
                                // "cornerRadius": 5,
                                "fontSize": 14,
                                "maxWidth": 420,
                                "verticalPadding": 20,
                                "fillColor": "#FFFFFF"
                            },
                            "marginLeft": 10,
                            "marginRight": 10,
                            "marginBottom": 10,
                            "marginTop": 10,
                            "dataProvider": [{
                                "country": "FSW",
                                "visits": 31.9,
                                "color": "#FF0F00"
                            }, {
                                "country": "Teacher",
                                "visits": 38.5,
                                "color": "#3cd3a3"
                            }, {
                                "country": "Families",
                                "visits": 50.5,
                                "color": "#FF6600"
                            }],
                            "valueAxes": [{
                                "position": "left",
                                "title": "Average Age"
                            }],
                            "graphs": [{
                                "balloonText": "[[country]] : <span style='font-size:14px'><b>[[value]]</b></span>",

                                //  "balloonText": "[[category]]: <br><b>[[value]]</b></br>",
                                "fillColorsField": "color",
                                "fillAlphas": 1,
                                "lineAlpha": 0.1,
                                "type": "column",
                                "valueField": "visits"
                            }],
                            "depth3D": 20,
                            "angle": 30,
                            "chartCursor": {
                                "categoryBalloonEnabled": false,
                                "cursorAlpha": 0,
                                "zoomable": false
                            },
                            "categoryField": "country",
                            "categoryAxis": {
                                "gridPosition": "start",
                                //"labelRotation": 90
                            },


                        });

                        var chart = AmCharts.makeChart("ChartRaceStaff", {
                            "type": "pie",
                            "startDuration": 0,
                            "theme": "light",
                            "addClassNames": true,
                            "balloon": {
                                "adjustBorderColor": true,
                                "color": "#000000",
                                // "cornerRadius": 5,
                                "fontSize": 14,
                                "maxWidth": 420,
                                "verticalPadding": 20,
                                "fillColor": "#FFFFFF"
                            },
                            "legend": {
                                "position": "right",
                                "marginRight": 10,
                                "autoMargins": false
                            },
                            "innerRadius": "20%",
                            "defs": {
                                "filter": [{
                                    "id": "shadow",
                                    "width": "300%",
                                    "height": "300%",
                                    "feOffset": {
                                        "result": "offOut",
                                        "in": "SourceAlpha",
                                        "dx": 0,
                                        "dy": 0
                                    },
                                    "feGaussianBlur": {
                                        "result": "blurOut",
                                        "in": "offOut",
                                        "stdDeviation": 5
                                    },
                                    "feBlend": {
                                        "in": "SourceGraphic",
                                        "in2": "blurOut",
                                        "mode": "normal"
                                    }
                                }]
                            },
                            "dataProvider": [


                                {
                                    "country": "AmericanIndian/Alaska Native",
                                    "litres": 21
                                }, {
                                    "country": "Asian",
                                    "litres": 9
                                }, {
                                    "country": "Biracial/Multi-Racial",
                                    "litres": 13
                                }, {
                                    "country": "Black/African American",
                                    "litres": 32
                                }, {
                                    "country": "Native Hawailian/Other Pacific Islander",
                                    "litres": 7
                                }, {
                                    "country": "Other",
                                    "litres": 17
                                }, {
                                    "country": "White",
                                    "litres": 42
                                }],
                            "valueField": "litres",
                            "titleField": "country",
                           
                        });

                        var chart = AmCharts.makeChart("ChartRace", {
                            "type": "pie",
                            "startDuration": 0,
                            "theme": "light",
                            "addClassNames": true,
                            "balloon": {
                                "adjustBorderColor": true,
                                "color": "#000000",
                                // "cornerRadius": 5,
                                "fontSize": 14,
                                "maxWidth": 320,
                                "verticalPadding": 20,
                                "fillColor": "#FFFFFF"
                            },
                            "legend": {
                                "position": "right",
                                "marginRight": 10,
                                "autoMargins": false
                            },
                            "innerRadius": "20%",
                            "defs": {
                                "filter": [{
                                    "id": "shadow",
                                    "width": "300%",
                                    "height": "300%",
                                    "feOffset": {
                                        "result": "offOut",
                                        "in": "SourceAlpha",
                                        "dx": 0,
                                        "dy": 0
                                    },
                                    "feGaussianBlur": {
                                        "result": "blurOut",
                                        "in": "offOut",
                                        "stdDeviation": 5
                                    },
                                    "feBlend": {
                                        "in": "SourceGraphic",
                                        "in2": "blurOut",
                                        "mode": "normal"
                                    }
                                }]
                            },
                            "dataProvider": [
                                                          

                                {
                                "country": "AmericanIndian/Alaska Native",
                                "litres": 501.9
                            }, {
                                "country": "Asian",
                                "litres": 301.9
                            }, {
                                "country": "Biracial/Multi-Racial",
                                "litres": 201.1
                            }, {
                                "country": "Black/African American",
                                "litres": 165.8
                            }, {
                                "country": "Native Hawailian/Other Pacific Islander",
                                "litres": 139.9
                            }, {
                                "country": "Other",
                                "litres": 128.3
                            }, {
                                "country": "White",
                                "litres": 99
                            }],
                            "valueField": "litres",
                            "titleField": "country",
                            "export": {
                                "enabled": true
                            }
                        });

                        chart.addListener("init", handleInit);

                        chart.addListener("rollOverSlice", function (e) {
                            handleRollOver(e);
                        });

                        function handleInit() {
                            chart.legend.addListener("rollOverItem", handleRollOver);
                        }

                        function handleRollOver(e) {
                            var wedge = e.dataItem.wedge.node;
                            wedge.parentNode.appendChild(wedge);
                        }
                    
                    }
                }
            });
        }
        </script>
   }
@section MainContentHolder{
<style>
    .import-jpart {
    width: 100% !important;
    }
    div#EthicityStaff {
    width: 50% !important;
    float: left;
}
    div#EthicityClient {
    width: 50%;
    float: left;
}
   #ChartRace,#chartdivRacePercentage,#ChartRaceStaff,#OtherLangSpeakers,#chartdivDisability,#chartdivWorkingParent,#EthicityStaff,#EthicityClient,#AverageAge,#ClientInsurance,#ClientJobTraining,#ClientDental,#ClientDoctor,#ClientAttendanceIssue {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}

    .amcharts-pie-slice {
  transform: scale(1);
  transform-origin: 50% 50%;
  transition-duration: 0.3s;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  cursor: pointer;
  box-shadow: 0 0 30px 0 #000;
}

.amcharts-pie-slice:hover {
  transform: scale(1.1);
  filter: url(#shadow);
}	
#balloon {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.8);
  padding: 6px;
  font-size: 14px;
  color: #000;
  margin: 20px 0 0 20px;
}
    b {
  font-family: inherit;
  font-size: 12px;
}

    .import-const {
        width: 48%;
        float: left;
        margin: 1%;
        background: #f1f5f8;
        border-radius: 5px;
    }
    .top-section-title {
        background: #9b59b6;
    }
    .top-section-title h1{
            color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    padding: 20px 10px;
    text-align: center;
    display: block;
    font-weight: bold;
    margin: 0;
    }
</style>
<link href="~/Content/css/agencystaffdashboard.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
<div class="row" id="Hideattchart">

    <div class="col-xs-12 no-padding">
        <div class="top-header-title" style="margin-top: 30px;">
            <h1>Demographic Section</h1>
        </div>
    </div>
    <div class="import-const" style="border: 1px solid #cfcfcf;">
        <div class="col-xs-12 no-padding">
            <div class="top-section-title" style="margin-top: 0px;">
                <h1>Other Language Speakers</h1>
            </div>
        </div>
        <div class="col-sm-12" style="position:relative;">
            <div id="OtherLangSpeakers">

            </div>
            <div class="dailySummarydetails">
                <div class='dailySummary-data' id="todayReport">
                    <div class="col-sm-12 amcharts-chart-div-label">
                        <h2>Other language speakers Count</h2>
                    </div>
                    <div class="col-sm-12 amcharts-chart-div-label ">
                        <div class="col-xs-6" style="padding:0;"> <p>Other Language Speakers </p></div>
                        <div class="col-xs-6" style="padding:0;"><p id="otherlang1" class="totalstud" style="text-align:right;"> 29 </p></div>
                    </div>
                    <div class="col-sm-12 amcharts-chart-div-label totdays">
                        <div class="col-xs-6" style="padding:0;"> <p>Total Clients</p></div>
                        <div class="col-xs-6" style="padding:0;"><p id="otherlang2" class="totaldays" style="text-align:right;">78 </p></div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="import-const" style="border: 1px solid #cfcfcf;">
        <div class="col-xs-12 no-padding">
            <div class="top-section-title" style="margin-top: 0px;">
                <h1>Disability Percentage</h1>
            </div>
        </div>
        <div class="col-sm-12" style="position:relative;">
            <div id="chartdivDisability">

            </div>
            <div class="dailySummarydetails">
                <div class='dailySummary-data' id="todayReport">
                    <div class="col-sm-12 amcharts-chart-div-label">
                        <h2>Client Disablility Count</h2>
                    </div>
                    <div class="col-sm-12 amcharts-chart-div-label ">
                        <div class="col-xs-6" style="padding:0;"> <p>Disablity Clients </p></div>
                        <div class="col-xs-6" style="padding:0;"><p id="disablility1" class="totalstud" style="text-align:right;"> 29 </p></div>
                    </div>
                    <div class="col-sm-12 amcharts-chart-div-label totdays">
                        <div class="col-xs-6" style="padding:0;"> <p>Total Client</p></div>
                        <div class="col-xs-6" style="padding:0;"><p id="disablility2" class="totaldays" style="text-align:right;">78 </p></div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="import-const" style="border: 1px solid #cfcfcf;">
        <div class="col-xs-12 no-padding">
            <div class="top-section-title" style="margin-top: 0px;">
                <h1>Working Parents Percentage</h1>
            </div>
        </div>
        <div class="col-sm-12">
            <div id="chartdivWorkingParent"></div>
            <div class="dailySummarydetails">
                <div class='dailySummary-data' id="weeklyReport">
                    <div class="col-sm-12 amcharts-chart-div-label">
                        <h2>Working Parents Count</h2>
                    </div>
                    <div class="col-sm-12 amcharts-chart-div-label ">
                        <div class="col-xs-6" style="padding:0;"> <p>Working Parents</p></div>
                        <div class="col-xs-6" style="padding:0;"><p id="workingparent1" class="totalstud" style="text-align:right;"> 43 </p></div>
                    </div>
                    <div class="col-sm-12 amcharts-chart-div-label totdays">
                        <div class="col-xs-6" style="padding:0;"> <p>Total No.of Parents</p></div>
                        <div class="col-xs-6" style="padding:0;"><p  id="workingparent2" class="totaldays" style="text-align:right;">78 </p></div>
                    </div>

                </div>
            </div>
        </div>

    </div>
   
    <div class="import-const" style="border: 1px solid #cfcfcf;">
        <div class="col-xs-12 no-padding">
            <div class="top-section-title" style="margin-top: 0px;">
                <h1>Client's Insurance</h1>
            </div>
        </div>
        <div class="col-sm-12">
            <div id="ClientInsurance"></div>
            <div class="dailySummarydetails">
                <div class='dailySummary-data' id="weeklyReport">
                    <div class="col-sm-12 amcharts-chart-div-label">
                        <h2>Client's Insurance Count</h2>
                    </div>
                    <div class="col-sm-12 amcharts-chart-div-label ">
                        <div class="col-xs-6" style="padding:0;"> <p>Insurance Holders</p></div>
                        <div class="col-xs-6" style="padding:0;"><p id="insurance1" class="totalstud" style="text-align:right;"> 17 </p></div>
                    </div>
                    <div class="col-sm-12 amcharts-chart-div-label totdays">
                        <div class="col-xs-6" style="padding:0;"> <p>Total No.of Clients</p></div>
                        <div class="col-xs-6" style="padding:0;"><p  id="insurance2" class="totaldays" style="text-align:right;">78 </p></div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="import-const" style="border: 1px solid #cfcfcf;">
        <div class="col-xs-12 no-padding">
            <div class="top-section-title" style="margin-top: 0px;">
                <h1>Client's  Dental</h1>
            </div>
        </div>
        <div class="col-sm-12">
            <div id="ClientDental"></div>
            <div class="dailySummarydetails">
                <div class='dailySummary-data' id="weeklyReport">
                    <div class="col-sm-12 amcharts-chart-div-label">
                        <h2>Client's Dental Count</h2>
                    </div>
                    <div class="col-sm-12 amcharts-chart-div-label ">
                        <div class="col-xs-6" style="padding:0;"> <p>Clients Dental Count</p></div>
                        <div class="col-xs-6" style="padding:0;"><p id="dental1" class="totalstud" style="text-align:right;"> 43 </p></div>
                    </div>
                    <div class="col-sm-12 amcharts-chart-div-label totdays">
                        <div class="col-xs-6" style="padding:0;"> <p>Total No.of Clients</p></div>
                        <div class="col-xs-6" style="padding:0;"><p  id="dental2" class="totaldays" style="text-align:right;">78 </p></div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="import-const" style="border: 1px solid #cfcfcf;">
        <div class="col-xs-12 no-padding">
            <div class="top-section-title" style="margin-top: 0px;">
                <h1>Parent's Job Training</h1>
            </div>
        </div>
        <div class="col-sm-12">
            <div id="ClientJobTraining"></div>
            <div class="dailySummarydetails">
                <div class='dailySummary-data' id="weeklyReport">
                    <div class="col-sm-12 amcharts-chart-div-label">
                        <h2>Parent's Job Training</h2>
                    </div>
                    <div class="col-sm-12 amcharts-chart-div-label ">
                        <div class="col-xs-6" style="padding:0;"> <p>Parents In Training</p></div>
                        <div class="col-xs-6" style="padding:0;"><p id="training1" class="totalstud" style="text-align:right;"> 30 </p></div>
                    </div>
                    <div class="col-sm-12 amcharts-chart-div-label totdays">
                        <div class="col-xs-6" style="padding:0;"> <p>Total No.of Parents</p></div>
                        <div class="col-xs-6" style="padding:0;"><p id="training2" class="totaldays" style="text-align:right;">78 </p></div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="import-const" style="border: 1px solid #cfcfcf;">
        <div class="col-xs-12 no-padding">
            <div class="top-section-title" style="margin-top: 0px;">
                <h1>Client's  Doctor</h1>
            </div>
        </div>
        <div class="col-sm-12">
            <div id="ClientDoctor"></div>
            <div class="dailySummarydetails">
                <div class='dailySummary-data' id="weeklyReport">
                    <div class="col-sm-12 amcharts-chart-div-label">
                        <h2>Client's Doctor Count</h2>
                    </div>
                    <div class="col-sm-12 amcharts-chart-div-label ">
                        <div class="col-xs-6" style="padding:0;"> <p>Doctors Holders</p></div>
                        <div class="col-xs-6" style="padding:0;"><p id="clientdoctor1" class="totalstud" style="text-align:right;"> 30 </p></div>
                    </div>
                    <div class="col-sm-12 amcharts-chart-div-label totdays">
                        <div class="col-xs-6" style="padding:0;"> <p>Total No.of Clients</p></div>
                        <div class="col-xs-6" style="padding:0;"><p  id="clientdoctor2" class="totaldays" style="text-align:right;">78 </p></div>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <div class="import-const" style="border: 1px solid #cfcfcf;">
        <div class="col-xs-12 no-padding">
            <div class="top-section-title" style="margin-top: 0px;">
                <h1>Client's  Attendance Issue</h1>
            </div>
        </div>
        <div class="col-sm-12">
            <div id="ClientAttendanceIssue"></div>
            <div class="dailySummarydetails">
                <div class='dailySummary-data' id="weeklyReport">
                    <div class="col-sm-12 amcharts-chart-div-label">
                        <h2>Client's Attendance Details</h2>
                    </div>
                    <div class="col-sm-12 amcharts-chart-div-label ">
                        <div class="col-xs-6" style="padding:0;"> <p>Clients with AttendanceIssue</p></div>
                        <div class="col-xs-6" style="padding:0;"><p id="attendanceIssue1" class="totalstud" style="text-align:right;"> 8 </p></div>
                    </div>
                    <div class="col-sm-12 amcharts-chart-div-label totdays">
                        <div class="col-xs-6" style="padding:0;"> <p>Total No.of Clients</p></div>
                        <div class="col-xs-6" style="padding:0;"><p id="attendanceIssue2" class="totaldays" style="text-align:right;">78 </p></div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    


        @*<div class="import-const import-jpart" style="border: 1px solid #cfcfcf;">
            <div class="col-xs-12 no-padding">
                <div class="top-section-title" style="margin-top: 0px;">
                    <h1>Race Percentage</h1>
                </div>
            </div>
            <div class="col-sm-12" style="position:relative;">
                <div id="chartdivRacePercentage">

                </div>

            </div>
        </div>*@
   
    <div class="import-const import-jpart" style="border: 1px solid #cfcfcf;">
        <div class="col-xs-12 no-padding">
            <div class="top-section-title" style="margin-top: 0px;">
                <h1>Ethnicity for Client</h1>
            </div>
        </div>
        @*<div class="col-sm-12" style="position:relative;">

            <div id="EthicityStaff" style="width:100%!important">

            </div>
           

        </div>*@
        <div class="col-sm-12" style="position:relative;">
            <div id="EthicityClient" style="width:100%!important">

            </div>


        </div>

    </div>
    <div class="import-const import-jpart" style="border: 1px solid #cfcfcf;">
        <div class="col-xs-12 no-padding">
            <div class="top-section-title" style="margin-top: 0px;">
                <h1>Race of families</h1>
            </div>
        </div>
        <div class="col-sm-12" style="position:relative;">
            <div id="ChartRace" style="width:100%!important;padding-left:0px!important">
            </div>
        </div>
    </div>
    <div class="import-const import-jpart" style="border: 1px solid #cfcfcf;">
        <div class="col-xs-12 no-padding">
            <div class="top-section-title" style="margin-top: 0px;">
                <h1>Race of Staff</h1>
            </div>
        </div>
        <div class="col-sm-12" style="position:relative;">
            <div id="ChartRaceStaff" style="width:100%!important;padding-left:0px!important">
            </div>
        </div>
    </div>
    <div class="import-const" style="border: 1px solid #cfcfcf;">
        <div class="col-xs-12 no-padding">
            <div class="top-section-title" style="margin-top: 0px;">
                <h1>Average Age</h1>
            </div>
        </div>
        <div class="col-sm-12" style="position:relative;">
            <div id="AverageAge">

            </div>
        </div>
    </div>
   
   




</div>


    }


