
<script type="text/javascript">
    var incomecount = 0;
    $(document).ready(function () {
        $('input').keypress(function () {
            if ($(this).val() == 'MM/DD/YYYY') {
                $(this).val('');
                // $(this).mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
            }
        });
    })
</script>

    <div class="row qualifierdiv">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="search-box">
            <ul>
                <li><input id="txtsearch" type="text" placeholder="Search.." /></li>
                <li><button id="btnsearch" onclick="drawgrid();">Search</button></li>
                <li><button id="btnclear" onclick="cleargrid();">Clear</button></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
        <div class="table-responsive">
            <table class="table table_size" id="Qualifier">
                <thead style="cursor:pointer;">
                    <tr>
                        <th id="thIN">Agency Code<img id="imgthIN" style="visibility:hidden" /> <input type="hidden" id="directionNA" /></th>
                        <th id="thCust">Agency Name<img id="imgthCust" style="visibility:hidden" /> <input type="hidden" id="directionUN" /></th>
                        <th id="thRN">Email<img id="imgthRN" style="visibility:hidden" /> <input type="hidden" id="directionRN" /></th>
                        <th id="thMN">Created On<img id="imgthCN" style="visibility:hidden" /><input type="hidden" id="directionCN" value="Desc" /></th>
                        <th id="thAN">Login Into Agency</th>
                        <th id="thAN">Status<img id="imgthCN" style="visibility:hidden" /><input type="hidden" id="directionCN" /></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div id="div1" style="text-align:center;display:none;">
                <label>No result found.</label>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pagination-file">
        <div class="pages_display">
            <ul>
                <li>Display</li>
                <li>
                    <select id="ddlpagetodisplay" onchange="drawgrid();">
                        <option value="10" selected="selected">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </li>
                <li>Records Per Page</li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="divPaging" class="pagination_wrp">
            <ul id="ulPaging" class="pagination">
                <li><input id='First' type='image' src="~/Images/previousarrow.png" style="cursor:pointer;" onclick="fnChangePage('First'); return false;" /></li>
                <li title="Back"><input id='Back' type='image' src="~/Images/prevarrow.png" style='cursor:pointer;' onclick="fnChangePage('Back'); return false;" /></li>
                <li title="Select">
                    <select class="select_cl" id="ddlpaging"></select>
                </li>
                <li title="Next"><input id='Next' type='image' src="~/Images/nextarrow1.png" style='cursor:pointer;' onclick="fnChangePage('Next'); return false;" /></li>
                <li title="Last"><input id='Last' type='image' src="~/Images/nextarrow.png" style='cursor:pointer;' onclick="fnChangePage('Last'); return false;" /></li>
            </ul>
        </div>
    </div>
</div>

 
