@model FingerprintsModel.CustomScreeningIntake

<div class="modal fade scroll-modal" id="ApplicationScreening" role="dialog">
    <div class="modal-dialog income-popup width-auto">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center">Add Screening<span class="extra-title muted"></span></h3>

                <div class="col-sm-5 col-xs-12 pull-right" style="padding-right:0;">
                    <div class="btnwrp_subcal" style="padding:0; margin:0;">
                        <button type="button" class="my-btn pull-right" data-dismiss="modal" tabindex="8">Exit</button>
                        <button type="button" onclick="isValidscreening()" id="SaveScreening" value="SaveScreening" class="my-btn pull-right" tabindex="8">Save</button>
                        <div class="clear"></div>
                    </div>	
                </div>

            </div>
            <div class="control-group">
                @{Html.RenderAction("AddScreening", "Screening", new {CustomScreening=Model.CustomScreenings });}
            </div>
        </div>
    </div>
</div>