@{
    
    @section Title
{
      Profile

    }
    ViewBag.Title = "Profile";



    if (Session["Roleid"] != null && (Session["Roleid"].ToString().Contains("a65bb7c2-e320-42a2-aed4-409a321c08a5")))
    {
        Layout = "~/Views/Shared/AgencyAdminLayout.cshtml";
    }
    if (Session["Roleid"] != null && (Session["Roleid"].ToString().Contains("a31b1716-b042-46b7-acc0-95794e378b26")))
    {
        Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
    }
    if (Session["Roleid"] != null && (Session["Roleid"].ToString().Contains("2d9822cd-85a3-4269-9609-9aabb914d792")))
    {
        Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
    }
    if (Session["Roleid"] != null && (Session["Roleid"].ToString().Contains("94cdf8a2-8d81-4b80-a2c6-cdbdc5894b6d")))
    {
        Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
    }
    if (Session["Roleid"] != null && (Session["Roleid"].ToString().Contains("c352f959-cfd5-4902-a529-71de1f4824cc")))
    {
        Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
    }

}


@section Script{}
    @section MainContentHolder{
        <div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">
            Welcome
        </h2>

    </div>
    
</div>

        }