@{
    @section Title
{

        Family Intake
    }
    //if (Session["Roleid"] != null && (Session["Roleid"].ToString().Contains("94cdf8a2-8d81-4b80-a2c6-cdbdc5894b6d")))
    //{
        Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
    //}
    //if (Session["Roleid"] != null && (Session["Roleid"].ToString().Contains("e4c80fc2-8b64-447a-99b4-95d1510b01e9")))
    //{
    //    Layout = "~/Views/Shared/HomeVisitorLayout.cshtml";
    //}
}
@section Script{
    <script type="text/javascript">
        var sortOrder = '';
        var sortDirection = '';
        var imgID = '';
        var direction = '';
        var pageSize = 50;
        var requestedPage = 0;
        var pageLoadedFirst = true;
        var totalRecords = 0;
        var numOfPages = 0;
        var StartIndex = 0;
        var LastIndex = 0;
        var search = '';
        var search1 = '';
        var listAgency = null;
        var clearall = '@ViewBag.id';
        $(document).ready(function () {
            $('#spinner').hide();
            $('input').keypress(function () {
                if ($(this).val() == 'MM/DD/YYYY') {
                    $(this).val('');
                    // $(this).mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
                }
            });
            $('#Rosterli').removeClass("active");
            $('#Appointmentli').removeClass("active");
            $('#DashboardHV').removeClass("active");

            if ('@TempData["message"]' != null && '@TempData["message"]' != '') {
                customAlert('@TempData["message"]');    
            }
            @{
                TempData["message"] = null;
            }
      
            drawgrid();
            $('#gridViewHousehold > thead > tr > th').click(function () {
                sortOrder = this.id;
                if (sortOrder == "thAN")
                    return false;
                imgID = $("#" + this.id).find('img').attr('id');
                $('#gridViewHousehold > thead > tr > th > img').css("visibility", "hidden");
                direction = $("#" + imgID).siblings('input').val();
                if (direction == "Asc") {
                    $("#" + imgID).siblings('input').val("Desc");
                    sortDirection = $("#" + imgID).siblings('input').val();
                } else {
                    $("#" + imgID).siblings('input').val("Asc");
                    sortDirection = $("#" + imgID).siblings('input').val();
                }
                getList();
                bindGridUser(listAgency, $("#gridViewHousehold").find('tr')[0].cells.length);
            });
            $("#txtsearch").on('change keypress paste', function (e) {
                var key = e.which;
                if (key == 13) {
                    drawgrid();

                }
            });
            $('#ddlpaging').change(function () {
                getListafterupdation();
            });

            $("#txtsearch1").on('change keypress paste', function (e) {
                var key = e.which;
                if (key == 13) {
                    drawgrid();

                }
            });

            //$('a').each(function() {
            //    var href= $(this).attr('href');
            //    $(this).attr('href','javascript:void(0);');
            //    $(this).attr('jshref',href);
            //});

            BindLoginIntoAgency();

        });

        function BindLoginIntoAgency() {
            $('.loginAgency').bind('click', function (e) {

                //e.stopImmediatePropagation();           
                //e.preventDefault();
                //e.stopPropagation();
                var href = $(this).attr('jshref');
                if (!e.metaKey && e.ctrlKey)
                    e.metaKey = e.ctrlKey;
                if (!e.metaKey) {
                    //location.href = href;
                    $("a.loginAgency").attr("href", 'javascript:void(0);');
                    $(this).attr('target', 'AgencyLogin');
                    $(this).attr('href', href);

                    return true;

                }
                return false;
            })
        }
        function getListafterupdation() {

            pageSize = $('#ddlpagetodisplay').val();
            requestedPage = $('#ddlpaging').val();
            StartIndex = (pageSize * (requestedPage - 1)) + 1;
            LastIndex = parseInt(pageSize * requestedPage) - parseInt(pageSize);
            $('#gridViewHousehold > thead > tr > th > img').css("visibility", "hidden");
            if (imgID != '' && imgID != 'undefined' && imgID != null) {
                direction = $("#" + imgID).siblings('input').val();
            }
            if (direction == "Asc") {
                sortDirection = $("#" + imgID).siblings('input').val();
            } else if (direction == "Desc") {
                sortDirection = $("#" + imgID).siblings('input').val();
            }
            getList();
            //var totalRecord = getTotalRecord();
            if (requestedPage == 1) {
                $('#First').attr('disabled', true);
                $('#Back').attr('disabled', true);
                $('#Next').attr('disabled', false);
                $('#Last').attr('disabled', false);
            }
            else if (requestedPage == numOfPages) {
                $('#First').attr('disabled', false);
                $('#Back').attr('disabled', false);
                $('#Next').attr('disabled', true);
                $('#Last').attr('disabled', true);
            }
            else {
                $('#First').attr('disabled', false);
                $('#Back').attr('disabled', false);
                $('#Next').attr('disabled', false);
                $('#Last').attr('disabled', false);
            }
            bindGridUser(listAgency, $("#gridViewHousehold").find('tr')[0].cells.length);
            $("#ddlpaging").val(requestedPage);
        }

        function getList() {
            $.ajax({
                url: HostedDir + "/AgencyUser/listhousehold",
                type: "POST",
                data: {
                    sortOrder: sortOrder,
                    sortDirection: sortDirection,
                    search: $("#txtsearch").val(),
                    search1: $("#txtsearch1").val(),
                    pageSize: $('#ddlpagetodisplay').val(),
                    requestedPage: requestedPage,
                    clear: clearall,
                    Applicationstatus: $('#chkincompleteapplication').prop("checked")
                },
                dataType: "json",
                secureuri: false,
                async: false,
                success: function (data) {
                    getData(data);
                    getTotalRecord(data.totalrecord);
                    $('#IncompleteApp').text(data.IncompleteApplication);

                }
                , error: function (response) {
                       customAlert("Session Ended Log Onto The System Again.");setTimeout(function () {window.location.href= HostedDir + '/login/Loginagency';   }, 2000);
                }
            });
        }
        function getData(dataAgency) {
            listAgency = dataAgency;
        }
        function GoToNextPage(requestedPage, pageSize) {
            $('#gridViewHousehold > thead > tr > th > img').css("visibility", "hidden");
            if (imgID != '' && imgID != 'undefined' && imgID != null) {
                direction = $("#" + imgID).siblings('input').val();
            }
            if (direction == "Asc") {
                sortDirection = $("#" + imgID).siblings('input').val();

            } else if (direction == "Desc") {
                sortDirection = $("#" + imgID).siblings('input').val();
            }
            getList();
            bindGridUser(listAgency, $("#gridViewHousehold").find('tr')[0].cells.length);
        }
        function getlistafterstatuschanged() {
            getList();
            bindGridUser(listAgency, $("#gridViewHousehold").find('tr')[0].cells.length);

        }
        function drawgrid() {
            requestedPage = 1;
            getList();
            bindGridUser(listAgency, $("#gridViewHousehold").find('tr')[0].cells.length);
            LastIndex = 0;
            $('#First').attr('disabled', true);
            $('#Back').attr('disabled', true);
        }
        function cleargrid() {
            $('#txtsearch')[0].value = "";
            $('#txtsearch1')[0].value = "";
            sortOrder = '';
            sortDirection = '';
            clearall = 0;
            drawgrid();
            $('#btnadd').hide();

        }

        

        function fnChangePage(val) {
            pageLoadedFirst = false;
            pageSize = $('#ddlpagetodisplay').val();
            //getTotalRecord();

            if (val == 'First') {

                StartIndex = 0;
                LastIndex = parseInt(pageSize) + parseInt(LastIndex * requestedPage);
                requestedPage = ((StartIndex / 10) + 1);
                GoToNextPage(requestedPage, pageSize);
                $('#First').attr('disabled', true);
                $('#Back').attr('disabled', true);
                $('#Next').attr('disabled', false);
                $('#Last').attr('disabled', false);
                LastIndex = 0;

            }
            else if (val == 'Last') {
                StartIndex = parseInt((totalRecords - 1) / pageSize) * pageSize;
                LastIndex = totalRecords;
                requestedPage = numOfPages;
                GoToNextPage(requestedPage, pageSize)
                $('#First').attr('disabled', false);
                $('#Back').attr('disabled', false);
                $('#Next').attr('disabled', true);
                $('#Last').attr('disabled', true);
            }
            else if (val == 'Next') {
                LastIndex = parseInt(pageSize) + parseInt(LastIndex);
                requestedPage = (parseInt(LastIndex / pageSize) + 1);
                GoToNextPage(requestedPage, pageSize);
                $('#First').attr('disabled', false);
                $('#Back').attr('disabled', false);
                if (parseInt(LastIndex) + parseInt(pageSize) >= totalRecords) {
                    $('#Next').attr('disabled', true);
                    $('#Last').attr('disabled', true);
                }
                else if (parseInt(LastIndex) - parseInt(pageSize) < totalRecords) {
                    $('#Next').attr('disabled', false);
                    $('#Last').attr('disabled', false);
                }
            }
            else if (val == 'Back') {
                requestedPage = requestedPage - 1;
                LastIndex = parseInt(LastIndex) - parseInt(pageSize);
                GoToNextPage(requestedPage, pageSize)
                if (parseInt(LastIndex) + parseInt(pageSize) > totalRecords) {
                    $('#Next').attr('disabled', true);
                    $('#Last').attr('disabled', true);
                }
                else if (parseInt(LastIndex) - parseInt(pageSize) < totalRecords) {
                    $('#Next').attr('disabled', false);
                    $('#Last').attr('disabled', false);
                }
                if (requestedPage == 1) {
                    $('#First').attr('disabled', true);
                    $('#Back').attr('disabled', true);
                }
            }
            else {
            }
        }
        function getTotalRecord(data) {
            $('#First').attr('disabled', false);
            $('#Back').attr('disabled', false);
            $('#Next').attr('disabled', false);
            $('#Last').attr('disabled', false);
            pageSize = $('#ddlpagetodisplay').val();
            if (data > 0) {
                totalRecords = parseInt(data);
                if (totalRecords <= pageSize) {
                    $('#First').attr('disabled', true);
                    $('#Back').attr('disabled', true);
                    $('#Next').attr('disabled', true);
                    $('#Last').attr('disabled', true);
                }
                numOfPages = parseInt(totalRecords / pageSize) + ((totalRecords % pageSize == 0) ? 0 : 1);
                $("#ddlpaging").empty()
                for (i = 1; i <= numOfPages; i++) {
                    var newOption = "<option value='" + i + "'>" + i + "</option>";
                    $("#ddlpaging").append(newOption);
                }
                $("#ddlpaging").val(requestedPage);
            }
            else {
                $('#First').attr('disabled', true);
                $('#Back').attr('disabled', true);
                $('#Next').attr('disabled', true);
                $('#Last').attr('disabled', true);
            }
        }

        //by atul 24-3-2017
        function openAgencyUserviewfamilydetailsById(value) {
            $('#spinner').show();
            var Encrypthouseholid = $(value).attr("Encrypthouseholid");
            //var ClientId = $(value).attr("ClientId");
            //var ClientName = $(value).attr("ClientName");
            var url = HostedDir + '/AgencyUser/FamilyDetails/' + Encrypthouseholid;//+ ClientId + ClientName;
            window.location.href = url;
            //$('#spinner').hide();
        }
        function bindGridUser(data, num_cols) {
            $('#gridViewHousehold > tbody > tr').remove();
            if (data.list.length == 0) {
                $('#divPaging').hide();
                BootstrapDialog.confirm('No record found. Do you want to add new family record ?', function (result) {
                    if(result)
                    {
                        $('#myModalClient').modal('toggle');
                    }
                });
            }
            else {

               if($('#txtsearch').val().trim() != "")
                $('#btnadd').show();
                $('#div1').hide(); 
                $('#divPaging').show();
                var tbody = $('#gridViewHousehold > tbody');
                for (var i = 0; i < data.list.length; i++) {
                    var tr = "";
                    tr += "<tr>";   //by atul 24-3-2017
                    tr += '<td><a style="text-decoration: underline;" Encrypthouseholid= "'+ data.list[i].Encrypthouseholid + '" ?ClientId="' + data.list[i].ClientID + '" &ClientName="' + data.list[i].ClientFname.split('(')[0] +'" onclick="openAgencyUserviewfamilydetailsById(this)";"href="#" >'+ ((typeof (data.list[i].ClientFname) != 'undefined') && (data.list[i].ClientFname != null) ? data.list[i].ClientFname : '') + '</a></td>';
                    //tr += "<td><a style='text-decoration: underline;' href='" + HostedDir + "/AgencyUser/FamilyDetails/" + data.list[i].Encrypthouseholid + "?ClientId=" + data.list[i].ClientID + "&ClientName=" + data.list[i].ClientFname.split('(')[0] + "'>" + ((typeof (data.list[i].ClientFname) != 'undefined') && (data.list[i].ClientFname != null) ? data.list[i].ClientFname : '') + "</a></td>";
                    tr += '<td>' + ((typeof (data.list[i].Street) != 'undefined') && (data.list[i].Street != null) ? data.list[i].Street : '') + '</td>';
                    tr += '<td>' + ((typeof (data.list[i].RPhoneno) != 'undefined') && (data.list[i].RPhoneno != null) ? data.list[i].RPhoneno : '') + '</td>';
                    tr += "<td>" + ((typeof (data.list[i].ApplicationStatusChild) != 'undefined') && (data.list[i].ApplicationStatusChild != null) ? data.list[i].ApplicationStatusChild : '') + "</td>";
                    tr += "<td>" + ((typeof (data.list[i].CreatedOn) != 'undefined') && (data.list[i].CreatedOn != null) ? data.list[i].CreatedOn : '') + "</td>";
                    tr += "</tr>";
                    $('#gridViewHousehold > tbody').append(tr);
                }
            }
        }
       
        function addfamily()
        {
            $('#myModalClient').modal('toggle');
        }

        function GetApplication(object)
        {
            if (!$(object).prop("checked"))
            {
                BootstrapDialog.confirm('Do you want to see all application?', function (result) {
                    if (result) {
                        drawgrid();
                    }
                    else
                    {
                        $(object).prop("checked", true);
                    }
                });
            }
            else
            {
                BootstrapDialog.confirm('Do you want to see incomplete application?', function (result) {
                    if (result) {
                        drawgrid();
                    }
                    else {
                        $(object).prop("checked", false);
                    }
                });



            }

           


        }

    </script>
}
@section MainContentHolder{

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Family Intake
                <span class="view-btn backto_listspan" id="BackToList">
                    <span style="font: bold; font-size: 17px; color: #285b8f;">Required Action: </span>
                    <span style="font: bold; font-size: 17px;  color: #285b8f;" id="IncompleteApp"></span>
                </span>
                </h2>
            
           
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-11">
            <div class="search-box">
                <ul>
                    <li><input id="txtsearch" type="text" placeholder="Client Name" /></li>
                    <li><input id="txtsearch1" type="text" placeholder="Last Name" style="display:none;" /></li>
                    <li><button id="btnsearch" onclick="drawgrid();">Search</button></li>
                    <li><button id="btnclear" onclick="cleargrid();">Clear</button></li>
                    <li><button onclick="addfamily();" style="display:none;" id="btnadd">Add New Family</button></li>
                    <li><input type="checkbox" onchange="GetApplication(this);" id="chkincompleteapplication"  checked="checked"/>  Required Action</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
            <div class="table-responsive">
                <table class="table table_size" id="gridViewHousehold">
                    <thead style="cursor:pointer;">
                        <tr>
                            <th style="width:31%;" id="thMN">Child (Guardian)<img id="imgthCN" style="visibility:hidden" /><input type="hidden" id="directionCN" /></th>
                            <th style="width:31%;" id="thIN">Address<img id="imgthIN" style="visibility:hidden" /> <input type="hidden" id="directionNA" /></th>
                            <th style="width:13%;" id="thCN">Phone Number<img id="imgthIN" style="visibility:hidden" /> <input type="hidden" id="directionCA" /></th>
                            <th style="width:15%;" id="thJN">Status<img id="imgthIN" style="visibility:hidden" /> <input type="hidden" id="directionCA" /></th>
                            <th id="thCust">Created On<img id="imgthCust" style="visibility:hidden" /> <input type="hidden" id="directionUN" value="Desc" /></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div id="div1" style="text-align:center;display:none;">
                    <a style="margin-left:3%;" href="javascript:void(0)" data-toggle="modal" data-target="#myModalClient">Add Client <i class="fa fa-calculator"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pagination-file">
            <div class="pages_display">
                <ul>
                    <li>Display</li>
                    <li>
                        <select id="ddlpagetodisplay" onchange="drawgrid();">
                            <option value="10" selected="selected">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </li>
                    <li>Records Per Page</li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div id="divPaging" class="pagination_wrp">
                    <ul id="ulPaging" class="pagination">
                        <li><input id='First' type='image' src="~/Images/previousarrow.png" style="cursor:pointer;" onclick="fnChangePage('First'); return false;" /></li>
                        <li title="Back"><input id='Back' type='image' src="~/Images/prevarrow.png" style='cursor:pointer;' onclick="fnChangePage('Back'); return false;" /></li>
                        <li title="Select">
                            <select class="select_cl" id="ddlpaging"></select>
                        </li>
                        <li title="Next"><input id='Next' type='image' src="~/Images/nextarrow1.png" style='cursor:pointer;' onclick="fnChangePage('Next'); return false;" /></li>
                       <li title="Last"><input id='Last' type='image' src="~/Images/nextarrow.png" style='cursor:pointer;' onclick="fnChangePage('Last'); return false;" /></li>
                    </ul>
                </div>
        </div>
    </div>
@{Html.RenderAction("AddClientDetails", "AgencyUser", new { area = "" });}

    
}


