<script type="text/javascript">
    $(document).ready(function () {
        $('input').keypress(function () {
            if ($(this).val() == 'MM/DD/YYYY') {
                $(this).val('');
                // $(this).mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
            }
        });
        if ('@ViewBag.message' != '')
            customAlert('@ViewBag.message');
        $('#btnCancelPassword').click(function () {
            popup_me_close('Change_Pass');
        });
       
    });
    function changePassword() {
        if (isValidChangePasswordInfo()) {
            $.ajax({
                url: HostedDir + "/Login/changePasswordAjax",
                type: "POST",
                data: {
                    currentPassword: $('#currentPassword')[0].value,
                    newPassword: $('#newPassword')[0].value
                },
                dataType: "json",
                secureuri: false,
                success: function (response) {
                    if (response != null) {

                        if (response == "-1")
                            customAlert("Invalid Current password.");
                        else if (response == "0") {
                            customAlert("Error in updating Password try again.");
                        }
                        else if (response == "1") {
                            customAlert("Password changed successfully.");
                            $('#currentPassword')[0].value = "";
                            $('#newPassword')[0].value = "";
                            $('#retypePassword')[0].value = "";


                        }
                        else
                            customAlert(response);
                    }
                },
                error: function (response) { }
            });
        }
    }
    function isValidChangePasswordInfo() {
        var isValid = true;
        cleanValidation();
        if ($('#currentPassword')[0].value.trim() == "") {
            isValid = false;
            customAlert("Current password field is required.");
            plainValidation('#currentPassword');
        }
        else if ($('#newPassword')[0].value.trim() == "") {
            isValid = false;
            customAlert("The new password field is required.");
            plainValidation('#newPassword');
        }
        else if ($('#newPassword')[0].value.length < 7) {
            isValid = false;
            customAlert("Password must be at least 7 characters including a number and an uppercase letter.");
            plainValidation('#newPassword');
        }
        else if (!Password($('#newPassword')[0].value.trim())) {
            isValid = false;
            customAlert("Password must be at least 7 characters including a number and an uppercase letter.");
            plainValidation('#newPassword');
        }
        else if ($('#newPassword')[0].value.trim() == $('#currentPassword')[0].value.trim()) {
            isValid = false;
            customAlert("Please enter a different new password.");
            plainValidation('#newPassword');
        }
        else if ($('#retypePassword')[0].value.trim() == "") {
            isValid = false;
            customAlert("The confirm password field is required.");
            plainValidation('#retypePassword');
        }
        else if ($('#retypePassword')[0].value.trim() != $('#newPassword')[0].value.trim()) {
            isValid = false;
            customAlert("Password does not match the confirm password.");
        }
        return isValid;
    }
</script>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3>Change Password <span class="extra-title muted"></span></h3>
            </div>
           
            <div class="control-group">
                <label for="current_password" class="control-label">Current Password <span style="color:red;">*</span> </label>
                <div class="controls">
                    <input type="password" class="Password" id="currentPassword" maxlength="20" placeholder="Current Password">
                </div>
            </div>
            <div class="control-group">
                <label for="new_password" class="control-label">New Password <span style="color:red;">*</span> </label>
                <div class="controls">
                    <input type="password" class="Password" id="newPassword" maxlength="20" placeholder="New Password">
                </div>
            </div>
            <div class="control-group">
                <label for="confirm_password" class="control-label">Confirm Password <span style="color:red;">*</span> </label>
                <div class="controls">
                    <input type="password" class="Password" id="retypePassword" maxlength="20" placeholder="Confirm Password">
                    <p style="margin-left: 91px;color:red;">
                        Hint: Password must be at least 7 characters including a number and an uppercase letter.
                        @*</br>and one letter in Caps.*@
                    </p>

                </div>
                
            </div>
            <div class="modal-footer">
                <button id="btnChangePassword" onclick="changePassword();" name="Creates" class="btnPassword" type="button">Change</button>
                <button id="btnCancelPassword" class="btnPassword" data-dismiss="modal" type="button">Exit</button>
               
                   
               
            </div>
        </div>

    </div>
</div>




@*<div class="modal" id="password_modal">
        <div class="modal-body form-horizontal">
            <div class="control-group">
                <label for="current_password" class="control-label">Current Password <span style="color:red;">*</span> </label>
                <div class="controls">
                    <input type="password" class="Password" id="currentPassword" maxlength="50" placeholder="Current Password">
                </div>
            </div>
            <div class="control-group">
                <label for="new_password" class="control-label">New Password <span style="color:red;">*</span> </label>
                <div class="controls">
                    <input type="password" class="Password" id="newPassword" maxlength="50" placeholder="New Password">
                </div>
            </div>
            <div class="control-group">
                <label for="confirm_password" class="control-label">Confirm Password <span style="color:red;">*</span> </label>
                <div class="controls">
                    <input type="password" class="Password" id="retypePassword" maxlength="50" placeholder="Confirm Password">
                </div>
            </div>
        </div>
        <div class="changePassword">
            <button id="btnChangePassword" onclick="changePassword();" name="Creates" class="btnPassword" type="button">Change</button>
            <button id="btnCancelPassword" class="btnPassword" type="button">Exit</button>
        </div>
    </div>*@