@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@RenderSection("Title", false)</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style_new.css" rel="stylesheet" />

</head>
<body class="dashboard">
    <div class="copyrights col-xs-12">
        <div class="col-sm-6 col-xs-12">
            <p>2017 © Edu Center</p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p class="txt-ft-rght">Privacy Policy <span></span> Terms And Conditions</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="left-side-container left-menu">
                <div class="col-xs-12 logo-section-background">
                    <div class="logo-section">
                        <a href="#" class="menu-logo"><img src="images/logo.png" alt="logo" title="logo"></a>
                        <a href="#" class="resize-logo"><img src="images/logo.png" alt="login-logo" title="logo"></a>
                    </div>
                </div>
                <div class="col-xs-12 no-padding dashboard-menu1">
                    <div class="dashboard-menu">
                        <ul class="accordianMenu menu">
                            <li><a href="javascript:void(0);"><span class="dash-icon"><img src="images/1.1.png"></span><span class="dash-icon1"><img src="images/1.2.png"></span>Dashboard</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="right-side-container">
                <div class="col-xs-12 top-header-background no-padding">
                    <div class="top-header">
                        <div class="nav-icon1">
                            <img src="images/nav-bar.png">
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <!--                                <div class="row">
                                                                <div class="col-sm-2 col-xs-hidden no-padding">
                                                                    <div class="nav-icon">
                                                                        <img src="images/line.png">
                                                                    </div>
                                                                </div>
                                                            </div>-->
                        </div>
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="right-top-info">
                                <p>
                                    <!--                                        <span><img src="images/8.4.png"></span>
                                                                            <span class="im-sep"></span>
                                                                            <span><img src="images/9.2.png"></span>
                                                                            <span class="im-sep"></span>-->
                                    <span class="pro-tpr">
                                        <img src="images/9.1.png">
                                    </span>
                                    Aravind<span class="dwn-tpr"><img src="images/9.3.png"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 dashboard-content-pad dashboard-content-pad-scroll">
                    <div class="dashboard-content col-xs-12 no-padding">
                       @RenderSection(name: "MainContentHolder", required: false)
                        <div class="footer-bg-img-al">
                            <div class="footer-bg-img">
                                <img src="images/footer-img1.png" class="footer-im1">
                                <img src="images/footer-img2.png" class="footer-im2">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/Scripts/jquery.js"></script>
    <script src="~/Content/Scripts/bootstrap.js"></script>
    <script src="~/Content/Scripts/script.js"></script>


</body>
</html>
