@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" initial-scale="1.0" maximum-scale="1.0" />
    <title>@RenderSection("Title", false)</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-3.3.6-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/testcss/jquery.datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/Samplescript/jquery.min.js"></script>
    <script src="~/Scripts/SiteScript.js"></script>
    <script src="~/Scripts/Samplescript/jquery.datetimepicker.full.min.js"></script>
    <script src="~/Content/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/startmin.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.0.min.js"></script>
    <script src="~/Scripts/metisMenu.min.js"></script>
    <script src="~/Scripts/USmobilevalidation.js"></script>
    <link id="Link1" rel="shortcut icon" href="~/Content/img/faviicon.jpg" type="image/x-icon" />  
    <style>
        .ui-autocomplete {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            float: left;
            display: none;
            min-width: 160px;
            _width: 160px;
            padding: 4px 0;
            margin: 2px 0 0 0;
            list-style: none;
            background-color: #ffffff;
            border-color: #ccc;
            border-color: rgba(0, 0, 0, 0.2);
            border-style: solid;
            border-width: 1px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;
            *border-right-width: 2px;
            *border-bottom-width: 2px;
        }

        .ui-menu-item > a.ui-corner-all {
            display: block;
            padding: 3px 15px;
            clear: both;
            font-weight: normal;
            line-height: 18px;
            color: #555555;
            white-space: nowrap;
        }

        &.ui-state-hover, &.ui-state-active {
            color: #ffffff;
            text-decoration: none;
            background-color: #0088cc;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            background-image: none;
        }

        .ui-menu-item {
            cursor: pointer;
        }
    </style>


    <script type="text/javascript">
        $(document).ready(function () {
            $('input').keypress(function () {
                if ($(this).val() == 'MM/DD/YYYY') {
                    $(this).val('');
                    // $(this).mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
                }
            });
            $("img").error(function() {
                $(this).hide();
            });
         
        $('#changePassword').click(function (e) {

            $('#currentPassword')[0].value = "";
            $('#newPassword')[0].value = "";
            $('#retypePassword')[0].value = "";
            $('#Change_Pass').lightbox_me({ centered: true, onLoad: function () { } });
            e.preventDefault();
        });
        $('.toggle').click(function () {
            // Switches the Icon
            $(this).children('i').toggleClass('fa-pencil');
            // Switches the forms
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
        


        });
        if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i)) {
            var viewportmeta = document.querySelector('meta[name="viewport"]');
            if (viewportmeta) {
                viewportmeta.content = 'width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0';
                document.body.addEventListener('gesturestart', function () {
                    viewportmeta.content = 'width=device-width, minimum-scale=0.25, maximum-scale=1.6';
                }, false);
            }
        }
    </script>
    @RenderSection(name: "Script", required: false)
    <noscript>
        <meta http-equiv="refresh" content="0;url=/StaffRegistrationbeta/Home/DisableJavascript" />
    </noscript>
</head>
<body>


    <div class="header-top">
        <nav class="navbar navbar-inverse navbar-fixed-top header_ge" role="navigation">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 logo-place">
                <div class="navbar-header logo-ge">
                    <a class="navbar-brand" href="~/Home/SuperAdminDashboard"><img class="img-responsive" src="~/content/img/ge_logo_banner_left2.png" style="max-width:250px" /></a>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 menu-place">
                <div class="menu-head">
                    <ul class="nav navbar-right navbar-top-links log_outwrp">
                        <li>
                            <form class="searchform">
                                <div class="search-box">
                                    <input type="text" placeholder="Search Agency" id="searchAgency" class="searchbox">
                                    <span class="searchbutton"><i class="fa fa-search"></i></span>
                                </div>
                            </form>
                        </li>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <li class="dropdown ">

                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i> @Session["FullName"] <b class="caret"></b> </a>

                            <ul class="dropdown-menu dropdown-user">
                                @*<li>
                                        <a href="#"><i class="fa fa-user fa-fw"></i> My Profile</a>
                                    </li>*@
                                <li><a id="changePassword" data-toggle="modal" data-target="#myModal" href="#"><i class="fa fa-gear fa-fw"></i> Change Password</a></li>
                                <li><a href="~/Login/Login"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="error-msg">
                    <ul class="i-am-new">
                        <li id="noty_topRight_layout_container" style="overflow: hidden; display: none; background: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAoCAYAAAAPOoFWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPZJREFUeNq81tsOgjAMANB2ov7/7ypaN7IlIwi9rGuT8QSc9EIDAsAznxvY4pXPKr05RUE5MEVB+TyWfCEl9LZApYopCmo9C4FKSMtYoI8Bwv79aQJU4l6hXXCZrQbokJEksxHo9KMOgc6w1atHXM8K9DVC7FQnJ0i8iK3QooGgbnyKgMDygBWyYFZoqx4qS27KqLZJjA1D0jK6QJcYEQEiWv9PGkTsbqxQ8oT+ZtZB6AkdsJnQDnMoHXHLGKOgDYuCWmYhEERCI5gaamW0bnHdA3k2ltlIN+2qKRyCND0bhqSYCyTB3CAOc4WusBEIpkeBuPgJMAAX8Hs1NfqHRgAAAABJRU5ErkJggg==&quot;) repeat-x scroll left top #a94442;  color: rgb(255, 255, 255); width: 270px;float:right; cursor: pointer; ">
                            <div id="noty_237439575065076060" class="noty_bar">
                                <div style="font-size: 13px; line-height: 16px; text-align: left; padding: 8px 10px 9px; width: auto; position: relative; font-weight: bold;" class="noty_message">
                                    <span class="noty_text">.</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                @*<div class="navbar-header logo-ge">

                        <div class="clear"></div>
                    </div>*@
                <div class="sidebar-nav navbar-collapse" aria-expanded="false">
                    <ul id="side-menu" class="nav in">
                        <li>
                            <a id="dashboard" href="~/Home/SuperAdminDashboard" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li id="liadd">
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Agency<span class="fa arrow"></span></a>
                            <ul id="ul1" class="nav nav-second-level collapse">
                                <li> <a id="viewagency" href="~/Agency/viewAgency">View Agency</a> </li>
                                <li> <a id="addagency" href="~/Agency/addAgency">Add Agency</a> </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-table fa-fw"></i> Internal Staff <span class="fa arrow"></span></a>
                            <ul id="ul2" class="nav nav-second-level collapse">
                                <li> <a id="viewstaff" href="#">View Staff</a> </li>
                                <li> <a id="addstaff" href="#">Add Staff</a> </li>
                            </ul>
                        </li>
                        <li id="li1">
                            <a href="#"><i class="fa fa-user fa-fw"></i> Agency User <span class="fa arrow"></span></a>
                            <ul id="ul3" class="nav nav-second-level collapse">
                                <li> <a id="viewagencyuser" href="#">View Agency Users</a> </li>
                                <li> <a id="addagencyuser" href="~/Agency/addAgencyuser">Add Agency Users</a> </li>
                            </ul>
                        </li>
                        <li id="li1">
                            <a href="#"><i class="fa fa-user fa-fw"></i> Screenings <span class="fa arrow"></span></a>
                            <ul id="ul3" class="nav nav-second-level collapse">
                                <li> <a id="viewagencyuser" href="#">View Screening</a> </li>
                                <li> <a id="addscreening" href="~/Screening/addScreening">Add Screening</a> </li>
                            </ul>
                          
                        </li>

                    </ul>
                </div>
            </div>
                        @*<div class="navbar-default sidebar" role="navigation" style="border:1px solid red">

            <div class="sidebar-nav navbar-collapse" aria-expanded="false" style="height: 1px;">
                <ul id="side-menu" class="nav in">
                    <li> <a href="~/Home/SuperAdminDashboard" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a> </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Agency<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li> <a href="~/Agency/viewAgency">View Agency</a> </li>
                            <li> <a href="~/Agency/addAgency">Add Agency</a> </li>
                        </ul>

                    </li>
                    <li>
                        <a href="#"><i class="fa fa-table fa-fw"></i> Internal Staff <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li> <a href="~/SuperAdmin/SuperAdminList">View Staff</a> </li>
                            <li> <a href="~/SuperAdmin/AddSuperAdmin">Add Staff</a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user fa-fw"></i> Agency User <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li> <a href="~/Agency/viewagencyuser">View Agency Users</a> </li>
                            <li> <a href="~/Agency/addAgencyuser">Add Agency Users</a> </li>
                        </ul>
                    </li>
         <li>
                        <a href="#"><i class="fa fa-user fa-fw"></i> Screenings <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li> <a href="~/Agency/viewagencyuser">Add Screening</a> </li>
                            <li> <a href="~/Agency/addAgencyuser">View Screening</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>*@
        </nav>
    </div>
    <div id="page-wrapper">
        @RenderSection(name: "MainContentHolder", required: false)
    </div>
    <div class="footer-one">
        <footer>
            <p class="text-center">Copyright © 2016 All Rights Reserved.<br />Designed By <a target="_blank" href="http://www.applicationlink.com">Application Link Inc.</a></p>

        </footer>
    </div>

    @{Html.RenderAction("ChangePassword", "Login", new { area = "" });}



    @*<script>
            $(document).ready(function () {
                $("#side-menu li:last-child").click(function () {

                    //$("#side-menu li:nth-child(2)").removeClass("active").addClass("abc");
                    $("#side-menu li:nth-child(2) ul").css("display", "none")
                });

            });

        </script>*@
</body>

</html>
