@{
    ViewBag.Title = "BillingAttachments";
    Layout = "~/Views/Shared/ParentLayout.cshtml";
}
<style>
    .bill-content-desc2 p {
        background: #9b58b4;
        border: 1px solid #fff;
        padding: 8px 15px;
        color: #fff;
        text-align: left;
        position: relative;
        font-size: 16px;
        margin: 0;
    }

    .bill-content-desc3 p {
        background: #ffffff;
        border: 1px solid #e7e7e7;
        padding: 8px 15px;
        color: #163b69;
        padding-left: 35px;
        text-align: left;
        position: relative;
        font-size: 18px;
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .bill-month-title3 p {
        font-size: 19px;
        text-transform: capitalize;
        padding: 7px 5px;
        text-align: center;
        display: block;
        color: #163b69;
        margin: 0;
        /* margin-top: 0; */
        border: 1px solid #e7e7e7;
        background: #ffffff;
    }

        .bill-month-title3 p a {
            display: block;
            color: #163b69;
        }

    .bill-month-title2 p {
        font-size: 14px;
        text-transform: capitalize;
        padding: 9px 10px;
        text-align: center;
        display: block;
        color: #fff;
        margin: 0;
        margin-top: 0;
        border: 1px solid #fff;
        background: #9b58b4;
    }

    .bill-detl-title {
        margin-top: 15px;
    }

        .bill-detl-title h2 {
            text-align: center;
            font-weight: bold;
            color: #fff;
            margin-top: 0;
        }

    .family_ovr {
        text-align: center;
        margin-bottom: 25px;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
@*<link href="~/Content/csschild/styleBM.css" rel="stylesheet" />*@
<div class="col-xs-12 bill-detl-title">
    <h2>Billing Attachments</h2>
    <div class="family_ovr"><img src="/Content/imagechild/text-bdr.png"></div>
</div>
<div class="col-xs-12" style="margin-bottom: 10px;">
    <div class="col-lg-2 col-xs-12 no-padding">
        <div class="bill-content-desc2" style="position: relative;">
            <p>Child Name</p>
        </div>
    </div>
    <div class="col-lg-10 col-xs-12 no-padding month-container">
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding month-header">
            <div class="bill-month-title2">
                <p monthid="1">Jan</p>
            </div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding month-header">
            <div class="bill-month-title2">
                <p monthid="2">Feb</p>
            </div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding month-header">
            <div class="bill-month-title2">
                <p monthid="3">Mar</p>
            </div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding month-header">
            <div class="bill-month-title2">
                <p monthid="4">Apr</p>
            </div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding month-header">
            <div class="bill-month-title2">
                <p monthid="5">May</p>
            </div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding month-header">
            <div class="bill-month-title2">
                <p monthid="6">Jun</p>
            </div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding month-header">
            <div class="bill-month-title2">
                <p monthid="7">Jul</p>
            </div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding month-header">
            <div class="bill-month-title2">
                <p monthid="8">Aug</p>
            </div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding month-header">
            <div class="bill-month-title2">
                <p monthid="9">Sep</p>
            </div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding month-header">
            <div class="bill-month-title2">
                <p monthid="10">Oct</p>
            </div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding month-header">
            <div class="bill-month-title2">
                <p monthid="11">Nov</p>
            </div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 month-pad-left no-padding month-header">
            <div class="bill-month-title2">
                <p monthid="12">Dec</p>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 client-container-expander" style="margin-bottom: 0px;">
    @*<div class="col-lg-2 col-xs-12 no-padding client-expander">
            <div class="bill-content-desc3 " style="position: relative;">
                <p style="text-transform: capitalize;">Blue Tiger Jr</p>
                <input type="hidden" value="" class="hdn-email-id">
                <input type="hidden" value="14732" class="hdn-client-id">
                <input type="hidden" value="10052" class="hdn-programtype-id">
                <input type="hidden" value="55" class="hdn-center-id">
            </div>
        </div>
        <div class="col-lg-10 col-xs-12 no-padding client-container">
            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding client-total-hours">
                <div class="bill-month-title3">
                    <p><a href=""><i class="fa fa-download download-ic"></i></a></p>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding client-total-hours">
                <div class="bill-month-title3">
                    <p><a href=""><i class="fa fa-download download-ic"></i></a></p>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding client-total-hours">
                <div class="bill-month-title3">
                    <p><a href=""><i class="fa fa-download download-ic"></i></a></p>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding client-total-hours">
                <div class="bill-month-title3">
                    <p><a href=""><i class="fa fa-download download-ic"></i></a></p>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding client-total-hours">
                <div class="bill-month-title3">
                    <p><a href=""><i class="fa fa-download download-ic"></i></a></p>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding client-total-hours">
                <div class="bill-month-title3">
                    <p><a href=""><i class="fa fa-download download-ic"></i></a></p>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding client-total-hours">
                <div class="bill-month-title3">
                    <p><a href=""><i class="fa fa-download download-ic"></i></a></p>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding client-total-hours">
                <div class="bill-month-title3">
                    <p><a href=""><i class="fa fa-download download-ic"></i></a></p>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding client-total-hours">
                <div class="bill-month-title3">
                    <p><a href=""><i class="fa fa-download download-ic"></i></a></p>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding client-total-hours">
                <div class="bill-month-title3">
                    <p><a href=""><i class="fa fa-download download-ic"></i></a></p>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 month-pad-left no-padding client-total-hours">
                <div class="bill-month-title3">
                    <p><a href=""><i class="fa fa-download download-ic"></i></a></p>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding client-total-hours">
                <div class="bill-month-title3">
                    <p><a href=""><i class="fa fa-download download-ic"></i></a></p>
                </div>
            </div>
        </div>*@
</div>
<script src="~/Content/Scripts/jquery.min.js"></script>
<script src="~/Scripts/SiteScript.js"></script>
<script>


    $(window).load(function () {
        // executes when complete page is fully loaded, including all frames, objects and images
        console.log($('.li-child').length);
       
        $('.li-child').each(function (i, val) {
            console.log('i:' + i);
            var childname = $(this).find('.ChidName').text().trim();
            var childid = $(this).find('.ChidName').attr('clientid');
            var template = '<div class="download-container col-xs-12 no-padding">\
    <div class="col-lg-2 col-xs-12 no-padding client-expander">\
        <div class="bill-content-desc3 " style="position: relative;">\
            <p style="text-transform: capitalize;">{ClientName}</p>\
            <input type="hidden" value="{ClientId}" class="hdn-client-id">\
         </div>\
    </div>\
    <div class="col-lg-10 col-xs-12 no-padding client-container">\
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding client-total-hours">\
            <div class="bill-month-title3" month="1">\
                <p><a target="_blank" title="Building_4c7586fd-ea0e-4966-8a05-7b63de8cb801.jpg" href="/Billing/DownloadDocuments/?Month=1&Client=' + childname + '&Id=' + childid + '"><i class="fa fa-download download-ic"></i></a></p>\
            </div>\
        </div>\
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding client-total-hours">\
            <div class="bill-month-title3" month="2">\
                  <p><a target="_blank" title="Building_4c7586fd-ea0e-4966-8a05-7b63de8cb801.jpg" href="/Billing/DownloadDocuments/?Month=2&Client=' + childname + '&Id=' + childid + '"><i class="fa fa-download download-ic"></i></a></p>\
            </div>\
        </div>\
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding client-total-hours">\
            <div class="bill-month-title3" month="3">\
                 <p><a target="_blank" title="Building_4c7586fd-ea0e-4966-8a05-7b63de8cb801.jpg" href="/Billing/DownloadDocuments/?Month=3&Client=' + childname + '&Id=' + childid + '"><i class="fa fa-download download-ic"></i></a></p>\
            </div>\
        </div>\
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding client-total-hours">\
            <div class="bill-month-title3" month="4">\
                 <p><a target="_blank" title="Building_4c7586fd-ea0e-4966-8a05-7b63de8cb801.jpg" href="/Billing/DownloadDocuments/?Month=4&Client=' + childname + '&Id=' + childid + '"><i class="fa fa-download download-ic"></i></a></p>\
            </div>\
        </div>\
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding client-total-hours">\
            <div class="bill-month-title3" month="5">\
                  <p><a target="_blank" title="Building_4c7586fd-ea0e-4966-8a05-7b63de8cb801.jpg" href="/Billing/DownloadDocuments/?Month=5&Client=' + childname + '&Id=' + childid + '"><i class="fa fa-download download-ic"></i></a></p>\
            </div>\
        </div>\
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding client-total-hours">\
            <div class="bill-month-title3" month="6">\
                  <p><a target="_blank" title="Building_4c7586fd-ea0e-4966-8a05-7b63de8cb801.jpg" href="/Billing/DownloadDocuments/?Month=6&Client=' + childname + '&Id=' + childid + '"><i class="fa fa-download download-ic"></i></a></p>\
            </div>\
        </div>\
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding client-total-hours">\
            <div class="bill-month-title3" month="7">\
                  <p><a target="_blank" title="Building_4c7586fd-ea0e-4966-8a05-7b63de8cb801.jpg" href="/Billing/DownloadDocuments/?Month=7&Client=' + childname + '&Id=' + childid + '"><i class="fa fa-download download-ic"></i></a></p>\
            </div>\
        </div>\
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding client-total-hours">\
            <div class="bill-month-title3" month="8">\
                  <p><a target="_blank" title="Building_4c7586fd-ea0e-4966-8a05-7b63de8cb801.jpg" href="/Billing/DownloadDocuments/?Month=8&Client=' + childname + '&Id=' + childid + '"><i class="fa fa-download download-ic"></i></a></p>\
            </div>\
        </div>\
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding client-total-hours">\
            <div class="bill-month-title3" month="9">\
                  <p><a target="_blank" title="Building_4c7586fd-ea0e-4966-8a05-7b63de8cb801.jpg" href="/Billing/DownloadDocuments/?Month=9&Client=' + childname + '&Id=' + childid + '"><i class="fa fa-download download-ic"></i></a></p>\
            </div>\
        </div>\
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding client-total-hours">\
            <div class="bill-month-title3" month="10">\
                  <p><a target="_blank" title="Building_4c7586fd-ea0e-4966-8a05-7b63de8cb801.jpg" href="/Billing/DownloadDocuments/?Month=10&Client=' + childname + '&Id=' + childid + '"><i class="fa fa-download download-ic"></i></a></p>\
            </div>\
        </div>\
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 month-pad-left no-padding client-total-hours">\
            <div class="bill-month-title3" month="11">\
                  <p><a target="_blank" title="Building_4c7586fd-ea0e-4966-8a05-7b63de8cb801.jpg" href="/Billing/DownloadDocuments/?Month=11&Client=' + childname + '&Id=' + childid + '"><i class="fa fa-download download-ic"></i></a></p>\
            </div>\
        </div>\
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no-padding client-total-hours">\
            <div class="bill-month-title3" month="12">\
                  <p><a target="_blank" title="Building_4c7586fd-ea0e-4966-8a05-7b63de8cb801.jpg" href="/Billing/DownloadDocuments/?Month=12&Client=' + childname + '&Id=' + childid + '"><i class="fa fa-download download-ic"></i></a></p>\
            </div>\
        </div>\
    </div>\
</div>';
            template = template.replace('{ClientName}', childname);
            template = template.replace('{ClientId}', childid);
            $('.client-container-expander').append(template);
        });
    });
    $(function () {
      
        $('body').on('click', '.bill-month-title3', function () {
          
            var month = $(this).attr('month');
            var currentmonth = new Date().getMonth() + 1;
            if(month>currentmonth)
            {
                alert("No Record Found");
                return false;
            }
        });
    });
</script>