@{
    ViewBag.Title = "Library";
    Layout = "~/Views/Shared/ParentLayout.cshtml";
}


<link href="~/Content/EducationMaterial/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/EducationMaterial/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<style>
    /*.dwnload-ic{    font-size: 20px;
    padding-right: 10px;padding-top:10px;
    color: #f9c751;}*/
</style>
<div class="new_section">
    <div class="col-xs-12 top-header-background no-padding">
        <div class="top-header">
            <div class="nav-icon1">
                <img src="images/nav-bar.png">
            </div>
            <div class="col-xs-12 no-padding main-header">
                <div class="main_head_new">
                    <!--<div class="col-md-3">
                        <img src="./images/logo.png" />
                    </div>-->
                    <div class="col-md-12">
                        <div class="top-header-title">
                            <h1>Educational Material Library</h1>
                        </div>
                    </div>
                </div>
                <div class="checkout_section">
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading accordion_heading_title">
                                    <h4 class="panel-title" style="background:#e84c3d;"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Education</a> </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body checkout_option">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 checkout_option">
                                            <!----------------------------->
                                            <div class="serch-client-block accordin_search">
                                                <div class="col-sm-12 no-padding block-div" style="background: #f1f5f8;border-radius: 5px;padding-bottom:0;">

                                                    <div id="no-more-tables6" class="col-xs-12 no-padding" style="margin-bottom: 20px;">
                                                        <table class="col-md-12 table-striped table-condensed cf table-change library-table educ_library_table">
                                                            <thead>
                                                                <tr>

                                                                    <th>Title</th>
                                                                    <th class="librart-txt-width">Description</th>
                                                                    <th>Attachment</th>
                                                                    <th>URL</th>
                                                                    <th>Assigned By</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody class="library-table-head-education">
                                                              


                                                               

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>




                                            </div>
                                            <!----------------------------->

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading accordion_heading_title">
                                    <h4 class="panel-title" style="background:#dc835b;"> <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Disabilites</a> </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body checkout_option">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 checkout_option">
                                            <!----------------------------->
                                            <div class="serch-client-block accordin_search">
                                                <div class="col-sm-12 no-padding block-div" style="background: #f1f5f8;border-radius: 5px;padding-bottom:0;">

                                                    <div id="no-more-tables6" class="col-xs-12 no-padding" style="margin-bottom: 20px;">
                                                        <table class="col-md-12 table-striped table-condensed cf table-change library-table educ_library_table">
                                                            <thead>
                                                                <tr>

                                                                    <th>Title</th>
                                                                    <th class="librart-txt-width">Description</th>
                                                                    <th>Attachment</th>
                                                                    <th>URL</th>
                                                                    <th>Assigned By</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody class="library-table-head-Disabilites">
                                                               
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>




                                            </div>
                                            <!----------------------------->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading accordion_heading_title">
                                    <h4 class="panel-title" style="background:#75af7c;"> <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Mental Health </a> </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body checkout_option">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 checkout_option">
                                            <!----------------------------->
                                            <div class="serch-client-block accordin_search">
                                                <div class="col-sm-12 no-padding block-div" style="background: #f1f5f8;border-radius: 5px;padding-bottom:0;">

                                                    <div id="no-more-tables6" class="col-xs-12 no-padding" style="margin-bottom: 20px;">
                                                        <table class="col-md-12 table-striped table-condensed cf table-change library-table educ_library_table">
                                                            <thead>
                                                                <tr>

                                                                    <th>Title</th>
                                                                    <th class="librart-txt-width">Description</th>
                                                                    <th>Attachment</th>
                                                                    <th>URL</th>
                                                                    <th>Assigned By</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody class="library-table-head-Mental">
                                                              

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>




                                            </div>
                                            <!----------------------------->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading accordion_heading_title">
                                    <h4 class="panel-title" style="background:#e5a26e;"> <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Nutrition</a> </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body checkout_option">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 checkout_option">
                                            <!----------------------------->
                                            <div class="serch-client-block accordin_search">
                                                <div class="col-sm-12 no-padding block-div" style="background: #f1f5f8;border-radius: 5px;padding-bottom:0;">

                                                    <div id="no-more-tables6" class="col-xs-12 no-padding" style="margin-bottom: 20px;">
                                                        <table class="col-md-12 table-striped table-condensed cf table-change library-table educ_library_table">
                                                            <thead>
                                                                <tr>

                                                                    <th>Title</th>
                                                                    <th class="librart-txt-width">Description</th>
                                                                    <th>Attachment</th>
                                                                    <th>URL</th>
                                                                    <th>Assigned By</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody class="library-table-head-Nutrition">
                                                             
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>




                                            </div>
                                            <!----------------------------->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading accordion_heading_title">
                                    <h4 class="panel-title" style="background:#9b59b6;"> <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Social Services</a> </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse">
                                    <div class="panel-body checkout_option">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 checkout_option">
                                            <!----------------------------->
                                            <div class="serch-client-block accordin_search">
                                                <div class="col-sm-12 no-padding block-div" style="background: #f1f5f8;border-radius: 5px;padding-bottom:0;">

                                                    <div id="no-more-tables6" class="col-xs-12 no-padding" style="margin-bottom: 20px;">
                                                        <table class="col-md-12 table-striped table-condensed cf table-change library-table educ_library_table">
                                                            <thead>
                                                                <tr>

                                                                    <th>Title</th>
                                                                    <th class="librart-txt-width">Description</th>
                                                                    <th>Attachment</th>
                                                                    <th>URL</th>
                                                                    <th>Assigned By</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody class="library-table-head-Social">
                                                              
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>




                                            </div>
                                            <!----------------------------->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading accordion_heading_title">
                                    <h4 class="panel-title" style="background:#e8a341;"> <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1">Nursing</a> </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    <div class="panel-body checkout_option">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 checkout_option">
                                            <!----------------------------->
                                            <div class="serch-client-block accordin_search">
                                                <div class="col-sm-12 no-padding block-div" style="background: #f1f5f8;border-radius: 5px;padding-bottom:0;">

                                                    <div id="no-more-tables6" class="col-xs-12 no-padding" style="margin-bottom: 20px;">
                                                        <table class="col-md-12 table-striped table-condensed cf table-change library-table educ_library_table">
                                                            <thead>
                                                                <tr>

                                                                    <th>Title</th>
                                                                    <th class="librart-txt-width">Description</th>
                                                                    <th>Attachment</th>
                                                                    <th>URL</th>
                                                                    <th>Assigned By</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody class="library-table-head-Nursing">
                                                            
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>




                                            </div>
                                            <!----------------------------->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading accordion_heading_title">
                                    <h4 class="panel-title" style="background:#448ba1;"> <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">Transportation </a> </h4>
                                </div>
                                <div id="collapsesix" class="panel-collapse collapse">
                                    <div class="panel-body checkout_option">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 checkout_option">
                                            <!----------------------------->
                                            <div class="serch-client-block accordin_search">
                                                <div class="col-sm-12 no-padding block-div" style="background: #f1f5f8;border-radius: 5px;padding-bottom:0;">

                                                    <div id="no-more-tables6" class="col-xs-12 no-padding" style="margin-bottom: 20px;">
                                                        <table class="col-md-12 table-striped table-condensed cf table-change library-table educ_library_table">
                                                            <thead>
                                                                <tr>

                                                                    <th>Title</th>
                                                                    <th class="librart-txt-width">Description</th>
                                                                    <th>Attachment</th>
                                                                    <th>URL</th>
                                                                    <th>Assigned By</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody class="library-table-head-Transportation">
                                                             

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>




                                            </div>
                                            <!----------------------------->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading accordion_heading_title">
                                    <h4 class="panel-title" style="background:#ff4dbb;"> <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseseven">General</a> </h4>
                                </div>
                                <div id="collapseseven" class="panel-collapse collapse">
                                    <div class="panel-body checkout_option">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 checkout_option">
                                            <!----------------------------->
                                            <div class="serch-client-block accordin_search">
                                                <div class="col-sm-12 no-padding block-div" style="background: #f1f5f8;border-radius: 5px;padding-bottom:0;">

                                                    <div id="no-more-tables6" class="col-xs-12 no-padding" style="margin-bottom: 20px;">
                                                        <table class="col-md-12 table-striped table-condensed cf table-change library-table educ_library_table">
                                                            <thead>
                                                                <tr>

                                                                    <th>Title</th>
                                                                    <th class="librart-txt-width">Description</th>
                                                                    <th>Attachment</th>
                                                                    <th>URL</th>
                                                                    <th>Assigned By</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody class="library-table-head-General">
                                                              

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>




                                            </div>
                                            <!----------------------------->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/EducationMaterial/js/bootstrap.js"></script>
<script src="~/Content/EducationMaterial/js/jquery.js"></script>
<script src="~/Content/EducationMaterial/js/jquery.mCustomScrollbar.min.js"></script>
<script src="~/Content/EducationMaterial/js/script.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var linkys = document.getElementsByClassName('dropdown-toggle');
        for (var i = 0; i < linkys.length; ++i) {
            linkys[i].onclick = function (e) {
                this.focus();
                e.preventDefault();
            };
        }
       

     
    });
  
</script>
<script type="text/javascript">
    function toggleIcon(e) {
        $(e.target)
                .prev('.panel-heading')
                .find(".more-less")
                .toggleClass('glyphicon-plus glyphicon-minus');
    }
    $('.panel-group').on('hidden.bs.collapse', toggleIcon);
    $('.panel-group').on('shown.bs.collapse', toggleIcon);
</script>
@*<style>
   .parental_right_container{width:84% !important;}
</style>*@

