body {
    background: #e9e9e9;
    color: #666666;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Pen Title */
.pen-title {
    padding: 50px 0;
    text-align: center;
    letter-spacing: 2px;
}

    .pen-title h1 {
        margin: 0 0 20px;
        font-size: 48px;
        font-weight: 300;
    }

    .pen-title span {
        font-size: 12px;
    }

        .pen-title span .fa {
            color: #33b5e5;
        }

        .pen-title span a {
            color: #33b5e5;
            font-weight: 600;
            text-decoration: none;
        }

/*Login Form */
.Loginform-module {
    position: relative;
    background: #ffffff;
    max-width: 320px;
    width: 100%;
    border-top: 5px solid #33b5e5;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

    .Loginform-module .toggle {
        cursor: pointer;
        position: absolute;
        top: -0;
        right: -0;
        background: #33b5e5;
        width: 30px;
        height: 30px;
        margin: -5px 0 0;
        color: #ffffff;
        font-size: 12px;
        line-height: 30px;
        text-align: center;
    }

        .Loginform-module .toggle .tooltip {
            position: absolute;
            top: 5px;
            right: -65px;
            display: block;
            background: rgba(0, 0, 0, 0.6);
            width: auto;
            padding: 5px;
            font-size: 10px;
            line-height: 1;
            text-transform: uppercase;
        }

            .Loginform-module .toggle .tooltip:before {
                content: '';
                position: absolute;
                top: 5px;
                left: -5px;
                display: block;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-right: 5px solid rgba(0, 0, 0, 0.6);
            }

    .Loginform-module .form {
        display: none;
        padding: 40px;
    }

        .Loginform-module .form:nth-child(2) {
            display: block;
        }

    .Loginform-module h2 {
        margin: 0 0 20px;
        color: #33b5e5;
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
    }

    .Loginform-module input {
        outline: none;
        display: block;
        width: 100%;
        border: 1px solid #d9d9d9;
        margin: 8px 0 20px;
        padding: 10px 15px;
        box-sizing: border-box;
        font-wieght: 400;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }

        .Loginform-module input:focus {
            border: 1px solid #33b5e5;
            color: #333333;
        }

    .Loginform-module button {
        cursor: pointer;
        background: #33b5e5;
        width: 45%;
        border: 0;
        padding: 10px 15px;
        color: #ffffff;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }

        .Loginform-module button:hover {
            background: #178ab4;
        }

    .Loginform-module .cta {
        background: #f2f2f2;
        width: 100%;
        padding: 15px 40px;
        box-sizing: border-box;
        color: #666666;
        font-size: 12px;
        text-align: center;
    }

        .Loginform-module .cta a {
            color: #333333;
            text-decoration: none;
        }

/*End of Login form*/

/* Form Module */
.form-module {
    position: relative;
    background: #ffffff;
    /*max-width: 320px;*/
    max-width: 930px;
    width: 100%;
    border-top: 5px solid #33b5e5;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

    .form-module .toggle {
        cursor: pointer;
        position: absolute;
        top: -0;
        right: -0;
        background: #33b5e5;
        width: 30px;
        height: 30px;
        margin: -5px 0 0;
        color: #ffffff;
        font-size: 12px;
        line-height: 30px;
        text-align: center;
    }

        .form-module .toggle .tooltip {
            position: absolute;
            top: 5px;
            right: -65px;
            display: block;
            background: rgba(0, 0, 0, 0.6);
            width: auto;
            padding: 5px;
            font-size: 10px;
            line-height: 1;
            text-transform: uppercase;
        }

            .form-module .toggle .tooltip:before {
                content: '';
                position: absolute;
                top: 5px;
                left: -5px;
                display: block;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-right: 5px solid rgba(0, 0, 0, 0.6);
            }

    /*.form-module .form {
        display: none;
        padding: 75px;
        margin-left: 3%;
    }*/

        .form-module .form:nth-child(2) {
            display: block;
        }

    .form-module h2 {
        margin:27px;
        color: #33b5e5;
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
    }
    .modulebutton h2 {
        margin:27px;
        color: #33b5e5;
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
    }
    .form-module input[type=text] {
        outline: none;
        /*display: block;
  width: 100%;*/
        width: 36%;
        border: 1px solid #d9d9d9;
        margin: 0 0 20px;
        padding: 10px 4px;
        box-sizing: border-box;
        font-wieght: 400;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }
    .modulebutton input[type=text] {
        outline: none;
        /*display: block;
  width: 100%;*/
        width: 36%;
        border: 1px solid #d9d9d9;
        margin: 0 0 20px;
        padding: 10px 4px;
        box-sizing: border-box;
        font-wieght: 400;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }
    .form-module input[type=password] {
        outline: none;
        /*display: block;
  width: 100%;*/
        width: 45%;
        border: 1px solid #d9d9d9;
        margin: 0 0 20px;
        padding: 10px 15px;
        box-sizing: border-box;
        font-wieght: 400;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }

    .modulebutton input[type=password] {
        outline: none;
        /*display: block;
  width: 100%;*/
        width: 45%;
        border: 1px solid #d9d9d9;
        margin: 0 0 20px;
        padding: 10px 15px;
        box-sizing: border-box;
        font-wieght: 400;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }

    .form-module input[type=file] {
        outline: none;
        /*display: block;
  width: 100%;*/
        width: 28%;
        border: 1px solid #d9d9d9;
        margin: 0 0 20px;
        padding: 10px 15px;
        /*box-sizing: border-box;*/
        font-wieght: 400;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }


    .form-module select {
      border: 1px solid #E1E1E1;
    width: 270px;
    margin-bottom: 3px;
    color: #505050;
    height: 36px;
    }
    .modulebutton  select {
      border: 1px solid #E1E1E1;
    width: 270px;
    margin-bottom: 3px;
    color: #505050;
    height: 36px;
    }

    .form-module input:focus {
        border: 1px solid #33b5e5;
        color: #333333;
    }
    .modulebutton input:focus {
        border: 1px solid #33b5e5;
        color: #333333;
    }
    .form-module button {
        cursor: pointer;
        background: #33b5e5;
        width: 13%;
        border: 0;
        padding: 10px 15px;
        color: #ffffff;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }
    .modulebutton
    button {
        cursor: pointer;
        background: #33b5e5;
        width: 13%;
        border: 0;
        padding: 10px 15px;
        color: #ffffff;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }

        .form-module button:hover {
            background: #178ab4;
        }

    .form-module .cta {
        background: #f2f2f2;
        width: 100%;
        padding: 15px 40px;
        box-sizing: border-box;
        color: #666666;
        font-size: 12px;
        text-align: center;
    }

        .form-module .cta a {
            color: #333333;
            text-decoration: none;
        }

@import url(http://fonts.googleapis.com/css?family=Raleway);

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    #cssmenu:after,
    #cssmenu > ul:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

#cssmenu {
    width: auto;
    border-bottom: 3px solid #47c9af;
    font-family: Raleway, sans-serif;
    line-height: 1;
}

    #cssmenu ul {
        background: #ffffff;
    }

    #cssmenu > ul > li {
        float: left;
    }

    #cssmenu.align-center > ul {
        font-size: 0;
        text-align: center;
    }

        #cssmenu.align-center > ul > li {
            display: inline-block;
            float: none;
        }

    #cssmenu.align-right > ul > li {
        float: right;
    }

        #cssmenu.align-right > ul > li > a {
            margin-right: 0;
            margin-left: -4px;
        }

    #cssmenu > ul > li > a {
        z-index: 2;
        padding: 18px 25px 12px 25px;
        font-size: 15px;
        font-weight: 400;
        text-decoration: none;
        color: #444444;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        margin-right: -4px;
    }

        #cssmenu > ul > li.active > a,
        #cssmenu > ul > li:hover > a,
        #cssmenu > ul > li > a:hover {
            color: #ffffff;
        }

        #cssmenu > ul > li > a:after {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -1;
            width: 100%;
            height: 120%;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            content: "";
            -webkit-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease;
            -webkit-transform: perspective(5px) rotateX(2deg);
            -webkit-transform-origin: bottom;
            -moz-transform: perspective(5px) rotateX(2deg);
            -moz-transform-origin: bottom;
            transform: perspective(5px) rotateX(2deg);
            transform-origin: bottom;
        }

        #cssmenu > ul > li.active > a:after,
        #cssmenu > ul > li:hover > a:after,
        #cssmenu > ul > li > a:hover:after {
            background: #47c9af;
        }




table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
  
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

    /*.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}*/

    .bordered td, .bordered th {
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
        padding: 10px;
        text-align: left;
    }

    .bordered th {
        background-color: #33b5e5;
        color: white;
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        border-top: none;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
    }

        .bordered td:first-child, .bordered th:first-child {
            border-left: none;
        }

        .bordered th:first-child {
            -moz-border-radius: 6px 0 0 0;
            -webkit-border-radius: 6px 0 0 0;
            border-radius: 6px 0 0 0;
        }

        .bordered th:last-child {
            -moz-border-radius: 0 6px 0 0;
            -webkit-border-radius: 0 6px 0 0;
            border-radius: 0 6px 0 0;
        }

        .bordered th:only-child {
            -moz-border-radius: 6px 6px 0 0;
            -webkit-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
        }

    .bordered tr:last-child td:first-child {
        -moz-border-radius: 0 0 0 6px;
        -webkit-border-radius: 0 0 0 6px;
        border-radius: 0 0 0 6px;
    }

    .bordered tr:last-child td:last-child {
        -moz-border-radius: 0 0 6px 0;
        -webkit-border-radius: 0 0 6px 0;
        border-radius: 0 0 6px 0;
    }

.module1 {
    max-width: 88%;
}


.Pagination li {
    float: left;
}

.backPink {
    background-color: pink !important;
    color: black !important;
}

.confirmBox {
    background: #fff;
    margin-left: 0 !important;
    padding: 25px 22px;
    border: 2px solid #29313C;
    width: 285px;
    position: relative;
    display: none;
    z-index: 2147483000 !important;
    top: 34% !important;
    left: 40% !important;
    margin-top: 0 !important;
    height: 97px;
}

.btn.btn-primary {
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-repeat: repeat-x;
    line-height: 1.4;
    cursor: pointer;
    padding: .4em 1em;
}

button.close {
    padding: 0;
    cursor: pointer;
    line-height: 1.4;
    cursor: pointer;
    padding: .4em 1em;
}

.btn {
  
    margin-top: 30px;
    padding: 4px 12px;
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer;
    padding: 4px 12px;
    cursor: pointer;
    background: #33b5e5;
    width: 26%;
    border: 0;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.btnPassword {
  
    margin-top: 30px;
    padding: 4px 12px;
    line-height: 26px;
    vertical-align: middle;
    cursor: pointer;
    padding: 4px 12px;
    cursor: pointer;
    background: #33b5e5;
    width: 37%;
    border: 0;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.confirmBox h3 {
    border-bottom: 2px solid #29313C;
    padding-bottom: 5px;
    line-height: 18px;
    margin-bottom: 20px;
}

.CustPopup {
    background:#ffffff ;
    padding: 0px 0px;
    border: 2px solid #29313C;
    width: 30.22%;
    position: relative;
    display: none;
    z-index: 2147483000 !important;
}

    .CustPopup h3 {
        color: #000;
        padding-left: 9px;
        font-size: 14px;
        font-weight: bold;
        border-bottom: 2px solid #394655;
        font-family: Gautami;
        padding-bottom: 5px;
        line-height: 18px;
        margin-bottom: 20px;
    }

#close_x {
    background: url(../../Images/close2.png) 10px 10px no-repeat #914374;
    display: block;
    height: 33px;
    line-height: 1000px;
    position: absolute;
    right: 0;
    top: 0;
    width: 33px;
    z-index: 2003;
    padding: 0;
    overflow: hidden;
    opacity: 1;
}

.popup-header {
    color: #fff !important;
    padding-top: 10px !important;
    margin-top: 0 !important;
    padding-left: 5px;
    border-bottom: 2px solid #394655;
    background-color: #33b5e5 !important;
}

.control-label {
    float: left;
    width: 160px;
    padding-top: 8px;
    text-align: left;
    font-size: 14px;
    margin-left:20px;
}

.Password {
    border: 1px solid #cccccc;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}

    .Password:focus {
        border-color: rgba(82, 168, 236, 0.8);
        outline: 0;
        outline: thin dotted \9;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
        display: inline-block;
        height: 20px;
        padding: 4px 6px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 20px;
        color: #555555;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        vertical-align: middle;
    }

.changePassword {
    margin-right: 20%;
    margin-left:31%;
    margin-bottom: 8px;
}

form.register {
    width: 879px;
    margin: 20px auto 0px auto;
    height: 740px;
    background-color: #fff;
    padding: 5px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

form p {
    font-size: 8pt;
    clear: both;
    margin: 0;
    color: gray;
    padding: 4px;
}

form.register fieldset.row1 {
    width: 847px;
    padding: 5px;
    float: left;
    border-top: 1px solid #F5F5F5;
    margin-bottom: 15px;
}

    form.register fieldset.row1 label {
        width: 114px;
        float: left;
        text-align: left;
        margin-right: 1px;
        margin-top: 13px;
        font: -webkit-mini-control;
    }

form.register legend {
    color: #abda0f;
    padding: 2px;
    margin-left: 14px;
    font-weight: bold;
    font-size: 14px;
    font-weight: 100;
}

form.register label {
    color: #444;
    width: 98px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top: 2px;
}

    form.register label.optional {
        float: left;
        text-align: right;
        margin-right: 6px;
        margin-top: 2px;
        color: #A3A3A3;
    }

    form.register label.obinfo {
        float: right;
        padding: 3px;
        font-style: italic;
    }

form.register input {
    width: 140px;
    color: #505050;
    float: left;
    margin-right: 5px;
}

    form.register input.long {
        width: 247px;
        color: #505050;
    }

    form.register input.short {
        width: 40px;
        color: #505050;
    }

    form.register input[type=radio] {
        float: left;
        width: 15px;
    }

form.register label.gender {
    margin-top: -1px;
    margin-bottom: 2px;
    width: 34px;
    float: left;
    text-align: left;
    line-height: 19px;
}

form.register input[type=text] {
    border: 1px solid #E1E1E1;
    height: 36px;
    width:32% !important;
    margin-right: 34px;
}

form.register input[type=password] {
    border: 1px solid #E1E1E1;
    height: 18px;
}

.button {
    background: #abda0f url(../img/overlay.png) repeat-x;
    padding: 8px 10px 8px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float: left;
    font-size: 18px;
    margin: 10px;
}

form.register input[type=text].year {
    border: 1px solid #E1E1E1;
    height: 18px;
    width: 30px;
}

form.register input[type=checkbox] {
    width: 14px;
    margin-top: 4px;
}

form.register select {
    border: 1px solid #E1E1E1;
    width: 270px;
    float: left;
    margin-bottom: 3px;
    color: #505050;
    margin-right: 5px;
    height:36px;
}

    form.register select.date {
        width: 40px;
    }

input:focus, select:focus {
    background-color: #efffe0;
}

p.info {
    font-size: 7pt;
    color: gray;
}

p.agreement {
    margin-left: 15px;
}

    p.agreement label {
        width: 390px;
        text-align: left;
        margin-top: 3px;
    }
    .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
   

a {
    background-color: transparent;
}
.navbar-inverse {
    background-color: #33b5e5;
    border-color: #080808;
}






.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    border-radius: 0;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
  
}





.navbar {
    border-radius: 4px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-inverse {
    background-color: #33b5e5;
    border-color: #080808;
}
.navbar-top-links {
    margin: 0;
}
.navbar-right {
    text-align: right;
}


.navbar-right {
    float: right!important;
    margin-right: -15px;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
ol, ul {
    list-style: none;
}
.fa-fw {
    width: 1.28571429em;
    text-align: center;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.open>a {
    outline: 0;
}.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #eee;
    border-color: #337ab7;
}.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
 .open>a {
    outline: 0;
}
a {
    color: blue;
}
a {
    background-color: transparent;
}


.navbar-right .dropdown-menu {
    /* right: 0; */
    /* left: auto; */
}
.open>.dropdown-menu {
    /* display: block; */
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.open>.dropdown-menu {
    display: block;
}
.page-header {
    padding-bottom: 9px;
    margin: 0px 0 20px;
    border-bottom: 2px solid #285b8f !important;
 
}

h2, .h2 {
    font-size: 30px;
}
.heading_box1 h3 {
    margin-top: 0;
    padding: 10px;
}

.agencybox1 .inner-con {
    padding: 10px;
}
.col-lg-4 {
    width: 30.333333%;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
   
    padding-right: 15px;
    padding-left: 15px;
}
.col-lg-12 {
    width: 100%;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    /* position: relative; */
    /* min-height: 1px; */
    padding-right: 15px;
    padding-left: 15px;
}
.heading_box1 {
    background-color: #285b8f;
    color: #fff;
}
.agencybox1 {
    border: 1px solid #cbcbcb;
    border-top: none;
    margin-bottom: 20px;
}
.col-sm-9 {
    width: 75%;
}
.col-sm-3 {
    width: 25%;
}
.col-xs-9 {
    width: 75%;
}
