
/*body{font-family: "Verdana"!important;}*/

.no-padding{padding: 0;}
.right-side-container-ch {
    width: 100%;
    float: left;
    background: url('../../../Images/body-bg.jpg') center no-repeat;
    background-size:cover;
    min-height: 600px;
}

/*Add-note-popup*/

.top-header-title-addn {
    background: #f9c751;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.top-header-title-addn h1 {
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    padding: 20px 10px;
    text-align: center;
    display: block;
    font-weight: bold;
    margin: 0;
}
.addn-select {
    width: 60%;
    font-size: 19px;
    color: #333;
    padding: 5px;
    resize: none;
    background: #fff;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #fff!important;
    border-radius: 0px;
    position: relative;
    line-height: 40px;
}
.addn-select::-webkit-input-placeholder { 
    color: #333 !important;
}

.addn-select::-moz-placeholder { 
    color: #333 !important;
}

.addn-select:-ms-input-placeholder {
    color: #333 !important;
}

.addn-select:-moz-placeholder { 
    color: #333 !important;
}
.addn-search-btn{display: inline-block;width: auto;}
.addn-search-btn a {
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    background: #f9c751;
    color: #212121;
    margin: 0;
    border-radius: 4px;
    width: 120px;
    padding: 8px 9px;
    margin: auto;
    font-weight: bold;
    line-height: 24px;
}
.top-header-title-addn1 h2 {
    color: #fff;
    font-size: 24px;
    text-transform: capitalize;
    padding: 10px 0px;
    text-align: left;
    display: block;
    margin: 0;
    font-weight: bold;
    margin-top: 5px;
}
.addn-table thead tr {
    background: #3498db!important;
    color: #fff;
    /* padding: 9px 0; */
}
.addn-table thead tr th {
    border-bottom: 0!important;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: normal;
    padding: 7px 7px;
    line-height: 30px;
}
.addn-content-desc p {
    background: #fff;
    border: 1px solid #e7e7e7;
    padding: 14px 8px;
    color: #163b69;
    text-align: center;
    font-size: 15px;
    margin: 0;
    text-transform: none;
}
.addn-table-head tr td {
    color: #575757!important;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: normal;
    /* border-top: 1px solid #d2d2d2; */
    background: none!important;
}
.Status-title-addn a{
    font-size: 15px;
    text-transform: capitalize;
    padding: 6px 9px;
    text-align: left;
    display: block;
    margin: 0;
    margin-top: 2px;
    background: #2ecc71;
    color: #fff;
    width: 187px;
    margin: auto;
    vertical-align: top;
}
.serch-addn-block {
    margin-top: 15px;
    margin-bottom: 10px;
}


.modal-dialog-ch {
    width: 60%;
}
#matrix_addn .modal-body {
    position: relative;
}
#matrix_addn .modal-body {
    background: #34495e none repeat scroll 0 0;
    border: 6px solid #ffffff;
    border-radius: 3px;
    /* color: #ffffff; */
    float: left;
    padding: 15px 3%;
    position: relative;
    width: 100%;
}
#matrix_addn .modal-body > h2 {
    margin-top: 10px;
    float: left;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
}
#matrix_addn .close {
    opacity: 1;
    position: absolute;
    right: -14px;
    top: -15px;
}
/*.popup-addn-scroll {
    height: 500px;
    overflow: auto;
}*/
.max_items_addn{
    background: #f1f5f8 none repeat scroll 0 0;
    border: 3px solid #ffffff;
    float: left;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}
.addn-poup-div label {
    color: #163b69;
    font-size: 18px;
    text-align: right;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 3px;
    width: 100%;
}
.addn-poup-chk input[type=checkbox]{
    color: #163b69!important;
    font-size: 18px;
    font-weight: 400;
    margin-right: 10px;
}
.addn-poup-chk{margin-top: 10px;}
.addn-poup-div input {
    position: relative;
    color: #34495e;
    background:#f6f3f3;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    box-shadow: none;
}
.addn-poup-div input::-webkit-input-placeholder { 
    color: #34495e !important;
}
.addn-poup-div input::-moz-placeholder { 
    color: #34495e !important;
}
.addn-poup-div input:-ms-input-placeholder { 
    color: #34495e !important;
}
.addn-poup-div input:-moz-placeholder { 
    color: #34495e !important;
}

.max_foot_btn {
    float: left;
    margin-top: 23px;
    width: 95%;
}
.lft_btn {
    float: left;
    text-align: center;
    width: 100%;
}
#matrix_addn .modal-body a {
    color: #164978;
    float: left;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
.lft_btn a {
    border: 1px solid #ffffff;
    color: #ffffff !important;
    float: none !important;
    margin-right: 10px;
    padding: 7px 13px;
    text-transform: uppercase;
    width: auto !important;
    text-decoration: none;
    display: inline-block;
}
.save {
    background: #2ecc71;
}
.exit {
    background: #e74c3c;
}

.addn-poup-div h4{font-style: italic;color:#787777;font-size: 16px;margin: 0;padding: 0;line-height: 25px;font-weight:400;margin-top: 8px;}
.addn-poup-div h4 span{color:#34495e!important;}
.addn-poup-div p{color:#787777;font-size: 16px;margin: 0;padding: 10px 0;line-height: 25px;font-weight: 400;}
.addn-al{margin-bottom: 10px;}



#matrix_addn2 .modal-body {
    position: relative;
}
#matrix_addn2 .modal-body {
    background: #34495e none repeat scroll 0 0;
    border: 6px solid #ffffff;
    border-radius: 3px;
    /* color: #ffffff; */
    float: left;
    padding: 15px 3%;
    position: relative;
    width: 100%;
}
#matrix_addn2 .modal-body > h2 {
    margin-top: 10px;
    float: left;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
}
#matrix_addn2 .close {
    opacity: 1;
    position: absolute;
    right: -14px;
    top: -15px;
}

.addn-poup-div1 input,.addn-poup-div1 textarea {
    position: relative;
    color: #333;
    background:#fff;
    border: 1px solid #fff;
    border-radius: 0;
    font-style: italic;
    box-shadow: none;
}
.addn-poup-div1 input::-webkit-input-placeholder { 
    color: #333 !important;
}
.addn-poup-div1 input::-moz-placeholder { 
    color: #333 !important;
}
.addn-poup-div1 input:-ms-input-placeholder { 
    color: #333 !important;
}
.addn-poup-div1 input:-moz-placeholder { 
    color: #333 !important;
}
.addn-poup-div1 textarea::-webkit-input-placeholder { 
    color: #333 !important;
}
.addn-poup-div1 textarea::-moz-placeholder { 
    color: #333 !important;
}
.addn-poup-div1 textarea:-ms-input-placeholder { 
    color: #333 !important;
}
.addn-poup-div1 textarea:-moz-placeholder { 
    color: #333 !important;
}
.addn-poup-div1 textarea{height: 150px;resize: none;}

.addn-select1 {
    width: 150px;
    font-size: 14px;
    color: #163b69;
    padding: 5px;
    resize: none;
    background: #fff;
    height: 40px;
    margin-right: 5px;
    border: 1px solid #fff!important;
    border-radius: 0px;
    position: relative;
    line-height: 40px;
}
.addn-select1::-webkit-input-placeholder { 
    color: #163b69 !important;
}
.addn-select1::-moz-placeholder { 
    color: #163b69 !important;
}
.addn-select1:-ms-input-placeholder { 
    color: #163b69 !important;
}
.addn-select1:-moz-placeholder { 
    color: #163b69 !important;
}
.addn-search-btn1 {
    display: inline-block;
    width: auto;
}
.addn-search-btn1 a {
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    background: #f9c751;
    color: #212121;
    margin: 0;
    border-radius: 4px;
    width: 100px;
    padding: 9px 9px;
    margin: auto;
    font-weight: bold;
}
.addn-search-btn1 p{
      font-size: 16px;
    text-transform: capitalize;
    text-align: left;
    display: inline-block;
    color: #959799;
}
.bdr-popup{margin-top: 20px;margin-bottom:20px;width: 100%;height: 1px;background: #c6c3c3;}
.bdr-popup1{margin-top: 10px;margin-bottom:10px;width: 20%;height: 1px;background: #c6c3c3;}



#ModalAddCasenote .modal-body {
    position: relative;
}
#ModalAddCasenote .modal-body {
    background: #34495e none repeat scroll 0 0;
    border: 6px solid #ffffff;
    border-radius: 3px;
    /* color: #ffffff; */
    float: left;
    padding: 15px 3%;
    position: relative;
    width: 100%;
}
#ModalAddCasenote .modal-body > h2 {
    margin-top: 10px;
    float: left;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
}
#ModalAddCasenote .close {
    opacity: 1;
    position: absolute;
    right: -14px;
    top: -15px;
}

/*Add-note-popup*/

























@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    #no-more-tables table, 
    #no-more-tables thead, 
    #no-more-tables tbody, 
    #no-more-tables th, 
    #no-more-tables td, 
    #no-more-tables tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr {/* border: 1px solid #ccc; */}

    #no-more-tables td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 25%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }
}


@media (min-width: 1600px) and (max-width: 1920px)
{

}
@media (min-width: 1200px) and (max-width: 1280px)
{

}
@media (min-width: 992px) and (max-width: 1199px)
{    
    .list-im{width: 100%;}
    .dash-bdr-tp{margin-top: 15px;}
    .dash-count {padding: 15px 0 0 30px;}
    .dashboard-content-pad-scroll{height: auto;}
    .edit-profile{height: 600px;overflow: auto;}
    .left-side-container{width: 26%;}
    .right-side-container{width: 74%;background-size: cover;}

    /*Matrix*/
    .survey-text h2{left: -95px;}
    .left-arw,.left-arw1{display: none;}

    /*Client*/
    .client-select{width: 165px;}
    .open-btn p,.close-btn p{width: auto;}
    .pad-info{padding: 0;}

    /*Material-library*/
    
    /* Force table to not be like tables anymore */
    #no-more-tables6 table, 
    #no-more-tables6 thead, 
    #no-more-tables6 tbody, 
    #no-more-tables6 th, 
    #no-more-tables6 td, 
    #no-more-tables6 tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables6 thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables6 tr {/* border: 1px solid #ccc; */}

    #no-more-tables6 td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 25%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables6 td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables6 td:before { content: attr(data-title); }
    .librart-txt-width{width: 100%;}
    /*Material-library*/
    
    
     /*addn-popup*/
    
    /* Force table to not be like tables anymore */
    #no-more-tables7 table, 
    #no-more-tables7 thead, 
    #no-more-tables7 tbody, 
    #no-more-tables7 th, 
    #no-more-tables7 td, 
    #no-more-tables7 tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables7 thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables7 tr {/* border: 1px solid #ccc; */}

    #no-more-tables7 td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 25%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables7 td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables7 td:before { content: attr(data-title); }
    .modal-dialog-ch {width: 80%;}
     /*addn-popup*/
}
@media (min-width: 768px) and (max-width: 991px)
{     
    .list-im{width: 100%;}
    .dash-bdr-tp{margin-top: 15px;}
    .dash-count {padding: 15px 15px 0 15px;}
    .content-all{padding: 0;}
    .list-title{margin-top: 0;}
    .left-side-container{width: 28%;}
    .right-side-container{width: 72%;}


    .login-button1{margin: 20px 12px;}
    .input-block {margin-top: 12px;}
    .edit-profile{width: 100%;margin-top: 10px;}
    .edit-profile1{width: 100%!important;}
    .add-ht {height: 85px !important;}
    .profile-picture{width: 100px;height: 100px;}
    .dashboard-content-pad-scroll{height: auto;}
    .edit-profile{height: 450px;overflow: auto;}
    .dashboard-menu ul li a{font-size: 14px;padding: 17px 15px;}
    .dwn-arrow{right: 10px;}

    .table-block-res{margin-bottom: 290px;}
    .tab-pad {padding: 10px 30px!important;}

    .top-header-title p{font-size: 18px;padding: 15px 5px;}
    .right-side-container{background-size: cover;}
    .right-top-info {float: right;position: relative;margin-top: 10px;margin-bottom: 10px;}
    .education-content-block{margin-bottom: 100px;}

    /*Matrix*/
    .margin-footer{margin-bottom: 150px!important;}
    .survey-text h2{left: -112px;}
    .left-arw,.left-arw1{display: none;}


    /*Client*/
    .client-select{width: 165px;margin-bottom: 10px;}
    .open-btn p,.close-btn p{width: auto;}
    .pad-info{padding: 0;}
    .Status-title-item p{width: 100px;}
    
    
    
      /*Material-library*/
    
    /* Force table to not be like tables anymore */
    #no-more-tables6 table, 
    #no-more-tables6 thead, 
    #no-more-tables6 tbody, 
    #no-more-tables6 th, 
    #no-more-tables6 td, 
    #no-more-tables6 tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables6 thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables6 tr {/* border: 1px solid #ccc; */}

    #no-more-tables6 td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 25%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables6 td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables6 td:before { content: attr(data-title); }
    .librart-txt-width{width: 100%;}
    /*Material-library*/
    
    
     /*addn-popup*/
    
    /* Force table to not be like tables anymore */
    #no-more-tables7 table, 
    #no-more-tables7 thead, 
    #no-more-tables7 tbody, 
    #no-more-tables7 th, 
    #no-more-tables7 td, 
    #no-more-tables7 tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables7 thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables7 tr {/* border: 1px solid #ccc; */}

    #no-more-tables7 td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 25%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables7 td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables7 td:before { content: attr(data-title); }
    .modal-dialog-ch {width:90%;}
     /*addn-popup*/
    
    
    
}
@media (max-width: 767px) 
{
    .dashboard{overflow: auto;}

    .login-logo{height: 60px;}
    .login-form1{width: 100%;}
    .text2{width:100%;margin: auto;}
    .form-label h2{text-align: left;}
    .forgot-password{text-align: center;}
    .login-button{margin: 26px 0;}
    .login-button a{font-size: 20px;}
    .form-margin{margin-top: 20px;}
    .login-form-section{margin: 30px 0;}
    .form-label h2{padding: 10px 20px;}

    .nav-icon{display: none;}
    .nav-icon1{display: block;z-index: 999999;transition: all linear 0.3s;
               -webkit-transition: all linear 0.3s;
               -moz-transition: all linear 0.3s;
               -ms-transition: all linear 0.3s;
               -o-transition: all linear 0.3s;}
    .left-side-container{position: fixed;left: -282px;z-index: 9999;width: 282px!important;transition: all linear 0.3s;-webkit-transition: all linear 0.3s;-moz-transition: all linear 0.3s;-ms-transition: all linear 0.3s;-o-transition: all linear 0.3s;}
    .right-side-container{width: 100%!important;}
    .dash-count {padding: 15px 15px 0 15px;}
    .dash-bdr-tp,.text3,.nav-icon1{margin-top: 15px;}
    .text3{width: 100%;}
    .top-header{height: 60px;}


    .content-all{padding: 5px;}
    .content-list:before{left: 0;}


    .edit-profile{width: 100%;margin-top: 10px;}
    .edit-profile1{width: 100%!important;}
    .login-button1 a{padding: 8px 12px;}
    .dashboard-content-pad-scroll{height: auto;}

    .searchTerm{margin-bottom: 10px;}
    .copyrights p{text-align: center;font-size: 14px;margin-bottom: 5px;}
    .txt-ft-rght{text-align: center!important;}
    .form-label1 h2{text-align: left;}
    .delete-button a{padding: 10px 20px;}
    .delete-popup{width: 100%;}
    .logo-section{height: 59px;}
    .copyrights{z-index: 99;}
    .right-top-info{float: left;}



    .table-block-res{margin-bottom:120px;}
    .tb-lt li { padding-right: 0px!important;width: 100%!important;}
    .tb-lt { padding-left: 0px!important;width: 100%!important;}
    .footer-bg-img{margin-top: 0;height: 160px;}
    .footer-bg-img-al{height: 160px;}
    .footer p{font-size: 12px;}
    .dashboard-logo {height: 35px;margin: 15px 0;}
    .edu-tbl-title h2{font-size: 20px;}
    .edu-table-block tr td{font-size: 17px;}
    .tab-desc h3{font-size: 16px;}
    .tab-desc p{font-size: 22px;}
    .tb-lt li a{font-size: 14px;}
    .tab-pad{padding: 10px 15px!important;}
    .dashboard-heading h2{padding: 10px 0;font-size: 14px;}
    .dashboard-title h1{padding: 10px 0;font-size: 18px;line-height: 30px;padding: 0;}
    .dashboard-img {position: relative;height: 135px;margin: 17px 0;}
    .dashboard-heading-al{margin: 15px 0;}
    .tablist-hole{padding: 20px 0;}
    .graph-img{height: 500px;}
    .edu-tbl-all{margin-top: 35px;}
    .tab-img-al {margin-top:15px;margin-bottom:15px;}
    .top-header-title h1{font-size: 17px;text-transform: capitalize;padding: 10px 40px;padding-left: 15px;line-height: 25px;text-align: left;}
    .right-top-info {float: right;position: relative;margin-top: 10px;margin-bottom: 10px;}
    .education-heading h2{font-size: 20px;margin-bottom: 12px;padding-bottom: 30px;margin-top: 10px;}
    .education-heading-content p{font-size: 14px;line-height: 28px;}
    .education-profile-content h3{font-size: 17px;padding: 10px 7px;}
    .education-profile-content p{font-size: 14px;padding: 0px 3px;}
    .education-profile-content p span {padding-right: 1px;}
    .education-content-desc p,.education-content-desc1 p{font-size: 14px;}
    .education-content-block{margin-top: 20px;}
    .education-heading-content{margin-bottom: 20px;}
    .top-header-title{border-radius: 0px;}
    .nav-icon1{margin-top: 24px;right: 15px;}

    /*Matrix*/
    .block-div{display: block;width: 100%;float: left;}
    .survey-text h2{left: -130px;}
    .matrix-profile-img{margin-top: 10px;}
    .matrix-select{margin-bottom: 10px;}
    .left-arw,.left-arw1{display: none;}
    
    /*Client*/
    .client-select{width: 165px;margin-bottom: 10px;}
    .open-btn p,.close-btn p{width: auto;}
    .pad-info{padding: 0;}
    .Status-title-item p{width: 100px;}
    
    
     /*Material-library*/
    
    /* Force table to not be like tables anymore */
    #no-more-tables6 table, 
    #no-more-tables6 thead, 
    #no-more-tables6 tbody, 
    #no-more-tables6 th, 
    #no-more-tables6 td, 
    #no-more-tables6 tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables6 thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables6 tr {/* border: 1px solid #ccc; */}

    #no-more-tables6 td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 46%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables6 td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables6 td:before { content: attr(data-title); }
    
    .librart-txt-width{width: 100%;}
    .library-content-desc p{word-break: break-all;}
    .library-search-btn{margin-top: 10px;}
    /*Material-library*/
    
     /*addn-popup*/
    
    /* Force table to not be like tables anymore */
    #no-more-tables7 table, 
    #no-more-tables7 thead, 
    #no-more-tables7 tbody, 
    #no-more-tables7 th, 
    #no-more-tables7 td, 
    #no-more-tables7 tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables7 thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables7 tr {/* border: 1px solid #ccc; */}

    #no-more-tables7 td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 45%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables7 td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables7 td:before { content: attr(data-title); }
    .addn-select{width: 100%;margin-bottom: 10px;}
    .modal-dialog-ch {
    width: 94%;
}
.addn-poup-div label{text-align: left;}
     /*addn-popup*/
    
}