
        #page-wrapper {
            padding-left: 0;
            padding-right: 0;
        }

        .tt-selectable {
            line-height: 20px;
            text-align: left;
            padding: 3px 10px;
            cursor: pointer;
        }

        .tt-dataset {
            background: #fff;
            width: 97%;
        }

        .text-left {
            text-align: left !important;
        }

        .text-right {
            text-align: right !important;
        }

        .chart-section {
            margin: 15px 0;
            border-radius: 3px;
        }
        /*.line-height-ch td{line-height:28px;}*/
        .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
            background-color: #f9f9f9;
        }

        .too-wide tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
        }

        .chart-section .too-wide {
            overflow-x: auto;
        }

        .lined td {
            padding: 3px 15px 3px 0;
            border-bottom: 1px solid #ccc;
            font-size: 12px;
            line-height: 1.42857143;
            color: #333;
        }


        .panel {
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }

        .panel-default {
            border-color: #ddd;
        }

        .panel {
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }

        .panel-prefixes .panel-heading, .panel-prefixes .list-group-item, .panel-changes .panel-heading, .panel-changes .list-group-item {
            padding: 5px;
        }

        .panel-prefixes .panel-heading, .panel-changes .panel-heading {
            font-weight: bold;
        }

        .panel-default > .panel-heading {
            background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
            background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',endColorstr='#ffe8e8e8',GradientType=0);
            background-repeat: repeat-x;
        }

        .panel-default > .panel-heading {
            color: #333;
            background-color: #f5f5f5;
            border-color: #ddd;
        }

        .panel > .list-group {
            margin-bottom: 0;
        }

        .list-group {
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
            box-shadow: 0 1px 2px rgba(0,0,0,.075);
            padding-left: 0;
            margin-bottom: 20px;
        }

        .panel-heading + .list-group .list-group-item:first-child {
            border-top-width: 0;
            border: none;
        }

        .panel-prefixes .list-group-item:nth-of-type(odd) {
            background-color: #f9f9f9;
        }

        .panel > .list-group .list-group-item {
            border-width: 1px 0;
            border-radius: 0;
        }

        .panel-prefixes .prefix-col1 {
            width: 12%;
            line-height: 25px;
            word-break: break-all;
        }

        .panel-prefixes .prefix-col2 {
            width: 12%;
            line-height: 25px;
            word-break: break-all;
        }

        .panel-prefixes .prefix-col3 {
            width: 30%;
            line-height: 25px;
            word-break: break-all;
        }

        .panel-prefixes .prefix-col4 {
            width: 25%;
            line-height: 25px;
            word-break: break-all;
        }

        .panel-prefixes .prefix-col5 {
            width: 20%;
            word-break: break-all;
            line-height: 25px;
        }

        .state-list {
            background: #fff;
            padding: 10px 20px;
            border-radius: 4px;
            margin-bottom: 20px;
            margin-top: 10px;
        }

            .state-list h2 {
                border-bottom: 1px solid #ccc;
                padding-bottom: 10px;
                color: #333;
                margin: 0;
                padding: 10px 0 !important;
            }

        .state-links li {
            display: inline-block;
            width: 15%;
            padding: 5px 0;
        }

        .state-links {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .city-zip1 h2{

                  border-bottom: 1px solid #ccc;
    padding-bottom: 10px!important;
    color: #fff;
    font-size: 25px;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 10px;
      }
    .pad-statics
    {
        padding:0 30px;
    }
    .twitter-typeahead-append-input-group{margin-right:8px;}

    #state_demographics,#state_demographics:hover{
        color:#00BCD4;
        text-decoration:underline;
    }

@media (min-width: 1650px) and (max-width: 1930px)
{
}

 @media (min-width: 1199px) and (max-width: 1255px)
{
}

  @media (min-width: 1260px) and (max-width: 1300px)
{
}

@media (min-width: 1320px) and (max-width: 1360px) 
{
}

 @media (min-width: 1365px) and (max-width: 1600px)
{
}

@media (min-width: 992px) and (max-width: 1199px) 
{
    .panel-prefixes .prefix-col1 {
    width: 15%;
    word-break: break-word;
}
    .panel-prefixes .prefix-col2 {
    width: 15%;
        word-break: break-word;
}
    .panel-prefixes .prefix-col3 {
    width: 25%;
    word-break: break-all;
}
    .panel-prefixes .prefix-col4 {
    width: 22%;
    word-break: break-all;
}
    .panel-prefixes .prefix-col5 {
    width: 22%;
    word-break: break-all;
}
    .state-links li{width:19%;word-break: break-all;}
     .map_image{width:100%!important;}
      .twitter-typeahead-append-input-group{margin-right:8px;width:350px;}
}

@media (min-width: 768px) and (max-width: 991px) 
{
    .twitter-typeahead-append-input-group{margin-right:8px;width:350px;}
    .map_image{width:100%!important;}
    table.slightly_padded td {
    padding: 2px 5px;
    line-height: 25px;
}

      .panel-prefixes .prefix-col1 {
    width: 15%;
    word-break: break-word;
}
    .panel-prefixes .prefix-col2 {
    width: 15%;
        word-break: break-word;
}
    .panel-prefixes .prefix-col3 {
    width: 25%;
    word-break: break-all;
}
    .panel-prefixes .prefix-col4 {
    width: 22%;
    word-break: break-all;
}
    .panel-prefixes .prefix-col5 {
    width: 22%;
    word-break: break-all;
}
    .state-links li{width:24%;word-break: break-all;}

}

@media (max-width: 767px) 
{
}

